<section class="o-Edashboard-sec">
  <div class="container-Edashboard">
      <div class="o-Edashboard-main-header">
          <div class="o-Edashboard-tittle">
              <h3 class="f500">Dance Fusion - Enrollment List</h3>
              <button type="button" class="btn btn-primary btn-lg o-Edashboard-tittle__btn">Export <span class="icon-download o-Edashboard-tittle__icon"></span></button>
          </div><!--title ends-->
          <div class="o-Edashboard-filter">
              <div class="o-Edashboard-filter__search">
                  <input type="text" class="form-control form-control-lg o-Edashboard-filter__input" placeholder="Search">
                  <span class="c-svg_eye"><i class="icon-search o-Edashboard-filter__icon"></i></span>
              </div><!--search ends-->
              <div class="o-Edashboard-filter__options">
                  <div>Filter by</div>
                  <button class="btn btn-lg o-Edashboard-filter__btn">All (234)</button>
                  <button class="btn btn-lg o-Edashboard-filter__btn">Approved (144)</button>
                  <button class="btn btn-lg o-Edashboard-filter__btn">Pending (10)</button>
                  <button class="btn btn-lg o-Edashboard-filter__btn">Rejected (8)</button>
              </div><!--option ebds-->
          </div><!--filter ends-->
          <div class="o-Edashboard-entries">
              <div class="o-Edashboard-entries__input">
                  1 entry selected  <button class="btn o-Edashboard-status__approve o-Edashboard-margnl20r15"><span class="icon-check o-Edashboard-entries__icon"></span>Approved</button>
                  <button class="btn o-Edashboard-status__reject"><span class="icon-x o-Edashboard-entries__icon"></span>Reject</button> 
              </div>
          </div><!--entries ends-->
      </div>
      <div class="o-Edashboard-body">
          <div class="o-Edashboard-table-row o-Edashboard-wrapper o-Edashboard-header">
              <div class="o-Edashboard-wrapper">
                  <div class="o-Edashboard-wrapper o-Edashboard-checkbox">
                      <div class="">
                          <label class="c-checkbox">
                              <input type="checkbox">
                              <span class="checkmark"></span>
                          </label>
                      </div>
                  </div><!--checkbox ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-name">
                      <div class="text">Name</div>
                  </div><!--name ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-email">
                      <div class="text">Email</div>
                  </div><!--email ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-number">
                      <div class="text">Phone Number</div>
                  </div><!--number ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-gender">
                      <div class="text">Gender</div>
                  </div><!--gender ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-location">
                      <div class="text">Location</div>
                  </div><!--location ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-approved">
                      <div class="text">Approved by</div>
                  </div><!--approved ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-action">
                      <div class="text">Actions</div>
                  </div><!--action ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-status">
                      <div class="text">Status</div>
                  </div><!--status ends-->
              </div> <!--wrapper ends-->
          </div><!--header ends-->
          <div class="o-Edashboard-table-row o-Edashboard-wrapper">
              <div class="o-Edashboard-wrapper">
                  <div class="o-Edashboard-wrapper o-Edashboard-checkbox">
                      <div class="checkbox-dash">
                          <label class="c-checkbox">
                              <input type="checkbox">
                              <span class="checkmark"></span>
                          </label>
                      </div>
                  </div><!--checkbox ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-name">
                      <div class="text">Shilpa</div>
                  </div><!--name ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-email">
                      <div class="text">shilpa@gmail.com</div>
                  </div><!--email ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-number">
                      <div class="text">1234567890</div>
                  </div><!--number ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-gender">
                      <div class="text">Female</div>
                  </div><!--gender ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-location">
                      <div class="text">Manglore</div>
                  </div><!--location ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-approved">
                      <div class="text">Vijilin</div>
                  </div><!--approved ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-action">
                      <div class="o-Edashboard-marginr10 tooltip">
                          <span class="icon-eye o-Edashboard-action__icon"></span>
                          <span class="tooltiptext">Portfolio</span>
                      </div><!--tooltip ends-->
                      <div class="tooltip">
                          <span class="icon-file-text o-Edashboard-action__icon"></span>
                          <span class="tooltiptext">Resume</span>
                      </div><!--tooltip ends-->
                  </div><!--action ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-status">
                      <button class="btn o-Edashboard-status__approve">Approved</button>
                  </div><!--status ends-->
              </div> <!--wrapper ends-->
          </div><!--row wrapper ends-->  
          <div class="o-Edashboard-table-row o-Edashboard-wrapper active">
              <div class="o-Edashboard-wrapper">
                  <div class="o-Edashboard-wrapper o-Edashboard-checkbox">
                      <div class="checkbox-dash">
                          <label class="c-checkbox">
                              <input type="checkbox" checked>
                              <span class="checkmark"></span>
                          </label>
                      </div>
                  </div><!--checkbox ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-name">
                      <div class="text">Shilpa</div>
                  </div><!--name ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-email">
                      <div class="text">shilpa@gmail.com</div>
                  </div><!--email ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-number">
                      <div class="text">1234567890</div>
                  </div><!--number ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-gender">
                      <div class="text">Female</div>
                  </div><!--gender ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-location">
                      <div class="text">Manglore</div>
                  </div><!--location ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-approved">
                      <div class="text">Vijilin</div>
                  </div><!--approved ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-action">
                      <div class="o-Edashboard-marginr10 tooltip">
                          <span class="icon-eye o-Edashboard-action__icon"></span>
                          <span class="tooltiptext">Portfolio</span>
                      </div><!--tooltip ends-->
                      <div class="tooltip">
                          <span class="icon-file-text o-Edashboard-action__icon"></span>
                          <span class="tooltiptext">Resume</span>
                      </div><!--tooltip ends-->
                  </div><!--action ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-status">
                      <button class="btn o-Edashboard-status__reject">Rejected</button>
                  </div><!--status ends-->
              </div> <!--wrapper ends-->
          </div><!--row wrapper ends--> 
          <div class="o-Edashboard-table-row o-Edashboard-wrapper">
              <div class="o-Edashboard-wrapper">
                  <div class="o-Edashboard-wrapper o-Edashboard-checkbox">
                      <div class="checkbox-dash">
                          <label class="c-checkbox">
                              <input type="checkbox">
                              <span class="checkmark"></span>
                          </label>
                      </div>
                  </div><!--checkbox ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-name">
                      <div class="text">Shilpa</div>
                  </div><!--name ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-email">
                      <div class="text">shilpa@gmail.com</div>
                  </div><!--email ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-number">
                      <div class="text">1234567890</div>
                  </div><!--number ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-gender">
                      <div class="text">Female</div>
                  </div><!--gender ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-location">
                      <div class="text">Manglore</div>
                  </div><!--location ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-approved">
                      <div class="text">Vijilin</div>
                  </div><!--approved ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-action">
                      <div class="o-Edashboard-marginr10 tooltip">
                          <span class="icon-eye o-Edashboard-action__icon"></span>
                          <span class="tooltiptext">Portfolio</span>
                      </div><!--tooltip ends-->
                      <div class="tooltip">
                          <span class="icon-file-text o-Edashboard-action__icon"></span>
                          <span class="tooltiptext">Resume</span>
                      </div><!--tooltip ends-->
                  </div><!--action ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-status">
                      <button class="btn o-Edashboard-status__pending">Pending</button>
                  </div><!--status ends-->
              </div> <!--wrapper ends-->
          </div><!--row wrapper ends-->  
          <div class="o-Edashboard-table-row o-Edashboard-wrapper">
              <div class="o-Edashboard-wrapper">
                  <div class="o-Edashboard-wrapper o-Edashboard-checkbox">
                      <div class="checkbox-dash">
                          <label class="c-checkbox">
                              <input type="checkbox">
                              <span class="checkmark"></span>
                          </label>
                      </div>
                  </div><!--checkbox ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-name">
                      <div class="text">Shilpa</div>
                  </div><!--name ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-email">
                      <div class="text">shilpa@gmail.com</div>
                  </div><!--email ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-number">
                      <div class="text">1234567890</div>
                  </div><!--number ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-gender">
                      <div class="text">Female</div>
                  </div><!--gender ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-location">
                      <div class="text">Manglore</div>
                  </div><!--location ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-approved">
                      <div class="text">Vijilin</div>
                  </div><!--approved ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-action">
                      <div class="o-Edashboard-marginr10 tooltip">
                          <span class="icon-eye o-Edashboard-action__icon"></span>
                          <span class="tooltiptext">Portfolio</span>
                      </div><!--tooltip ends-->
                      <div class="tooltip">
                          <span class="icon-file-text o-Edashboard-action__icon"></span>
                          <span class="tooltiptext">Resume</span>
                      </div><!--tooltip ends-->
                  </div><!--action ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-status">
                      <button class="btn o-Edashboard-status__approve">Approved</button>
                  </div><!--status ends-->
              </div> <!--wrapper ends-->
          </div><!--row wrapper ends-->  
          <div class="o-Edashboard-table-row o-Edashboard-wrapper">
              <div class="o-Edashboard-wrapper">
                  <div class="o-Edashboard-wrapper o-Edashboard-checkbox">
                      <div class="checkbox-dash">
                          <label class="c-checkbox">
                              <input type="checkbox">
                              <span class="checkmark"></span>
                          </label>
                      </div>
                  </div><!--checkbox ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-name">
                      <div class="text">Shilpa</div>
                  </div><!--name ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-email">
                      <div class="text">shilpa@gmail.com</div>
                  </div><!--email ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-number">
                      <div class="text">1234567890</div>
                  </div><!--number ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-gender">
                      <div class="text">Female</div>
                  </div><!--gender ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-location">
                      <div class="text">Manglore</div>
                  </div><!--location ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-approved">
                      <div class="text">Vijilin</div>
                  </div><!--approved ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-action">
                      <div class="o-Edashboard-marginr10 tooltip">
                          <span class="icon-eye o-Edashboard-action__icon"></span>
                          <span class="tooltiptext">Portfolio</span>
                      </div><!--tooltip ends-->
                      <div class="tooltip">
                          <span class="icon-file-text o-Edashboard-action__icon"></span>
                          <span class="tooltiptext">Resume</span>
                      </div><!--tooltip ends-->
                  </div><!--action ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-status">
                      <button class="btn o-Edashboard-status__reject">Rejected</button>
                  </div><!--status ends-->
              </div> <!--wrapper ends-->
          </div><!--row wrapper ends--> 
          <div class="o-Edashboard-table-row o-Edashboard-wrapper">
              <div class="o-Edashboard-wrapper">
                  <div class="o-Edashboard-wrapper o-Edashboard-checkbox">
                      <div class="checkbox-dash">
                          <label class="c-checkbox">
                              <input type="checkbox">
                              <span class="checkmark"></span>
                          </label>
                      </div>
                  </div><!--checkbox ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-name">
                      <div class="text">Shilpa</div>
                  </div><!--name ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-email">
                      <div class="text">shilpa@gmail.com</div>
                  </div><!--email ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-number">
                      <div class="text">1234567890</div>
                  </div><!--number ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-gender">
                      <div class="text">Female</div>
                  </div><!--gender ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-location">
                      <div class="text">Manglore</div>
                  </div><!--location ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-approved">
                      <div class="text">Vijilin</div>
                  </div><!--approved ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-action">
                      <div class="o-Edashboard-marginr10 tooltip">
                          <span class="icon-eye o-Edashboard-action__icon"></span>
                          <span class="tooltiptext">Portfolio</span>
                      </div><!--tooltip ends-->
                      <div class="tooltip">
                          <span class="icon-file-text o-Edashboard-action__icon"></span>
                          <span class="tooltiptext">Resume</span>
                      </div><!--tooltip ends-->
                  </div><!--action ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-status">
                      <button class="btn o-Edashboard-status__pending">Pending</button>
                  </div><!--status ends-->
              </div> <!--wrapper ends-->
          </div><!--row wrapper ends-->
          <div class="o-Edashboard-table-row o-Edashboard-wrapper">
                  <div class="o-Edashboard-wrapper">
                      <div class="o-Edashboard-wrapper o-Edashboard-checkbox">
                          <div class="checkbox-dash">
                              <label class="c-checkbox">
                                  <input type="checkbox">
                                  <span class="checkmark"></span>
                              </label>
                          </div>
                      </div><!--checkbox ends-->
                      <div class="o-Edashboard-wrapper o-Edashboard-name">
                          <div class="text">Shilpa</div>
                      </div><!--name ends-->
                      <div class="o-Edashboard-wrapper o-Edashboard-email">
                          <div class="text">shilpa@gmail.com</div>
                      </div><!--email ends-->
                      <div class="o-Edashboard-wrapper o-Edashboard-number">
                          <div class="text">1234567890</div>
                      </div><!--number ends-->
                      <div class="o-Edashboard-wrapper o-Edashboard-gender">
                          <div class="text">Female</div>
                      </div><!--gender ends-->
                      <div class="o-Edashboard-wrapper o-Edashboard-location">
                          <div class="text">Manglore</div>
                      </div><!--location ends-->
                      <div class="o-Edashboard-wrapper o-Edashboard-approved">
                          <div class="text">Vijilin</div>
                      </div><!--approved ends-->
                      <div class="o-Edashboard-wrapper o-Edashboard-action">
                          <div class="o-Edashboard-marginr10 tooltip">
                              <span class="icon-eye o-Edashboard-action__icon"></span>
                              <span class="tooltiptext">Portfolio</span>
                          </div><!--tooltip ends-->
                          <div class="tooltip">
                              <span class="icon-file-text o-Edashboard-action__icon"></span>
                              <span class="tooltiptext">Resume</span>
                          </div><!--tooltip ends-->
                      </div><!--action ends-->
                      <div class="o-Edashboard-wrapper o-Edashboard-status">
                          <button class="btn o-Edashboard-status__approve">Approved</button>
                      </div><!--status ends-->
                  </div> <!--wrapper ends-->
          </div><!--row wrapper ends-->  
          <div class="o-Edashboard-table-row o-Edashboard-wrapper">
              <div class="o-Edashboard-wrapper">
                  <div class="o-Edashboard-wrapper o-Edashboard-checkbox">
                      <div class="checkbox-dash">
                          <label class="c-checkbox">
                              <input type="checkbox">
                              <span class="checkmark"></span>
                          </label>
                      </div>
                  </div><!--checkbox ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-name">
                      <div class="text">Shilpa</div>
                  </div><!--name ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-email">
                      <div class="text">shilpa@gmail.com</div>
                  </div><!--email ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-number">
                      <div class="text">1234567890</div>
                  </div><!--number ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-gender">
                      <div class="text">Female</div>
                  </div><!--gender ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-location">
                      <div class="text">Manglore</div>
                  </div><!--location ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-approved">
                      <div class="text">Vijilin</div>
                  </div><!--approved ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-action">
                      <div class="o-Edashboard-marginr10 tooltip">
                          <span class="icon-eye o-Edashboard-action__icon"></span>
                          <span class="tooltiptext">Portfolio</span>
                      </div><!--tooltip ends-->
                      <div class="tooltip">
                          <span class="icon-file-text o-Edashboard-action__icon"></span>
                          <span class="tooltiptext">Resume</span>
                      </div><!--tooltip ends-->
                  </div><!--action ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-status">
                      <button class="btn o-Edashboard-status__reject">Rejected</button>
                  </div><!--status ends-->
              </div> <!--wrapper ends-->
          </div><!--row wrapper ends--> 
          <div class="o-Edashboard-table-row o-Edashboard-wrapper">
              <div class="o-Edashboard-wrapper">
                  <div class="o-Edashboard-wrapper o-Edashboard-checkbox">
                      <div class="checkbox-dash">
                          <label class="c-checkbox">
                              <input type="checkbox">
                              <span class="checkmark"></span>
                          </label>
                      </div>
                  </div><!--checkbox ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-name">
                      <div class="text">Shilpa</div>
                  </div><!--name ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-email">
                      <div class="text">shilpa@gmail.com</div>
                  </div><!--email ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-number">
                      <div class="text">1234567890</div>
                  </div><!--number ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-gender">
                      <div class="text">Female</div>
                  </div><!--gender ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-location">
                      <div class="text">Manglore</div>
                  </div><!--location ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-approved">
                      <div class="text">Vijilin</div>
                  </div><!--approved ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-action">
                      <div class="o-Edashboard-marginr10 tooltip">
                          <span class="icon-eye o-Edashboard-action__icon"></span>
                          <span class="tooltiptext">Portfolio</span>
                      </div><!--tooltip ends-->
                      <div class="tooltip">
                          <span class="icon-file-text o-Edashboard-action__icon"></span>
                          <span class="tooltiptext">Resume</span>
                      </div><!--tooltip ends-->
                  </div><!--action ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-status">
                      <button class="btn o-Edashboard-status__pending">Pending</button>
                  </div><!--status ends-->
              </div> <!--wrapper ends-->
          </div><!--row wrapper ends-->  
          <div class="o-Edashboard-table-row o-Edashboard-wrapper">
              <div class="o-Edashboard-wrapper">
                  <div class="o-Edashboard-wrapper o-Edashboard-checkbox">
                      <div class="checkbox-dash">
                          <label class="c-checkbox">
                              <input type="checkbox">
                              <span class="checkmark"></span>
                          </label>
                      </div>
                  </div><!--checkbox ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-name">
                      <div class="text">Shilpa</div>
                  </div><!--name ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-email">
                      <div class="text">shilpa@gmail.com</div>
                  </div><!--email ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-number">
                      <div class="text">1234567890</div>
                  </div><!--number ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-gender">
                      <div class="text">Female</div>
                  </div><!--gender ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-location">
                      <div class="text">Manglore</div>
                  </div><!--location ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-approved">
                      <div class="text">Vijilin</div>
                  </div><!--approved ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-action">
                      <div class="o-Edashboard-marginr10 tooltip">
                          <span class="icon-eye o-Edashboard-action__icon"></span>
                          <span class="tooltiptext">Portfolio</span>
                      </div><!--tooltip ends-->
                      <div class="tooltip">
                          <span class="icon-file-text o-Edashboard-action__icon"></span>
                          <span class="tooltiptext">Resume</span>
                      </div><!--tooltip ends-->
                  </div><!--action ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-status">
                      <button class="btn o-Edashboard-status__approve">Approved</button>
                  </div><!--status ends-->
              </div> <!--wrapper ends-->
          </div><!--row wrapper ends-->  
          <div class="o-Edashboard-table-row o-Edashboard-wrapper">
              <div class="o-Edashboard-wrapper">
                  <div class="o-Edashboard-wrapper o-Edashboard-checkbox">
                      <div class="checkbox-dash">
                          <label class="c-checkbox">
                              <input type="checkbox">
                              <span class="checkmark"></span>
                          </label>
                      </div>
                  </div><!--checkbox ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-name">
                      <div class="text">Shilpa</div>
                  </div><!--name ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-email">
                      <div class="text">shilpa@gmail.com</div>
                  </div><!--email ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-number">
                      <div class="text">1234567890</div>
                  </div><!--number ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-gender">
                      <div class="text">Female</div>
                  </div><!--gender ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-location">
                      <div class="text">Manglore</div>
                  </div><!--location ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-approved">
                      <div class="text">Vijilin</div>
                  </div><!--approved ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-action">
                      <div class="o-Edashboard-marginr10 tooltip">
                          <span class="icon-eye o-Edashboard-action__icon"></span>
                          <span class="tooltiptext">Portfolio</span>
                      </div><!--tooltip ends-->
                      <div class="tooltip">
                          <span class="icon-file-text o-Edashboard-action__icon"></span>
                          <span class="tooltiptext">Resume</span>
                      </div><!--tooltip ends-->
                  </div><!--action ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-status">
                      <button class="btn o-Edashboard-status__reject">Rejected</button>
                  </div><!--status ends-->
              </div> <!--wrapper ends-->
          </div><!--row wrapper ends--> 
          <div class="o-Edashboard-table-row o-Edashboard-wrapper">
              <div class="o-Edashboard-wrapper">
                  <div class="o-Edashboard-wrapper o-Edashboard-checkbox">
                      <div class="checkbox-dash">
                          <label class="c-checkbox">
                              <input type="checkbox">
                              <span class="checkmark"></span>
                          </label>
                      </div>
                  </div><!--checkbox ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-name">
                      <div class="text">Shilpa</div>
                  </div><!--name ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-email">
                      <div class="text">shilpa@gmail.com</div>
                  </div><!--email ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-number">
                      <div class="text">1234567890</div>
                  </div><!--number ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-gender">
                      <div class="text">Female</div>
                  </div><!--gender ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-location">
                      <div class="text">Manglore</div>
                  </div><!--location ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-approved">
                      <div class="text">Vijilin</div>
                  </div><!--approved ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-action">
                      <div class="o-Edashboard-marginr10 tooltip">
                          <span class="icon-eye o-Edashboard-action__icon"></span>
                          <span class="tooltiptext">Portfolio</span>
                      </div><!--tooltip ends-->
                      <div class="tooltip">
                          <span class="icon-file-text o-Edashboard-action__icon"></span>
                          <span class="tooltiptext">Resume</span>
                      </div><!--tooltip ends-->
                  </div><!--action ends-->
                  <div class="o-Edashboard-wrapper o-Edashboard-status">
                      <button class="btn o-Edashboard-status__pending">Pending</button>
                  </div><!--status ends-->
              </div> <!--wrapper ends-->
          </div><!--row wrapper ends-->       
      </div><!--body ends-->
      <div class="o-Edashboard-footer">
          <div class="o-Edashboard-footer__count">
              <span><span class="f500">101 to 110 </span><span class="grey">of 2456</span></span>
          </div><!--count ends-->
          <div class="o-Edashboard-footer__pagination">
              <a href="#" class="o-Edashboard-marginr10">first</a>
              <a href="#"><span class="icon-chevron-left o-Edashboard-footer__icon"></span></a>
              <a href="#">10</a>
              <a href="#">11</a>
              <a href="#">....</a>
              <a href="#">25</a>
              <a href="#">26</a>
              <a href="#"><span class="icon-chevron-right o-Edashboard-footer__icon"></span></a>
              <a href="#" class="o-Edashboard-marginl10">last</a>
          </div><!--pagination ends-->
          <div class="o-Edashboard-footer__page">
              <input type="number" class="o-Edashboard-footer__input mod" value="9"> per page
          </div><!--page ends-->
      </div><!--footer ends-->
  </div><!--container ends-->
</section><!--sec ends-->