<!-- <style>
opspot-button-remind{
  position: relative;
    top: -16px;
    left: 68px;
}
</style>

<div class="m-media-loading mdl-progress mdl-js-progress mdl-progress__indeterminate" [mdl] [hidden]="!inProgress"></div>

<div class="m--spam-notice mdl-shadow--2dp" *ngIf="entity?.flags?.spam">
  <ng-container *ngIf="entity?.flags?.spam" i18n="@@OPSPOT__MEDIA__ENTITY_FLAGGED_AS_SPAM">This media was flagged as spam.</ng-container>
  <ng-container *ngIf="entity?.flags?.deleted" i18n="@@OPSPOT__MEDIA__ENTITY_FLAGGED_AS_DELETED">This media was flagged as deleted.</ng-container>

  <ng-container *ngIf="!session.isAdmin()" i18n="@@M__ACTION__APPEAL_MARK">
    If you wish to appeal, please check your <a routerLink="/settings/reported-content">Reported Content console</a>.
  </ng-container>
</div>

<div class="m-error-splash" *ngIf="error && !inProgress">
  <img [src]="opspot.cdn_assets_url + 'assets/logos/logo.svg'">
  <h3 class="mdl-color-text--red-300">{{error}}</h3>
  <span class="mdl-color-text--blue-grey-300" i18n="@@OPSPOT__MEDIA__ENTITY_NOT_EXISTS">The post may not exist</span>
</div>

<div class="m-media-wrapper" *ngIf="entity && entity.guid">
  <div class="m-media-content"
    [class.media--content--has-recommended]="!theaterMode && entity.guid && entity.subtype != 'album'"
  >

    <ng-container *ngIf="(!entity.paywalled || entity.ownerObj.guid == session.getLoggedInUser().guid); else isPaywalled">
      <m-media--theatre [object]="entity"
        *ngIf="entity.subtype != 'album'"
        [hidden]="!entity.subtype || entity.subtype == 'album'"
        class="mdl-shadow--4dp"
        [ngClass]="{ 'm-mature-content': attachment.shouldBeBlurred(entity), 'm-mature-content-shown': attachment.isForcefullyShown(entity) }"
      >
        <div class="m-mature-overlay" (click)="entity.mature_visibility = !entity.mature_visibility">
          <span class="m-mature-overlay-note">
            <i class="material-icons" title="Mature content" i18n-title="@@M__COMMON__MATURE_CONTENT">explicit</i>
            <span i18n="@@M__COMMON__CONFIRM_18">Warning! Mature content (18+)</span>
          </span>
        </div>

        <a *ngIf="entity.guid && entity.subtype != 'album'"
          class="m-media-theater--toggle"
          [class.media-theater--toggle--active]="theaterMode"
          (click)="theaterMode = !theaterMode"
        >
          <i class="material-icons">launch</i>
        </a>
      </m-media--theatre>
    </ng-container>
    <ng-template #isPaywalled>
      <m-wire--lock-screen [(entity)]="entity"></m-wire--lock-screen>
    </ng-template>

    <m-media--grid [object]="entity" *ngIf="entity.subtype == 'album'"></m-media--grid>

    <div class="m-media-content--wrapper">
      <div class="m-media-content--container">
        <div class="mdl-grid m-media-content--meta">
          <div class="mdl-cell mdl-cell--12-col m-media-content--title" [ngClass]="{ 'm-mature-text': attachment.shouldBeBlurred(entity) }">
            <div class="mdl-cell mdl-cell--8-col mdl-cell--6-col-phone">
                <h1 class="m-media-content--heading" [ngClass]="{'m-media--long-heading': entity.title && entity.title.length > 80}" >{{ entity.title }}</h1>
            </div>
            
            <div class="m-media-content--info mdl-cell mdl-cell--4-col mdl-cell--6-col-phone">
  
              <div class="m-media-content--play-count" *ngIf="entity['play:count'] || entity['play:count'] === 0">
                <span i18n="@@OPSPOT__MEDIA__PLAYS_COUNTER">{{ entity['play:count'] | number }} plays</span>
              </div>
  
              <div class="m-media-content--play-count" *ngIf="entity['impressions'] || entity['impressions'] === 0">
                <span i18n="@@M__COMMON__VIEWS_WITH_COUNT">{{ entity['impressions'] | number }} views</span>
              </div>
  
              <div class="m-visibility-info" *ngIf="entity.ownerObj.guid == session.getLoggedInUser().guid || session.isAdmin()">
                <i class="material-icons">visibility</i>
                <span [hidden]="entity.access_id != 2" i18n="@@M__COMMON__VISIBILITY_PUBLIC">Public</span>
                <span [hidden]="entity.access_id != 0" i18n="@@M__COMMON__VISIBILITY_UNLISTED">Unlisted</span>
              </div>
  
              <div class="m-mature-info" *ngIf="entity.flags && entity.flags.mature">
                <i class="material-icons">explicit</i>
                <span i18n="@@M__COMMON__MATURE_CONTENT">Mature content</span>
              </div>
  
              <div class="m-license-info">
                <i class="material-icons">public</i>
                <span [hidden]="!entity.license">{{entity.license}}</span>
                <span [hidden]="entity.license" i18n="@@M__COMMON__LICENSE_ALL_RIGHT_RESERVED">All Rights Reserved</span>
              </div>
  
            </div>
          </div>

          <div class="mdl-cell mdl-cell--6-col m-media-content--owner">
            <div class="opspot-avatar" [hovercard]="entity.ownerObj.guid">
              <a [routerLink]="['/', entity.ownerObj.username]">
                <img [src]="opspot.cdn_url + 'icon/' + entity.ownerObj.guid + '/' " class="mdl-shadow--2dp"/>
              </a>
            </div>
            <div class="opspot-body">
              <div class="m-media-content--owner-info">
                <a [routerLink]="['/', entity.ownerObj.username]" class="mdl-color-text--blue-grey-500">{{entity.ownerObj.name}}</a>
              </div>

              <div class="m-media-content--owner-info">
                <span>{{ entity.time_created * 1000 | date: 'medium'}}</span>
              </div>
            </div>

            <opspot-button-boost *ngIf="entity.subtype != 'album'"
              class="m-media-content--button-boost"
              [object]="entity"
            ></opspot-button-boost>

            <div class="mdl-layout-spacer"></div>
          </div>

          <div class="mdl-cell mdl-cell--6-col m-media-content--actions">
              <div class="mdl-layout-spacer"></div>
                
              <span class="opspot-button-edit" [routerLink]="['/media/edit', entity.guid]" *ngIf="entity.ownerObj.guid == session.getLoggedInUser().guid || session.isAdmin()">
                <button class="material-icons">edit</button>
              </span>
  
             
  
              <opspot-button-feature [object]="entity" *ngIf="session.isAdmin()"></opspot-button-feature>
              <opspot-button-monetize [object]="entity" *ngIf="session.getLoggedInUser().monetized"></opspot-button-monetize>
  
              <m-wire-button *ngIf="entity.ownerObj.guid != session.getLoggedInUser()?.guid"
                [object]="entity"
              ></m-wire-button>
              <opspot-button-thumbs-up [object]="entity"></opspot-button-thumbs-up>
              <opspot-button-thumbs-down [object]="entity"></opspot-button-thumbs-down>
              <opspot-button-remind [object]="entity"></opspot-button-remind>

              <m-post-menu [entity]="entity" [canDelete]="entity.ownerObj.guid == session.getLoggedInUser().guid || entity.canEdit || session.isAdmin()" [options]="menuOptions" (optionSelected)="menuOptionSelected($event)" askForCategoriesWhenFeaturing="true"></m-post-menu>
          </div>

          <div class="mdl-cell mdl-cell--12-col m-media--description" *ngIf="entity.description"
            [innerHtml]="entity.description | safe"
            [hidden]="!descriptionContainer.innerText.trim('')"
            #descriptionContainer
          ></div>
        </div>

        <div class="mdl-grid m-media-content--comments mdl-color--white" *ngIf="entity.guid && entity.subtype != 'album'">
          <opspot-comments
            [object]="entity"
            [focusedCommentGuid]="focusedCommentGuid"
            >
          </opspot-comments>
        </div>
      </div>

      <div class="m-media-recommended"
        *ngIf="theaterMode && entity.guid && entity.subtype != 'album'"
      >
        <m-media--recommended
          [opts]="{ current: entity.guid, next: getNext(), channel: entity.ownerObj.guid, type: entity.subtype }"
          limit="6"
        ></m-media--recommended>
    
      </div>
    </div>
  </div>
  
  <div class="m-media-recommended"
    *ngIf="!theaterMode && entity.guid && entity.subtype != 'album'"
  >
    <m-media--recommended
      [opts]="{ current: entity.guid, next: getNext(), channel: entity.ownerObj.guid, type: entity.subtype }"
      limit="6"
    ></m-media--recommended>

  </div>
</div>

<m-modal-confirm *ngIf="deleteToggle"
  [open]="true"
  [closeAfterAction]=true
  (closed)="deleteToggle = false"
  (actioned)="delete()"
  yesButton="Delete permanently"
  i18n-yesButton="@@M__COMMON__DELETE_PERMANENTLY"
>
  <p confirm-message>
      <ng-container i18n="@@OPSPOT__MEDIA__CONFIRM_DELETION">Are you sure you want to delete this?<br><br>There's no UNDO!</ng-container>
  </p>
  <p confirm-success-message>
      <ng-container i18n="@@OPSPOT__MEDIA__DELETION_CONFIRMATION">The media has been deleted.</ng-container>
  </p>
</m-modal-confirm> -->

<section class="o-post-inner-sec">
  <div class="container">
    <div class="o-posts-inner-page o-post-inner-profile-head">
      <div class="o-posts-inner-page__left">
        <div class="o-card feed o-post-inner-minheight">
          <div class="feed-head">
            <a *ngIf="entity?.ownerObj && entity?.ownerObj?.username" id="view-profile-image" [routerLink]="['/', entity?.ownerObj?.username]"
              class="o-avatar">
              <img [src]="opspot.cdn_url + 'icon/' + entity?.ownerObj?.guid + '/' " class="mdl-shadow--2dp" />
            </a>
            <div class="o-avatar__info">
              <div class="o-avatar-det-block">
                <span class="text-lg grey o-posts-det" id="view-profile-added-media"><a class="o-avatar__name">{{entity?.ownerObj?.name}}</a>added
                  media</span>
              </div>
              <div class="grey m-l-8 o-posts-tym">
                <span>{{entity?.time_created * 1000 | date:'medium'}}</span>
                <!-- <span class="o-posts-public-private"><i class="icon-public"></i></span> -->
              </div>
            </div>
            <div class="o-feed-head-action o-post-inner-profile-button">
              <button type="button" class="btn btn-primary btn-sm" id="view-profile-boost-button"
                *ngIf="session.getLoggedInUser().guid == entity?.owner_guid" (click)="showBoost()">Boost</button>
              <!-- <a href="#" class="head-action__link">
                <img src="assets/svg/bookmark.svg" alt="" class="head-action__icon hidden-mob">
              </a> -->
              <a class="head-action__link" (click)="togglePin()" id="view-profile-bookmark">
                <m-tooltip icon="turned_in" *ngIf="entity?.bookmark">
                  This post is Bookmarked
                </m-tooltip>
                <m-tooltip *ngIf="!entity?.bookmark" icon="turned_in_not">
                  Click to bookmark this post to the top of your channel feed
                </m-tooltip>
              </a>
              <!-- <div class="o-option-drop"> -->
              <m-post-menu [entity]="entity" [canDelete]="canDelete" [isTranslatable]="isTranslatable"
                [options]="menuOptions" (optionSelected)="menuOptionSelected($event)" class="mar-l">
                <ng-container post-menu>
                  <ng-content select="[post-menu]"></ng-content>
                </ng-container>
              </m-post-menu>
              <!-- <m-post-menu [entity]="entity" [canDelete]="entity.ownerObj.guid == session.getLoggedInUser().guid || entity.canEdit || session.isAdmin()" [options]="menuOptions" (optionSelected)="menuOptionSelected($event)" askForCategoriesWhenFeaturing="true"></m-post-menu> -->
              <!-- </div> -->
            </div>
          </div>
          <div class="o-post-inner-page-myjourney-image">
            <img [src]="largeImage" alt="" *ngIf="!showVideo">
            <m-video *ngIf="showVideo" style="background:#000;" [muted]="false" [poster]="videoData.thumbnail_src"
              [src]="[{ 'res': '360', 'uri': 'api/v1/media/' + videoData.guid + '/play', 'type': 'video/mp4' }]"
              [guid]="videoData.guid" [torrent]="[{ res: '360', key: videoData.guid + '/360.mp4' }]" #player>
              <video-ads [player]="player" *ngIf="entity?.monetized"></video-ads>
            </m-video>
          </div>
          <div class="o-posts-inner-page-myjourney-padding">
            <div class="feed-media post-view-style" *ngIf="entity?.custom_data?.length <= 5">
              <div *ngFor="let media of entity?.custom_data; let i = index;">
                <a class="feed-media__link">
                  <img *ngIf="media.entity_type !== 'video'" [src]="media.src" alt="" class="feed-media__img"
                    (click)="showImage(i)">
                  <img *ngIf="media.entity_type === 'video'" [src]="media.thumbnail_src" alt="" class="feed-media__img">
                  <div class="feed-media-overlay" *ngIf="media.entity_type === 'video'" (click)="showImage(i,media)">
                    <div class="feed-media-video__icon"><img src="assets/svg/playfill.svg" alt=""></div>
                  </div>
                </a>
              </div>
            </div>
            <div class="" *ngIf="entity?.custom_data?.length > 5">
              <ngx-slick-carousel class="carousel feed-media post-view-style" #slickModal="slick-carousel"
                [config]="slideConfig" (init)="slickInit($event)" (breakpoint)="breakpoint($event)"
                (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
                <div ngxSlickItem *ngFor="let media of entity?.custom_data; let i = index;" class="slide">
                  <a class="feed-media__link">
                    <!-- <div class="full-h-v set-bg mar-20" [style.backgroundImage]="'url(' + media.src + ')'"></div> -->
                    <!-- <img [src]="media.src" alt="" class="feed-media__img"
                      (error)="media.src = opspot.cdn_assets_url + 'assets/logos/logo.svg'"> -->
                    <img [src]="media.src" alt="" class="feed-media__img" *ngIf="media.entity_type != 'video'"
                      (click)="showImage(i)">
                    <img *ngIf="media.entity_type === 'video'" [src]="media.thumbnail_src" alt=""
                      class="feed-media__img">
                    <div class="feed-media-overlay" *ngIf="media.entity_type === 'video'" (click)="showImage(i,media)">
                      <div class="feed-media-video__icon"><img src="assets/svg/playfill.svg" alt=""></div>
                    </div>
                  </a>
                </div>
              </ngx-slick-carousel>
              <button class="btn-prev" (click)="slickModal.slickPrev()" id="view-profile-prev">prev</button>
              <button class="btn-next" (click)="slickModal.slickNext()" id="view-profile-next">next</button>
            </div>
            <m-translate 
              [open]="translateToggle"
              [entity]="entity" 
              [translateEvent]="translateEvent"
              (onTranslateInit)="propagateTranslation($event)" 
              (onTranslate)="translateToggle = false"
              (onTranslateError)="translateToggle = false" 
              #translate>
            </m-translate>
            <div class="text-md">{{ entity?.message}}</div>
            <div class="opspot-editable-container"
                *ngIf="editing">
                <!-- Please not the intentional single way binding for ngModel, we want to be able to cancel our changes -->
                <textarea class="mdl-card__supporting-text message w100" id="view-profile-message" name="message" [ngModel]="entity.message" #messageEdit
                  [autoGrow]></textarea>
                <button class="btn btn-outline-primary btn-lg" id="view-profile-cancel-message"
                  (click)="messageEdit.value = entity?.message; editing=false;" i18n="@@M__ACTION__CANCEL">Cancel</button>
                <button class="btn btn-primary btn-lg" id="view-profile-save-message"
                  (click)="entity.message = messageEdit.value; save();" i18n="@@M__ACTION__SAVE">Save</button>
            </div>
          </div>
          <div class="o-posts-inner-page-action">
            <div class="o-posts-inner-page-action__details" id="view-profile-activity-details">
              <!-- <div class="o-latest-channel-info-head__members members-list">
                <div class="members-circle members-circle1"><img src="assets/demo/avatar.png" alt=""></div>
                <div class="members-circle members-circle2"><img src="assets/demo/avatar.png" alt=""></div>
                <div class="members-circle members-circle3"><img src="assets/demo/avatar.png" alt=""></div>
              </div> -->
              <div class="text-sm grey" id="view-profile-like-count">{{count}} liked this post</div>
              <div class="text-sm grey m-16" id="view-profile-sahred">{{entity?.reminds}} shared this post</div>
              <div class="text-sm grey m-16" *ngIf="entity?.wire_totals" id="view-contributed">{{entity?.wire_totals.tokens | token:18 | abbr}} contributed this
                post</div>
              <div class="text-sm grey m-16" id="view-profile-impressions">{{entity?.impressions}} viewed this post</div>
            </div>
            <div class="o-posts-inner-page-action__icons">
              <a class="icon-posts-box">
                <opspot-button-thumbs-up (liked)="liked($event)" [large]="'true'" [object]="entity">
                </opspot-button-thumbs-up>
              </a>
              <a class="icon-posts-box">
                <!-- <opspot-button-remind [object]="entity" [large]="'true'"></opspot-button-remind> -->
                <m-modal-remind-composer *ngIf="remindOpen"
                  [object]="entity?.remind_object ? entity?.remind_object : entity"
                  [entityType]="entity.entity_type"
                  [open]="true"
                  [default]="remindMessage"
                  (closed)="remindOpen = false"
                  (post)="remindPost($event)"
                ></m-modal-remind-composer>
                <m-share-menu
                  [entity]="entity"
                  [options]="menuOptions"
                  (optionSelected)="shareOptionSelected($event)"
                  [large]=true
                ></m-share-menu>
              </a>
              <a class="icon-posts-box"  *ngIf="session.getLoggedInUser().guid != entity?.owner_guid">
                <m-wire-button [object]="entity?.remind_object ? entity?.remind_object : entity"
                  (done)="wireSubmitted($event)" [large]="true">
                </m-wire-button>
              </a>
            </div>
          </div>
          <opspot-comments *ngIf="entity.guid" [object]="entity" [focusedCommentGuid]="focusedCommentGuid"
          [focusOnInit]="true" [canEdit]="canDelete">
          </opspot-comments>
        </div>
      </div>
      <div class="o-posts-inner-page__right hidden-mob">
        <opspot-widget *ngIf="!showMyJourneyWidget" [entityType]="'opportunity'"></opspot-widget>
        <opspot-widget *ngIf="!showMyJourneyWidget" [entityType]="'event'"></opspot-widget>
        <opspot-widget *ngIf="entity?.ownerObj && showMyJourneyWidget" [entityType]="'myjourney'"
          [user]="entity?.ownerObj"></opspot-widget>
      </div>
    </div>
  </div>
</section>