<div class="o-cover o-cover--bluestore-fleamarket hidden-under-tablet" [hidden]="market == 'My Sales Board'"
  style="background:url(assets/demo/m2.jpg) no-repeat; background-size: cover; background-position: left;">
</div>
<div class="o-bluestore-fleamarket-products">
  <h4 class="f500" [hidden]="market == 'My Sales Board'">{{market}} > {{category}}</h4>
  <h4 class="f500" [hidden]="market != 'My Sales Board'">{{market}}</h4>
  <div class="form-group o-bluestore-fleamarket-products__search">
    <input type="text" class="form-control" placeholder="Search Product" [(ngModel)]="q" name="q" autocomplete="off" #searchInput>
    <span class="icon-search"></span>
  </div>
</div>
<ul class="o-bluestore-fleamarket-products-list">
  <li class="o-bluestore-fleamarket-products-list__item" *ngFor="let card of cards">
    <div class="o-card c-bfstore">

      <div class="c-bfstore-cover">
        <img src="{{card.custom_data[0].src}}" alt="" class="c-bfstore-cover__media">
      </div>

      <div class="c-bfstore-info">
        <p class="c-bfstore-info__head caption-bold">{{card.title}}</p>
        <div class="c-bfstore-info__price text-md">
          <span class="grey mr-15"><s><span>&#8377;</span> {{card.price}}</s></span>
          <span class="grey-dark"><span>&#8377;</span> {{card.sale_price}}</span>
        </div>
        <div class="c-bfstore-info__location text-md"><i class="icon-map-pin grey-dark"></i> {{card.location}}</div>
        <div class="bluestore-sales-card-button">
          <!-- <button type="button" class="btn btn-outline-primary btn-sm">Mark as Sold</button> -->
          <button type="button" class="btn btn-outline-primary btn-sm" (click)="openEditBluestore(card)">Edit Product</button>
      </div>
      </div>
    </div>
  </li>
</ul>
