@import "src/assets/helpers/variables";

@import "node_modules/sass-mq/_mq";


.o-card-suggestion{
    padding:13px 16px;
    float: left;
}

//suggestion card components style

.o-suggestion{
    position: relative;
    width: 168px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    margin: 14px 6px 9px 0px;
    &__top-bar{
        height: 58px;
        width: 100%;	
        border-radius: 3px 3px 0 0;	
        background-color: $grey-light; 
    }
    &__avatar{
        box-sizing: border-box;	
        height: 78px;	
        width: 78px;	
        border-radius: 50%;
        border: 2px solid #FFFFFF;
        overflow: hidden;
        margin-top: -38px;
        img{
            width: 100%;
        }
    }
    &__name{
        margin-top: 10px;
    }
    &__info{
        text-align: center;
        padding:0px 15px;
        margin: 11px 0px 18px 0px;
    }
}


// for slider

.o-suggestion-scroll-main {
    width: 500px;
    position: relative;
    float: left;
    min-height: 250px;
}

.squares {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: touch;
    width: 100%;
    white-space: nowrap;
    display: flex;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    max-width: 590px;
}

.w200 {
    width: 400px !important;
}

.demo{
    display: inline;
    position: absolute;
    padding: 70px;
}

.close-btn{
    margin-left: 140px;
    cursor: pointer;
}