<section class="document-sec">
    <div class="container">
        <div class="document-block">
            <div class="document-block__main">
                <div id="terms-of-use" class="document-content-block document-content-block--p-b-41">
                    <div class="document-header">
                        <h5 class="primary">#TheBlueStore T&C’s</h5>
                    </div>
                    <p class="text-md m-t-17 m-b-20">
                        1. #Thebluestore Provisions & Terms, Terms and Conditions (including User Terms and License
                        Terms),
                        the Privacy Policy, Community Guidelines, and any other guidelines, rules, additional terms or
                        disclaimers, specific terms and conditions relating to the usage of additional features that may
                        be added to AEIONE LLP or its platforms from time to time, posted and updated by AEIONE LLP
                        collectively constitute the “Agreement” which governs the relationship between us and you. By
                        agreeing to these terms, you also agree to the provisions of other documents relating to the
                        usage of <u>our services</u> which are incorporated herein by way of reference and form an
                        integral
                        part of the agreement governing the relationship between us and you. This agreement is a
                        sub-agreement of the Terms of Use and all agreements collectively guide your usage of our
                        platform and its features as covered here.
                    </p>
                    <p class="text-md m-t-17 m-b-20">
                        2. AEIONE LLP is the owner and operator of the Platform, site and services. All references in
                        this agreement to “we”, “us”, “our” or ‘’One Page Spotlight” or, is a reference to AEIONE
                        LLP. We offer services through various electronic platforms, including but not limited to, on
                        the Internet www.onepagespotlight.com and mobile applications (including on iOS, Android,
                        Windows operating systems) (collectively known as “Platforms”) using the brand “One Page
                        Spotlight”. If you have any questions regarding any aspect of this Agreement or our Services,
                        kindly contact our Customer Service Staff at <a class="f500"
                            href="support@onepagespotlight.com">support@onepagespotlight.com</a>
                    </p>
                    <p class="text-md m-t-17 m-b-20">
                        3. The following terms, as well as our <u>Privacy Policy</u>, <u>Community Standards</u> &
                        <u>User Agreement</u>,
                        apply to all creators, administrators and users of this feature. You are responsible for
                        ensuring that the content, group or event complies with all applicable laws, statutes and
                        regulations.
                    </p>

                    <p class="text-md m-t-17 m-b-20">
                        4. TheBlueStore is an open to use exchange wherein users can buy and sell products on the
                        platform
                        by listing them through their profiles. These products can be new or pre-owned products.
                        TheBlueStore is a peer-to-peer platform which enables users to reach out to each other via
                        message box of the respective user to ensure users foster strong direct relationships and
                        transparency. One Page Spotlight currently does not charge any commission, percentage or fees
                        for the same as of December 2020. However, the policy is subject to change & we endeavor to
                        update you on the same through reasonable modes of communication. We might charge a nominal-fee
                        as decided by us for the use of our services at our discretion we deem suitable in the future.
                        We reserve the right to the same and the buyer or seller will have to follow the same and will
                        be liable for the same from the time of announcement. For sellers, one does not need to make an
                        account on TheBlueStore, but rather list the product from your own profile itself or
                        Organization/Community account. Anyone on the platform has access to TheBluestore.
                    </p>

                    <p class="text-md m-t-17 m-b-20">
                        5. Listing Policies: For use of our site and other services, you confirm and declare that you
                        shall not list or post or provide information in relation to the sale or purchase or exchange of
                        goods and services, content or information that are illegal under the local, regional, state or
                        global jurisdiction laws and/or are not permitted as per the prohibited items policy listed
                        below.
                    </p>
                    <div class="text-md m-t-17 m-b-20">
                    <div class="m-t-17 docbs-subtitle">6. Prohibited Items Policy - Specifically prohibit any listing or
                        posting of classifieds or information in relation to the following items:</div>
                    <ul class="document-ul">
                        <li>Alcoholic Beverages, liquor, tobacco products, drugs, psychotropic substances, narcotics,
                            intoxicants of any description, medicines, palliative/curative substances nor shall you
                            provide link directly or indirectly to or include descriptions of items, goods or services
                            that are prohibited under any applicable law for the time being in force including but not
                            limited to the Drugs and Cosmetics Act, 1940, the Drugs And Magic Remedies (Objectionable
                            Advertisements) Act, 1954 Narcotic Drug and Prohibited Substances Act and the Indian Penal
                            Code,1860 or as per your locally applicable jurisdiction laws.
                        </li>
                        <li>
                            Living, dead person and/or the whole or any part of any human which has been kept or
                            preserved by any means whether artificial or natural including any blood, bodily fluids and/
                            or body parts.
                        </li>
                        <li>
                            Prostitution or any other service in the nature there of that purports to violate the
                            provisions of Immoral Act or Indecent representation of women which violates the
                            contemporary standards of morality and decency in society as per your local, regional, state
                            or global jurisdiction laws.
                        </li>
                        <li>
                            Religious items, including books, artifacts, etc. or any information, description of any
                            such item that is likely to affect the religious sentiments of any person or group.
                        </li>
                        <li>
                            Mature Audiences Policy includes films which do not have a certificate for public exhibition
                            issued by the Central Board of Film Certification and/or describe and depict or otherwise
                            deal with matters which are revolting or repulsive and/or tend to deprave a person’s mind in
                            such a way that they tend to offend against the standards of morality, decency and propriety
                            generally accepted by reasonable adults
                        </li>
                        <li>
                            Obscene Items includes items which contain an indecent representation of women within the
                            meaning of the Indecent Representation of Women (Prohibition) Act, 1986; any publication or
                            film or item that describes or depicts a minor who is, or who appears to be, under 18
                            (whether the minor is engaged in sexual activity or not) and any computer games that are
                            unsuitable for a minor to see or play.
                        </li>
                        <li>
                            Offensive Material intended for use in a sexual setting (including "bondage" and "fetish"
                            items,) displaying sexual activity or portraying human genitalia in a "life-like" or
                            realistic fashion.
                        </li>
                        <li>
                            "Antiquities" and "Art Treasures" in violation of the provisions of the Antiquities and Art
                            Treasures Act, 1972 ("the Act") or as per your local, regional, state or global jurisdiction
                            laws.
                        </li>
                        <li>
                            Information or items that are defamatory, libellous, threatening or abusive in nature.
                        </li>
                        <li>
                            Information that is fraudulent, misrepresenting as to the nature and use of the goods or the
                            services.
                        </li>
                        <li>
                            Counterfeit, pirated and stolen goods or unauthorized illegal services (services for which
                            you are not licensed or permitted to do or do not have the authority to undertake).
                        </li>
                        <li>
                            Items, goods and services that are counterfeit, first copies, copy goods, infringe or
                            attempt to pass off any third parties’ intellectual property or rights of publicity or moral
                            rights and/or purports to breach any individual, group or organization’s right to privacy.
                        </li>
                        <li>
                            Goods & services that are not real or are intangible, cannot be sold on the platform like
                            news, content, jokes, lost and found items, ‘looking for’ posts, etc.
                        </li>
                        <li>
                            Items whose description and corresponding photos do not match are prohibited or can be
                            pulled down by the Platform as per its policies.
                        </li>
                        <li>
                            Before and after pictures depicting body-shaming, abuse, eve-teasing, etc are prohibited.
                        </li>
                        <li>
                            Electronically transmitting through any medium, computer viruses of any type or any computer
                            program that facilitates hacking of a computer system which the intent to damage a computer
                            or computer network or intercept any personal data.
                        </li>
                        <li>
                            Your information shall not include any hate content, that is derogatory or slanderous in
                            nature that may directed to any individual or group or advocate violence against any users
                            individuals and or animals.
                        </li>
                        <li>
                            Hazardous chemicals and pesticides and/ or items in violation of Hazardous Chemicals Act,
                            1985 or as per your local, regional, state or global jurisdiction laws.
                        </li>
                        <li>
                            Fireworks, Destructive Devices and Explosives including any material that enables the making
                            of fireworks, explosive triggers, and explosive devices.
                        </li>
                        <li>
                            Identity Documents, Personal Financial Records & Personal Information (in any form,
                            including mailing lists).
                        </li>
                        <li>
                            Lottery Tickets, Sweepstakes Entries and Slot Machines.
                        </li>
                        <li>
                            Items in violation of the Food Adulteration Act, 1954 or as per your local, regional, state
                            or global jurisdiction laws.
                        </li>
                        <li>
                            Military or Police Badges, uniforms, coats-of-arms and/or any Government emblems, insignia,
                            and/or items in violation of Emblems and names (Prevention of improper use) Act, 1950 and/
                            or Flag Codes of India Act, 2002 or as per your local, regional, state or global
                            jurisdiction laws.
                        </li>
                        <li>
                            Weapons and related items (such as firearms, firearm parts and ammunition, tear gas, stun
                            guns, switchblade knives or any other item which is prohibited under the Indian Arms Act,
                            1959 or as per your local, regional, state or global jurisdiction laws.
                        </li>
                        <li>
                            "Pyramid schemes", "Multilevel Marketing" and/or similar scams which are solely listed for
                            the purpose of defrauding users.
                        </li>
                        <li>
                            Spam, abusive, duplicate, listing, fraud schemes (e.g. "Get rich quick" "work at homes"
                            scams which are solely listed for the purpose of duping users).
                        </li>
                        <li>
                            Inappropriate, Wrong Category (e.g dining table listed as office furniture).
                        </li>
                        <li>
                            Incorrect City / Location of Listing (listing allowed only in the city you are based in, of
                            listing).
                        </li>

                    </ul>
                </div>

                    <div class="text-md m-t-17 m-b-20">
                    <div class="m-t-17 docbs-subtitle">B. Prohibited Items Policy - Specifically prohibit any listing or
                        posting of classifieds or information in relation to the following items:</div>
                    <ul class="document-ul">
                        <li>
                            "Securities" within the meaning of the Securities Contract Regulation Act, 1956, including
                            shares, bonds, debentures, etc. and/or any other financial instruments/assets of any
                            description or as per your local, regional, state or global jurisdiction laws.
                        </li>
                        <li>
                            Living, dead creatures and/or the whole or any part of any animal which has been kept or
                            preserved by any means whether artificial or natural including rugs, skins, specimens of
                            animals, antlers, horns, hair, feathers, nails, teeth, musk, eggs, nests, other animal
                            products of any description the sale and purchase of which is prevented or restricted in any
                            manner by applicable laws (including those prohibited under The Wildlife Protection Act,
                            1972 and/ or The Environment Protection Act, 1986 or as per your local, regional, state or
                            global jurisdiction laws).
                        </li>
                    </ul>
                </div>


                    <div class="text-md m-t-17 m-b-20">
                    <div class="m-t-17 docbs-subtitle">C. Your listing, information, Advertisement</div>
                    <ul class="document-ul">
                        <li>
                            Shall not be defamatory, trade libellous, unlawfully threatening or unlawfully harassing.
                            Further shall not be fraudulent, misrepresenting, misleading or pertain to the sale of any
                            illegal, counterfeit, stolen goods and/or services which do not belong to you or you do not
                            have the authority for. Further still shall not infringe any intellectual property, trade
                            secret, or other proprietary rights or rights of publicity or privacy of any third party.
                        </li>
                        <li>
                            Shall not contain any viruses, Trojan horses, worms, time bombs, cancel bots, easter eggs or
                            other computer programming routines that may damage, detrimentally interfere with,
                            surreptitiously intercept or expropriate any system, data or personal information.
                        </li>
                        <li>
                            Shall not be allowed to libel anyone or include hate, derogatory, slanderous speech directed
                            at individuals or groups. You should not advocate violence against other users or
                            individuals or groups.
                        </li>
                    </ul>
                </div>


                    <div class="text-md m-t-17 m-b-20">
                    <div class="m-t-17 docbs-subtitle">D. In addition to the above and for the purposes of clarity all
                        Users shall be expected to adhere to and comply with the following Policies while listing of
                        items:</div>
                    <ul class="document-ul">
                        <li>
                            Restricted Item Policy: In addition to the above prohibited items policy users shall also
                            adhere to and comply with the restricted items policy while listing, posting or providing
                            information in relation to any goods or services.
                        </li>
                        <li>
                            Duplicate Ad listings are not allowed. Any ad posted more than once with the same content or
                            Title in the same city and category would be considered as a Duplicate Ad. We advise you to
                            post multiple ads only if you have different items or services for sale. All duplicate ads
                            would be deleted and posters penalized if the problem persists.
                        </li>
                        <li>
                            Mature Audience/Sexually oriented material: Classifieds relating to items that includes
                            items intended for use in sexual activity would not be permitted. (An example of such
                            classifieds relating to an item not normally permitted would be a classified for the sale of
                            a vibrator). Please also be aware that titles with graphic adult language are inappropriate,
                            regardless of the item contained in the listing itself.
                        </li>
                    </ul>
                </div>

                    <div class="text-md m-t-17 m-b-20">
                    <div class="m-t-17 docbs-subtitle">E. Consequences of Breach of Listing Policy</div>
                    <ul class="document-ul">
                        <li>
                            Users who violate the prohibited items policy and or the restricted items policy may be
                            subject to the following actions:
                            <p class="inner__list">1) Suspension or termination of membership.</p>
                            <p class="inner__list">2) Permanent blocking of access to the site.</p>
                            <p class="inner__list">3) Reporting to Law Enforcement or Appropriate Authorities.</p>
                        </li>
                    </ul>
                    </div>
                    <div class="text-md m-t-17 m-b-20">
                    <div class="m-t-17"> <span class="docbs-subtitle">F. Abuse: </span>

                        One Page Spotlight reserve the right to take down any posting, listing or
                        information and/or
                        limit or terminate our services and further take all reasonable technical and legal steps to
                        prevent the misuse of the site in keeping with the letter and spirit of this Acceptable Use
                        Policy (AUP) and the listing policy.

                    </div>

                    </div>

                    <div class="text-md m-t-17 m-b-20">
                    <div class="m-t-17 docbs-subtitle">7. Buyer Guidelines:</div>
                    <ul class="document-ul">
                        <li>
                            We recommend meeting in a safe and secure place for dealing at own risk as per the local
                            Covid’19 and WHO health and safety guidelines with physical distancing.
                        </li>
                        <li>
                            We recommend that you meet in an open public place, a local police station if need be or in
                            an overall well-lit area for your own safety. It is also recommended that you keep your
                            close ones or trusted ones informed when you are meeting a buyer or seller whom you would
                            have possibly connected through our platform.
                        </li>
                        <li>
                            We recommend that you focus on hygiene and disinfection/sanitization as a seller or buyer to
                            ensure that the product is safe.
                        </li>
                        <li>
                            In absence of a physical verification possible, you may use a logistics company, or a third
                            party trusted source for your logistics.
                        </li>
                        <li>
                            One Page Spotlight recommends that you use online platforms that connect the buyer and
                            seller directly via payment gateways for your transaction purposes and not third-party
                            platforms which have a possibility of counterfeit, fraudulent transaction. We recommend that
                            you consult your financial advisor or local bank while making transactions for your safety.
                        </li>
                        <li>
                            We recommend that users ensure that all their data is safe with them and erase all personal
                            data when selling any products that store information. Additionally, we suggest that you
                            never reveal any information to third parties, to sellers/buyers that may cause harm like
                            passwords, ID’s and other sensitive accounting information.
                        </li>
                        <li>
                            We strictly warn to protect your rights and discourage you from buying any counterfeit
                            products, copy products, recalled items and suggest and recommend you verify products prior
                            to any purchase.
                        </li>
                    </ul>
                    </div>

                    <div class="text-md m-t-17 m-b-20">
                    <div class="m-t-17">
                        <span class=" docbs-subtitle">8. Fees and commissions: </span>If a seller and buyer transact
                        offline after connecting via event, the platform is not responsible to verification for product
                        or item and purchase. Aeione LLP or any if its representative/partner/employees/and third party
                        stakeholder:
                    </div>
                    </div>

                    <div class="text-md m-t-17 m-b-20">
                    <div class="m-t-17">
                        <span class=" docbs-subtitle">9. Indemnification from Liability: </span>Aeione LLP does not
                        charge
                        convenience fee for using the platform (Free listings) as of December 2020. However, this policy
                        is subject to change and we endeavor to update you on the same through reasonable modes of
                        communication. We might charge a nominal-fees as decided by us for the use of our services at
                        our discretion as we deem suitable in the future. We reserve the right to the same and the buyer
                        or seller will have to follow the same and will be liable for the same from the time of
                        announcement.
                    </div>

                    <ul class="document-ul">
                        <li>
                            Aeione LLP is not involved in pricing or payment terms between users.
                        </li>
                        <li>
                            Aeione LLP is no more related in late payment (interest etc.) non-payment or incorrect
                            payments / billing between the seller & buyer.
                        </li>
                        <li>
                            Aeione LLP is not responsible for your product or item lost/theft.
                        </li>
                        <li>
                            Delivery venue, date, and time as per the mutual understandings, is not our liability.
                            Aeione LLP is not responsible if a product is not delivered; or for the code of conduct
                            between the buyer and seller; the transactional details or mode; the negotiation and
                            pricing, etc. We are only a listing platform and verification is up to the users only.
                        </li>
                        <li>
                            Aeione LLP has the authority to cancel/reject the listings/request made by seller & buyer
                            when it is not specific to the category (Hazardous Materials) and violating the rules and
                            regulations.
                        </li>
                        <li>
                            Aeione LLP is not responsible for cancellation/rejection of the order. The seller and buyer
                            are at their own risk and Aeione LLP is not responsible for the same.
                        </li>
                        <li>
                            Aeione LLP strictly prohibits fraudulent/fake activities and does not tolerate any such
                            activities on our platform. Any fraudulent activities if any will lead to pulling down of
                            the users’ profile. In case you wish to report any suspicious account or activity, write to
                            us on <u><a href="contact@onepagespotlight.com">contact@onepagespotlight.com</a></u>
                        </li>
                    </ul>
                    </div>

                    <div class="text-md m-t-17 m-b-20">
                    <div class="m-t-17 docbs-subtitle">10.Seller terms:</div>
                    <ul class="document-ul">
                        <li>
                            Sellers agree to list the products only as per the local laws, e-commerce policies, tax
                            guidelines, content policies, etc and we might display such information on our platform for
                            interest of our community
                        </li>
                        <li>
                            Sellers grant us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide
                            licence to host, use, distribute, modify, run, copy, publicly perform, make available,
                            display, translate and create derivative works of any Seller Content provided by you or
                            accessed by us in connection with the Seller Commerce Features, including photos and videos,
                            in connection with the Aeione LLP Products. You agree that you have all necessary rights in
                            Seller Content to grant the licence in the foregoing sentence.
                        </li>
                        <li>
                            You may provide Seller Content through various means, including via Aeione LLP APIs or
                            allowing its platforms to use automated software to retrieve information from your domains
                            and web pages or other URLs provided by you, or any entity acting on One Page Spotlight's
                            behalf, may access, index, cache, analyse or crawl, including through use of automated
                            software, the domains and web pages associated with your Seller Content in connection with
                            our Seller Commerce Features, enforcement of our Commerce Policies or both. If you provide
                            URLs or similar content in connection with Seller Content, you grant Aeione LLP, or any
                            entity acting on One Page Spotlight's behalf, the right to access, index, cache, analyze or
                            crawl the URLs and the content available through such URLs, or any portion thereof and,
                            based on your account settings, to pull updates periodically from such URLs to create,
                            augment or update your Seller Content.
                        </li>
                        <li>
                            Sellers grant Aeione LLP a non-exclusive license to pull all information across our
                            ancillary product lines, product websites and apps, features, etc.
                        </li>
                        <li>
                            Sellers shall update quantity of products or pull down the listing to mark it as available
                            or sold.
                        </li>
                        <li>
                            Sellers have an obligation to keep updated product information, listing, pictures, third
                            party ratings, document of original purchase, right pricing, verified products, responsive
                            and professional in the communication.
                        </li>
                        <li>
                            Sellers are requested to keep the inventory information up to date and respond promptly to
                            buyers seeking your services.
                        </li>
                        <li>
                            Sellers cannot create their own mailing list of users unless acquired through content via
                            product sales through TheBlueStore on reasonable consent of the user to allow the same.
                        </li>
                        <li>
                            Sellers allow Aeione LLP to use their product images, content, titles, descriptions,
                            profiles for promotional purposes via all means globally and in an unrestricted manner.
                        </li>
                        <li>
                            You are responsible for displaying any sales, privacy or other terms, information or
                            disclosures related to your Seller Content that you want to apply to your interactions with
                            Users. Any such terms, information or disclosures do not bind us and may not conflict with
                            these Seller policies.
                        </li>
                        <li>
                            We may offer to fund promotions, discounts, and other incentives directly to Users to
                            encourage engagement with Product Listings or Seller Content. You acknowledge that our use
                            of such incentives does not alter your obligations under these Seller Terms.
                        </li>
                        <li>
                            From time to time, we need to test improvements to our audiences and delivery systems, which
                            could affect how your Seller Content is displayed or your use of Seller Commerce Features or
                            other services. Our testing is designed to improve the effectiveness of your Product
                            Listings and Seller Content. We reserve the right to test when we believe that it will be
                            beneficial for Seller performance.
                        </li>
                        <li>
                            We may use automated retrieval and analysis of, and create test credentials to access and
                            use, the domains and linked pages associated with your Seller Content.
                        </li>
                        <li>
                            Any tools that we provide in connection with Seller Commerce Features, including tools to
                            allow you to view information about past transactions or to calculate default delivery rate,
                            tax rate or other data, are provided as a convenience only and you use them at your sole
                            discretion and risk. We may change the functionality of any of these tools or cease
                            providing them at our discretion. Additional terms may apply to such Seller Commerce
                            Features.
                        </li>
                        <li>
                            You are responsible for any defect or non-conformity and complying with any recall or safety
                            alert with respect to any product related to your Product Listings. You agree to immediately
                            to remove any Product Listing upon issuance of any recall or safety alert or allegation of
                            infringement of intellectual property rights with respect to products relating to your
                            Product Listings.
                        </li>
                        <li>
                            We are not responsible for managing, paying for or fulfilling any sales or customer service
                            or warranty service, managing returns or accommodations in connection with your use of a
                            Seller Commerce Feature. Any guidance that we provide regarding price for products is
                            informational only and optional.
                        </li>
                        <li>
                            We may allow Users to post content, including ratings and reviews, related to you or your
                            Seller Content. You understand that automated software may be used to present more useful
                            ratings and reviews to Users. You may not submit or cause or allow others to submit
                            illegitimate ratings or reviews and on such cases when you feel that the content may be
                            biased or incorrect you can write to us on <u><a
                                    href="support@onepagespotlight.com">support@onepagespotlight.com</a></u> with the
                            necessary
                            documentation and details.
                        </li>
                        <li>
                            You may only use Service Providers in connection with the Seller Commerce Features if they
                            act on your behalf and are bound by an agreement to protect User Data at least as much as is
                            required under these Seller Terms. A breach of these Seller Terms by any of your Service
                            Providers will be deemed a breach by you. "Service Providers" means anyone who directly or
                            indirectly provides services to you or to third parties on your behalf.
                        </li>
                        <li>
                            All the content, imagery, illustration, pricing, quantity, data, etc if found to be breached
                            for violation of IP or Copyright or against One Page Spotlight community guidelines will be
                            pulled down from the platform.
                        </li>
                        <li>
                            You may only use any sser's data, content or other information that you receive from Aeione
                            LLP in connection with your use of the Seller Commerce Features ("User Data") in accordance
                            with (a) our terms and policies, including, without limitation, our Pages, Communities and
                            Events/Showtimez Terms and One Page Spotlight Platform Terms, (b) a published privacy policy
                            that you make available to Users through Seller Commerce Features, as applicable, and (c)
                            applicable laws and regulations. To the extent that there is a conflict between or among any
                            of the above, the most restrictive term, policy, law or regulation shall apply. You may use
                            User Data (i) to support the transactions arising from the User's use of the Seller Commerce
                            Features or (ii) for any purpose for which you have obtained permission from the user or
                            otherwise have the legal basis. You may not sell or misuse User Data. User Data includes
                            data received through any Seller Commerce Features that we may at our discretion provide to
                            facilitate your communication with Users
                        </li>
                        <li>
                            You may not, in any circumstances, use the Communication Tools for marketing purposes. You
                            may not engage in direct email marketing to Users unless the User has opted in to receiving
                            marketing emails from you.
                        </li>
                        <li>
                            These Seller Terms do not create any partnership, joint venture, franchise, sales
                            representative or agency relationship between you and One Page Spotlight or an exclusive
                            relationship between us.
                        </li>
                        <li>
                            Aeione LLP does not guarantee any promotion, visibility for your content and product
                            listings and is not bound by the same.
                        </li>
                        <li>
                            Aeione LLP makes no warranty as to the results that may be obtained from the Services or
                            that the defects in the Services will be corrected. You expressly agree that you have relied
                            on the Services completely at your own discretion and risk and you agree that you will be
                            solely responsible for any financial, personal or any other damage of any kind or loss of
                            data that results from the download of such material and/or information and/or reliance on
                            the Platform, Apps and the Service. No advice or information, whether oral or written,
                            obtained by you from Aeione LLP or through the Platform or the Services will create any
                            warranty not expressly made herein. In case of any such loss, you will ensure that you
                            upload the data again on your own at your own discretion and personal decision
                        </li>
                        <li>
                            Aeione LLP is not responsible for any plagiarism, copyright, IP’, Patent, trademark breach
                            by users and will not be held responsible and liable for the same. We will not be
                            accountable for the same. However, we have a strict policy against such community guidelines
                            and any such breach can be reported to us on the platform by the users in their own power
                            and also through email by writing to us on <u><a
                                    href="copyright@onepagespotlight.com">copyright@onepagespotlight.com</a></u>. This
                            is further
                            bound by our overall Terms of Use, Privacy Policy, Cookie policy and general terms.
                        </li>
                        <li>
                            If a buyer or seller issue arises, we may resolve such issue by considering your and the
                            buyer's performance history and the specific circumstances. Any such reporting can be done
                            in writing to <a href="contact@onepagespotlight.com">contact@onepagespotlight.com</a>
                        </li>

                    </ul>
                    </div>

                    <div class="text-md m-t-17 m-b-20">
                    <div class="m-t-17 docbs-subtitle">11.One Page Spotlight Art Nirbhar Bazaar</div>
                    <ul class="document-ul">
                        <li>
                            One Page Spotlight Art Nirbhar Bazaar is our annual digital IP created to promote
                            TheBlueStore and bring the community together and closer to each other and share access to
                            information, original products and support the local and global community.
                        </li>
                        <li>
                            All rules and Terms and conditions apply to the Art Nirbhar Bazaar which is a sub feature
                            under TheBlueStore.
                        </li>
                        <li>
                            Retaining of any image or content after the flea market is subject to the larger and overall
                            terms and conditions of The Blue Store and platform as a whole.
                        </li>
                        <li>
                            Art Nirbhar Bazaar is an annual initiative and we hold the right to pull down the feature
                            any time and put it up later. We don’t have obligations to allow this year’s participants to
                            be permitted to participate in the future years. It is purely on One Page Spotlight’s sole
                            discretion.
                        </li>

                    </ul>
                    </div>

                    <div class="text-md m-t-17 m-b-20">
                    <div class="m-t-17 docbs-subtitle">12. Geographic Restrictions</div>
                    <p class="inner__list">We make no representation that the Platform, App, all products, material,
                        and/or the information
                        provided through the Services, are appropriate for export and use in locations outside India or
                        all
                        territories within India. The registered users and visitors access the Platform and the Services
                        on
                        their own initiative and are responsible for compliance with all applicable laws, including
                        local
                        laws, export/import laws, rules and regulations. Certain third parties affiliated with us may
                        provide services and operate websites that may be linked from the Platform and which are
                        governed by
                        their own terms of use which may be subject to the laws of other local or international
                    </p>
                    </div>

                    <div class="text-md m-t-17 m-b-20">
                    <div class="m-t-17 docbs-subtitle">13. Governing Law and Venue</div>
                    <p class="inner__list">All matters relating to your access to or use of the Platform, App, Content
                        or Service, including all disputes, shall be governed by and construed in accordance with the
                        laws of India, without regard to its conflicts of law principles. The exclusive jurisdiction and
                        venue with respect to any action or suit arising out of or pertaining to the subject matter
                        hereof shall be the courts of competent jurisdiction located in Bangalore, Karnataka, India
                        notwithstanding the fact that the Platform, Services or the Content thereon may be accessible in
                        multiple jurisdictions’. Any claim arising out of or in connection with your use of or inability
                        to use the Platform, App, Content, products or services must be brought within one (1) year
                        after the event or such claim is barred. This Agreement will not be governed by the United
                        Nations Convention on Contracts for the International Sale of Goods.
                    </p>

                    </div>

                    <div class="text-md m-t-17 m-b-20">
                    <div class="m-t-17 docbs-subtitle">14. Compliance</div>
                    <p class="inner__list">You agree to comply with all relevant local, state, national and
                        international laws, statutes, ordinances and regulations that apply to your access and use of
                        the Platform, products and Services, and the Content that you post. You represent and warrant
                        that (i) you are not located in a country that is subject to a U.S. Government embargo, or that
                        has been designated by the U.S. Government as a “terrorist supporting” country; and (ii) you are
                        not listed on any U.S. Government list of prohibited or restricted parties.
                    </p>

                    </div>

                    <div class="text-md m-t-17 m-b-20">
                    <div class="m-t-17 docbs-subtitle">15. Assignment</div>
                    <p class="inner__list">AEIONE LLP is the current owner and operator of the Platform, App and the
                        Services in India. We shall notify you through any posting or notifications on our website or
                        the Platforms of any transfer or assignment of our rights and duties under this Agreement to any
                        third party we deem fit. Once transferred or assigned, your relationship will be with the
                        assignee or transferor and not with us.
                    </p>

                    </div>

                    <div class="text-md m-t-17 m-b-20">
                    <div class="m-t-17 docbs-subtitle">16. No Waiver</div>
                    <p class="inner__list">Neither failure nor delay on the part of our services to exercise or enforce
                        any right, remedy, power or privilege hereunder nor course of dealing between the parties shall
                        operate as a waiver thereof, or of the exercise of any other right, remedy, power or privilege.
                        No term of this Agreement shall be deemed waived, and no breach consented to unless such waiver
                        or consent shall be in writing and signed by the party claimed to have waived or consented. No
                        waiver of any rights or consent to any breaches
                    </p>

                    </div>

                    <div class="text-md m-t-17 m-b-20">
                    <div class="m-t-17 docbs-subtitle">17. Severability</div>
                    <p class="inner__list">If any provision in this Agreement is held invalid or unenforceable under
                        applicable law, the remaining provisions shall continue in full force and effect.
                    </p>

                    </div>


                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
</section>