<section class="o-post-inner-sec">
	<div class="container">
		<div class="o-posts-inner-page o-post-inner-profile-head">
			<div class="o-posts-inner-page__left">
				<div class="o-card feed o-post-inner-minheight">
					<div class="feed-head">
						<a *ngIf="marketplace?.ownerObj && marketplace?.ownerObj?.username" id="bluestore-profile-imgage"
							[routerLink]="['/', marketplace?.ownerObj?.username]" class="o-avatar">
							<img [src]="opspot.cdn_url + 'icon/' + marketplace?.ownerObj?.guid + '/medium/' + getOwnerIconTime()"
								alt="">
						</a>
						<div class="o-avatar__info">
							<div class="o-avatar-det-block">
								<span class="text-lg grey o-posts-det" id="bluestore-details">
									<a class="o-avatar__name" [routerLink]="['/', marketplace?.ownerObj?.username]">{{marketplace?.ownerObj?.name}}</a>
									created a <a class="grey-dark f500" id="#bluestore-post">#Marketplace</a>
								</span>
							</div>
							<div class="grey m-l-8 o-posts-tym" *ngIf="marketplace?.time_created">
								<span>{{marketplace?.time_created * 1000 | date:'medium'}}</span>
								<!-- <span class="o-posts-public-private" *ngIf="isTranslatable"
									(click)="translateToggle = true;"><i class="icon-public"></i>
								</span> -->
							</div>
						</div>
						<div class="o-feed-head-action o-post-inner-profile-button">
							<button type="button" class="btn btn-primary btn-sm btn-boost" *ngIf="session.getLoggedInUser().guid == marketplace?.owner_guid" 
								  (click)="showBoost()" id="bluestore-boost">Boost</button>
							<a class="head-action__link" (click)="togglePin()" id="bluestore-bookmark-post">
								<m-tooltip icon="turned_in" *ngIf="marketplace?.bookmark">
									Bookmarked
								</m-tooltip>
								<m-tooltip *ngIf="!marketplace?.bookmark" icon="turned_in_not">
									Bookmark
								</m-tooltip>
							</a>
							<m-post-menu *ngIf="marketplace" [entity]="marketplace" [canDelete]="canDelete"
								[isTranslatable]="isTranslatable" [options]="menuOptions"
								(optionSelected)="menuOptionSelected($event)">
								<ng-container post-menu>
									<ng-content select="[post-menu]"></ng-content>
								</ng-container>
							</m-post-menu>
						</div>
					</div>
					<div class="o-post-inner-page-myjourney-image">
						<img [src]="largeImage" (error)="opspot.cdn_assets_url + 'assets/logos/logo.svg'" alt=""
							*ngIf="!showVideo">
						<m-video *ngIf="showVideo" style="background:#000;" [muted]="false"
							[poster]="videoData.thumbnail_src"
							[src]="[{ 'res': '360', 'uri': 'api/v1/media/' + videoData.guid + '/play', 'type': 'video/mp4' }]"
							[guid]="videoData.guid" [torrent]="[{ res: '360', key: videoData.guid + '/360.mp4' }]"
							#player>
							<!-- <video-ads [player]="player" *ngIf="marketplace??.monetized"></video-ads> -->
						</m-video>
					</div>
					<div class="o-posts-inner-page-myjourney-padding">
						<div class="feed-media post-view-style" *ngIf="marketplace?.custom_data.length <= 5">
							<a *ngFor="let media of marketplace?.custom_data; let i = index;" class="feed-media__link">
								<img *ngIf="media.entity_type !== 'video'" [src]="media.src" alt=""
									class="feed-media__img" (click)="showImage(i)">
								<img *ngIf="media.entity_type === 'video'" [src]="media.thumbnail_src" alt=""
									class="feed-media__img">
								<div class="feed-media-overlay" *ngIf="media.entity_type === 'video'"
									(click)="showImage(i,media)">
									<div class="feed-media-video__icon"><img src="assets/svg/playfill.svg" alt=""></div>
								</div>
							</a>
						</div>
						<div class="pos-rel" *ngIf="marketplace?.custom_data.length > 5">
							<i class="arrow-icons icon-arrow-left-circle left" (click)="slickModal.slickPrev()"></i>
							<ngx-slick-carousel class="carousel feed-media post-view-style" #slickModal="slick-carousel"
								[config]="slideConfig" (init)="slickInit($event)" (breakpoint)="breakpoint($event)"
								(afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
								<div ngxSlickItem *ngFor="let media of marketplace?.custom_data; let i = index;"
									class="slide">
									<a class="feed-media__link">
										<img [src]="media.src" alt="" class="feed-media__img"
											*ngIf="media.entity_type != 'video'" (click)="showImage(i)">
										<img *ngIf="media.entity_type === 'video'" [src]="media.thumbnail_src" alt=""
											class="feed-media__img">
										<div class="feed-media-overlay" *ngIf="media.entity_type === 'video'"
											(click)="showImage(i,media)">
											<div class="feed-media-video__icon">
												<img src="assets/svg/playfill.svg" alt="">
											</div>
										</div>
									</a>
								</div>
							</ngx-slick-carousel>
							<i class="arrow-icons icon-arrow-right-circle right" (click)="slickModal.slickNext()"></i>
						</div>
					</div>
					<div class="o-posts-inner-marketplace-reachout">
						<div class="feed-card-event-block">
							<div class="feed-card-event-block__left" id="bluestores-details">
								<h5 class="f500 mb-3 word-br" *ngIf="marketplace?.title" id="bluestore-title">
									{{ marketplace?.title}}
								</h5>
								<div class="text-md white-space word-break" *ngIf="marketplace?.blurb">
									<!-- <span class="primary">#Marketplace</span> -->
									<m-translate 
										[open]="translateToggle" 
										[entity]="marketplace" 
										[translateEvent]="translateEvent"
										(onTranslateInit)="propagateTranslation($event)" 
										(onTranslate)="translateToggle = false"
										(onTranslateError)="translateToggle = false" 
										#translate>
									</m-translate>
									<span [innerHtml]="marketplace.blurb | safe"></span>
								</div>
								<div class="text-rate" id="bluestore-price">
									{{ marketplace?.currency  }} {{ marketplace?.price  }} /- <span class="text-md f500">(per piece)</span>
								</div>
							</div>
							<div class="feed-card-event-block__right ">
								<m-messenger--channel-button
									*ngIf="session.getLoggedInUser().guid != marketplace?.owner_guid"
									[user]="user"
									[message]="reachoutMessage"
									[label]="'Reach Out'"
								></m-messenger--channel-button>
							</div>
						</div>
					</div>
					<div class="o-posts-inner-page-action">
						<div class="o-posts-inner-page-action__details">
							<!-- <div class="o-latest-channel-info-head__members members-list">
								<div class="members-circle members-circle1"><img src="assets/demo/avatar.png" alt="">
								</div>
								<div class="members-circle members-circle2"><img src="assets/demo/avatar.png" alt="">
								</div>
								<div class="members-circle members-circle3"><img src="assets/demo/avatar.png" alt="">
								</div>
							</div> -->
							<div class="text-sm grey" id="bluestore-liked">{{count}} liked this post</div>
							<div class="text-sm grey m-16" id="bluestore-shared">{{marketplace?.reminds}} shared this post</div>
							<div class="text-sm grey m-16" *ngIf="marketplace?.wire_totals" id="bluestore-contributed">
								{{marketplace?.wire_totals.tokens | token:18 | abbr}} contributed this post</div>
							<div class="text-sm grey m-16" id="bluestore-viewed">{{marketplace?.impressions}} viewed this post</div>
						</div>
						<div class="o-posts-inner-page-action__icons">
							<button type="button" class="btn btn-outline-primary btn-block btn-boost-mob-c" *ngIf="session.getLoggedInUser().guid == marketplace?.owner_guid" 
							(click)="showBoost()" id="bluestore-boost">Boost</button>
							<a class="icon-posts-box">
								<opspot-button-thumbs-up *ngIf="marketplace" (liked)="liked($event)" [large]="'true'"
									[object]="marketplace"></opspot-button-thumbs-up>
							</a>
							<a class="icon-posts-box">
								<!-- <opspot-button-remind *ngIf="marketplace" [object]="marketplace" [large]="'true'">
								</opspot-button-remind> -->
								<m-modal-remind-composer *ngIf="remindOpen"
								[object]="marketplace?.remind_object ? marketplace?.remind_object : marketplace"
								[open]="true"
								[default]="remindMessage"
								(closed)="remindOpen = false"
								(post)="remindPost($event)"
								></m-modal-remind-composer>
								<m-share-menu
								[entity]="marketplace"
								[options]="menuOptions"
								(optionSelected)="shareOptionSelected($event)"
								[large]=true
								></m-share-menu>
							</a>
							<a class="icon-posts-box" *ngIf="session.getLoggedInUser().guid != marketplace?.owner_guid">
								<m-wire-button
									[object]="marketplace?.remind_object ? marketplace?.remind_object : marketplace"
									(done)="wireSubmitted($event)" [large]="true">
								</m-wire-button>
							</a>
						</div>
					</div>
					<opspot-comments *ngIf="marketplace" [object]="marketplace" [focusOnInit]="true"
						[focusedCommentGuid]="focusedCommentGuid" [canEdit]="canDelete">
					</opspot-comments>
				</div>
			</div>
			<div class="o-posts-inner-page__right hidden-mob">
				<opspot-widget [entityType]="'opportunity'"></opspot-widget>
				<opspot-widget [entityType]="'event'"></opspot-widget>
			</div>
		</div>
	</div>
</section>
