<section class="o-post-inner-sec">
	<div class="container">
		<div class="o-posts-inner-page">
			<div class="o-posts-inner-page__left">
				<div class="o-card feed o-post-inner-minheight">
					<div class="feed-head">
						<a class="o-avatar"><img src="assets/demo/avatar.png" alt=""></a>
						<div class="o-avatar__info">
							<div class="o-avatar-det-block">
								<span class="text-lg grey o-posts-det"><a class="o-avatar__name">Gowtham Kumar</a>
								added 4 medias to <a class="grey-dark f500">#Marketplace</a></span>
							</div>
							<div class="grey m-l-8 o-posts-tym">
								<span>2m ago</span> 
								<span class="o-posts-public-private"><i class="icon-public"></i></span>
							</div>
						</div><!--avatar info end-->
						<div class="o-feed-head-action">
							<a href="#" class="head-action__link">
								<img src="assets/svg/bookmark.svg" alt="" class="head-action__icon hidden-mob">
							</a>
							<div class="o-option-drop">
								<div onclick="myFunction()" class="o-option-drop__btn head-action__link"><img src="assets/svg/more-horizontal.svg" alt="" class="head-action__icon"></div>
								<div id="o-option-dropdown" class="o-option-drop__block">
									<a href="#">Report</a>
									<a href="#">Block</a>
								</div>
							</div>
							<!-- <a href="#" class="head-action__link">
								<img src="assets/svg/more-horizontal.svg" alt="" class="head-action__icon">
							</a> -->
						</div><!-- head action end -->
					</div><!-- feed head end -->
					<div class="o-post-inner-page-myjourney-image">
						<img src="assets/demo/m3.jpg" alt="">
					</div><!--myjourney-->
					<div class="o-posts-inner-page-myjourney-padding">
						<div class="feed-media post-view-style">
							<a class="feed-media__link">
								<img src="assets/demo/m2.jpg" alt="" class="feed-media__img">
							</a>
							<a class="feed-media__link"><img src="assets/demo/m1.jpg" alt="" class="feed-media__img"></a>
							<a class="feed-media__link">
								<img src="assets/demo/m3.jpg" alt="" class="feed-media__img">
							</a>
						</div><!--feed media end-->
					</div>
					<div class="o-posts-inner-marketplace-reachout">
						<div class="feed-card-event-block">
							<div class="feed-card-event-block__left">
								<h5 class="f500 mb-3">
									Fasttrack Sunglasses
								</h5>
								<div class="text-md">
									<span class="primary">#MarketPlace</span> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
									Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
								</div>
								<div class="text-rate">
									₹ 999.00/- <span class="text-md f500">(per piece)</span>
								</div>
							</div>
							<div class="feed-card-event-block__right ">
								<button type="button" class="btn btn-primary btn-lg">Reach Out</button>
							</div>
						</div>
					</div>
					<div class="o-posts-inner-page-action">
						<div class="o-posts-inner-page-action__details">
							<div class="o-latest-channel-info-head__members members-list">
								<div class="members-circle members-circle1"><img src="assets/demo/avatar.png" alt=""></div>
								<div class="members-circle members-circle2"><img src="assets/demo/avatar.png" alt=""></div>
								<div class="members-circle members-circle3"><img src="assets/demo/avatar.png" alt=""></div>
							</div>
							<div class="text-sm grey">+24 liked this post</div>
							<div class="text-sm grey m-16">46 shared this post</div>
							<div class="text-sm grey m-16">13 contributed this post</div>
							<div class="text-sm grey m-16">2k viewed this post</div>
						</div>
						<div class="o-posts-inner-page-action__icons">
							<div class="icon-posts-box">
								<span class="icon-heart"></span><span class="text-md f500">Like</span>
							</div>
							<div class="icon-posts-box">
								<span class="icon-share-2"></span><span class="text-md f500">Share</span>
							</div>
								<div class="icon-posts-box">
									<span class="icon-coins"></span><span class="text-md f500">Contribute</span>
								</div>
						</div>
					</div><!--action ends-->
					<div class="o-comments-compose">
						<div class="o-avatar-sm">
							<img src="assets/demo/avatar.png" alt="">
						</div>    
						<div class="o-comments-composer">
							<textarea rows="1" placeholder="Write a comment"></textarea>
						</div>
					</div>
					<div class="o-comments-block">
						<div class="o-comments">
							<a href="#" class="o-comments__avatar o-avatar-sm"><img src="assets/demo/avatar.png" alt=""></a>
							<div class="o-comments__data">
								<a class="o-commenter text-md f500">Mythili Rajendran</a>
								<div class="o-comments__txt">
									Far far away, behind the word mountains, far from the countries 
									Vokalia and Consonantia, there live the blind texts far from the 
									countries Vokalia and Consonantia, there live the blind texts  
								</div>
								<div class="o-comments__action">
									<a href="#">
										<div class="o-like-ico"><img src="assets/svg/heart.svg" alt="" ></div>
										<div class="text-sm grey">4 Likes</div>
									</a>
									<a href="#">
										<div class="dot"></div><div class="text-sm grey m-l-7">Reply</div>
									</a>
									<a href="#">
										<div class="dot"></div><div class="text-sm grey o-comments__tym m-l-7">15 mins</div>
									</a>
								</div>
							</div>
						</div>
						<div class="o-comments o-comments--reply">
							<a href="#" class="o-comments__avatar o-avatar-sm"><img src="assets/demo/avatar.png" alt=""></a>
							<div class="o-comments__data">
								<a class="o-commenter text-md f500">Mythili Rajendran</a>
								<div class="o-comments__txt">
									Far far away, behind the word mountains, far from the countries 
									Vokalia and Consonantia, there live the blind texts far from the 
									countries Vokalia and Consonantia, there live the blind texts
								</div>
								<div class="o-comments__action">
									<a href="#">
										<div class="o-like-ico"><img src="assets/svg/heart.svg" alt="" ></div>
										<div class="text-sm grey">4 Likes</div>
									</a>
									<a href="#">
										<div class="dot"></div><div class="text-sm grey m-l-7">Reply</div>
									</a>
									<a href="#">
										<div class="dot"></div><div class="text-sm grey o-comments__tym m-l-7">15 mins</div>
									</a>
								</div>
							</div>
						</div>
						<div class="o-comments">
							<a href="#" class="o-comments__avatar o-avatar-sm"><img src="assets/demo/avatar.png" alt=""></a>
							<div class="o-comments__data">
								<a class="o-commenter text-md f500">Mythili Rajendran</a>
								<div class="o-comments__txt">
									Far far away, behind the word mountains, far from the countries 
									Vokalia and Consonantia, there live the blind texts far from the 
									countries Vokalia and Consonantia, there live the blind texts 
								</div>
								<div class="o-comments__action">
									<a href="#">
										<div class="o-like-ico"><img src="assets/svg/heart.svg" alt="" ></div>
										<div class="text-sm grey">4 Likes</div>
									</a>
									<a href="#">
										<div class="dot"></div><div class="text-sm grey m-l-7">Reply</div>
									</a>
									<a href="#">
										<div class="dot"></div><div class="text-sm grey o-comments__tym m-l-7">15 mins</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="o-posts-inner-page__right hidden-mob">
				{% include components/opportunities_sidebar.html %}
				{% include components/trending_post.html %}  
			</div>
		</div>
	</div>
</section>