@import "src/assets/helpers/variables";
@import "node_modules/sass-mq/_mq";

.o-reg-proffession-body {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__title {
    max-width: 410px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__padng {
    padding: 23px 0 45px;
  }
}
//button style
.o-reg-proffession-btn {
  border: 1px solid #0288d1;
  border-radius: 16px;
  padding: 6px 22px;
  line-height: 22px;
  margin: 8px 6px;
  background: transparent;
  color: $primary;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  &:hover,
  &:active {
    background-color: #0288d1;
    color: #fff;
  }
  &:focus {
    outline: none;
  }
}
//skill main css
.o-reg-proffession {
  width: 796px;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 64px 55px;
  position: relative;

  .close {
    position: absolute;
    right: 35px;
    top: 35px;
  }
}

// header css
.o-reg-proffession-header {
  width: 100%;
  position: relative;
}
// button list css
.o-reg-proffession-body__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 167px;
  .active {
    background-color: #0288d1;
    color: #fff;
  }
  .icon-x {
    line-height: 22px;
    font-size: 15px;
  }
}
//button css
.o-reg-proffession-continue {
  &__btn {
    border-radius: 4px;
    // background-color: #0288d1;
    color: #fff;
    padding: 9px 70px;
    border: 1px solid;
    line-height: 22px;
    margin: 42px 0 0;
    &:focus {
      outline: none !important;
    }
  }
}
// skip button css
.o-reg-proffession-skip {
  position: absolute;
  // padding:64px 55px;
  bottom: 75px;
  right: 64px;
}
//Responsive css for page

@include mq($until: $tablet) {
  .o-reg-proffession {
    padding: 24px 15px 16px;
    width: 100%;
    height: calc(100vh - 96px);
  }
  .o-reg-proffession-mob-header {
    border-radius: 0;
    position: relative;
    z-index: 2;
    box-shadow: 0 6px 10px 0 rgba(144, 164, 174, 0.16),
      0 1px 12px 0 rgba(144, 164, 174, 0.18),
      0 3px 5px 0 rgba(144, 164, 174, 0.2);
  }
  .o-reg-proffession-skip {
    position: absolute;
    top: -35px;
    right: 20px;
    padding: 0;
  }
  .o-reg-proffession-body__padng {
    padding: 18px 0 50px;
  }
  .o-reg-proffession-body__list {
    &.scroll {
      height: calc(100vh - 280px);
      overflow: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  .o-reg-proffession-continue__btn {
    margin: 84px 0 0;
    width: 290px;
  }
  .o-reg-proffession-btn {
    margin: 7px 6px;
  }
  .o-reg-proffession-continue {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 69.88%
    );
    position: absolute;
    width: 100%;
    bottom: -25px;
  }
}

.o-reg-proffession-textarea {
  width: 100%;
  max-width: 417px;
  min-height: 103px;
  border: 1px solid $grey;
  border-radius: 4px;
  padding: 9px 17px;
  color: $grey;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: left;
  position: relative;
  &--flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
  }
}
.proffession-tag {
  min-height: 24px;
  background: #eceff1;
  padding: 2px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 8px;
  &__name {
    color: #3f3356;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 20px;
  }
}
.profession-tag-delete {
  margin-left: 9px;
  display: flex;
  i {
    font-size: 12px;
  }
}

// profession list drop

.proffession-list {
  width: 100%;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 2px 0 rgba(144, 164, 174, 0.16),
    0 2px 2px 0 rgba(144, 164, 174, 0.16), 0 1px 3px 0 rgba(144, 164, 174, 0.16);
  overflow: hidden;
  padding: 10px 0px;
  position: absolute;
  top: 80%;
  left: 0;
}
.proffession {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  &__item {
    list-style-type: none;
    color: #263238;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 18px;
    padding: 5px 13px;
    cursor: pointer;
    &:hover,
    &:focus {
      background: #eceff1;
    }
  }

  .mr-bt-pro {
    margin-bottom: 20px;
  }
}
