<div class="o-reg-proffession">
    <!-- <div class="close">
        <i class="icon-x"></i>
    </div> -->
    <div class="o-reg-proffession-body">
        <div class="o-reg-proffession-body__title">
            <div class="text-h3 f500">
                Choose your profession here
            </div>
            <div class="text-md o-reg-proffession-body__padng">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aenean commodo ligula eget dolor.
            </div>
        </div>
            <tag-input 
                required 
                style="border:1px solid #959595;" 
                [(ngModel)]='model.professions'
                name="skills"
                theme='minimal'>
            <tag-input-dropdown 
                [showDropdownIfEmpty]="true" 
                [minimumTextLength]=5 
                [autocompleteItems]="data"
                [zIndex]=999999999999
                >
            </tag-input-dropdown>
            </tag-input>
            <div class="o-reg-proffession-continue">
                <button id="proffessionContinue" class="o-reg-proffession-continue__btn" (click)="onSubmit()">Continue</button>
            </div>
            <!-- <div class="o-reg-proffession-skip">
                <a class="text-md grey" (click)="close()">
                    skip
                </a>
            </div> -->
    </div>
</div>