<div class="container">
        <div class="o-community-landing-block">
          <div class="o-community-landing-block__mob-header">
            <h4 class="f500">Organization</h4>
            <a routerLink="/organization/create" *ngIf="session.isLoggedIn() && !organization" class="text-lg primary f500">Create</a>
          </div>
          <div class="o-community-landing-block__mob-tab">
            <div class="o-cmnity-landing-block">
              <div class="o-cmnity-landing-block__tab">
                <div class="tabs-cmnity-landing">
                  <ul class="tabs-list cmnity-landing-tabs">
                    <li [class.active]="showMyCommunities == false"><a (click)="communityTabsToggle()">Discover</a></li>
                    <li [class.active]="showMyCommunities == true"><a (click)="communityTabsToggle()">My Organization</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="o-community-landing-block__sidebar hidden-mob">
            <h4 class="f500" id="list-communities-header">Organization</h4>
            <button type="button" id="list-create-community" class="btn btn-primary btn-block" *ngIf="session.isLoggedIn() && !organization && !inProgress"
              routerLink="/organization/create">Create Organization</button>            
            <div class="text-lg f500 mb-17" id="list-communities-manage">Organizations you manage</div>
            <div *ngFor="let entity of myOrganizations">
              <div class="o-community-landing-block-manage" *ngIf="(entity['is:creator'] || entity['is:admin']) && entity['entity_type']=='organization'" 
                id="list-community-manage-list"
                [routerLink]="['/organization/profile', entity.guid]">
                <div class="o-community-landing-block-manage__avatar">
                  <img src="{{opspot.cdn_url}}fs/v1/avatars/{{entity.guid}}/large/{{entity?.icon_time}}" alt="" class="org-profile">
                </div>
                <div class="text-md f500 word-br elipse elipse--w-130">
                  {{entity.name}}
                </div>
              </div>
            </div>
            <div class="o-community-landing-block-your" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="loadMemberOrganizations()"
            [scrollWindow]="false">
              <div class="text-lg f500 mb-17" id="list-community-header">Organizations you’re in</div>
              <div *ngFor="let entity of memberOrganizations">
                <div class="o-community-landing-block-manage"
                  id="list-community-joined"
                  *ngIf="entity['is:member'] && !entity['is:owner'] && entity['entity_type']=='organization'"
                  [routerLink]="['/organization/profile', entity.guid]">
                  <div class="o-community-landing-block-manage__avatar">
                    <img src="{{opspot.cdn_url}}fs/v1/avatars/{{entity.guid}}/large/{{entity?.icon_time}}" alt="" class="org-profile">
                  </div>
                  <div class="text-md f500 word-br elipse elipse--w-130">
                    {{entity.name}}
                  </div>
                </div>
              </div>
            </div>
            <div class="m-infinite-scroll-manual"
                id="infinite-scroll-nothing-more-to-load"
                [hidden]="moreData2">
              <ng-container i18n="@@COMMON__INFINITE_SCROLL__NOTHING_MORE">Nothing more to load</ng-container>
            </div>            
          </div>
          <div class="o-community-landing-block__main" *ngIf="!showMyCommunities">
            <div class="o-cmnity-landing-tab-content">
              <div class="tabs-cmnity-landing">
                <div id="discover" class="tab active">
                  <div class="o-community-landing-block-design">
                    <m-organization--tile *ngFor="let entity of entities" class="o-community-main-card" [entity]="entity"></m-organization--tile>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="o-community-landing-block-design" *ngIf="showMyCommunities">
            <div id="communities" class="tab" *ngFor="let entity of myOrganizations">
              <m-organization--tile *ngIf="entity['is:member'] && entity['is:creator'] && entity['entity_type']=='organization'"
                [entity]="entity" class="o-community-main-card"></m-organization--tile>
            </div>
          </div>
        </div>
        <infinite-scroll
         distance="25%"
         (load)="load()"
         [moreData]="moreData"
         [inProgress]="inProgress">
        </infinite-scroll>
      </div>

      <style>
        .org-profile {
          border-radius: 4px !important;
        }
      </style>
      
      

       