<!-- My journey -->

<div class="o-card journey">
    <div class="journey-media">
        <ng-container *ngFor="let list of feed | slice:0:4; let i=index">
            <a class="journey-media__one" *ngIf="i===0" [ngStyle]="{'background': 'url(list?.custom_data[0]?.thumbnail_src)', 'background-size': 'cover'}">
                <div class="journey-overlay">
                    <div class="journey-media__play-ico">
                        <img src="assets/svg/playfill.svg" alt="">
                    </div>
                </div>
            </a>
            <a class="journey-media__two" style="background:url(assets/demo/m2.jpg)no-repeat; background-size: cover;">
                <div class="journey-overlay">
                    <div class="journey-media__play-ico">
                        <img src="assets/svg/playfill.svg" alt="">
                    </div>
                </div>
            </a>
            <a class="journey-media__three"
                style="background:url(assets/demo/m3.jpg)no-repeat; background-size: cover;">
                <div class="journey-overlay">
                    <div class="journey-media__play-ico">
                        <img src="assets/svg/playfill.svg" alt="">
                    </div>
                </div>
            </a>
            <a class="journey-media__four" style="background:url(assets/demo/m2.jpg)no-repeat; background-size: cover;">
                <div class="journey-overlay">
                    <div class="journey-media__play-ico">
                        <img src="assets/svg/playfill.svg" alt="">
                    </div>
                </div>
            </a>
        </ng-container>
    </div><!-- journey media end -->
    <div class="journey__add">
        <a href="addpost.html" class="journey-add__link">
            <div class="journey-add__icon">
                <img src="https://cdn.onepagespotlight.com/v2/svg/ico_create-plus.svg" alt="">
            </div>
            <div class="journey-add__txt text-md primary">
                Add Journey
            </div>
        </a>
    </div><!-- journey add end -->
</div>