<div class="o-community-members-info">
    <div [routerLink]="['/', user.username]" class="o-community-members-info-prof">
      <div class="o-community-members-info-prof__avatar o-avatar-md">
          <img src="{{opspot.cdn_url}}icon/{{user.guid}}/{{avatarSize}}/{{user.icontime}}" alt="img">
      </div>
      <div  id="username"  class="caption-bold">
          {{user.name}}
      </div>
    </div>
    <div class="o-community-members-info__option">
      <button *ngIf="user['is:admin']" id="appuser-admin" type="button" class="btn btn-outline-primary btn-xs disabled">admin</button>
      <button *ngIf="user['is:owner']" id="appuser-admin" type="button" class="btn btn-outline-primary btn-xs disabled">owner</button>
      <button *ngIf="user['is:moderator']" id="appuser-admin" type="button" class="btn btn-outline-primary btn-xs disabled">moderator</button>
      <a>
     <ng-content></ng-content>
      </a>
    </div>
</div>