<!-- <div class="m-page">
  <div class="m-page--sidebar">
    <m-wallet--balance-tokens></m-wallet--balance-tokens> -->
<!-- 
    <div class="m-page--sidebar--navigation">
 
      <a class="m-page--sidebar--navigation--item"
        routerLink="/token"
        routerLinkActive="m-page--sidebar--navigation--item-active"
      >
        <i style="font-size: 22px !important;" class="icon-shopping-cart ">
                
        </i>
        <span i18n="@@WALLET__TOKENS__PURCHASE">Buy Tokens</span>
      </a> 
  
      <a class="m-page--sidebar--navigation--item"
        routerLink="/wallet/tokens/transactions"
        routerLinkActive="m-page--sidebar--navigation--item-active"
      >
        <i class="material-icons">history</i>
        <span i18n="@@WALLET__TOKENS__TRANSACTIONS">Transactions</span>
      </a>

      <a class="m-page--sidebar--navigation--item"
        routerLink="/wallet/tokens/withdraw"
        routerLinkActive="m-page--sidebar--navigation--item-active"
      >
        <i class="material-icons">local_atm</i>
        <span i18n="@@WALLET__TOKENS__WITHDRAW">Withdraw</span>
      </a>

      <a class="m-page--sidebar--navigation--item"
        routerLink="/wallet/tokens/contributions"
        routerLinkActive="m-page--sidebar--navigation--item-active"
      >
        <i class="material-icons">stars</i>
        <span i18n="@@WALLET__TOKENS__CONTRIBUTIONS">Contributions</span>
      </a> -->

      <!-- <a class="m-page--sidebar--navigation--item"
        routerLink="/wallet/tokens/addresses"
        routerLinkActive="m-page--sidebar--navigation--item-active"
      >
        <i class="material-icons">settings</i>
        <span i18n="@@WALLET__TOKENS__ADDRESSES">Addresses</span>
      </a> -->
      <!-- <a class="m-page--sidebar--navigation--item"
        routerLink="/wallet/tokens/101"
        routerLinkActive="m-page--sidebar--navigation--item-active"
      >
        <i class="material-icons">help</i>
        <span i18n="@@WALLET__TOKENS__TOKEN_101">Token 101</span>
      </a> -->
      <!-- <a class="m-page--sidebar--navigation--item"
        routerLink="/wallet/tokens/testnet"
        routerLinkActive="m-page--sidebar--navigation--item-active"
      >
        <i class="material-icons">link</i>
        <span i18n="@@WALLET__TOKENS__TESTNET_TOKENS">Testnet Tokens</span>
      </a> -->
      <!-- <a class="m-page--sidebar--navigation--item"
        (click)="invite.open = true"
      >
        <m-modal-invite #invite [open]="invite.open" (closed)="invite.open = false"></m-modal-invite>

        <i class="material-icons">assignment</i>
        <span i18n="@@M__ACTION__REFERRAL_LINK">Referral Link</span>
      </a>
    </div>
  </div> -->

  <!-- <div class="m-page--main">
    <m-token--onboarding *ngIf="showOnboarding"></m-token--onboarding>
    <router-outlet></router-outlet>
  </div>
</div> -->


<div class="container" style="margin-top:6em;">
  <div class="o-wallet-topbar">
    <div class="o-wallet-topbar-left">
        <h3 class="f700" id="token-text">Wallet
            <div class="o-payout-tym hidden-above-tablet">
                <span class="caption-bold f700">{{ overview.nextPayout | timediff:true }} <i class="icon-info"></i></span>
            </div>
        </h3>
        <div class="text-sm m-t-6">
          Wallet is a single place to check all your transactions, rewards, withdrawals, next payout, contributions and coins available.
        </div>
        <div class="o-payout-tym hidden-under-tablet">
            <span class="caption-bold f700">{{ overview.nextPayout | timediff:true }} <i class="icon-info"></i>
            
            </span>
        </div>
    </div><!-- wallet topbar left end-->
    <div class="o-wallet-topbar-right">
        <div class="o-wallet-token-block">
            <div id="token-title" class="text-md primary">Coins</div>
            <div id="token-count" class="text-h3 f700 primary"><m-wallet--balance-tokens id="coins"></m-wallet--balance-tokens></div>
        </div>
        <a (click)="buyTokens()" id="token-buy-coins" class="btn btn-primary btn-sm o-btn--wallet-buytoken">Buy Coins</a>
    </div><!-- wallet buytoken part end -->
</div>
<div class="o-wallet-block">
  <div class="o-wallet-block__tab">
    <div class="tabs-wallet">
        <ul class="tabs-list wallet-tabs">
            <li routerLinkActive="active" routerLink="/wallet/tokens/overview"><a id="token-overview">Overview</a></li>
            <li  routerLink="/wallet/tokens/transactions"
            routerLinkActive="active"><a id="token-transaction">Transaction</a></li>
            <li  routerLinkActive="active" routerLink="/wallet/tokens/contributions" ><a id="token-contribution">Contribution</a></li>
            <!-- <li  routerLinkActive="active" routerLink="/wallet/tokens/withdraw" ><a id="token-withdraw">Withdraw</a></li> -->
        </ul>
    </div><!--tab end-->
</div>
<div class="o-wallet-block__content">
  <div class="tabs-wallet">
    <!-- <m-token--onboarding *ngIf="showOnboarding"></m-token--onboarding> -->
    <router-outlet></router-outlet>
  </div>
</div>
</div>

</div>