<!-- <div class="m-toolbar">
  <div class="m-topbar--row">
    <div class="m-topbar--navigation m-topbar--navigation--text-only">
      <a class="m-topbar--navigation--item"
        routerLink="/boost/console/newsfeed"
        routerLinkActive="m-topbar--navigation--item-active"
      >
        <span i18n="@@M__FEATURE__NEWSFEED_PLURAL">Newsfeed</span>
        <m-tooltip icon="help" i18n="@@OPSPOT__BOOST_CONSOLE__TOPBAR__NEWSFEED_TOOLTIP">
          Boosts shown on user's feeds
        </m-tooltip>
      </a>
      <a class="m-topbar--navigation--item"
        routerLink="/boost/console/content"
        routerLinkActive="m-topbar--navigation--item-active"
      >
        <span i18n="@@M__FEATURE__SIDEBAR_PLURAL">Sidebar</span>
        <m-tooltip icon="help" i18n="@@OPSPOT__BOOST_CONSOLE__TOPBAR__SIDEBAR_TOOLTIP">
          Boosts shown on sidebars
        </m-tooltip>
      </a>
      <a class="m-topbar--navigation--item"
        routerLink="/boost/console/offers"
        routerLinkActive="m-topbar--navigation--item-active"
      >
        <span i18n="@@M__FEATURE__OFFER__PLURAL">Offers</span>
        <m-tooltip icon="help" i18n="@@OPSPOT__BOOST_CONSOLE__TOPBAR__OFFERS_TOOLTIP">
          Boosts you've offered to other users or that've been offered to you
        </m-tooltip>
      </a>

      <a class="m-topbar--navigation--item"
        routerLink="/boost/console/publisher"
        routerLinkActive="m-topbar--navigation--item-active"
        *ngIf="false"
      >
        <span i18n="@@M__FEATURE__PUBLISHER">Publisher</span>
        <m-tooltip icon="help" i18n="@@OPSPOT__BOOST_CONSOLE__TOPBAR__PUBLISHER_TOOLTIP">
          Boost Publisher program
        </m-tooltip>
      </a>

      <ng-container *ngIf="type === 'offers'">
        <a class="m-topbar--navigation--item"
          routerLink="/boost/console/offers/history/inbox"
          routerLinkActive="m-topbar--navigation--item-active"
        >
          <span i18n="@@BOOST__CONSOLE__INBOX_TAB">Inbox</span>
          <m-tooltip icon="help" i18n="@@OPSPOT__BOOST_CONSOLE__TOPBAR__INBOX_TOOLTIP">
            Boosts that have been offered to you
          </m-tooltip>
        </a>
        <a class="m-topbar--navigation--item"
          routerLink="/boost/console/offers/history/outbox"
          routerLinkActive="m-topbar--navigation--item-active"
        >
          <span i18n="@@BOOST__CONSOLE__OUTBOX_TAB">Outbox</span>
          <m-tooltip icon="help" i18n="@@OPSPOT__BOOST_CONSOLE__TOPBAR__OUTBOX_TOOLTIP">
            Boosts you've offered other users
          </m-tooltip>
        </a>
      </ng-container>
    </div>
  </div>
</div>

<div class="m-boost-console--wrapper">
  <router-outlet></router-outlet>
</div>
 -->



<section class="o-boost-console-sec">
  <div class="container">
    <div class="o-boost-console-block">
      <div class="o-boost-console-block__tab">
        <div class="tabs-boost-console">
          <ul class="tabs-list boost-console-tabs">
            <li class="active"><a (click)="loadData('boosted')">Boosted Posts</a></li>
            <li><a (click)="loadData('completed')">Completed Targets</a></li>
            <li><a (click)="loadData('rejected')">Rejected Posts</a></li>
          </ul>
        </div>
        <!--tab end-->
      </div>
      <div class="o-boost-console-block__content">
        <div class="tabs-boost-console">
          <div id="boosted-posts" class="tab active">
            <m-boost-console-card *ngFor="let boost of postArray; let i = index" class="mdl-card mdl-shadow--4dp"
              [boost]="boost"></m-boost-console-card>
          </div>
          <!-- <div id="completed-targets" class="tab">
          </div>
          <div id="rejected-posts" class="tab">
          </div> -->
        </div>
        <!--tab content end-->
      </div>
      <!--content ends-->
      <div class="o-boost-console-block__right hidden-mob">
        <div class="title">
          <div class="text-lg f500">
            My Posts
          </div>
          <a class="text-sm primary" [routerLink]="['/', session.getLoggedInUser().username]">
            See All
          </a>
        </div>
        <opspot-post-card [entity]="feed" *ngFor="let feed of feed"></opspot-post-card>
      </div>
    </div><!-- wallet block end -->
  </div>
</section>