<!-- <div class="m-toolbar">
  <div class="m-topbar--row">
    <div class="m-topbar--navigation m-topbar--navigation--text-only">
      <a class="m-topbar--navigation--item"
        routerLink="/newsfeed/suggested"
        routerLinkActive="m-topbar--navigation--item-active"
      >
        <span i18n="@@M__COMMON_TOPBAR_SUGGESTED">Top</span>
        <m-tooltip icon="help" i18n="@@M__COMMON_TOPBAR_SUGGESTED_TOOLTIP">
          Top displays your top suggested content on One Page Spotlight based on hashtags
        </m-tooltip>
      </a>
      <a class="m-topbar--navigation--item"
        routerLink="/newsfeed/subscribed"
        routerLinkActive="m-topbar--navigation--item-active"
        *ngIf="session.isLoggedIn()"
      >
        <span i18n="@@OPSPOT__NEWSFEED__TOPBAR__SUBSCRIBED">Following</span>
        <m-tooltip icon="help" i18n="@@OPSPOT__NEWSFEED__TOPBAR__SUBSCRIBED_TOOLTIP">
          Your Newsfeed contains posts from channels that you are subscribed to, as well as boosted posts from the wider network
        </m-tooltip>
      </a>
      <a class="m-topbar--navigation--item"
        *ngIf="session.getLoggedInUser()"
        routerLink="/newsfeed/boost"
        routerLinkActive="m-topbar--navigation--item-active"
      >
        <span i18n="@@OPSPOT__NEWSFEED__TOPBAR__BOOSTFEED">BoostFeed</span>
        <m-tooltip icon="help" i18n="@@OPSPOT__NEWSFEED__TOPBAR__BOOSTFEED_TOOLTIP">
          The Boostfeed only shows boosted posts from the wider network. To Boost your content, click the Boost icon on the topbar
        </m-tooltip>
      </a>

      <div class="m-layout--spacer"></div>

      <a class="m-topbar--navigation--item m-topbar--navigation--item-active"
        *ngIf="session.getLoggedInUser() && !!tag"
      >
        <span>#{{tag}}</span>
      </a>

      <m-topbar--hashtags
        (selectionChange)="reloadTopFeed($event)"
        [enabled]="suggested"
        *ngIf="!preventHashtagOverflow"
      ></m-topbar--hashtags>

      <m-newsfeed--dropdown></m-newsfeed--dropdown>
    </div>
  </div>
  <div class="m-topbar--row" *ngIf="preventHashtagOverflow">
    <div class="m-topbar--navigation m-topbar--navigation--text-only">
      <div class="m-layout--spacer"></div>

      <m-topbar--hashtags
        (selectionChange)="reloadTopFeed($event)"
        [enabled]="suggested"
      ></m-topbar--hashtags>
    </div>
  </div>
</div> -->


<div class="container m-t-70">
  <div class="o-blocks o-blocks--flex">

      <div class="o-left-block hidden-under-tablet">

        <div class="sticky-widget">
          <opspot-card-user *ngIf="session.isLoggedIn()" [object]="session.getLoggedInUser()" ></opspot-card-user>

          <ul class="o-side-menu">
              <li class="o-side-menu__list">
                  <a routerLink='/groups/members' id="newsfeed-community" class="o-side-menu__link">
                      <div class="o-side-menu__icon">
                          <img src="assets/svg/briefcase.svg" alt="">
                      </div>
                      <div class="o-side-menu__name text-md" >Communities</div>
                      <div class="o-side-menu__arrow"><img src="assets/svg/arrow-right.svg" alt=""></div>
                      <!-- <div class="o-side-menu__count white text-sm">15k</div> -->
                  </a>
              </li>
              <!-- <li class="o-side-menu__list">
                  <a href="#" id="newsfeed-event" class="o-side-menu__link">
                      <div class="o-side-menu__icon">
                          <img src="assets/svg/calendar.svg" alt="">
                      </div>
                      <div class="o-side-menu__name text-md">Events</div>
                      <div class="o-side-menu__arrow"><img src="assets/svg/arrow-right.svg" alt=""></div>
                  </a>
              </li> -->
              <li class="o-side-menu__list">
                <a routerLink="/bookmark" id="newsfeed-bookmark"  class="o-side-menu__link">
                    <div class="o-side-menu__icon" style="margin-left: -4px;color:#7c868b9e;" >
                        <!-- <img src="assets/svg/calendar.svg" alt=""> -->
                        <i class="material-icons" class="material-icons">turned_in_not</i>
                    </div>
                    <div class="o-side-menu__name text-md">Bookmarks</div>
                    <div class="o-side-menu__arrow"><img src="assets/svg/arrow-right.svg" alt=""></div>
                    <!-- <div class="o-side-menu__count white text-sm"></div> -->
                </a>
            </li>
            <!-- <li class="o-side-menu__list">
              <a routerLink="/campaign" id="newsfeed-bookmark" class="o-side-menu__link">
                  <div class="o-side-menu__icon" style="margin-left: -4px;color:#7c868b9e;" >
                      <i class="material-icons" class="material-icons">event_note</i>
                  </div>
                  <div class="o-side-menu__name text-md">Campaigns</div>
                  <div class="o-side-menu__arrow"><img src="assets/svg/arrow-right.svg" alt=""></div>
              </a>
            </li> -->
          </ul>
          <ul class="o-inner-footer">
              <li class="o-footer-link__item">
                <a [routerLink]="['/about']" id="newsfeed-about" class="text-sm">About Us</a>
              </li>
              <li class="o-footer-link__item">
                <a [routerLink]="['/help']" id="newsfeed-help" class="text-sm">Help</a>
              </li>
              <li class="o-footer-link__item">
                <a href="javascript:void(0)" id="newsfeed-careers" class="text-sm">Careers</a>
              </li>
              <li class="o-footer-link__item">
                <a [routerLink]="['/static/privacy-policy']" id="newsfeed-privacy" class="text-sm">Privacy</a>
              </li>
              <li class="o-footer-link__item">
                <a [routerLink]="['/static/terms']" id="newsfeed-terms" class="text-sm">Terms</a>
              </li>
          </ul>
  
          <div class="opspot-spacer opspot-spacer-2x"></div>
  
          <div class="mdl-card mdl-color--white m-border" *ngIf="false">
            <m-tagcloud></m-tagcloud>
          </div>
  
          <div class="opspot-spacer opspot-spacer-2x"></div>
  
          <div class="m-newsfeed--dynamic-siderbar" *ngIf="!showRightSidebar">
            <opspot-widget [entityType]="'opportunity'"></opspot-widget>
            <opspot-widget [entityType]="'event'"></opspot-widget>
            <!-- <m-ads-boost limit="8"></m-ads-boost>
            <div class="opspot-spacer opspot-spacer-2x"></div> -->
          </div>
  
          <div class="m-newsfeed-footer">
            <ul class="m-footer-nav m-footer-nav-inline">
              <li *ngFor="let page of navigation.getItems('footer')" class="m-footer-nav-item">
                <a *ngIf="page.path && page.path.indexOf('p/') > -1" [routerLink]="['/' + page.path]">{{page.title}}</a>
                <a *ngIf="page.path.indexOf('p/') < 0" [href]="page.path" target="_blank">{{page.title}}</a>
              </li>
            </ul>
            <span class="copyright mdl-color-text--blue-grey-700" i18n="@@M__COMMON__COPYRIGHT_YEAR">&#169; One Page Spotlight {{'2020'}}</span>
          </div>
        </div>

      </div>

      <div class="o-center-block"  [ngClass]="{ 'm-newsfeed--logged-out' : !session.getLoggedInUser()}">

        <router-outlet></router-outlet>

      </div>

      <div class="o-right-block hidden-mob" *ngIf="showRightSidebar">

        <div class="sticky-widget">
          <!-- <ng-container *mIfFeature="'suggested-users'">
            <m-suggestions__sidebar></m-suggestions__sidebar>
          </ng-container> -->
          <!-- <m-ads-boost limit="8" *ngIf="!(session.getLoggedInUser().plus && session.getLoggedInUser().disabled_boost)"></m-ads-boost>
          <div class="opspot-spacer opspot-spacer-2x"></div> -->
          <opspot-widget [entityType]="'opportunity'"></opspot-widget>
          <opspot-widget [entityType]="'event'"></opspot-widget>
        </div>
        
      </div>

  </div>
</div>

<style>
.sticky-widget {
  position: sticky;
  top: 70px;
}
</style>
