<style>
  .enabl {
    display: flex;
    align-items: center;
  }

  .create-community-img img {
    width: 80px;
    height: 80px;
    object-fit: cover;

  }

  ::ng-deep app-image-croper .m-modal-container {
    min-width: auto !important;

  }
  ::ng-deep app-image-croper .mdl-card__menu{
    display: none !important;
  }

</style>

<div class="container bg-white hidden-above-tablet">
    <div class="without-nav-header">
        <a routerLink=".."><i class="icon-arrow-left"></i> </a>
        <div class="without-nav-header__title caption-bold f500">{{editCommunity?"Edit":"Create"}} a Community</div>
    </div>
</div>
<div class="o-create-community">
  <div class="o-create-community-content">
    <div class="o-create-community-header">
      <app-image-croper [open]="open" (closed)=close() [croppieImage]="croppieImage" [croperType]="'circle'" (imgResult)="crop($event)">
      </app-image-croper>
      <h4 class="hidden-under-tablet" id="create-community">{{editCommunity?"Edit":"Create"}} a Community</h4>
    </div>
    <div class="o-create-community-content__form">
      <div class="form-group">
        <label>Community Type</label>
        <div class="o-create-community-radio">
          <label class="radio-container">
            <input type="radio" id="create-public-community" name="Community Type" [(ngModel)]="group.membership" [value]="2" checked>
            <div class="custom-check">
              <span class="icon-unlock primary"></span>
              <div class="text-md">
                public
              </div>
            </div>
          </label>
          <label class="radio-container">
            <input type="radio" id="create-private-community" name="Community Type" [(ngModel)]="group.membership" [value]="0">
            <div class="custom-check">
              <span class="icon-lock primary"></span>
              <div class="text-md">
                Private
              </div>
            </div>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label>Community Name</label>
        <input [(ngModel)]="group.name" id="create-community-name" type="text" class="form-control form-control-lg">
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea [(ngModel)]="group.briefdescription" id="create-community-description" class="form-control" rows="5"></textarea>
      </div>
      <div class="form-group ">
        <label>Hashtags</label>
        <app-skills [(inputTagsValue)]=group.tags></app-skills>
        <div class="grey text-sm paddng-top">Use a comma to separate skills, or choose from the list.</div>
      </div>
      <div class="form-group enabl">
        <label class="switch">
          <input [(ngModel)]="group.moderated" id="create-community-enable-post" type="checkbox">
          <span class="slider round"></span>
        </label> <span class="text-md">Enable members can post in community</span>
      </div>
      <div class="form-group">
        <label>Profile Picture</label>
        <div class="o-community-profile-picture">
          <div class="fileUpload" *ngIf="!editCommunity">
            <span *ngIf="!croppieImage&&!editCommunity" class="icon-plus"></span>  
            <input type="file" id="create-community-profile-file" #editImgcomp onclick="this.value = null"  accept=".jpg, .jpeg, .png"
            (change)="add($event)" class="upload" />
            <div *ngIf="croppieImage&&!editCommunity" class="fileUpload-preview">
              <a class="create-community-img" (click)="openCropper()">
                <img *ngIf="!editCommunity" [src]="cropedImg" >
              </a>
            </div>
          </div>
          <div *ngIf="editCommunity&&cropedImg" class="fileUpload-preview">
              <input type="file"  #editImgcomp onclick="this.value = null" (change)="add($event)" class="upload" />
            <a class="create-community-img" (click)="openCropper()">
                  <img [src]="cropedImg" alt="">
              </a>
          </div>
        </div>
      </div>
      <div class="o-create-community-action">
        <button (click)="save($event)" id="create-community-button" type="button" [disabled]="!group.name"
          class="btn btn-primary btn-lg">{{editCommunity?"Update":"Create"}}</button>
        <button type="button" id="create-community-cancel" (click)="groupReset()" class="btn btn-outline-primary btn-lg">Cancel</button>
      </div>
    </div>
  </div>
</div>
