@import "src/assets/helpers/variables";
@import "node_modules/sass-mq/_mq";
@import "src/assets/scss/base/_typography.scss";
@import "src/assets/scss/base/_base.scss";
@import "src/assets/scss/components/_common.scss";

.o-noti-filter{
    padding: 16px;
    background: #fff;
    @include mq($from: $mobile_sm, $until: $tablet) {
		border: none!important;
	}
    &__title{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__block{
        width: 100%;
        margin-top: 12px;
        .c-checkbox{
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            flex-direction: row;
            
            display: block;
            position: relative;
            padding: 6px 0px;
            margin: 0px;
            cursor: pointer;
            font-size: 13px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            line-height: 15px;
            @include mq($from: $mobile_sm, $until: $tablet) {
                padding: 18px 0px;
                border-bottom: 1px solid #ECEFF1;
            }
        }
        .checkmark{
            right: 0px!important;
            left: unset;
            @include mq($from: $mobile_sm, $until: $tablet) {
                top: 17px;
            }
        }
    }
}