<div class="tab" style="display: block;">
    <h5 class="o-prof-edit-title" id="about-component-about-title">About</h5>
    <form name="form" #f="ngForm">
        <div class="o-prof-edit-about">
            <div class="form-group w-xl">
                <label class="w-xl">Description</label>
                <textarea name="description" id="about-component-description" [(ngModel)]=model.description class="o-prof-edit-about-descr" placeholder="Description goes here"> </textarea>
            </div>
            <div class="form-group w-sm">
                <label>Gender</label>
                <select class="form-control" id="about-component-gender" name="gender" [(ngModel)]="model.gender" #gender="ngModel" required>
                    <option selected="selected" disabled id="about-component-gender-type">Select Type</option>
                    <option value="male" id="about-component-gender-male">Male</option>
                    <option value="female" id="about-component-gender-female">Female</option>
                    <option value="others" id="about-component-gender-others">Others</option>
                    <option value="nottosay" id="about-component-gender-not-prefer">Not prefer to say</option>
                </select>
            </div>
            <!-- gender end -->

            <div class="o-prof-edit-item__title">Date of Birth
                <!-- <div class="pos">
                    <a class="o-prof-edit-privacy Eternity text-md primary hidden-above-tablet" (click)="toggleDob=!toggleDob">{{privacy.dob}}</a>
                    <app-user-privacy (privacyChange)="changePrivacy($event,'dob')" class="privacy_mob hidden-above-tablet" [toggleClass]="toggleDob"></app-user-privacy>
                </div> -->
            </div>
            <div class="o-prof-edit-dob">
                <div class="form-group w-sm">
                    <input type="text" class="form-control form-control-lg" name="dob" [(ngModel)]="model.dob" [bsValue]="model.dob" bsDatepicker placement="bottom" [bsConfig]="bsConfig">
                </div>
                <!-- <div class="pos">
                    <div class="o-prof-edit-privacy hidden-desktop"
                    (click)="toggleDob = !toggleDob">
                        <div [ngSwitch]="privacy.dob">
                            <div *ngSwitchCase="'Follower'">
                                <div class="text-md primary w-label100">Visible to people who follows you</div>
                                </div>
                                <div *ngSwitchCase="'Following'">
                                <div class="text-md primary w-label100">Visible to people you follow</div>
                                </div>
                                <div *ngSwitchCase="'Everyone'">
                                <div class="text-md primary w-label100">Visible to everyone</div>
                                </div>
                                <div *ngSwitchCase="'Onlyme'">
                                <div class="text-md primary w-label100">Visible to only me</div>
                                </div>
                            </div>
                        </div>
                        <div class="o-prof-edit-privacy hidden-mob" (click)="toggleDob = !toggleDob">
                            <div [ngSwitch]="privacy.dob">
                                <div *ngSwitchCase="'Follower'">
                                    <div class="text-md primary w-label100">Visible to people who follows you</div>
                                    </div>
                                    <div *ngSwitchCase="'Following'">
                                    <div class="text-md primary w-label100">Visible to people you follow</div>
                                    </div>
                                    <div *ngSwitchCase="'Everyone'">
                                    <div class="text-md primary w-label100">Visible to everyone</div>
                                    </div>
                                    <div *ngSwitchCase="'Onlyme'">
                                    <div class="text-md primary w-label100">Visible to only me</div>
                                </div>
                            </div>
                        </div>
                    <app-user-privacy (privacyChange)="changePrivacy($event,'dob')" class="privacy" [toggleClass]="toggleDob" [inPrivacy]="privacy.dob"></app-user-privacy>
                </div> -->
            </div>

            <div class="form-group w-xl">
                <label>Languages Known</label>
                <!-- <input type="text" class="form-control form-control-lg" placeholder=""> -->
                <tag-input [maxItems]=5 required style="border:1px solid #959595; border-radius:4px " [(ngModel)]='model.languages' #languages="ngModel" required name="languages" theme='minimal'>
                    <tag-input-dropdown [minimumTextLength]=3 [autocompleteItems]="data">
                    </tag-input-dropdown>
                </tag-input>
            </div>
            <!--languages known end-->

            <div class="o-prof-edit-hght-wght">

                <div class="form-group w-sm">
                    <label>Height (in cm)</label>
                    <input maxlength="5" id="about-component-height" [(ngModel)]="model.height" name="height" class="form-control form-control-lg" type="number">
                </div>
                <div class="form-group w-sm">
                    <label>Weight (in kg)</label>
                    <input maxlength="5" id="about-component-weight" [(ngModel)]="model.weight" name="weight" class="form-control form-control-lg" type="number">
                </div>
                <div class="pos">
                    <div class="o-prof-edit-privacy"
                        (click)="toggleHeight = !toggleHeight">
                        <div [ngSwitch]="privacy.height">
                            <div *ngSwitchCase="'Follower'">
                            <div class="text-md primary w-label100">Visible to people who follows you</div>
                            </div>
                            <div *ngSwitchCase="'Following'">
                            <div class="text-md primary w-label100">Visible to people you follow</div>
                            </div>
                            <div *ngSwitchCase="'Everyone'">
                            <div class="text-md primary w-label100">Visible to everyone</div>
                            </div>
                            <div *ngSwitchCase="'Onlyme'">
                            <div class="text-md primary w-label100">Visible to only me</div>
                            </div>
                        </div>
                    </div>
                    <app-user-privacy [toggleClass]="toggleHeight" (privacyChange)="changePrivacy($event,'height')" class="privacy" [inPrivacy]="privacy.height"></app-user-privacy>
                </div>
                <!--privacy end-->
            </div>
            <!-- height and weight web end -->

            <!-- <div class="o-prof-edit-hght-wght-mob hidden-above-tablet">
                <div class="o-prof-edit-item__title w100">height and weight
                    <div class="pos">
                        <a class="o-prof-edit-privacy Eternity text-md primary" (click)="toggleHeight=!toggleHeight">{{privacy.height}}</a>
                        <app-user-privacy [toggleClass]="toggleHeight" (privacyChange)="changePrivacy($event,'height')" class="privacy_mob hidden-above-tablet"></app-user-privacy>
                    </div>
                </div>
                <div class="form-group w-sm">
                    <input class="form-control form-control-lg" [(ngModel)]="model.height" name="height" type="text" placeholder="Height">
                </div>
                <div class="form-group w-sm">
                    <input class="form-control form-control-lg" [(ngModel)]="model.weight" name="weight" type="text" placeholder="Weight">
                </div>
            </div> -->

            <!-- height and weight mobile end -->
            <p *ngIf="aboutError.dob" class="error text-sm" id="about-component-age-error">The age must be atleast 10</p>
            <p *ngIf="aboutError.dobInvalid" class="error text-sm" id="about-component-date-error">Please select a Valid Date</p>
            <!-- <p *ngIf="!gender.valid&&submitted" class="error text-sm" id="about-component-gender-error">Please select a gender</p> -->
            <!-- <p *ngIf="!languages.valid&&submitted" class="error text-sm" id="about-component-langauge-error">Please add atleast one language </p> -->
            <!-- <p *ngIf="invalidForm" class="error text-sm" id="about-component-all-from-error">Please fill all the form fields </p> -->

            <div class="o-prof-edit-actions">
                <button type="button" id="about-component-save-button" class="btn btn-primary btn-lg" (click)="onSubmit(f)" [disabled]="inProgress">Save Changes</button>
                <button type="button" id="about-component-cancel-button" class="btn btn-outline-primary btn-lg btn--cancel" [routerLink]="['/', activeUser?.username]">Cancel</button>
            </div>
            <!-- prof edit actions end -->

        </div>
        <!-- about edit block end -->
    </form>
</div>