<div  class="tab" style="display: block;">
    <h5 class="o-prof-edit-title">About yourself</h5>
    <div class="o-prof-edit-about">
        <div class="form-group w-xl">
            <label class="w-xl">Description</label>
            <textarea class="o-prof-edit-about-descr" placeholder="Description goes here">                                </textarea>
        </div>
        <div class="form-group w-sm">
            <label>Gender</label>
            <select class="form-control">
                <option>Male</option>
                <option>Female</option>
                <option>Others</option>
                <option>Not prefer to say</option>
            </select>
        </div><!-- gender end -->
        
        <div class="o-prof-edit-item__title">Date of Birth 
            <div class="o-prof-edit-privacy text-md primary hidden-desktop">Everyone
                <div id="dropdown" class="o-prof-edit-privacy__drop">
                    <div class="o-drop__arrow"><img src="assets/droparrow.png" alt=""></div>
                    <div class="o-prof-edit-privacy-radio">
                        <label class="radio-label radio-label--flex">
                            <input type="radio" name="rd" id="rd1" value="1">
                            <div class="radio-widget"></div><div class="text-sm grey"> Everyone</div>
                        </label>
                        <label class="radio-label radio-label--flex">
                            <input type="radio" name="rd" id="rd2" value="2">
                            <div class="radio-widget"></div><div class="text-sm grey">Following</div>
                        </label>
                        <label class="radio-label radio-label--flex">
                            <input type="radio" name="rd" id="rd3" value="3">
                            <div class="radio-widget"></div><div class="text-sm grey">Followers</div>
                        </label>
                        <label class="radio-label radio-label--flex">
                            <input type="radio" name="rd" id="rd4" value="4">
                            <div class="radio-widget"></div><div class="text-sm grey">Only me</div>
                        </label>
                    </div><!-- radio btn block end -->
                </div><!-- privacy dropdown end -->
            </div><!--privacy end-->
        </div>
        <div class="o-prof-edit-dob">
            <div class="form-group w-sm">
    <m-date-selector [date]=date   (dateChange)="onSelect($event)"  dateFormat="dd-MM-yyyy"></m-date-selector>

                <!-- <select class="form-control">
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                </select> -->
            </div>
            <!-- <div class="form-group w-sm">
                <select class="form-control">
                    <option>January</option>
                    <option>February</option>
                    <option>March</option>
                    <option>April</option>
                    <option>May</option>
                </select>
            </div>
            <div class="form-group w-sm">
                <select class="form-control">
                    <option>1991</option>
                    <option>1992</option>
                    <option>1993</option>
                    <option>1994</option>
                </select>
            </div> -->
            <div class="o-prof-edit-privacy text-md primary hidden-mob">Everyone
                <div id="dropdown" class="o-prof-edit-privacy__drop">
                    <div class="o-drop__arrow"><img src="assets/droparrow.png" alt=""></div>
                    <div class="o-prof-edit-privacy-radio">
                        <label class="radio-label radio-label--flex">
                            <input type="radio" name="rd" id="rd1" value="1">
                            <div class="radio-widget"></div><div class="text-sm grey"> Everyone</div>
                        </label>
                        <label class="radio-label radio-label--flex">
                            <input type="radio" name="rd" id="rd2" value="2">
                            <div class="radio-widget"></div><div class="text-sm grey">Following</div>
                        </label>
                        <label class="radio-label radio-label--flex">
                            <input type="radio" name="rd" id="rd3" value="3">
                            <div class="radio-widget"></div><div class="text-sm grey">Followers</div>
                        </label>
                        <label class="radio-label radio-label--flex">
                            <input type="radio" name="rd" id="rd4" value="4">
                            <div class="radio-widget"></div><div class="text-sm grey">Only me</div>
                        </label>
                    </div><!-- radio btn block end -->
                </div><!-- privacy dropdown end -->
            </div><!--privacy end-->
        </div><!-- dob end -->
        
        <div class="form-group w-xl">
            <label>Languages Known</label>
            <input type="text" class="form-control form-control-lg" placeholder="">
            <!-- <div class="input-tag">
                <div class="text-md">English</div>
                <div class="input-tag-remove"><i class="icon-x-circle"></i> </div>
            </div>--> <!--/// input inside tag ///-->
        </div><!--languages known end-->


        <div class="o-prof-edit-hght-wght">
            <div class="form-group w-sm">
                <label>Height</label>
                <select class="form-control">
                    <option>162cm</option>
                    <option>170cm</option>
                </select>
            </div>
            <div class="form-group w-sm">
                <label>Weight</label>
                <select class="form-control">
                    <option>72kg</option>
                    <option>80kg</option>
                </select>
            </div>
            <div class="o-prof-edit-privacy Eternity text-md primary hidden-mob">Everyone
            </div><!--privacy end-->
        </div><!-- height and weight end -->

        <div class="o-prof-edit-actions">
            <button type="button" class="btn btn-primary btn-lg">Save Changes</button>
            <button type="button" class="btn btn-outline-primary btn-lg btn--cancel">Cancel</button>
        </div><!-- prof edit actions end -->

    </div><!-- about edit block end -->
</div>