<section class="o-net-sec">
    <div class="container">
        <div class="o-net-block">
            <div class="o-net-block__left">
                <div class="o-net-title">
                    <div class="caption-bold">Messages <span class="o-network-count text-md white">1</span></div>
                    <a href="javascript:void(0)" class="o-network-settings">
                        <i class="icon-settings"></i>
                    </a>
                </div><!---->
                <div class="o-network-search">
                    <input type="text" class="o-network-search__input" placeholder="Search">
                    <div class="o-network-search__icon"><i class="icon-search"></i></div>
                </div><!--network search end-->
                <a class="o-network-request">
                    <div class="o-network-request__info">
                        <div class="text-sm primary">Network Requests</div>
                        <div class="o-network-count text-md white">1</div>
                    </div>
                    <div class="o-network-request__icon">
                        <i class="icon-arrow-right"></i>
                    </div>
                </a><!-- network request end -->
                <ul class="o-net-list">
                    <li class="o-net-list__item o-net-list__item--unread">
                        <a href="javascript:void(0)" class="o-net-user-list">
                            <div class="o-net-user-list__avatar o-avatar-md"><img src="assets/demo/avatar.png" alt=""></div>
                            <div class="o-net-user-list__info">
                                <div class="text-md f500">Vivaan Chattopadhyay</div>
                                <div class="o-net-msg-info">
                                    <div class="o-net-msg-info__short text-sm grey">
                                        So Jenny, What do you do What do you do
                                    </div>
                                    <div class="o-net-msg-info__tym text-sm grey">4 Mins</div>
                                </div>
                            </div>
                        </a>
                    </li><!-- network list item end -->
                    <li class="o-net-list__item o-net-list__item--active">
                        <a href="javascript:void(0)" class="o-net-user-list">
                            <div class="o-net-user-list__avatar o-avatar-md"><img src="assets/demo/avatar.png" alt=""></div>
                            <div class="o-net-user-list__info">
                                <div class="text-md f500">Aradhya Mistry</div>
                                <div class="o-net-msg-info">
                                    <div class="o-net-msg-info__short text-sm grey">
                                        So Jenny, What do you do What do you do
                                    </div>
                                    <div class="o-net-msg-info__tym text-sm grey">4 Mins</div>
                                </div>
                            </div>
                        </a>
                    </li><!-- network list item end -->
                    <li class="o-net-list__item">
                        <a href="javascript:void(0)" class="o-net-user-list">
                            <div class="o-net-user-list__avatar o-avatar-md"><img src="assets/demo/avatar.png" alt=""></div>
                            <div class="o-net-user-list__info">
                                <div class="text-md f500">Vivaan Chattopadhyay</div>
                                <div class="o-net-msg-info">
                                    <div class="o-net-msg-info__short text-sm grey">
                                        So Jenny, What do you do What do you do
                                    </div>
                                    <div class="o-net-msg-info__tym text-sm grey">4 Mins</div>
                                </div>
                            </div>
                        </a>
                    </li><!-- network list item end -->
                    <li class="o-net-list__item">
                        <a href="javascript:void(0)" class="o-net-user-list">
                            <div class="o-net-user-list__avatar o-avatar-md"><img src="assets/demo/avatar.png" alt=""></div>
                            <div class="o-net-user-list__info">
                                <div class="text-md f500">Vivaan Chattopadhyay</div>
                                <div class="o-net-msg-info">
                                    <div class="o-net-msg-info__short text-sm grey">
                                        So Jenny, What do you do What do you do
                                    </div>
                                    <div class="o-net-msg-info__tym text-sm grey">4 Mins</div>
                                </div>
                            </div>
                        </a>
                    </li><!-- network list item end -->
                    <li class="o-net-list__item">
                        <a href="javascript:void(0)" class="o-net-user-list">
                            <div class="o-net-user-list__avatar o-avatar-md"><img src="assets/demo/avatar.png" alt=""></div>
                            <div class="o-net-user-list__info">
                                <div class="text-md f500">Vivaan Chattopadhyay</div>
                                <div class="o-net-msg-info">
                                    <div class="o-net-msg-info__short text-sm grey">
                                        So Jenny, What do you do What do you do
                                    </div>
                                    <div class="o-net-msg-info__tym text-sm grey">1hr</div>
                                </div>
                            </div>
                        </a>
                    </li><!-- network list item end -->
                </ul><!--network list end --> 
            </div>
            <div class="o-net-block__right">
                <div class="o-net-msgs">
                    <div class="o-net-msgs__head">
                        <div class="o-net-msgs-user-info">
                            <div class="o-avatar-md"><img src="assets/demo/avatar.png" alt=""></div>
                            <div class="caption-bold m-l-9">Aradhya Mistry</div>
                        </div>
                        <div class="o-option-drop">
                            <div onclick="myFunction()" class="o-option-drop__btn head-action__link">
                                <i class="icon-more-horizontal"></i>
                            </div>
                            <div id="o-option-dropdown" class="o-option-drop__block">
                                <a href="javascript:void(0)">Open Original Post</a>
                                <a href="javascript:void(0)">Remove Bookmark</a>
                            </div>
                        </div><!--action drop-->
                    </div><!-- network msgs head end -->
                    <div class="o-net-msgs-body">
                        <div class="o-net-msg-block">
                            <div class="o-net-my-msg">
                                <p class="text-md white">
                                    Oh, Hi I'm have got a new job now
                                    and is going great. How about you?
                                </p>
                                <div class="text-sm white o-net-msg-tym">11:00</div>
                            </div>
                        </div><!-- my msg end -->
                        <div class="o-net-msg-block">
                            <div class="o-net-others-msg">
                                <p class="text-md grey-dark">
                                    Oh, Hi I'm have got a new job now
                                    and is going great. How about you?
                                </p>
                                <div class="text-sm grey o-net-msg-tym">11:00</div>
                            </div>
                        </div><!-- others msg end -->
                        <div class="o-net-msg-block">
                            <div class="o-net-my-msg">
                                <p class="text-md white">
                                    Oh, Hi I'm have got a new job now
                                    and is going great. How about you?
                                </p>
                                <div class="text-sm white o-net-msg-tym">11:00</div>
                            </div>
                        </div><!-- my msg end -->
                        <div class="o-net-msg-block">
                            <div class="o-net-others-msg">
                                <p class="text-md grey-dark">
                                    Oh, Hi I'm have got a new job now
                                    and is going great. How about you?
                                </p>
                                <div class="text-sm grey o-net-msg-tym">11:00</div>
                            </div>
                        </div><!-- others msg end -->
                        <div class="o-net-msg-block">
                            <div class="o-net-others-msg">
                                <p class="text-md grey-dark">
                                    Oh, Hi I'm have got a new job now
                                    and is going great. How about you?
                                </p>
                                <div class="text-sm grey o-net-msg-tym">11:00</div>
                            </div>
                        </div><!-- others msg end -->
                    </div><!-- network body part end -->
                    <div class="o-net-msgs-footer">
                        <div class="o-net-msgs-type">
                            <input type="text">
                            <div class="o-net-msgs-type__addon">
                                <a href="javascript:void(0)" class="o-net-msgs-type__link">
                                    <img src="assets/svg/emoji.svg" alt="">
                                </a>
                                <a href="javascript:void(0)" class="o-net-msgs-type__link">
                                    <i class="icon-plus-circle"></i>
                                </a>
                            </div>
                        </div>
                        <div class="o-net-msgs-send"><i class="icon-send"></i></div>
                    </div><!-- network msgs footer end -->
                </div>
            </div>
        </div>
    </div>
</section>




<!-- for dropdown -->