<div id="notifications" class="tab">
    <!-- <div class="o-settings-fields o-settings-notifications">
      <div class="o-settings-notification-header">
          <h5 class="f500">Notification Settings</h5>
          <div class="text-md grey">
            Notifications that you receive.
          </div>
      </div>
    </div>
    <div class="o-settings-fields o-settings-notifications">
      <div class="o-settings-notification-header">
          <h5 class="f500">Comments</h5>
          <div class="text-md grey">
            Notifications for comments on your posts and replies to your comments.
          </div>
      </div>
      <div class="o-settings-toggle">
          <label class="switch ">
              <input type="checkbox" checked>
              <span class="slider round"></span>
          </label> 
      </div>
    </div>
    <div class="o-settings-fields o-settings-notifications">
      <div class="o-settings-notification-header">
          <h5 class="f500">Mentions</h5>
          <div class="text-md grey">
            Notifications for when someone mentions you on posts or comments. 
          </div>
      </div>
      <div class="o-settings-toggle">
          <label class="switch ">
              <input type="checkbox">
              <span class="slider round"></span>
          </label> 
      </div>
    </div>
    <div class="o-settings-fields o-settings-notifications">
      <div class="o-settings-notification-header">
          <h5 class="f500">Followers</h5>
          <div class="text-md grey">
            Notifications for when someone send you a follow request or a request you've sent is accepted.
          </div>
      </div>
      <div class="o-settings-toggle">
          <label class="switch ">
              <input type="checkbox">
              <span class="slider round"></span>
          </label> 
      </div>
    </div>
    <div class="o-settings-fields o-settings-notifications">
      <div class="o-settings-notification-header">
          <h5 class="f500">Community</h5>
          <div class="text-md grey">
            Notifications about communities you have joined or are the admin of.
          </div>
      </div>
      <div class="o-settings-toggle">
          <label class="switch ">
              <input type="checkbox" checked>
              <span class="slider round"></span>
          </label> 
      </div>
    </div>
    <div class="o-settings-fields o-settings-notifications">
      <div class="o-settings-notification-header">
          <h5 class="f500">Contribution</h5>
          <div class="text-md grey">
            Notifications for contributions that you give or receive. 
          </div>
      </div>
      <div class="o-settings-toggle">
          <label class="switch ">
              <input type="checkbox" checked>
              <span class="slider round"></span>
          </label> 
      </div>
    </div>
    <div class="o-settings-fields o-settings-notifications">
      <div class="o-settings-notification-header">
          <h5 class="f500">Network</h5>
          <div class="text-md grey">
            Notifications for when someone sends a network request or accepts your request. 
          </div>
      </div>
      <div class="o-settings-toggle">
          <label class="switch ">
              <input type="checkbox" checked>
              <span class="slider round"></span>
          </label> 
      </div>
    </div>
    <div class="o-settings-fields o-settings-notifications">
    <div class="o-settings-notification-header">
        <h5 class="f500">Mail</h5>
        <div class="text-md grey">
          Receive emails about the activities and notifications happening on your feed.
        </div>
    </div>
    <div class="o-settings-toggle">
        <label class="switch ">
            <input type="checkbox" checked>
            <span class="slider round"></span>
        </label> 
    </div>
    </div> -->

    <h5 class="f500 o-settings-notifications-email-mb18px">Email me when</h5>
    <div class="o-settings-fields o-settings-notifications o-settings-notifications-email">
        <div class="o-settings-notification-header">
            <div class="text-md grey">
                I have unread notifications
            </div>
        </div>
        <div class="o-settings-toggle">
            <label class="switch ">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label> 
        </div>
    </div><!--notificatin toggle settings fields-->
    <div class="o-settings-fields o-settings-notifications o-settings-notifications-email">
        <div class="o-settings-notification-header">
            <div class="text-md grey">
                I receive a contribution
            </div>
        </div>
        <div class="o-settings-toggle">
            <label class="switch ">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label> 
        </div>
    </div><!--notificatin toggle settings fields-->
    <div class="o-settings-fields o-settings-notifications o-settings-notifications-email">
        <div class="o-settings-notification-header">
            <div class="text-md grey">
                My boost has been completed
            </div>
        </div>
        <div class="o-settings-toggle">
            <label class="switch ">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label> 
        </div>
    </div><!--notificatin toggle settings fields-->
    <div class="o-settings-line"></div>
    <h5 class="f500 o-settings-notifications-email-mb18px">Email me with</h5>
    <div class="o-settings-fields o-settings-notifications o-settings-notifications-email">
        <div class="o-settings-notification-header">
            <div class="text-md grey">
                Tips on how to improve my profile
            </div>
        </div>
        <div class="o-settings-toggle">
            <label class="switch ">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label> 
        </div>
    </div><!--notificatin toggle settings fields-->
    <div class="o-settings-fields o-settings-notifications o-settings-notifications-email">
        <div class="o-settings-notification-header">
            <div class="text-md grey">
                Things I've missed since my last login
            </div>
        </div>
        <div class="o-settings-toggle">
            <label class="switch ">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label> 
        </div>
    </div><!--notificatin toggle settings fields-->
    <div class="o-settings-fields o-settings-notifications o-settings-notifications-email">
        <div class="o-settings-notification-header">
            <div class="text-md grey">
                New profiles to follow to
            </div>
        </div>
        <div class="o-settings-toggle">
            <label class="switch ">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label> 
        </div>
    </div><!--notificatin toggle settings fields-->
    <div class="o-settings-line"></div>
    <h5 class="f500 o-settings-notifications-email-mb18px">Keep me updated with</h5>
    <div class="o-settings-fields o-settings-notifications o-settings-notifications-email">
        <div class="o-settings-notification-header">
            <div class="text-md grey">
                News about new One Page Spotlight products and features
            </div>
        </div>
        <div class="o-settings-toggle">
            <label class="switch ">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label> 
        </div>
    </div><!--notificatin toggle settings fields-->
    <div class="o-settings-fields o-settings-notifications o-settings-notifications-email">
        <div class="o-settings-notification-header">
            <div class="text-md grey">
                Tips on how to use One Page Spotlight
            </div>
        </div>
        <div class="o-settings-toggle">
            <label class="switch ">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label> 
        </div>
    </div><!--notificatin toggle settings fields-->
    <div class="o-settings-fields o-settings-notifications o-settings-notifications-email">
        <div class="o-settings-notification-header">
            <div class="text-md grey">
                Exclusive promotions
            </div>
        </div>
        <div class="o-settings-toggle">
            <label class="switch ">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label> 
        </div>
    </div><!--notificatin toggle settings fields-->
</div>