<div id="notifications" class="tab">
  <div class="o-settings-fields o-settings-notifications">
      <div class="o-settings-notification-header">
          <h5 class="f500">Notification Settings</h5>
          <div class="text-md grey">
            Notifications that you receive.
          </div>
      </div>
  </div><!--notificatin toggle settings fields-->
  <div class="o-settings-fields o-settings-notifications">
      <div class="o-settings-notification-header">
          <h5 class="f500">Comments</h5>
          <div class="text-md grey">
            Notifications for comments on your posts and replies to your comments.
          </div>
      </div>
      <div class="o-settings-toggle">
          <label class="switch ">
              <input type="checkbox" checked>
              <span class="slider round"></span>
          </label> 
      </div>
  </div><!--notificatin toggle settings fields-->
  <div class="o-settings-fields o-settings-notifications">
      <div class="o-settings-notification-header">
          <h5 class="f500">Mentions</h5>
          <div class="text-md grey">
            Notifications for when someone mentions you on posts or comments. 
          </div>
      </div>
      <div class="o-settings-toggle">
          <label class="switch ">
              <input type="checkbox">
              <span class="slider round"></span>
          </label> 
      </div>
  </div><!--notificatin toggle settings fields-->
  <div class="o-settings-fields o-settings-notifications">
      <div class="o-settings-notification-header">
          <h5 class="f500">Followers</h5>
          <div class="text-md grey">
            Notifications for when someone send you a follow request or a request you've sent is accepted.
          </div>
      </div>
      <div class="o-settings-toggle">
          <label class="switch ">
              <input type="checkbox">
              <span class="slider round"></span>
          </label> 
      </div>
  </div><!--notificatin toggle settings fields-->
  <div class="o-settings-fields o-settings-notifications">
      <div class="o-settings-notification-header">
          <h5 class="f500">Community</h5>
          <div class="text-md grey">
            Notifications about communities you have joined or are the admin of.
          </div>
      </div>
      <div class="o-settings-toggle">
          <label class="switch ">
              <input type="checkbox" checked>
              <span class="slider round"></span>
          </label> 
      </div>
  </div><!--notificatin toggle settings fields-->
  <div class="o-settings-fields o-settings-notifications">
      <div class="o-settings-notification-header">
          <h5 class="f500">Contribution</h5>
          <div class="text-md grey">
            Notifications for contributions that you give or receive. 
          </div>
      </div>
      <div class="o-settings-toggle">
          <label class="switch ">
              <input type="checkbox" checked>
              <span class="slider round"></span>
          </label> 
      </div>
  </div><!--notificatin toggle settings fields-->
  <div class="o-settings-fields o-settings-notifications">
      <div class="o-settings-notification-header">
          <h5 class="f500">Network</h5>
          <div class="text-md grey">
            Notifications for when someone sends a network request or accepts your request. 
          </div>
      </div>
      <div class="o-settings-toggle">
          <label class="switch ">
              <input type="checkbox" checked>
              <span class="slider round"></span>
          </label> 
      </div>
  </div><!--notificatin toggle settings fields-->
  <div class="o-settings-fields o-settings-notifications">
    <div class="o-settings-notification-header">
        <h5 class="f500">Mail</h5>
        <div class="text-md grey">
          Receive emails about the activities and notifications happening on your feed.
        </div>
    </div>
    <div class="o-settings-toggle">
        <label class="switch ">
            <input type="checkbox" checked>
            <span class="slider round"></span>
        </label> 
    </div>
</div><!--notificatin toggle settings fields-->
</div><!-- notifications tab content end -->