<section class="o-enrolment-sec">
  <div class="container-enrolment"> 
      <div class="container hidden-above-tablet o-search-filter-mob-header">
          <div class="without-nav-header o-reg-skill-mob-header">
              <a href="home.html"><i class="icon-arrow-left"></i> </a>
              <h4 class="without-nav-header__title f500">Enrolment</h4>
          </div>
      </div><!-- without nav header end -->
      <div class="o-enrolment">
          <div class="o-enrolment-body">
            <div class="o-enrolment-title" id="en_header">
              <h4 class="f500"></h4>
              <button type="button" class="btn btn-outline-primary o-enrolment-title__button" id="en_share"><span class="icon-printer o-enrolment-title__icon"></span>PRINT</button>
            </div><!--title ends-->
            <div class="o-enrolment-confirmed">
                <div class="o-enrolment-confirmed__avatar">
                    <img src="assets/enrolment/confirmation.svg">
                </div>
                <div class="o-enrolment-confirmed__title">
                    <h3 class="f500">Your Enrolment is Confirmed!</h3>
                </div>
            </div>
            <div class="o-enrolment-block o-enrolment-block--gap">
                <div class="o-enrolment-block__left"> 
                    <h4>Enroled to</h4>
                </div><!--left ends-->
                <div class="o-enrolment-block__right">
                    <h4 class="f500">Dance for the fitness</h4>
                    <div class="o-enrolment-margin18 o-enrolment-f17">06:30 PM | 26 December 2019</div>
                    <div class="grey o-enrolment-f17 o-enrolment-lh30">46/1, Cobalt Building, Church St, Haridevpur, Shanthala Nagar, Ashok Nagar,
                    Bengaluru, Karnataka 560001</div>
                </div><!--right ends-->
            </div><!--block ends-->
            <div class="o-enrolment-line"></div>
            <div class="o-enrolment-block o-enrolment-block--gap">
                <div class="o-enrolment-block__left"> 
                    <h4>Order Summary</h4>
                </div><!--left ends-->
                <div class="o-enrolment-block__right">
                    <table class="o-enrolment-f17 o-enrolment-table">
                        <tr>
                            <td class="grey">Enrolment Amount</td>
                            <td class="grey">₹ 233.00</td>
                        </tr>
                        <tr>
                            <td class="grey">OPS Service Fee</td>
                            <td class="grey">₹ 20.00</td>
                        </tr>
                        <tr>
                            <td class="grey">GST</td>
                            <td class="grey">₹ 40.00</td>
                        </tr>
                        <tr>
                            <td class="f500">Total</td>
                            <td class="f500">₹ 293.00</td>
                        </tr>
                    </table>
                </div><!--right ends-->
            </div><!--block ends-->
            <div class="o-enrolment-line"></div>
            <div class="o-enrolment-block o-enrolment-block--gap">
                <div class="o-enrolment-block__left"> 
                    <h4>Terms and Conditions</h4>
                </div><!--left ends-->
                <div class="o-enrolment-block__right o-enrolment-f17">
                    <ul class="o-enrolment-respaddng">
                        <li class="o-enrolment-marginb10 o-enrolment-lh30">Publishing any Website material in any other media;</li>
                        <li class="o-enrolment-marginb10 o-enrolment-lh30">Selling, sublicensing and/or otherwise commercializing any Website material;</li>
                        <li class="o-enrolment-marginb10 o-enrolment-lh30">Publicly performing and/or showing any Website material;</li>
                        <li class="o-enrolment-marginb10 o-enrolment-lh30">Using this Website in any way that is or may be damaging to this Website;</li>
                        <li class="o-enrolment-marginb10 o-enrolment-lh30">Using this Website in any way that impacts user access to this Website;</li>
                        <li class="o-enrolment-marginb10 o-enrolment-lh30">Using this Website contrary to applicable laws and regulations, or in any way may cause
                            harm to the Website, or to any person or business entity;</li>
                        <li class="o-enrolment-marginb10 o-enrolment-lh30">Engaging in any data mining, data harvesting, data extracting or any other similar
                            activity in relation to this Website;</li>
                        <li class="o-enrolment-lh30">Using this Website to engage in any advertising or marketing.</li>
                    </ul>
                </div><!--right ends-->
            </div><!--block ends-->
            <div class="o-enrolment-line"></div>
            <div class="o-enrolment-block o-enrolment-block--gap">
                <div class="o-enrolment-block__left"> 
                    <h4>Need Help</h4>
                </div><!--left ends-->
                <div class="o-enrolment-block__right o-enrolment-f17">
                    <div class="o-enrolment-marginb10">Email: support@onepagespotlight.com</div>
                    <div>Phone Number: 080 81873 82321</div>
                    <button type="button" class="btn btn-primary o-entrolment-form__button o-entrolment-button-left" id="en_payment">Proceed to Home</button>
                </div><!--right ends-->
            </div><!--block ends-->
          </div><!-- enrolment body ends-->
      </div><!--enrolment ends-->
  </div><!--container-->
</section>