<div class="m-wire--lock-screen--transaction-made-notice" *ngIf="showSubmittedInfo" i18n="@@WIRE__LOCK_SCREEN__RECEIVED_TIMEOUT_LABEL">
  We've received your transaction. Please try unlocking this post after it gets processed. We estimate it may take around 5 minutes.
</div>

<div *ngIf="entity?.wire_threshold?.message" class="m-wire--lock-screen--button">
  <div class="m-wire--lock-screen-introduction">
    <p class="mdl-color-text--grey-800 word-br">
      {{ entity.wire_threshold.message }}
    </p>
  </div>
</div>

<div class="feed-paywall bg" [style.backgroundImage]="getBackground()">
  
  <h4 *ngIf="entity?.wire_threshold?.min" class="white" id="paywall">{{ entity.wire_threshold.min | number }} coins </h4>

  <div class="text-md grey" style="width: 90%;">
    This post can only be seen by supporters
    who contribute 
    <ng-container *ngIf="entity?.wire_threshold?.type == 'tokens'" i18n="@@WIRE__LOCK_SCREEN__OVER_TOKENS_PER_MONTH">
      over {{ entity.wire_threshold.min | number }} Coins 
    </ng-container>
    <ng-container *ngIf="entity?.ownerObj?.username" i18n="@@WIRE__LOCK_SCREEN__TO_USERNAME_PART">
      to @{{ entity.ownerObj.username }}
    </ng-container>
  </div>
  
  <button class="btn btn-primary btn-sm" (click)="unlock()" id="paywall-unlock">
    <span>
      <ng-container i18n="@@WIRE__LOCK_SCREEN__UNLOCK_ACTION">UNLOCK THIS POST</ng-container>
    </span>
  </button>

  <div [hidden]="!inProgress" class="m-spinner">
    <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active" [mdl]></div>
  </div>

</div>

<style>
.feed-paywall button {
  margin-top: 35px;
}
.bg {
  background-position: center;
  background-size: cover;
}
.m-wire--lock-screen--button p {
  padding: 0;
}
</style>