<div class="o-create-portfolio">
    <div class="o-create-portfolio-head o-create-portfolio-head--border">
        <div class="o-create-show-timez__title text-lg f500" id="#portfolio">Create a post
            <span class="o-create-dropdown-style">
                <span class="text-md primary f500">On #Portfolio<span class="icon-x"
                        (click)="changeToDefault()" id="portfolio-exit"></span></span>
            </span>
        </div>
        <div class="close" (click)="close()" id="portfolio-close"><i class="icon-x"></i></div>
    </div>
    <!--boost head end-->
    <form (submit)="post()">
        <div class="o-create-portfolio-body o-create-portfolio-body--flex">
            <div class="o-crete-portfolio-userinfo">
                <div class="o-crete-portfolio-userinfo__avatar">
                        <img src="{{opspot.cdn_url}}icon/{{session.getLoggedInUser().guid}}/medium/{{session.getLoggedInUser().icontime}}/" alt="" id="portfolio-profile-image">
                    </div>
                <div class="o-crete-portfolio-userinfo__mesaage">
                    <textarea type="text" id="message" #message name="message" placeholder="What have you created today?"
                        [ngModel]="meta.message" (ngModelChange)="onMessageChange($event)"
                        (keyup)="getPostPreview(message);"></textarea>
                </div>
            </div>
            <div class="o-create-portfolio-fileupload" *ngIf="attachment.meta.attachment_guid.length == 0">
                <div class="fileUpload">
                    <span class="icon-paperclip-2"></span>
                    <input type="file" accept="image/jpg, image/jpeg, image/png, video/mp4, video/mov, audio/mp3" id="file" #file class="upload" name="attachment"
                        (change)="uploadAttachment(file, $event)" />
                </div>
                <div class="text-md grey">
                    Add Image, Video or Audio
                </div>
            </div>
            <!-- <div class="o-create-portfolio-filled-fileupload" *ngIf="attachment.meta.attachment_guid.length > 0">
                <div class="fileUpload-preview-new mr-9" *ngFor="let image of cards">
                    <a class="fileUpload-preview-new-close" (click)="removeAttachment(file,image.guid)"><i
                            class="ico-x white"></i></a>
                    <a class="o-create-portfolio-filled-avatar" href="javascript:void(0)">
                        <img [src]="image.imageLink" alt="">
                    </a>
                </div>
            </div> -->
            <div class="o-create-post-filled-fileupload" *ngIf="attachment.meta.attachment_guid.length > 0">
                    <div class="fileUpload-preview-new mr-9" *ngFor="let image of cards">
                        <a class="fileUpload-preview-new-close" (click)="removeAttachment(file,image.guid)" id="portfolio-remove-image"><i
                                class="ico-x white"></i></a>
                        <a class="o-create-post-filled-avatar" href="javascript:void(0)">
                            <img [src]="image.imageLink" alt="">
                        </a>
                    </div>
                    <div class="fileUpload">
                        <span class="icon-plus"></span>
                        <input type="file" accept="image/jpg, image/jpeg, image/png, video/mp4, video/mov, audio/mp3" id="file" #file class="upload" class="upload" name="attachment"
                            (change)="uploadAttachment(file, $event)" />
                    </div>
            </div>
        </div>
        <div *ngIf="inProgress" class="mdl-progress mdl-progress__indeterminate initial-loading is-upgraded">
            <div class="progressbar bar bar1" style="width: 0%;"></div>
            <div class="bufferbar bar bar2" style="width: 100%;"></div>
            <div class="auxbar bar bar3" style="width: 0%;"></div>
        </div>
        <!--body ends-->
        <div class="o-create-portfolio-footer">
            <div class="o-create-portfolio-left">
                <div class="o-create-portfolio-toggle">
                    <div class="switch">
                        <input type="checkbox" id="portfolio-nsfw" name="defaultPost" [(ngModel)]="isNSFW">
                        <span class="slider round"></span>
                    </div>
                </div>
                <span class="text-md grey f500">
                    Restricted Content<span class="icon-info"></span>
                </span>
            </div>
            <!--left ends-->
            <button type="submit" id="portfolio-submit" class="btn btn-primary btn-sm" [disabled]="inProgress">Post</button>
            <!--for event page-->
        </div>
    </form>
    <!--footer post ends-->
</div>