<div class="o-create-portfolio">
  <div class="o-create-portfolio-head o-create-portfolio-head--border">
      <div class="o-create-show-timez__title text-lg f500">Create a post
          <span class="o-create-dropdown-style">
              <span class="text-md primary f500">On #Portfolio<span class="icon-x"
                      (click)="changeToDefault()"></span></span>
          </span>
      </div>
      <div class="close" (click)="close()"><i class="icon-x"></i></div>
  </div>
  <!--boost head end-->
  <form (submit)="post()">
      <div class="o-create-portfolio-body o-create-portfolio-body--flex">
          <div class="o-crete-portfolio-userinfo">
              <div class="o-crete-portfolio-userinfo__avatar">
                  <img src="assets/demo/avatar.png" alt="">
              </div>
              <div class="o-crete-portfolio-userinfo__mesaage">
                  <textarea type="text" id="message" #message name="message" placeholder="Write Something"
                  [ngModel]="meta.message" (ngModelChange)="onMessageChange($event)"
                  (keyup)="getPostPreview(message);"></textarea>
              </div>
          </div>
          <!--userinfo ends-->
          <div class="o-create-portfolio-fileupload" *ngIf="attachment.meta.attachment_guid.length == 0">
              <div class="fileUpload">
                  <span class="icon-paperclip-2"></span>
                  <input type="file" id="file" #file class="upload" name="attachment"
                          (change)="uploadAttachment(file, $event)" />
              </div>
              <!--file upload ends-->
              <div class="text-md grey">
                  Add Image, Video or Audio
              </div>
              <!--file preview ends-->
          </div>
          <div class="o-create-portfolio-filled-fileupload" *ngIf="attachment.meta.attachment_guid.length > 0">
                  <div class="fileUpload-preview-new mr-9" *ngFor="let image of cards">
                      <!-- <a class="o-create-portfolio-filled-avatar" href="#">
                          <img src="assets/demo/m3.jpg" alt="">
                      </a> -->
                      <a class="fileUpload-preview-new-close" (click)="removeAttachment(file,image.guid)"><i
                          class="ico-x white"></i></a>
                  <a class="o-create-portfolio-filled-avatar" href="javascript:void(0)">
                      <img [src]="image.imageLink" alt="">
                  </a>
                  </div><!--file preview ends--->
                  <!--file upload ends-->
              </div> 
      </div>
      <!--body ends-->
      <div class="o-create-portfolio-footer">
          <div class="o-create-portfolio-left">
              <div class="o-create-portfolio-toggle">
                  <div class="switch">
                      <input type="checkbox" name="defaultPost" [(ngModel)]="isNSFW">
                      <span class="slider round"></span>
                  </div>
              </div>
              <span class="text-md grey f500">
                  NSFW<span class="icon-info"></span>
              </span>
          </div>
          <!--left ends-->
          <button type="submit" class="btn btn-primary btn-sm disabled">Post</button>
          <!--for event page-->
      </div>
  </form>
  <!--footer post ends-->
</div>