@import "node_modules/sass-mq/_mq";
@import "src/assets/helpers/variables";

.o-create-sponsored-post{
    width: 525px;
    border-radius: 4px;
    background-color: $white;
    .mt7{
        margin-top:7px;
    }
}
.o-create-sponsored-post-head{
    width: 100%;
    padding:18px 27px;
    position: relative;
    background-color: rgba(235,239,242,0.4);
    .close{
        position: absolute;
        top: 23px;
        right: 24px;
        i{
            font-size:17px;
        }
    }
}
.o-create-sponsored-post-head--border{
    border-bottom: 1px solid #ECEFF1;
}
.o-create-sponsored-post-body{
    width: 100%;
    padding: 18px 27px 0px;
    textarea{
        resize:none;
        font-size:13px;
        font-family: "Roboto", sans-serif !important;
        padding: 0.6rem 0.75rem;
    }
    .description-width{
        text-align: right;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        position: absolute;
        top: 5px;
    }
    .form-group{
        margin-bottom: 18px;
    }
}
.o-create-sponsored-post-body--flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


// cover image style
.o-create-sponsored-post-cover-image{
    display:flex;
    width:100%;
    margin-bottom: 8px;
    flex-direction: row;
    align-items: center;
    position: relative;
    @include mq($from: $mobile_sm, $until:$mobile_lg ){
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__avatar{
        height: 118px;
        width: 230px;
        img{
            width:100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__edit{
        background: $primary;
        border: 1px solid #fff;
        border-radius:50%;
        width:22px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -10px;
        right: -10px;
        i{
            color:#fff;
            font-size: 14px;
        }
    }
    // file upload css

    .fileUpload {
        position: relative;
        // overflow: hidden;
        height: 118px;
        width: 230px;	
        border: 1px solid #ECEFF1;	
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon-plus{
            height: 40px;
            width: 40px;
            border: 1px solid;
            border-radius: 50%;
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
        height: 118px;
        width: 230px;
    }

}
.o-create-sponsored-post-footer{
    border-radius: 0 0 4px 4px;	
    background-color: rgba(235,239,242,0.4);
    padding: 10px 24px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    border: 1px solid #ECEFF1;
    button{
        padding: 4px 27px;
    }
    .btn-primary.disabled{
        color: $grey!important;
    }
}


//preview style
.fileUpload-preview-sponsored-post {
    height: 118px;
    width: 230px;	
    border: 1px solid #F5F7F8;
    border-radius: 4px;
    position: relative;
    // overflow: hidden;
}

//responsive style
@include mq($from: $mobile_sm, $until:$mobile_lg ) {
    .o-create-sponsored-post-mob{
     padding: 16px 15px;   
    }
    .o-create-sponsored-post-mob-header{
        .without-nav-header__title{
            text-align: left;
            padding-left: 18px;
            margin-left:0px;
                .icon-chevron-down{
                line-height: 24px;
                font-size: 15px;
                color:$primary!important;
                }
        }
        .icon-box-design{
            margin-left: 9px;
            height: 32px;	
            width: 32px;	
            border: 1px solid rgba(144,164,174,0.2);	
            border-radius: 4px;	
            background-color:$white;	
            display: inline-block;
            text-align: center;
            vertical-align: middle;
        }
    }
    .form-group{
        margin-bottom: 18px;
    }
    .description-width{
        text-align: right;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        position: absolute;
        top: 5px;
    }
}
.o-create-sponsored-post-mob-header-below{
    background-color: #ECEFF1;
    padding: 14px 15px;
    display: flex;
    justify-content: space-between;
    .icon-x{
        font-size: 16px;
        vertical-align: middle;
    }
}


