.c-color_box {
    height: 150px;
    margin:8px 0;
    border: .5px solid #999;
    h5 {
        font-weight: 100;
    }
}


//text color
// primary color
.primary {
    color: $primary!important;
}

.primary-dark {
    color: $primary-dark!important;
}

.primary-light {
    color: $primary-light!important;
}

// grey color
.grey {
    color: $grey!important;
}

.grey-light {
    color: $grey-light!important;
}

.grey-dark {
    color: $grey-dark!important;
}

// white color
.white {
    color: $white!important;
}

// black color
.black {
    color: $grey-dark!important;
}

// background color
// primary color
.bg-primary {
    background-color: $primary!important;
}

.bg-primary-dark {
    background-color: $primary-dark;
}

.bg-primary-light {
    background-color: $primary-light;
}

// grey color
.bg-grey {
    background-color: $grey!important;
}

.bg-grey-light {
    background-color: $grey-light!important;
}

.bg-grey-dark {
    background-color: $grey-dark;
}

// white color
.bg-white {
    background-color: $white;
}

// black color
.bg-black {
    background-color: $grey-dark;
}

// blue

.bg-blue {
    background-color: $primary;
}
.error{
    color: $error!important;
}