
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $grey-dark;
}

p {
    font-size: $font-11;
    font-weight: $font-regular;
    color: $grey-dark;
}

a {
    color: $grey-dark;
    text-decoration: none!important;
    outline: none;
    &:hover {
        color: $grey-dark;
        text-decoration: none!important;
        outline: none;
    }
}
// heading h1 to h6
.text-h1, h1 {
    color: $grey-dark;
    font-size: $font-h1;
    font-weight: $font-light;
    line-height: $lh-56;
    @include mq($from: $mobile-sm, $until: $mobile) {
        color: $grey-dark;
        font-size: $font-h4;
        font-weight: $font-regular;
        line-height: $lh-30;
    }
}

.text-h2, h2 {
    @extend .text-h1;
    font-size: $font-h2;
    line-height: $lh-44;
    @include mq($from: $mobile-sm, $until: $mobile) {
        color: $grey-dark;
        font-size: $font-h3;
        font-weight: $font-regular;
        line-height: $lh-30;
    }
}

.text-h3, h3 {
    color: $grey-dark;
    font-size: $font-h3;
    font-weight: $font-regular;
    line-height: $lh-30;
    @include mq($from: $mobile-sm, $until: $mobile) {
        color: $grey-dark;
        font-size: $font-h5;
        //font-weight: $font-regular;
        line-height: $lh-30;
    }
}

.text-h4, h4 {
    color: $grey-dark;
    font-size: $font-h4;
    font-weight: $font-regular;
    line-height: $lh-30;
}

.text-h5, h5 {
    @extend .text-h4;
    font-size: $font-h5;
    line-height: $lh-24;
}

// caption
.caption-regular {
    color: $grey-dark;
    font-size: $font-15;
    line-height: $lh-24;
    font-weight: $font-regular;
}

.caption-light {
    color: $grey-dark;
    font-size: $font-15;
    line-height: $lh-24;
    font-weight: $font-light;
}

.caption-medium{
    color: $grey-dark;
    font-size: $font-15;
    line-height: $lh-18;
    font-weight: $font-semibold;
}

.caption-bold {
    color: $grey-dark;
    font-size: $font-15;
    line-height: $lh-20;
    font-weight: $font-semibold;
}


.text-lg {
    color: $grey-dark;
    font-size: $font-15;
    line-height: $lh-24;
    font-weight: $font-regular;
    @include mq($from: $mobile_sm, $until: $mobile_lg) {
      font-size: $font-13;
 }
}
// font medium
.text-md {
    color: $grey-dark;
    font-size: $font-13;
    line-height: $lh-18;
    font-weight: $font-regular;
}
// font small
.text-sm {
    color: $grey-dark;
    font-size: $font-11;
    line-height: $lh-16;
    font-weight: $font-regular;
}


// boostrap
.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.font-italic {
  font-style: italic;
}

// font style

.text-uppercase{
	text-transform: uppercase!important;
}
.f700{
	font-weight: 700!important;
}
.f500{
	font-weight: 500!important;
}
.f400{
	font-weight: 400!important;
}