<div class="o-organisation-card-popup">
    <div class="o-organisation-card-popup-cover">
        <img *ngIf='entity?.banner != "" '
        [src]="opspot.cdn_url + 'fs/v1/banners/' + entity.guid + '/fat/' + entity?.banner" alt="cover">
    <img *ngIf='entity?.banner == "" ' src="assets/demo/m2.jpg" alt="cover">
    </div><!--cover ends-->
    <div class="o-organisation-card-popup-profile">
        <img src="{{opspot.cdn_url}}fs/v1/avatars/{{entity.guid}}/large" alt="cover">
    </div><!--frofile ends-->
    <div class="o-organisation-card-popup-header">
        <h3 class="f500">{{entity?.name}}</h3>
    </div><!--header ends-->
    <div class="o-organisation-card-popup-shortdescription">
        <span class="text-lg grey">{{entity?.category}} {{entity?.location}}</span>
    </div><!--shortdescription ends-->
    <div class="o-organisation-card-popup-description">
        <div class="text-lg">
            {{entity?.briefdescription | truncate:[100, '...']}}
        </div>
    </div><!--description ends-->
    <div class="o-organisation-card-popup-subscribebtn">
        <opspot-organization-join-button [group]="entity"
        *ngIf="entity && (!entity['is:creator']  && !entity['is:invited'])">
    </opspot-organization-join-button>        
    </div>
    <div class="o-organisation-card-popup-cancelbtn">
        <a (click)="dismiss()" class="primary text-lg">Cancel</a>
    </div>
</div><!--o-organisation-card-popup ends-->