<div class="o-explore-tag-sec" id="explore-view">
    <ngx-slick-carousel class="carousel o-explore-tag tag-slik" #slickModal="slick-carousel" [config]="slideConfig"
        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let tags of _exploreTabList; let i = index;" id="explore-skill-type" class="slide o-tag">
            <a (click)="switchCategoryType(tags)" class="">{{tags}}</a>
        </div>
    </ngx-slick-carousel>
    <!-- <button class="btn-prev" (click)="slickModal.slickPrev()">prev</button>
            <button class="btn-next" (click)="slickModal.slickNext()">next</button> -->
    <!--tag block end -->
</div><!-- tag section end-->
<section class="o-explore-content-sec">
    <div class="container">
        <div class="o-explore-action">
            <div class="o-explore-action__title">
                <h4 class="f700">{{_activeFilter}}</h4>
              </div>
            <!-- <div class="o-explore-action__filter">
                <form>
                    <div class="form-group" >
                        <select class="form-control" id="explore-media-type" (change)="onChange($event.target.value)">
                            <option value="activities" selected>All</option>
                            <option value="images" id="explore-image">Images</option>
                            <option value="audios" id="explore-audio">Audios</option>
                            <option value="videos" id="explore-video">Videos</option>
                            <option value="blogs" id="explore-blog">Blogs</option>
                        </select>
                    </div>
                </form>
            </div> -->
            <div class="o-explore-action__search">
                <div class="form-group c-form_righticon-lg">
                    <input type="text" id="explore-search" class="form-control form-control-lg" placeholder="Search Post" [(ngModel)]="q"
                        name="q" autocomplete="off" #searchInput>
                    <span class="c-svg_eye"><i class="icon-search" id="explore-search-icon"></i></span>
                </div>
            </div>
        </div>
        <!--filter and search section-->
        <div class="o-explore-media-part">
            <div class="o-explore-media-part__subtitle">
                <div>Trending {{_activeFilter}}</div>
            </div>
            <opspot-masonry-container [entities]="filteredArray" class="explore-container"></opspot-masonry-container>
            <infinite-scroll distance="25%" (load)="searchMore()" [moreData]="moreData" [inProgress]="inProgress">
            </infinite-scroll>
        </div>
        <!--media section-->
    </div>
</section>