<div class="o-explore-tag-sec">
    <div class="o-explore-tag tag-slik">
        <ng-container *ngFor="let tags of hashtags">
            <a (click)="switchCategoryType(tags.value)" class="o-tag">{{tags.value}}</a>
        </ng-container>

        <!-- <ngu-carousel [inputs]="exploreSlider">
            <ngu-item NguCarouselItem class="" *ngFor="let tags of hashtags">
                <a (click)="switchCategoryType(tags.value)" class="o-tag">{{tags.value}}</a>
            </ngu-item>
            <button NguCarouselPrev class='leftRs'>&lt;</button>
            <button NguCarouselNext class='rightRs'>&gt;</button>
        </ngu-carousel> -->
    </div><!-- tag block end -->
</div><!-- tag section end-->

<section class="o-explore-content-sec">
    <div class="container">
        <div class="o-explore-action">
            <div class="o-explore-action__filter">
                <form>
                    <div class="form-group">
                        <select class="form-control" (change)="onChange($event.target.value)">
                            <option value="All" selected>All</option>
                            <option value="Image">Image</option>
                            <option value="Audio">Audio</option>
                            <option value="Video">Video</option>
                            <option value="Blogs">Blogs</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="o-explore-action__search">
                <div class="form-group c-form_righticon-lg">
                    <input type="text" class="form-control form-control-lg" placeholder="Search Post" [(ngModel)]="q" name="q" autocomplete="off" #searchInput>
                    <span class="c-svg_eye"><i class="icon-search"></i></span>
                </div>
            </div>
        </div><!--filter and search section-->
        <div class="o-explore-media-part">
            <opspot-masonry-container [entities]="entities"></opspot-masonry-container>
            <infinite-scroll
            distance="25%"
            (load)="searchMore(false)"
            [moreData]="moreData"
            [inProgress]="inProgress">
        </infinite-scroll>
        </div><!--media section-->
    </div>
</section>