// about style
@import "src/assets/helpers/variables";
@import "node_modules/sass-mq/_mq";

.about-sec{
    width: 100%;
    min-height: 100vh;
    background-color: #FAFAFA;
    float: left;
}
.about-block{
    max-width: 1072px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #fff;
    min-height: calc(100vh - 80px);
    @include mq($from: $mobile_sm, $until: $tablet) {
		flex-direction: column;
	}
    &__left{
        width: 282px;
        padding-top:41px;
        @include mq($from: $mobile_sm, $until: $tablet) {
            width: 100%;
            position: sticky;
            top: 0;
            background: #fff;
            z-index: 999;
            padding-top: 18px;
        }
    }
    &__right{
        max-width: calc(100% - 282px);
        width: 100%;
        min-height: 500px;
        border-left: 1px solid $grey-light;
        padding-left: 27px;
        padding-right: 99px;
        @include mq($from: $mobile_sm, $until: $tablet) {
            max-width: 100%;
            padding: 15px;
        }
        .m-t-17{
            margin-top: 17px;
        }
        .m-b-25{
            margin-bottom: 25px;
        }
        .text-md{
            line-height: 24px!important;
        }
        .m-t-b-34{
            margin: 17px 0px 34px;
        }
        .m-b-65{
            margin-bottom: 65px;
        }
    }
}
.about-content-block{
    width: 100%;
    &--p-b-41{
        padding-top: 41px;
        @include mq($from: $mobile_sm, $until: $tablet) {
            padding-top: 100px;
        }
    }
}

.about-menu{
    width: 100%;
    list-style: none;
    &__items{
        width: 100%;
        float: left;
        margin: 0px;
        text-align: left;
        background-color: transparent;
        border-left: 6px solid #fff;
        &--active{
            color: #0288D1 !important;
            border-left: 6px solid #0288D1;
            background: rgba(236, 239, 241, 0.5);
        }
    }
    &__link{
        padding: 16px 34px;
        color: #263238;
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
        display: inline-block;
    }
}

.about-content-img{
    width: 364px;
    margin: 29px 0px 38px 0px;
    @include mq($from: $mobile_sm, $until: $tablet) {
        max-width: 100%;
    }
    img{
        width: 100%;
    }
}

// list

.about-list-content{
    width: 100%;
    margin-top: 25px;
    margin-left: 16px;
    &__item{
        width: 100%;
        margin-bottom: 25px;
        @extend .text-md;
        list-style-position:outside;
    }
}

// line

.line{
    width: 100%;
    height: 2px;
    background: $grey-light;
    margin: 20px 0px 0px;
}

// logo storyline

.about-logo{
    width: 183px;
    margin: 34px 0px 44px;
    img{
        width: 183px;
    }
}

.montserrat-text{
    font-size: 40px;
    color: #263238;	
    font-family: 'Montserrat', sans-serif!important;	
    font-size: 40px;	
    line-height: 24px;
}

// dropdwon

.dropbtn {
    width: 100%;
    padding: 18px 15px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #ECEFF1;
    border-radius: 4px;
    overflow: hidden;
    background: transparent;
    display: flex;
    justify-content: space-between;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #fff;
    outline: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    width: calc(100% - 30px);
    margin: 0px 15px;
  }
  
  .dropdown-content {
    // display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  .drop-arrow-ico{
      width: 12px;
      i{
          font-size: 20px;
      }
  }