

 <m-modal [open]="open" (closed)="close()"   >


    <!-- <button (click)="crop()"> Apply crop</button> -->
    <div class="this-is-for-priview">
        <div class="o-profile-crop">
            <div class="o-profile-crop-head">
                <div class="without-nav-header o-reg-skill-mob-header">
                    
                    <div class="o-profile-crop-head__title"><a ><i class="icon-arrow-left" (click)="close()" ></i></a>Edit  Picture</div>
                    <button class="btn btn-primary btn-sm" (click)="crop()" >Apply</button>
                </div>
            </div><!--profile crop head end-->
            <div class="o-profile-crop-body">
                <ngx-croppie *ngIf="croppieImage" [croppieOptions]="croppieOptions" [imageUrl]="croppieImage" [points]="[20,50,500,500]" (result)="imageResult($event)">
                </ngx-croppie>   
            </div>
            <div class="o-profile-crop-footer">
                <div class="o-profile-crop-footer__icon1">
                  <i class="icon-image"></i>
                </div>
                <div class="o-profile-crop-footer_rangeslider">
                  <!-- <input  type="range" value="40" > -->
                </div>
                <div class="o-profile-crop-footer__icon2">
                    <i class="icon-image"></i>
                </div>
            </div><!--footer ends-->
        </div>
    </div>
    
    
    </m-modal>