<div class="container" style="margin-top: 80px;">
  <div class="o-book-blocks">
    <div class="o-book-left-block hidden-mob">
      <div class="o-card o-book-filter">
          <div class="o-book-filter__title">
              <div class="caption-medium">Filter</div>
              <div class="text-sm primary">Clear All</div>
          </div>
          <div class="o-book-filter__block">
              <form>
                  <div class="c-checkbox__md">
                      <label class="c-checkbox">All
                          <input type="checkbox" checked="checked">
                          <span class="checkmark"></span>
                      </label>
                      <label class="c-checkbox">Image
                          <input type="checkbox">
                          <span class="checkmark"></span>
                      </label>
                      <label class="c-checkbox">Video
                          <input type="checkbox">
                          <span class="checkmark"></span>
                      </label>
                      <label class="c-checkbox">Audio
                          <input type="checkbox">
                          <span class="checkmark"></span>
                      </label>
                      <label class="c-checkbox">Blog
                          <input type="checkbox">
                          <span class="checkmark"></span>
                      </label>
                      <label class="c-checkbox">Opportunity
                          <input type="checkbox">
                          <span class="checkmark"></span>
                      </label>
                      <label class="c-checkbox">Event
                          <input type="checkbox">
                          <span class="checkmark"></span>
                      </label>
                      <label class="c-checkbox">Profile
                          <input type="checkbox">
                          <span class="checkmark"></span>
                      </label>
                  </div>
              </form>
          </div>
      </div><!--filter block end-->
  </div>

  <div class="o-book-right-block">
    <div class="o-card o-book-title">
      <div class="o-book-title__text">
          <div class="caption-medium float-left">Bookmark</div>
          <span class="o-bookmark-count text-md grey-dark float-left" title="Unread Notification">{{activity.length}}</span>
      </div>
      <div class="o-book-title__action">
          <a  class="o-book-settings" title="Settings"><i class="icon-settings"></i></a>
      </div>
  </div>
  <opspot-activity
  *ngFor="let activi of activity; let i = index"
  [object]="activi"
  [class]="'mdl-card m-border item m-boost-rotator-item m-boost-rotator-item-' + i"
  visible="true"
  ></opspot-activity>
  </div>
  </div>
</div>