<!-- <span class="text-lg grey o-posts-det">
    {{title}} <a class="grey-dark f500">{{hashtag}}</a>
</span> -->
<div class="o-avatar-det-block">
    <span class="text-lg grey o-posts-det">
        <a
            *ngIf="entity?.containerObj && entity?.containerObj?.type == 'organization'; else usersName"
            [routerLink]="['/organization/profile', entity?.containerObj?.guid, 'feed']" 
            class="o-avatar__name"
        >
            {{entity?.containerObj?.name| truncate:[20, '...']}}
        </a>
        <ng-template #usersName>
            <a
                *ngIf="entity && entity.ownerObj"
                [routerLink]="['/', entity?.ownerObj?.username]"
                class="o-avatar__name"
            >
                {{entity?.ownerObj?.name | truncate:[20, '...']}}
            </a>
        </ng-template>
        {{title}} 
        <ng-container [ngSwitch]="postType">
            <ng-template ngSwitchCase="repost">
               <a class="grey-dark f500 text-md hash-tag" style="cursor: default">
                  {{hashtag}}
                </a>
                <span *ngIf="entity && entity?.deleted" class="delete_post">This post is deleted</span>
            </ng-template>
            <ng-template ngSwitchCase="blog">
                <a [href]="entity.perma_url" target="_blank" class="grey-dark f500 text-md hash-tag">
                    {{hashtag}}
                </a>
            </ng-template>
            <ng-template ngSwitchDefault>
                <a [routerLink]="['/', parentRoute, this.entity.guid]" class="grey-dark f500 text-md hash-tag" [class.disabled]="entity?.custom_data == false ? true : null">
                    {{hashtag}}
                </a>
            </ng-template>
        </ng-container>
    </span>
</div>
<style>
a.disabled {
   pointer-events: none;
   cursor: default;
}
</style>