@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
//clearfix
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

$pad-scale-base: 8px;

// Padding
@mixin padd($scale) {
  padding-left: $pad-scale-base*$scale;
  padding-right: $pad-scale-base*$scale;
  padding-top: $pad-scale-base*$scale;
  padding-bottom: $pad-scale-base*$scale;
}



@mixin breakpoint($mobile) {
  @if $mobile == small {
    @media (min-width: 320px) { @content; }
  }
  @else if $mobile == medium {
    @media (min-width: 350px) { @content; }
  }
  @else if $mobile == large {
    @media (min-width: 480px)  { @content; }
  }
}