// Colors
$primary        : #0288D1;
$primary-dark   : #1565C0;
$primary-light  : #64B5F6;

$grey           : #90A4AE;
$grey-dark      : #263238;
$grey-light     : #ECEFF1;

$blue           : #4A90E2;
$purple         : #662D91;
$white          : #FFFFFF;
$black          : #000000;



$error : #EF5350;

//font size
$font-base      : 11px !default;
$font-h1        : ceil(($font-base * 4.15)); // 46px
$font-h2        : ceil(($font-base * 3.05)); // 34px
$font-h3        : ceil(($font-base * 2.15)); // 24px
$font-h4        : ceil(($font-base * 1.8)); // 20px
$font-h5        : ceil(($font-base * 1.6)); // 18px
$font-15        : ceil(($font-base * 1.3)); // 15px;
$font-13        : ceil(($font-base * 1.1)); // 13px
$font-11        : $font-base; // 11px;
$font-9         : 9px;

// font weight
$font-100       : 100;
$font-light     : ceil(($font-100 * 3)); // 300
$font-regular   : ceil(($font-100 * 4)); // 400
$font-semibold  : ceil(($font-100 * 5)); // 500
$font-bold      : ceil(($font-100 * 7)); // 700

// line height
$lh-56          : 56px; // 56px
$lh-44          : 44px; // 44px
// $lh-30          : 34px; // 34px
$lh-30          : 30px; // 30px
// $lh-24          : 27px; // 27px
$lh-24          : 24px; // 24px
$lh-20          : 20px; // 20px
$lh-18          : 18px; // 18px
$lh-16          : 16px; // 16px


// text shadow
$text-shadow1 : 0 1px rgba(0,0,0,0.25) !default;

// border radius
$br-2           : 2px;

// letter spacing
$letter-spacing1: 1px;

//new breakpoint
$desktop_imac : 2600px;
$desktop_lg : 1400px;
$desktop : 1199px;
$desktop_sm : 992px;
$tablet: 767px;
$mobile_lg : 480px;
$mobile_sm : 320px;
$mobile_md : 375px;
$mobile_landscape :812px;
$mobile           : 575px;
$wide_lg          : 2600px;


