<div class="o-token">
    <div class="o-token-head o-token-head--border">
        <div class="o-token__title text-h4 f500 text-center">Buy Spotcoins</div>
    </div>
    <!--token head end-->
    <div class="o-token-body o-token-body--flex">
        <div class="o-token-discrptn text-md text-center">
            Spotcoins enable you to Boost Posts as well as Contribute to fellow artists.<a href="" class="primary">
                Learn more</a>
        </div>
        <!--token discription end-->
        <div class="o-token-purchase">
            <input type="range" min="10" max="5000" step="10" data-orientation="vertical" [(ngModel)]="tokens"
                #tokenInput>
            <input type="number" class="o-token-action-input" [(ngModel)]="tokens" #tokenInput>
        </div>
        <div class="o-purchase-detail">
            <div class="o-purchase-detail__title">Purchase Details</div>
            <div class="o-purchase-detail__body">
                <div class="o-purchase-count">
                    <span class="text-md">{{tokens}} tokens</span>
                    <!-- <span class="text-sm grey text-right">GST 6%</span> -->
                </div>
                <div class="o-purchase-token-price">
                    <span class="text-md"><label for="">₹</label> {{amount}}</span>
                    <!-- <span class="text-md"><label for="">₹</label> 5.00</span> -->
                    <span class="o-purchase-token-price__total"><label for="">₹</label> {{amount}}</span>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary btn-block btn--token-buy" (click)="payment()">Buy</button>
    </div>
</div>