<div class="o-token">
    <div class="o-token-head o-token-head--border">
        <div class="o-token__title text-h4 f500 text-center" id="spotcoins-title">Buy Coins</div>
    </div>
    <!--token head end-->
    <div class="o-token-body o-token-body--flex">
        <div class="o-token-discrptn text-md text-center">
            Coins enable you to boost your posts as well as contribute to fellow artists.<a href="" class="primary">
                Learn more</a>
                <p>**The maximum number of coins in one purchase is 99 coins</p>
        </div>
        <!--token discription end-->
        
        <div class="o-token-purchase" id="spotcoins-token-purchase">
            <input type="range" id="spotcoins-range" min="1" max="99" step="1" value="1" data-orientation="vertical" [(ngModel)]="tokens"
                #tokenInput>
            <input type="number" id="spotcoins-buy-coins" class="o-token-action-input" maxlength="2" min="1" max="99" 
                (keypress)=limit($event) [(ngModel)]="tokens" #tokenInput>
        </div>
        <div class="o-purchase-detail">
            <div class="o-purchase-detail__title">Purchase Details</div>
            <div class="o-purchase-detail__body">
                <div class="o-purchase-count">
                    <span class="text-md" id="spotcoins-tokens">{{tokens}} coins</span>
                    <!-- <span class="text-sm grey text-right">GST 6%</span> -->
                </div>
                <div class="o-purchase-token-price">
                    <span class="text-md"><label for="">₹</label> {{amount}}</span>
                    <!-- <span class="text-md"><label for="">₹</label> 5.00</span> -->
                    <span class="o-purchase-token-price__total" id="spotcoins-amount"><label for="">₹</label> {{amount}}</span>
                </div>
            </div>
        </div>

        <button type="button" id="spotcoins-buy-button" class="btn btn-primary btn-block btn--token-buy" (click)="payment()">Buy</button>
    </div>
</div>