.o-bookmark-sec{
    width: 100%;
    float: left;
    background-color: #FAFAFA;
    min-height: 100vh;
}

.o-book-blocks{
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    // div{
    //     height: 500px;
    // }
    &--flex{
        @include mq($from: $mobile_sm, $until: $tablet) {
            flex-direction: column;
        }
    }
}
.o-book-left-block{
    width: 265px;
    order: 1;
    z-index: 1;
}
.o-book-right-block{
    width: 100%;
    max-width: 776px;
    order: 2;
    margin: 0px 10px;
    @include mq($from: $mobile_sm, $until: $desktop_sm) {
        margin:15px;
        width: calc(100% - 30px);
    }
}

// left block filter style

.o-book-filter{
    padding: 16px;
    background: #fff;
    &__title{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__block{
        width: 100%;
        margin-top: 12px;
        .c-checkbox{
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            flex-direction: row;
            
            display: block;
            position: relative;
            padding: 6px 0px;
            margin: 0px;
            cursor: pointer;
            font-size: 13px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            line-height: 15px;
        }
        .checkmark{
            right: 0px!important;
            left: unset;
        }
    }
}

// //center block styles

// for title

.o-book-title{
    width: 100%;
    border: 1px solid $grey-light;	
    border-radius: 4px;	
    background-color: $white;
    padding: 18px 19px;
    display: flex;
    margin:0px;
    &__text{
        width: 50%;
        display: flex;
        align-items: center;
    }
    &__action{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
    }
}
.o-bookmark-count{	
    border-radius: 4px;	
    border: 1px solid #263238;
    padding:3px 7px;
    margin-left: 12px;
}
.o-book-settings{
    margin-left: 17px;
    i{
        font-size: 16px;
        color: $grey;
    }
}

// for date

.o-bookmarked-days{
    padding: 12px 19px;
}

// for date block

.o-bookmark-block{
    // border: 1px solid $grey-light;	
    border-radius: 4px;	
    background-color: #FFFFFF;
    overflow: hidden;
    @include mq($from: $mobile_sm, $until: $tablet) {
		background: transparent;
	}
    .o-card{
        border-bottom: .4px solid $grey-light;
        border-radius: 0px;
    }
}

// for bookmark component

// for common 

.o-book-block{
    width: 100%;
    padding: 22px 20px;
    // display: flex;
    justify-content: flex-start;
    flex-direction: row;
    @include mq($from: $mobile_sm, $until: $tablet) {
        flex-direction: column;
        padding: 0px;
        background: #fff;
        margin-bottom: 9px;
        border-bottom: 1px solid $grey-light;
	}
    &__left{
        width: 193px;
        @include mq($from: $mobile_sm, $until: $tablet) {
            width: 100%;
        }
        &--profile{
            width:30%!important;
            @include mq($from: $mobile_sm, $until: $tablet) {
                width: 100%!important;
                position: relative;
                // min-height: 200px;
            }
        }
    }
    &__right{
        width: calc(100% - 193px);
        padding-left: 31px;
        position: relative;
        @include mq($from: $mobile_sm, $until: $tablet) {
            width: 100%;
            padding: 13px 15px 18px 15px;
        }
    }
}

.o-book-media{
    width: 100%;
    height: 128px;
    object-fit: contain;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    @include mq($from: $mobile_sm, $until: $tablet) {
		max-height: 142px;
	}
    img{
        width: 100%;
        object-fit: cover;
    }
    .o-book-video-overlay{
        width: 100%;
        min-height: 128px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background-color: rgba(0,0,0,0.5);
        @include mq($from: $mobile_sm, $until: $tablet) {
            max-height: 142px;
        }
    }
}
.o-book-user-info{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &__det{
        order: 2;
        margin-left: 9px;
    }
}
.o-book-top-action{
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &--mob{
        top: 38px;
    }

    // for dropdown
    .o-option-drop__btn {
        cursor: pointer;
        i{
            font-size: 17px;
        }
    }
    .o-option-drop {
        position: relative;
        display: inline-block;
        margin-left: 12px;
        @include mq($from: $mobile_sm, $until: $tablet) {
            margin-top: 15px;
            margin-right: 16px;
        }
    }

    .o-option-drop__block {
        display: none;
        position: absolute;
        overflow: auto;
        z-index: 1;
        width: 75px;
        border-radius: 4px;
        background-color: #FFFFFF;
        box-shadow: 0 6px 10px 0 rgba(144, 164, 174, 0.16), 0 1px 12px 0 rgba(144, 164, 174, 0.18), 0 3px 5px 0 rgba(144, 164, 174, 0.2);
        left: -48px;
        top: -2px;
        padding: 14px 13px 0px 13px;
    }
    .o-option-drop__block a {
        color: black;
        padding-bottom: 14px;
        text-decoration: none;
        display: block;
        @extend .text-md ;
    }
    .show {display: block;}
}
.o-bookmark-tag{
    padding: 2px 10px;
    background: $grey-light;
}
.o-bookmark-tag-mob{
    padding: 2px 10px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 13px;
    right: 13px;
}

.o-book-discrptn{
    width: 96%;
    padding: 9px 0px 14px 0px;
}
.o-book-discrptn-top{
    width: 85%;
    padding: 0px 0px 14px 0px;
    color: #263238;
    font-size: 14px;	
    font-weight: 500;	
    line-height: 24px;
    @include mq($from: $mobile_sm, $until: $tablet) {
		width: 92%;
	}
}
.o-book-action{
    width: 100%;
    @include mq($from: $mobile_sm, $until: $tablet) {
		text-align: right;
	}
}

// event

.o-book-event-det{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    margin-bottom: 21px;
}
.o-book-event-date{
    padding: 2px 5px;
    background: $grey-light;
    margin-right: 9px;
}

// profile 

.o-book-prof{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: row;
    @include mq($from: $mobile_sm, $until: $tablet) {
        flex-direction: column;
        position: absolute;
        top: 17px;
        z-index: 2;
	}
    &__avatar{
        width: 111px;
        height: 111px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid #ECEFF1;
        @include mq($from: $mobile_sm, $until: $tablet) {
            
        }
        img{
            width: 100%;
        }
    }
    &__info{
        display: flex;
        justify-content: flex-start;
        align-items: left;
        flex-direction: column;
        margin-left: 15px;
        .btn--book{
            margin-top: 12px;
        }
    }
}
.o-book-prof-media{
    width: 100%;
    margin-top: 35px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    &__box{
        height: 78px;	
        width: 78px;	
        border: 1px solid #ECEFF1;	
        border-radius: 2px;
        overflow: hidden;
        margin: 0px 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        img{
            width: 100%;
        }
        .o-book-prof-media-overlay{
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 3;
            width: 100%;
            height: 78px;
            background-color: rgba(0,0,0,0.79);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.o-book-prof-top-bar-mob{
    @include mq($from: $mobile_sm, $until: $tablet) {
        width: 100%;
        height: 61px;
        background-color: $grey-light;
        position: absolute;
        z-index: 1;
        top: 0;
	}
}