.o-community-landing-sec{
    width: 100%;
    float: left;
    background-color: #FAFAFA;
    @include mq($from:$mobile-sm, $until:$desktop-sm){
        background-color: $white;
    }
}

//landing block
.o-community-landing-block{
    width: 100%;
    max-width: 1070px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    @include mq($from:$mobile-sm, $until:$desktop-sm){
        flex-direction: column;
    }
    &__mob-header{
        display:none;
        @include mq($from:$mobile-sm, $until:$desktop-sm){
            display:flex;
            justify-content: space-between;
            padding: 8px 20px 16px;

        }
    }
    &__mob-tab{
        display:none;
        @include mq($from:$mobile-sm, $until:$desktop-sm){
            display:block;
        } 
    }
    &__sidebar{
        width: 265px;
        padding: 15px 10px;
        button{
            padding:8px 15px;
            margin:20px 0 33px;
        }
        .mb-17{
            margin-bottom: 15px;
        }
    }
    &__main{
        width: calc(100% - 265px);
        margin-left: 8px;
        height: 100vh;
        padding-top: 8px;
        @include mq($from:$mobile-sm, $until:$desktop-sm){
            width:100%;
            margin:0 0px;
            padding-top: 4px;
            background-color: #FAFAFA;
        }
        .o-cmnity-landing-tab-content{
            width:100%;
        }
    }
}

//manage block
.o-community-landing-block-manage{
    display:flex;
    align-items: center;
    margin-top:8px;
    &__avatar{
        img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        display: block; 
        margin-right:11px;
        }
    }
    
}
.o-community-landing-block-your{
    margin-top:33px;
}

//design block
.o-community-landing-block-design{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &__item{
        width:257px;
        @include mq($from:$mobile-sm, $until:$desktop-sm){
            width:100%;
        }
    }
    .mlr13{
        margin:0 13px;
        @include mq($from:$mobile-sm, $until:$desktop-sm){
            margin:0 0px;
        }
    }
    .mr-6{
        margin-right: 0px;
        @include mq($from:$mobile-sm, $until:$desktop-sm){
            margin-right: 15px;
            margin-left:15px;
        }
    }
}


//responsive design
@include mq($from:$mobile-sm, $until:$desktop-sm){
    .o-community-landing-block{
        &__main{
            .o-community-card{
                margin-bottom: 4px;
            }
        }
    }
}