// community style

.o-community-sec{
    width: 100%;
    float: left;
    background-color: #FAFAFA;
    min-height: 100vh;
    .m-b-6{
        margin-bottom: 6px;
    }
}

// reiview count

.review-count{
    background: $grey;
    padding: 1.5px 6px;
    border-radius: 2px;
    overflow: hidden;
    margin-left: 8px;
}
.tabs-community .tabs-list li.active .review-count{
    background: $primary;
}
