// community prof info style

.o-community-info{
    width: 100%;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 23px;
    border: 1px solid #ECEFF1;
    position: relative;
    @include mq($from: $mobile_sm, $until: $tablet) {
        position: unset;
        padding: 42px 23px 23px;
    }
    &--radius{
        border-radius: 4px;
        overflow: hidden;
    }
    // &--shadow{
    //     box-shadow: 0 6px 10px 0 rgba(144,164,174,0.16), 0 1px 12px 0 rgba(144,164,174,0.18), 0 3px 5px 0 rgba(144,164,174,0.2);
    // }
}
.o-community-info-edit{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 18px;
    right: 14px;
    i{
        font-size: 12px;
    }
}
.o-community-option{
    width: 1px;
    position: absolute;
    top: 25px;
    right: 25px;
    @include mq($from: $mobile_sm, $until: $tablet) {
        top: 125px;
        right: 35px;
    }
    i{
        font-size: 16px;
        color: $grey;
    }
}
// prof img edit
.o-community-img-block{
    position: relative;
    @include mq($from: $mobile_sm, $until: $tablet) {
        position: absolute;
        display: flex;
        z-index: 1111111111111111111;
        top: 62px;
    }
}
.o-community-img-edit{
    box-sizing: border-box;	
    height: 23px;	
    width: 23px;	
    border: 1px solid #FFFFFF;	
    background-color: $primary;
    position: absolute;
    bottom: 3px;
    right: 2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        font-size: 13px;
        color: #fff;
    }
}
.o-community-name{
    text-align: center;
    margin-top: 9px;
}
.o-community-others-action{
    width: 100%;
    display: flex;
    justify-content: center;
    &--margin{
        margin-top: 20px;
    }
    .btn--prof{
        margin:0px 4.5px;
    }
}
.o-community-skills{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:16px 0px;
    &__tag{
        border-radius: 2px;	
        background-color: $grey-light;
        color: $grey;	
        font-size: 11px;	
        line-height: 13px;
        padding: 4px 7px;
        margin: 3px;
    }
}


// community gathering

.o-community-gathering{
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 1px solid #0288D1;	
    border-radius: 4px;
    overflow: hidden;
    padding: 10px 12px;
    i{
        font-size: 15px;
        color: $primary;
        margin-right: 6px;
    }
}

// members count

.o-community-members-top{
    width: 100%;
    margin-top: 15px;
    &__count{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__count-mob{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        .m-l-r-6{
            margin: 0px 6px;
        }
    }
    &--mob{
        margin: 0px 0px 17px!important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}

.o-community-members-list-mob-single{
    width: 30px;
    height: 30px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    overflow: hidden;
    img{
        width: 100%;
    }
    &:nth-child(1){
        z-index: 3;
    }
    &:nth-child(2){
        margin-left: -10px;
        z-index: 2;
    }
    &:nth-child(3){
        margin-left: -10px;
        z-index: 1;
    }
}
.o-community-add-members-mob{
    height: 30px;	
    width: 30px;	
    border: 1px solid $primary;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        font-size: 13px;
        color: $primary;
    }
}

// discription

.o-community-discrptn{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 18px;
    .text-md{
        text-align: center;
    }
    a{
        text-decoration: underline!important;
        text-align: center;
    }
}


// for options dropdown

.o-community-option-drop__btn {
    cursor: pointer;
}
.o-community-option-drop {
    position: relative;
    display: inline-block;
    margin-left: 12px;
    top: -1px;
    right: -108px;
    @include mq($from: $mobile_sm, $until: $tablet) {
		right: -150px;
        top: -20px;
	}
}

.o-community-option-drop__block {
    display: none;
    position: absolute;
    overflow: auto;
    z-index: 1;
    width: 75px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 6px 10px 0 rgba(144, 164, 174, 0.16), 0 1px 12px 0 rgba(144, 164, 174, 0.18), 0 3px 5px 0 rgba(144, 164, 174, 0.2);
    left: -48px;
    top: -2px;
    padding: 14px 13px 0px 13px;
}

.o-community-option-drop__block a {
    color: black;
    padding-bottom: 14px;
    text-decoration: none;
    display: block;
    @extend .text-md ;
}

.show {display: block;}
