
.o-card--status{
    padding: 10px 15px;
    background: #fff;
    display: flex;
    align-items: flex-start;
    .o-avatar{
        order: 1;
    }
}
.o-status{
    order: 2;
    width: 92%;
    margin: 10px 0px 0px 12px;
    textarea{  
        /* box-sizing: padding-box; */
        overflow:hidden;
        /* demo only: */
        width:100%;
        font-size:14px;
        line-height: 16px;
        border:none;
        font-family: 'Roboto', sans-serif!important;
        resize: none;
        &:focus{
            outline: none;
        }
        &::placeholder{
            color: $grey;
        }
    }
}