.o-discussions{
    border: 1px solid #ECEFF1;	
    border-radius: 4px;	
    background-color: #FFFFFF;
    max-height: calc(100vh - 58px);
    min-height: calc(100vh - 58px);
    position: sticky;
    top:60px;
    @include mq($from: $mobile_sm, $until: $tablet) {
        border: none;
    }
}
.o-discussions-title{
    padding: 16px;
    border-bottom: 1px solid #ECEFF1;
}
.o-discussions-body{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: calc(100vh - 242px);
    position: relative;
   
    @include mq($from: $mobile_sm, $until: $tablet) {
		height: calc(100vh - 115px);
	}
    .o-discussions-users{
        // display: flex;
        width:100%;
        margin-bottom:15px;
        &__avatar {
            float: left;
            img{
                height: 28px;
                border-radius: 50%;
                width: 28px;
                margin-right: 5px;
            }
        }
        &__text{
            padding: 10px 22px 14px 14px;
            font-size: 13px;
            min-width: 158px;
            max-width: 158px;
            border-radius: 0 20px 20px 20px;
            background-color: #ECEFF1;
            float: left;
            margin-bottom: 6px;
        }
    }
    .o-discussions-mine{
        width:100%;
        margin-bottom:15px;
        &__main{
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
        &__text{
            padding: 10px 22px 14px 14px;
            width: 167px;
            border-radius: 20px 20px 0 20px;
            background-color:  #0288D1;
        }
    }
}

.o-discussions-text-field{
    @include mq($from: $mobile_sm, $until: $tablet) {
        display: flex;
        justify-content: space-between;
        padding: 0px 15px 15px;
    }
    .form-group{
        @include mq($from: $mobile_sm, $until: $tablet) {
            width: calc(100% - 49px);
        }
    }
    .form-control{
        border: 0px;
        border-top: 1px solid #ECEFF1;
        border-radius: 0;
        padding: 15px 36px 19px 15px;
        @include mq($from: $mobile_sm, $until: $tablet) {
            background: $grey-light;
            padding: 10px 14px;
        }
    }
    ::placeholder{
        color: #90A4AE;
    }
    .icon-plus-circle{
        position: absolute;
        right: 10px;
        top: 15px;
        display: flex;
        @include mq($from: $mobile_sm, $until: $tablet) {
            top: 9px;
        }
    }
    .form-group{
        margin-bottom:0;
    }
}

.send-mob-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        font-size: 16px;
        color: $white;
    }
}

// for options dropdown

.o-discussions-mine-option-drop__btn {
    cursor: pointer;
}
.o-discussions-mine-option-drop {
    position: relative;
    display: inline-block;
    margin :18px 11px 0px 0px;
    @include mq($from: $mobile_sm, $until: $tablet) {
		
	}
}

.o-discussions-mine-option-drop__block {
    display: none;
    position: absolute;
    overflow: auto;
    z-index: 1;
    width: 75px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 6px 10px 0 rgba(144, 164, 174, 0.16), 0 1px 12px 0 rgba(144, 164, 174, 0.18), 0 3px 5px 0 rgba(144, 164, 174, 0.2);
    left: -48px;
    top: -2px;
    padding: 14px 13px 0px 13px;
}

.o-discussions-mine-option-drop__block a {
    color: black;
    padding-bottom: 14px;
    text-decoration: none;
    display: block;
    @extend .text-md ;
}

.show {display: block;}

// for actions discussion

.o-discussion-actions{
    width: 100%;
    display: flex;
    padding-left: 36px;
    align-items: center;
    &__link{
        color: $grey;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        i{
            font-size: 13px;
            margin-right: 4px;
        }
    }
    .dot{
        width: 2px;
        height: 2px;
        border-radius: 50%;
        margin: 6px;
    }
    &__tym{
        color: $grey;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
    }
    &--padding{
        padding-left: 81px;
        padding-top: 5px;
    }
}
// img response

.img-res{
    width: 100%;
    line-height: 0;
    display: block;
}

// replay

.o-discussions-reply{
    width: 100%;
    border-top: 1px solid $grey-light;
    padding: 10px 15px;
    position: relative;
    &__close{
        position: absolute;
        right: 15px;
        top: 10px;
        i{
            font-size: 13px;
        }
    }
}

// rply msg shows

.o-discussions-mine-rply-msg{
    width: 100%;
    opacity: 0.5;
    &__content{
        width: 100%;
        padding-left: 8px;
        position: relative;
        &::before{
            position: absolute;
            content: ' ';
            height: 12px;
            width: 1px;
            background: #fff;
            left: 0;
            top: 3px;
        }
    }
}

// discussion footer

// footer textfield

.o-dis-msgs-footer{
    width: 100%;
    padding: 15px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    border-top: 1px solid #ECEFF1;
}
.o-dis-msgs-type{
    width: calc(100% - 38px);
    /* height: 40px; */
    border-radius: 4px;
    background-color: #ECEFF1;
    padding: 11px 14px;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    input{
        width: 80%;
        border: none;
        background: transparent;
        &:focus{
            outline: none;
        }
    }
    &__addon{
        width: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
    }
}

.o-dis-msgs-type__link{
    width: 18px;
    margin-left: 10px;
    i{
        font-size: 18px;
        color: $primary;
    }
}
.o-dis-msgs-send{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    background: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        font-size: 18px;
        color: $white;
    }
}