// home page style

.o-home-sec{
    width: 100%;
    float: left;
    background-color: #FAFAFA;
}
// side menu

.o-side-menu{
    list-style: none;
}
.o-side-menu__list{
    list-style-type: none;
    border-bottom: 1px solid $grey-light;
    float: left;
    width: 100%;
}
.o-side-menu__link{
    width: 100%;
    padding: 16px 0px 13px 0px;
    display: block;
    float: left;
}
.o-side-menu__icon{
    width: 16px;
    height: 16px;
    float: left;
}
.o-side-menu__name{
    float: left;
    margin-left: 13px;
}
.o-side-menu__count{
    padding: 2px 13px;
    border-radius: 14.5px;	
    background-color: #0288D1;
    float: right;
}
.o-side-menu__arrow{
    width: 5px;
    height: 10px;
    float: right;
    margin-left: 11px;
    margin-top: 2px;
    margin-right: 7px;
}