//button style
.organisation-admin-empty-btn{
    margin-top:30px!important;
    padding:9px 55px!important;
}

//avatar style
.organisation-admin-empty-avatar{
    background-color: #ECEFF1;
    display: flex;
    justify-content: center;
    align-items: center;
}

//line style
.o-organisation-admin-empty-post-line{
    height: 3px;
    width: 100%;
    border: 1px solid #ECEFF1;
    margin-top:38px;
}

//add icon style
.o-organisation-admin-add-img{
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    i{
        color: $primary;
        font-size: 30px;
    }   
}
.o-organisation-gathering-block{
    .btn-sm{
        padding:4px 14px;
    }
}

//right block style
.organisation-admin-empty-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 471px;
    width: 265px;
    border: 1px solid #ECEFF1;
    border-radius: 4px;
    background-color: #FFFFFF;
    &__text{
        margin:24px 0px;
    }
    &__btn{
        button{
            padding:8px 24px;
        }
    }
}
    
//responsive style
@include mq($until:$tablet){
   .o-cover-edit-mob{
        i{
            color:#fff;
            font-size: 22px!important;
        }
    }
    .mrorganisationb40{
        margin-bottom: 40px
    }
    .o-organisation-admin-empty-post-line{
        display:none;
    }
}