.o-prof-info{
    width: 100%;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 23px;
    border: 1px solid #ECEFF1;
    position: relative;
    @include mq($from: $mobile_sm, $until: $tablet) {
        position: unset;
    }
    &--radius{
        border-radius: 4px;
        overflow: inherit;
    }
    &__bookmark{
        position: absolute;
        right: 25px;
        top: 13px;
    }
    // &--shadow{
    //     box-shadow: 0 6px 10px 0 rgba(144,164,174,0.16), 0 1px 12px 0 rgba(144,164,174,0.18), 0 3px 5px 0 rgba(144,164,174,0.2);
    // }
}
.o-prof-info-edit{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 18px;
    right: 14px;
    i{
        font-size: 12px;
    }
}
.o-prof-option{
    width: 1px;
    position: absolute;
    top: 16px;
    right: 16px;
    i{
        font-size: 16px;
    }
}
// prof img edit
.o-prof-img-block{
    position: relative;
    display: flex;
    @include mq($from: $mobile_sm, $until: $tablet) {
        position: absolute;
        display: flex;
        // z-index: 1111111111111111111;
        left: -40px;
        top: 0;
    }
}
.o-prof-img-edit{
    box-sizing: border-box;	
    height: 23px;	
    width: 23px;	
    border: 1px solid #FFFFFF;	
    background-color: $primary;
    position: absolute;
    bottom: 3px;
    right: 2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        font-size: 13px;
        color: #fff;
    }
}
.o-prof-name{
    text-align: center;
    margin-top: 9px;
    cursor: pointer;
}
.o-prof-activity{
    width: 100%;
    display: flex;
    margin-top: 18px;
    a{
        flex: 1;
        text-align: center;
        div{
            width: 100%;
            text-align: center;
        }
    }
}
.o-prof-others-action{
    width: 100%;
    display: flex;
    justify-content: center;
    &--margin{
        margin-top: 20px;
    }
    .btn--prof{
        margin:0px 4.5px;
    }
}
.o-prof-skills{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:16px 0px;
    &__tag{
        border-radius: 2px;	
        background-color: $grey-light;
        color: $grey;	
        font-size: 11px;	
        line-height: 13px;
        padding: 4px 7px;
        margin: 3px;
    }
}
