// .o-card-suggestion{
//     padding:13px 16px;
//     float: left;
// }

// //suggestion card components style

// .o-suggestion{
//     position: relative;
//     width: 100%;
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//     justify-content: center;
//     padding-bottom: 20px;
//     margin: 0;
//     &__top-bar{
//         height: 58px;
//         width: 100%;	
//         border-radius: 3px 3px 0 0;	
//         background-color: $grey-light;
//         .close-btn {
//             float: right;
//             padding: 5px;
//         }
//     }
//     &__avatar{
//         box-sizing: border-box;	
//         height: 78px;	
//         width: 78px;	
//         border-radius: 50%;
//         border: 2px solid #FFFFFF;
//         overflow: hidden;
//         margin-top: -38px;
//         background-position: center;
//         cursor: pointer;
//         img{
//             width: 100%;
//         }
//     }
//     &__name{
//         margin-top: 10px;
//         white-space: nowrap;
//         overflow: hidden;
//         text-overflow: ellipsis;
//         @include mq($from: $mobile_sm, $until: $tablet) {
//             width: 106px;
//         }
//     }
//     &__info{
//         text-align: center;
//         padding:0px 15px;
//         margin: 11px 0px 18px 0px;
//     }
// }

.o-card-suggestion{
    padding:13px 16px;
    float: left;
}

//suggestion card components style

.o-suggestion{
    position: relative;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    margin: 14px 6px 9px 0px;
    &__top-bar{
        height: 58px;
        width: 100%;	
        border-radius: 3px 3px 0 0;	
        background-color: $grey-light; 
        .close{
            right: 14px;
            position: absolute;
            top: 10px;
            width: 8px;
            height: 8px;
            i{
                font-size: 14px;
            }
        }
    }
    &__avatar{
        box-sizing: border-box;	
        height: 100px;	
        width: 107px;	
        border-radius: 50%;
        border: 2px solid #FFFFFF;
        overflow: hidden;
        margin-top: -38px;
        img{
            width: 100%;
        }
    }
    &__name{
        margin-top: 10px;
    }
    &__info{
        text-align: center;
        padding:0px 15px;
        margin: 11px 0px 18px 0px;
    }
}
.o-suggestion-scroll-main{
    width: 100%;
    position: relative;
    float: left;
    min-height: 250px;
}



// for slider

.squares {
    overflow-x:scroll;
    overflow-y:hidden;
    -webkit-overflow-scrolling:touch;
    -ms-overflow-style: touch;
    width:calc(100vh - 530px);
    white-space:nowrap;
    display: flex;
  }
  
  