<!-- <style>
  input:focus{
    box-shadow: none ;
  }
  ::ng-deep .bg-grey-light{ 
    background-color: #ECEFF1
    
            }
  
  .scroll-div {
    height: 300px;
    overflow-y: scroll;
    padding-bottom: 100px;
  }
  </style>
  <div class="o-community-member-popup-body__title">
    <h3  *ngIf="!mobileView" id="invite-invite-members-group" class="text-h3" i18n="@@GROUPS__PROFILE__MEMBERS__INVITE__NAME_TITLE">
      <ng-container *ngIf="group">Add members to {{ group.name }}</ng-container>
      <ng-container *ngIf="!group">Invite</ng-container>
      <span class="m-layout--spacer"></span>
    </h3>
    <div [hidden]="!inviteInProgress">
      <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate" width="width: 100%;" [mdl]></div>
      <div class="mdl-card__supporting-text">
        <ng-container i18n="@@GROUPS__PROFILE__MEMBERS__INVITE__INVITING">Inviting...</ng-container>
      </div>
    </div>
  
    <div class="m-search-inline" [hidden]="destination">
      <input
      id="invite-search-members"
      class="form-control form-control-lg bg-grey-light"
      style="border: 0px;
      margin: 30px 0px 0px;
      padding: 1.3rem 0.85rem; box-shadow: none;"
       type="text" name="q" [(ngModel)]="q" (keyup)="search(q)" placeholder="Search Members" i18n-placeholder="@@GROUPS__PROFILE__MEMBERS__INVITE__SEARCH_PLACEHOLDER" />
       <div class="scroll-div" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="load()"
       [scrollWindow]="false">
       <ul class="o-community-members-list scrollbar scrollbar-default">
        <li *ngFor="let user of users" (click)="invite(user);" class="o-community-members-list__user-list">
          <div class="o-community-members-list__user-list">
            <div class="o-community-members-info">
              <div class="o-community-members-info-prof">
                <div class="o-community-members-info-prof__avatar o-avatar-md">
                    <img src="{{opspot.cdn_url}}icon/{{user.guid}}/small/{{user.icontime}}" />           
                  </div>
                  <div class="caption-bold" id="user.username">
                      @{{user.username}}
                  </div>
                </div> 
                <div class="o-community-members-info__option">
                   <button  (click)="invite(user);" id="invite-invite-member-button" class="btn btn-outline-primary btn-sm">{{user['is:member']?'Invited':'Invite'}}</button>
                </div>
            </div>
          </div>     
        </li>
      </ul>
      </div>
    </div>  
  </div> -->

   <style>
  input:focus{
    box-shadow: none ;
  }
  ::ng-deep .bg-grey-light{ 
    background-color: #ECEFF1
    
    }
  
  ::ng-deep .icon-search {
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 20px;
    font-size: 15px;
 }

 ::ng-deep .tabresponsive {
   display: unset !important;
 }
 ::ng-deep .inputresponsive {
     margin: 30px 0px 0px;
 }
  </style>

  <!-- <div class="o-invite-to-community-popup">
    
    <div class="o-invite-to-community-popup-body"> -->
        
        <div *ngIf="!mobileView">
        <div class="o-invite-to-community-popup-body__title">
            <div class="text-h3">
                Invite to community
            </div>
        </div><!--title ends-->
        <div class="o-invite-to-community-popup-body__description">
            <div class="text-md grey">
                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain as born
            </div>
        </div><!--description ends-->
        </div>
        <!--tab starts-->
        <div class="invite-community-tabbedPanels">
            <ul class="tabs" [class.tabresponsive]="!mobileView">
             <li><a [class.active]="isActive('followers')" (click)="switchTabs('followers')" class="bordertbl">Followers</a></li>
             <li><a [class.active]="isActive('emails')" (click)="switchTabs('emails')" class="borderlr0">Email Address</a></li>
             <li><a [class.active]="isActive('phones')" (click)="switchTabs('phones')" class="bordertbr">Phone Number</a></li>
            </ul><!--tabs ends-->               
           <div class="invite-community-panelContainer">
                <div id="Followers" class="invite-community-panel" *ngIf="filter === 'followers'">
                    <div class="form-group c-form_righticon-md">
                            <!-- <input type="text" class="form-control form-control-lg bg-grey-light" placeholder="Search"> -->
                            <input
                                id="invite-search-members"
                                class="form-control form-control-lg bg-grey-light"
                                type="text" name="q" [(ngModel)]="q" (keyup)="search(q)" placeholder="Search Members" i18n-placeholder="@@GROUPS__PROFILE__MEMBERS__INVITE__SEARCH_PLACEHOLDER"
                                style="border: 0px;box-shadow: none;" [class.inputresponsive]="!mobileView" />
                            <a><i class="icon-search"></i></a>
                    </div><!--search bar ends-->
                    <div class="scroll-div" >
                    <ul class="o-invite-to-community-list scrollbar scrollbar-default" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="load()"
                    [scrollWindow]="false">
                        <li class="o-invite-to-community-list__user-list" *ngFor="let user of users">
                            <div class="o-invite-to-community-info">
                                <div class="o-invite-to-community-info-prof">
                                    <div class="o-invite-to-community-info-prof__avatar o-avatar-md">
                                        <img src="{{opspot.cdn_url}}icon/{{user.guid}}/small/{{user.icontime}}" />           
                                    </div>
                                    <div id="username" class="caption-bold">
                                        {{user.name}}
                                    </div>
                                </div>
                                <div class="o-invite-to-community-info__option">
                                    <a href="#">
                                    <i class="icon-plus-circle invite-community-icon"></i>
                                    </a>
                                </div>
                            </div>
                        </li><!-- user list end-->                 
                    </ul><!-- members list end -->
                    </div>
                    <div class="invite-community-button">
                        <button type="button" class="btn btn-primary btn-block invite-community-button__send">Send Invite</button>
                    </div><!--button ends-->
                </div>  <!-- end Followers -->
                <!--Email starts-->
                <div id="Emailaddress" class="invite-community-panel"  *ngIf="filter === 'emails'">
                    <div class="invite-community-email">
                        <textarea class="form-control" name="Description" rows="" spellcheck="false" placeholder="Type email address and use spacebar to separate it"></textarea>
                        
                        <div class="text-md invite-community-email__syc">
                            Or Sync Email addresses
                        </div>
                    </div> 
                    <div class="invite-community-email-media">
                        <a class="invite-community-email-media__social">
                            <img src="assets/community/Google__G__Logo.svg" class="mr8">Google 
                        </a>
                        <a class="invite-community-email-media__social">
                            <img src="assets/community/Yahoo!_icon.svg" class="mr8">Yahoo 
                        </a>
                        <a class="invite-community-email-media__social">
                            <img src="assets/community/Apple_logo_black.svg" class="mr8">iCloud  
                        </a>
                        <a class="invite-community-email-media__social">
                            <img src="assets/community/email.svg" class="mr8">Others 
                        </a>
                    </div> 
                    <div class="invite-community-button">
                        <button type="button" class="btn btn-primary btn-block invite-community-button__send disabled">Send Invite</button>
                    </div>                    
                </div>
                <!--Email ends--> 
                <div id="Phonenumber" class="invite-community-panel"  *ngIf="filter === 'phones'">
                    <div class="invite-community-phonenumber">
                        <textarea class="form-control" name="Description" rows="10" spellcheck="false" placeholder="Type phone number like (91) 9898989898 & use comma to separate it"></textarea>
                        
                    </div>
                    <div class="invite-community-button mt58">
                        <button type="button" class="btn btn-primary btn-block invite-community-button__send disabled">Send Invite</button>
                    </div> 
                </div>  
           </div>
        </div> 
        <!-- </div>
        </div> -->