

@import "src/assets/helpers/variables";

@import "node_modules/sass-mq/_mq";
.m-groupMemberInvite {
  padding: 16px;
  background: #FFF;
}

.m-groupMemberInvite__title {
  margin: 0;
  font-size: 24px;
  line-height: 1;
  font-weight: 600;

  a {
    font-size: 20px;
    vertical-align: middle;
    margin-left: 8px;
    line-height: 30px;
    text-decoration: none;
  }
}

.m-groupMemberInvite__instructions {
  padding-left: 16px;
}

.o-community-members{
  border: 1px solid #ECEFF1;	
  border-radius: 4px;	
  background-color: #FFFFFF;
  padding: 21px 16px 25px;
  position: relative;
  &__header{
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 15px;
  }
}

// members list style 

.o-community-members-list{
  width: 100%;
  list-style: none;
  &__user-list{
      width: 100%;
      list-style-type: none;
      margin: 9px 0px;
      display: inline-block;
  }
}

// user list card

.o-community-members-info{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  &__option{
      display:flex;
      align-items: center;
      a{
          margin-left: 7px;
          i{
              font-size:14px;
          }
      }
  }
}
.o-community-members-info-prof{
  display: flex;
  flex-direction: row;
  align-items: center;
  &__avatar{
      margin-right:7px;
      img{
          width: 100%
      }
  }
}

//community gather style
.o-left-gather-block{
  width: 797px;
  order: 1;
  z-index: 1;
  padding-right: 8px;
  @include mq($from: $mobile_sm, $until:$mobile_lg ){
      width:100%;
      padding-right: 0px;
  }
  img{
      width:100%;
      height: 496px;
      object-fit: cover;
      @include mq($from: $mobile_sm, $until:$mobile_lg ){
          height: 200px;
      }
  }
}
.o-community-gather{
display:flex;
padding: 13px 0;
@include mq($from: $mobile_sm, $until:$mobile_lg ){
  padding: 13px 13px;
}
a{
  padding-right: 10px;
}

}
