<div class="o-card o-card--popular-channel" >
  <div class="text-md f500">Suggestions for you</div>
  <span *ngIf="!inProgress && !suggestions.length" class="m-suggestionsSidebar__empty">
    You have no suggestions at this time
  </span>
  <ul class="o-popular-channel " *ngIf="suggestions.length>0">
    <li *ngFor="let suggestion of suggestions" class="o-popular-channel__items">
      <a [routerLink]="['/', suggestion?.entity?.username]">
        <div
          class="o-pop-channel-avatar"
          [style.background-image]="'url(' + opspot.cdn_url + '/icon/' + suggestion?.entity?.guid + ')'"
          >
        </div>
        <div class="o-pop-channel-name">
          <div [title]="suggestion?.entity?.briefdescription">
            <div class="text-md f500 ">{{ suggestion?.entity?.username }}</div>
            <div class="text-sm" >{{ suggestion?.entity?.briefdescription }}</div>
          </div>
        </div>   
          <!-- <div class="m-layout__spacer"></div> -->
          <i class="material-icons o-fontRemove" (click)="pass(suggestion, $event)">close</i>
          <opspot-button-subscribe
            [user]="suggestion?.entity"
            (subscribed)="remove(suggestion)"
          ></opspot-button-subscribe>
      </a>
    </li>
  </ul>
  <div class="mdl-spinner mdl-js-spinner is-active" [mdl] [hidden]="!inProgress"></div>
</div>
