<div class="container hidden-above-tablet">
    <div class="without-nav-header">
        <a href="#"><i class="icon-arrow-left"></i> </a>
        <div class="without-nav-header__title caption-bold f500">Event 
            
        </div>
    </div>
</div><!-- without nav header end -->

<div class="o-events-inner-sec">
    <div class="container">
        <div class="o-big-events-inner-block">
            <div class="o-big-events-inner-block__main">
                <div class="o-big-events-inner-cover">
                    <div class="o-big-events-inner-cover__media" style="background: url(assets/demo/m2.jpg) no-repeat; background-size: cover; background-position:center;">
                        <div class="o-big-events-inner-date-info">
                            <div class="o-big-event-date">
                                <div class="text-lg error">11</div>
                                <div class="text-lg">SEP</div>
                            </div><!-- events date end -->
                            <div class="o-big-event-type text-sm white">Paid</div>
                        </div><!-- date info end -->
                    </div><!-- cover media end -->
                </div><!-- inner cover end -->
                <div class="o-big-events-inner-info">
                    <div class="o-big-events-inner-info__content">
                        <h5>Google Sprint - Conference
                            <div class="o-events-option-drop float-right">
                                <div onclick="myFunction()" class="o-events-option-drop__btn head-action__link"><i class="icon-more-vertical f-15"></i> </div>
                                <div id="o-events-option-dropdown" class="o-events-option-drop__block">
                                    <a href="#">Report</a>
                                </div>
                            </div><!-- options dropdown end-->
                        </h5>
                        <div class="text-lg grey">
                            Chruch Street, Bangalore
                        </div>
                        <div class="text-lg grey m-t">
                            Date and Time
                        </div>
                        <div class="text-lg grey">
                            <span>Sat</span>, <span>Nov 9</span>, <span>2019</span>, <span>10:00 AM</span> –
                        </div>
                        <div class="text-lg grey">
                            <span>Sun</span>, <span>Nov 10</span>, <span>2019</span>, <span>9:00 PM IST</span>
                        </div>
                    </div><!-- info content end -->
                    <div class="o-big-events-inner-info__action">
                        <button type="button" class="btn btn-primary btn-lg">Reach Out</button>
                    </div><!-- info action end -->
                </div><!-- big events inner info end -->
                <div class="o-big-events-inner-hashtag">
                    <a href="#" class="text-md primary">#Events</a>
                    <a href="#" class="text-md primary">#Conference</a>  
                    <a href="#" class="text-md primary">#Google</a>  
                    <a href="#" class="text-md primary">#Design</a>
                </div><!-- hashtag end -->
                <div class="o-big-events-inner-details-discrptn">
                    <p class="text-md">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                    </p>
                    <p class="text-md">
                        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                    </p>  
                    <p class="text-md">  
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                    </p>   
                    <p class="text-md">
                        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                    </p>
                </div><!-- discription end -->
            </div><!-- big events inner main block end -->
            <div class="o-big-events-inner-block__sidebar">
                <div class="o-big-event-created-by">
                    <div class="caption-lg f500">Created by</div>
                    <a class="o-big-event-created-prof">
                        <div class="o-avatar"><img src="assets/demo/avatar.png" alt=""></div>
                        <div class="o-avatar-info">
                            <div class="text-md f500">Gowtham Kumar</div>
                            <div class="text-sm grey">@gowtham49</div>
                        </div>
                    </a><!-- created prof info -->
                </div>
                <div class="o-card o-card--trending-post float-left hidden-under-tablet">
                    <div class="text-md f500">Similar Events  <a href="#" class="text-sm primary float-right">See All</a></div>
                    <ul class="o-trending-post">
                        <li class="o-trending-post__item">
                            <a href="#">
                            <div class="o-trending-post__cover">
                                <img src="assets/demo/m3.jpg" alt="">
                            </div>
                            <div class="o-trending-post__info">
                                <div class="text-md f500">Bring Pluto Back!</div>
                                <div class="text-sm m-t-6"><span class="o-event-date">15 Jan</span>  Bangalore</div>
                            </div>
                            </a>
                        </li>
                        <li class="o-trending-post__item">
                            <a href="#">
                                <div class="o-trending-post__cover">
                                    <img src="assets/demo/m1.jpg" alt="">
                                </div>
                                <div class="o-trending-post__info">
                                    <div class="text-md f500">Bring Pluto Back!</div>
                                    <div class="text-sm m-t-6"><span class="o-event-date">15 Jan</span>  Bangalore</div>
                                </div>
                            </a>
                        </li>
                        <li class="o-trending-post__item">
                            <a href="#">
                                <div class="o-trending-post__cover">
                                    <img src="assets/demo/m2.jpg" alt="">
                                </div>
                                <div class="o-trending-post__info">
                                    <div class="text-md f500">Bring Pluto Back!</div>
                                    <div class="text-sm m-t-6"><span class="o-event-date">15 Jan</span>  Bangalore</div>
                                </div>
                            </a>
                        </li>
                        <li class="o-trending-post__item">
                            <a href="#">
                                <div class="o-trending-post__cover">
                                    <img src="assets/demo/m3.jpg" alt="">
                                </div>
                                <div class="o-trending-post__info">
                                    <div class="text-md f500">Bring Pluto Back!</div>
                                    <div class="text-sm m-t-6"><span class="o-event-date">15 Jan</span>  Bangalore</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div><!-- similar post end -->
            </div><!--big events inner sidebar end -->
        </div>
    </div>
</div>
