@import "src/assets/helpers/variables";
@import "node_modules/sass-mq/_mq";


header{
  width: 100%;
  padding-top:37px;
  float: left;
  @include mq($from: $mobile_sm, $until: $mobile) {
      margin:15px!important;
      width : calc(100% - 30px);
      padding: 0px;
  }
}
.logo{
  width: 210px;
  float: left;
  @include mq($from: $mobile_sm, $until: $mobile) {
      width: 101px!important;
  }
  img{
      width: 100%;
  }
}
.o-login {
  float: right;
  display: flex;
  align-items: flex-start;
  .m-8{
      margin: 8px;
  }
  .btn--login {
    margin-top: 6px;
  }
}

.main-content{
  min-height: calc(100vh - 130px);
  margin: 0px auto 40px auto;
  width: 91%;
}
.opspot-components{
  width: 100%;
  background: primary-dark ;
  height: 273px;
}
.flex-row-center{    display: flex;
  justify-content: center;
  flex-direction: column;
  height: 273px;
  h1, .text-md{
      color: #fff;
  }
  
}
@include mq($from: $mobile_sm, $until:$desktop_sm ) {
  .o-login-sec{
      width: 100%;
      display: inline-block;
      min-height: calc(100vh - 198px);
      margin: 0px auto 40px auto;
      width: 100%;
  }
  .o-login-form{
      width: 100%;
      h2{
          font-size: 24px!important;
          font-weight: 300!important;
          width: 290px;
          margin: 24px auto 0px auto;
          text-align: center
      }
      form{
          width: 290px;
          margin: 24px auto auto;
          .btn{
              margin-top: 30px;
              display: inline-block;
          }
      }
  }
}
