<div class="container">
    <div class="o-community-landing-block">
        <div class="o-community-landing-block__mob-header">
            <h4 class="f500">Communities</h4>
        
        <a routerLink="/groups/create"  *ngIf="session.isLoggedIn()" class="text-lg primary f500">Create</a>
        </div>
        <!-- <div class="o-community-landing-block__mob-tab">
            <div class="o-cmnity-landing-block">
              <div class="o-cmnity-landing-block__tab">
                  <div class="tabs-cmnity-landing">
                      <ul class="tabs-list cmnity-landing-tabs">
                          <li class="active"><a href="#discover">Discover</a></li>
                          <li class=""><a href="#communities">My Communities</a></li>
                      </ul>
                  </div>
              </div>
            </div>
        </div> -->
 
        <div class="o-community-landing-block__sidebar hidden-mob">
            <h4 class="f500">Communities</h4>
            <button type="button" class="btn btn-primary btn-block" *ngIf="session.isLoggedIn()" routerLink="/groups/create" >Create Community</button>
            <div class="text-lg f500 mb-17">Communities you manage</div>

            <div *ngFor="let entity of entities">
                <div class="o-community-landing-block-manage" *ngIf="entity['is:creator']" [routerLink]="['/groups/profile', entity.guid]">
                    <div class="o-community-landing-block-manage__avatar">
                        <img src="{{opspot.cdn_url}}fs/v1/avatars/{{entity.guid}}/large" alt="">
                    </div>
                    <div class="text-md f500">
                     {{entity.name}}
                    </div>
                </div>
              </div>
          
          <!--communities-manage ends-->
            <div class="o-community-landing-block-your">
                <div class="text-lg f500 mb-17">Communities you’re in</div>
               <!--communities-manage ends-->
               <div *ngFor="let entity of entities">
                  <div class="o-community-landing-block-manage" *ngIf="entity['is:member']" [routerLink]="['/groups/profile', entity.guid]">
                      <div class="o-community-landing-block-manage__avatar">
                          <img src="{{opspot.cdn_url}}fs/v1/avatars/{{entity.guid}}/large" alt="">
                      </div>
                      <div class="text-md f500">
                       {{entity.name}}
                      </div>
                  </div>
                </div>
            </div><!--your block ends-->
        </div>
        <div class="o-community-landing-block__main" style="height: 0;">
            <div class="o-cmnity-landing-tab-content">
                <div class="tabs-cmnity-landing">
                    <div id="discover" class="tab active">
                        <div class="o-community-landing-block-design">
                            <div class="o-community-landing-block-design hidden-mob">
                                <m-groups--tile *ngFor="let entity of entities" [entity]="entity"></m-groups--tile>
                            </div>
                        </div><!--design block ends-->
                       <!--community block ends-->
                </div><!--tabs-cmnity-landing ends-->
            </div><!--tab-content ends-->
        </div>
       </div>
       
            <div class="o-community-landing-block-design hidden-above-tablet" style="flex-direction: column;">
                <m-groups--tile *ngFor="let entity of entities" [entity]="entity"></m-groups--tile>
            </div>
</div>

<!-- <div *ngIf="dev">

<div class="m-toolbar">
  <div class="m-topbar--row">
    <div class="m-topbar--navigation m-topbar--navigation--text-only">
      <a class="m-topbar--navigation--item"
        routerLink="/groups/top"
        routerLinkActive="m-topbar--navigation--item-active"
        *ngIf="session.isLoggedIn()"
      >
        <span i18n="@@M__COMMON_TOPBAR_TOP">Top</span>
        <m-tooltip icon="help" i18n="@@M__COMMON_TOPBAR_TOP_TOOLTIP">
          Top displays the top content on Opspot
        </m-tooltip>
      </a>
      <a class="m-topbar--navigation--item"
        routerLink="/groups/member"
        routerLinkActive="m-topbar--navigation--item-active"
        *ngIf="session.isLoggedIn()"
        >
          <span i18n="@@M__COMMON_TOPBAR__MY_GROUPS">My Groups</span>
          <m-tooltip icon="help" i18n="@@OPSPOT__GROUPS__TOPBAR__YOUR_GROUPS_TOOLTIP">
            Your Groups
          </m-tooltip>
      </a>
      <a class="m-topbar--navigation--item"
        routerLink="/groups/create"
        routerLinkActive="m-topbar--navigation--item-active"
        *ngIf="session.isLoggedIn()"
        >
          <span i18n="@@M__COMMON_TOPBAR__START_A_NEW_GROUP">Start a new group</span>
          <m-tooltip icon="help" i18n="@@OPSPOT__GROUPS__TOPBAR__START_A_NEW_GROUP_TOOLTIP">
            Start a new group
          </m-tooltip>
      </a>

      <div class="m-layout--spacer"></div>

      <m-topbar--hashtags
        (selectionChange)="reloadTags($event)"
        [enabled]="filter === 'top'"
        *ngIf="!preventHashtagOverflow"
      >
      </m-topbar--hashtags>

      <m-topbar--navigation--options
        (change)="onOptionsChange($event)" 
        [options]="filter == 'top' ? [ 'rating' ] : []"
        *ngIf="filter === 'top'"
        >
      </m-topbar--navigation--options>
    </div>
  </div>
  <div class="m-topbar--row" *ngIf="preventHashtagOverflow">
    <div class="m-topbar--navigation m-topbar--navigation--text-only">
      <div class="m-layout--spacer"></div>

      <m-topbar--hashtags
        (selectionChange)="reloadTags($event)"
        [enabled]="filter === 'top'"
      ></m-topbar--hashtags>
    </div>
  </div>
</div>

<div class="m-groups--list">

  <m-groups--tile *ngFor="let entity of entities" [entity]="entity"></m-groups--tile>

  <infinite-scroll
      distance="25%"
      (load)="load()"
      [moreData]="moreData"
      [inProgress]="inProgress">
  </infinite-scroll>

</div>

</div>

 -->
