<div class="o-blog-write-sec">
  <div class="container">
    <div class="o-blog-write-tab">
      <div class="tabs-blog">
        <ul class="tabs-list">
          <li routerLinkActive="active"><a [routerLink]="['edit/new']">Write a Blog</a></li>
          <li routerLinkActive="active"><a [routerLink]="['owner']">My Blogs</a></li>
        </ul>
      </div><!-- tabs blog end-->
    </div>
    <div class="o-blog-write-tab-content tabs-blog">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>