<!-- brodcasting timings popup -->
<div class="popup" role="alert">
	<div class="popup-container">
		<!-- <a class="popup-close img-replace"></a> -->
		<div class="brodcasting-timings">
			<div class="brodcasting-timings-blocks">
				<div class="brodcasting-timings-blocks__title">1ST BROADCAST  [ 8 PM IST ]</div>
				<div class="brodcasting-timings-list">
					<div class="brodcasting-timings-list__item"><span>India</span> <span>08:00 PM</span> </div>
					<div class="brodcasting-timings-list__item"><span>Tokyo</span> <span>11:30 PM</span> </div>
					<div class="brodcasting-timings-list__item"><span>Shanghai</span> <span>10:30 PM</span> </div>
					<div class="brodcasting-timings-list__item"><span>São Paulo</span> <span>11:30 AM</span> </div>
					<div class="brodcasting-timings-list__item"><span>London</span> <span>03:30 PM</span> </div>
					<div class="brodcasting-timings-list__item"><span>New York</span> <span>10:30 AM</span> </div>
					<div class="brodcasting-timings-list__item"><span>Berlin</span> <span>04:30 PM</span> </div>
					<div class="brodcasting-timings-list__item"><span>Singapore</span> <span>10:30 PM</span> </div>
					<div class="brodcasting-timings-list__item"><span>Moscow</span> <span>05:30 PM</span> </div>
					<div class="brodcasting-timings-list__item"><span>Rome</span> <span>04:30 PM</span> </div>
					<div class="brodcasting-timings-list__item"><span>Helsinki</span> <span>05:30 PM</span> </div>
					<div class="brodcasting-timings-list__item"><span>Los Angeles</span> <span>07:30 AM</span> </div>
					<div class="brodcasting-timings-list__item"><span>Houston</span> <span>09:30 AM</span> </div>
					<div class="brodcasting-timings-list__item"><span>Geneva</span> <span>04:30 PM</span> </div>
				</div>
			</div>
			<div class="brodcasting-timings-blocks">
				<div class="brodcasting-timings-blocks__title">2nd  BROADCAST  [ 8 PM EST ]</div>
				<div class="brodcasting-timings-list">
					<div class="brodcasting-timings-list__item"><span>New York</span> <span>08:00 PM</span> </div>
					<div class="brodcasting-timings-list__item"><span>Los Angeles</span> <span>05:00PM</span> </div>
					<div class="brodcasting-timings-list__item"><span>Houston</span> <span>07:00PM</span> </div>
					<div class="brodcasting-timings-list__item"><span>Tokyo</span> <span>09:00 AM [ 23RD APRIL ] </span> </div>
					<div class="brodcasting-timings-list__item"><span>Shanghai</span> <span>08:00 AM [ 23RD APRIL ]</span> </div>
					<div class="brodcasting-timings-list__item"><span>Sao Paulo</span> <span>09:00 PM</span> </div>
					<div class="brodcasting-timings-list__item"><span>Buenos Aires</span> <span>09:00 PM</span> </div>
					<div class="brodcasting-timings-list__item"><span>Istanbul</span> <span>03:00  AM [ 23RD APRIL ]</span> </div>
					<div class="brodcasting-timings-list__item"><span>London</span> <span>01:00 AM [ 23RD APRIL ]</span> </div>
					<div class="brodcasting-timings-list__item"><span>Sydney</span> <span>10:00 AM [ 23RD APRIL ]</span> </div>
					<div class="brodcasting-timings-list__item"><span>Singapore</span> <span>08:00 AM [ 23RD APRIL ]</span> </div>
					<div class="brodcasting-timings-list__item"><span>Rome</span> <span>02:00 PM  [ 23RD APRIL ]</span> </div>
					<div class="brodcasting-timings-list__item"><span>Houston</span> <span>Wed, 09:30 AM</span> </div>
					<div class="brodcasting-timings-list__item"><span>Geneva</span> <span>Wed, 04:30 PM</span> </div>
				</div>
			</div>
		</div>
	</div> 
</div> 