<form (ngSubmit)="submit()" [formGroup]="form">
  <div class="o-entrolment-form__item">
    <div class="form-group">
      <label>Full Name</label>
      <input type="text" formControlName="fullName" id="name" class="form-control form-control-lg">
      <!-- <div *ngIf="form.controls['fullName'].touched && !form.controls['fullName'].valid" class="error text-sm">
      <div *ngIf="form.controls['fullName'].errors.required">Full Name is required</div>
      </div> -->
      <div class="error text-sm" *ngIf="formSubmitted && form.get('fullName').errors?.required">
        Fullname is required</div>
    </div>
    
    <div class="form-group o-enrolment-marginl13">
      <label>Email</label>
      <input type="text" formControlName="email" id="email" class="form-control form-control-lg">
      <div class="error text-sm" *ngIf="formSubmitted && form.get('email').errors?.required">
        Email is required</div>
      <div class="error text-sm" *ngIf="formSubmitted && form.get('email').errors?.email">
        Please enter valid email Id</div>
    </div>
  </div>
  <!--item ends-->
  <div class="o-entrolment-form__item">
    <div class="form-group">
      <label>Phone Number</label>
      <input type="text" formControlName="mobile" id="mobile" class="form-control form-control-lg">
      <div class="error text-sm" *ngIf="formSubmitted && form.get('mobile').errors?.required">
        Phone number is required</div>
      <!-- <div class="error text-sm" *ngIf="form.get('mobile').errors?.invalidMobile">
      Please enter valid mobile number</div> -->
    </div>
    <div class="form-group o-enrolment-marginl13">
      <label>Location</label>
      <input type="text" formControlName="location" id="location" class="form-control form-control-lg">
      <div class="error text-sm" *ngIf="formSubmitted && form.get('location').errors?.required">
       Location is required</div>
    </div>
  </div>
  <!--item ends-->
  <div class="text-md"><label>Select Gender</label></div>
  <div class="o-entrolment-form__item">
    <div class="form-group o-enrolment-gender">
      <div class="radiobutton">
        <input type="radio" formControlName="gender" name="gender" id="radio_1" value="Male">
        <label for="radio_1">Male</label>
      </div>
    </div>
    <div class="form-group o-enrolment-marginl13 o-enrolment-gender">
      <div class="radiobutton">
        <input type="radio" formControlName="gender" name="gender" id="radio_2" value="Female">
        <label for="radio_2">Female</label>
      </div>
    </div>
    <div class="form-group o-enrolment-marginl13 o-enrolment-gender">
      <div class="radiobutton">
        <input type="radio" formControlName="gender" name="gender" id="radio_3" value="Others">
        <label for="radio_3">Others</label>
      </div>
    </div>
  </div>
  <div class="error text-sm" *ngIf="formSubmitted && form.get('gender').errors?.required">
    This is required</div>
  <div class="form-group">
    <label>Share your One Page Spotlight Link <a class="icon-info o-enrolment-btninfo"></a></label>
    <input type="text" formControlName="porfolioLink" name="porfolio" id="portfolio" class="form-control form-control-lg">
    <div class="error text-sm" *ngIf="formSubmitted && form.get('porfolioLink').errors?.required">
      This is required</div>
  </div>
  <div class="form-group">
    <div class="o-enrolment-fileupload">
      <div class="icon-upload o-enrolment-upload"></div>
      <div class="grey text-md">Attach your CV here (PDF, DOC, DOCX)</div>
      <input type="file" accept="application/msword, application/pdf" name="fileToUpload" class="upload" #file
        (change)="uploadAttachment(file,$event)"
        formControlName="resume"
      >
    </div>
    <div class="error text-sm" *ngIf="resumeUploadError">
      This is required</div>
  </div>
  <div class="form-group">
    <label>Any Comments</label>
    <textarea class="form-control" formControlName="comments" rows="7" value="Textarea" id="comments"></textarea>
  </div>
  <div class="form-group">
    <label class="c-checkbox">
      By clicking proceed to payment, I agree with the 
      <a href="javascript:void(0)" class="primary">Terms and Conditions</a>
      <input type="checkbox" formControlName="agreeTerms">
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="error text-sm" [hidden]="!errorMessage">
    {{errorMessage}}</div>
  <button 
    type="submit"
    class="btn btn-primary o-entrolment-form__button"
    id="en_payment"
  >Proceed to Payment</button>
</form>

<!--[disabled]="!this.form.valid"-->