<div class="main-content">
  <section class="o-signup-sec">
    <div class="container">
      <div class="o-signup-container">
        <div class="o-signup o-signup--form">
          <h2>Welcome, Create an account</h2>
          <form (submit)="$event.preventDefault()" [formGroup]="form">
            <div class="form-group">
              <input type="text" formControlName='fullname' class="form-control form-control-lg" placeholder="Full Name">
              <div *ngIf="form.controls['fullname'].touched && !form.controls['fullname'].valid" class="error text-sm">
                <div *ngIf="form.controls['fullname'].errors.required">Full Name is required</div>
            </div>
            </div>
            <div class="form-group">
              <input type="text"
               class="form-control form-control-lg"
               formControlName="username"
               placeholder="Username"
               i18n-placeholder="@@M__COMMON__USERNAME"
               
               readonly onfocus="this.removeAttribute('readonly');">
              <!-- <a href="#" class="text-md primary">gowtham_aeione,</a>
              <a href="#" class="text-md primary">gowtham_aeione49</a> -->
              <div *ngIf="form.controls['username'].touched && !form.controls['username'].valid" class="error text-sm">
                <div *ngIf="form.controls['username'].errors.required">Username is required</div>
            </div>
            </div>
            <div class="form-group">
              <input type="text" formControlName='email' class="form-control form-control-lg" placeholder="Email">
              <div *ngIf="form.controls['email'].touched && !form.controls['email'].valid" class="error text-sm">
                <div *ngIf="form.controls['email'].errors.required">Email is required</div>
                <div *ngIf="form.controls['email'].errors.email">Enter a Valid Email Address </div>
            </div>
            </div>
          
            <div class="form-group">
              <ngx-intl-tel-input
                [cssClass]="'custom'"
                [preferredCountries]="['in','us', 'gb']"
                [enableAutoCountrySelect]="true"
                [enablePlaceholder]="true"
                name="phone"
                formControlName='mobileNumber'
                ></ngx-intl-tel-input>
                <div *ngIf="form.controls['mobileNumber'].touched && !form.controls['mobileNumber'].valid" class="error text-sm">
                  <div *ngIf="form.controls['mobileNumber'].errors.required">Mobile is required</div>
              </div>
              </div>
            <div class="o-otp">
              <div class="o-otp__title text-md">Enter OTP <a  class="primary">Resend OTP</a></div>
                <!-- <div class="otp">
                  <fieldset formGroupName="otp">
                    <input formControlName="otp1" (keyup)="keytab($event)" maxlength="1"/>
                    <input formControlName="otp2" (keyup)="keytab($event)" maxlength="1"/>
                    <input formControlName="otp3" (keyup)="keytab($event)" maxlength="1"/>
                    <input formControlName="otp4" (keyup)="keytab($event)" maxlength="1"/>
                    <input formControlName="otp5" (keyup)="keytab($event)" maxlength="1"/>
                    <input formControlName="otp6" (keyup)="keytab($event)" maxlength="1"/>
                  </fieldset>
                </div> -->
                <div class="otp">
                  <fieldset formGroupName="otp">
                    <input type="text" maxlength="1" (keyup)="prevOtpNum($event)" (keypress)="nextOtpNum($event)" formControlName="otp1">
                    <input type="text" maxlength="1" (keyup)="prevOtpNum($event)" (keypress)="nextOtpNum($event)" formControlName="otp2">
                    <input type="text" maxlength="1" (keyup)="prevOtpNum($event)" (keypress)="nextOtpNum($event)" formControlName="otp3">
                    <input type="text" maxlength="1" (keyup)="prevOtpNum($event)" (keypress)="nextOtpNum($event)" formControlName="otp4">
                    <input type="text" maxlength="1" (keyup)="prevOtpNum($event)" (keypress)="nextOtpNum($event)" formControlName="otp5">
                    <input type="text" maxlength="1" (keyup)="prevOtpNum($event)" (keypress)="nextOtpNum($event)" formControlName="otp6">
                  </fieldset>
                </div>
            </div>

            <div class="o-dob">
              <div class="o-dob__title text-md">Date of Birth
                  <div class="tooltip float-right"><span class="o-dob-info"> <img src="../../../../assets/svg/info.svg" alt=""></span>
                    <span class="tooltiptext">
                      Lorem ipsum dolor sit
                      amet, consectetuer adipi
                      scing elit. Aenean comm
                      ligula eget dolor. Aenean
                      massa
                    </span>
                  </div>
              </div>
              <div class="o-dob__select"formGroupName='dobGroup' >
                <div class="form-group">
                  <select class="form-control" formControlName="date">
                      <option *ngFor="let date of dateOfBirth.date">{{date}}</option>
                  </select>
                </div>
                <div class="form-group m-l-13">
                  <select class="form-control" formControlName="month">
                      <option *ngFor="let month of dateOfBirth.month" placeholder="month"> {{month}}</option>
                  </select>
                </div>
                <div class="form-group m-l-13" > 
                  <select class="form-control"  formControlName="year">
                      <option *ngFor="let year of dateOfBirth.year">{{year}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group">
              <input type="password" formControlName="password" class="form-control form-control-lg" placeholder="Create Password">
              <div  *ngIf="!form.controls['password'].valid && form.controls['password'].touched" class="error text-sm">
                <div> {{ getErrorPassword()}}</div>
              </div>
            </div>
            <div class="form-group">
              <input type="password" formControlName="password2"  class="form-control form-control-lg" placeholder="Confirm Password">
              <div *ngIf="form.controls['password2'].touched && !form.controls['password2'].valid" class="error text-sm">
                <div *ngIf="form.controls['password2'].errors.required">Confirm Password is required</div>
                <div *ngIf="form.controls['password2'].errors.mustMatch">Passwords must match</div>
            </div>
            </div>

            <div class="o-terms-condition">
                <label class="c-checkbox">I agree with the <a href="javascript:void(0)" class="primary">terms of use</a> and <a href="javascript:void(0)" class="primary">privacy policy</a>
                    <input type="checkbox" formControlName="tos">
                    <span class="checkmark"></span>
                  </label>
            </div>
            <div class="mdl-card mdl-color--red-500 mdl-color-text--blue-grey-50  mdl-shadow--2dp opspot-login-box m-error-box" style="min-height:0; margin-bottom:10px;" [hidden]="!errorMessage">
              <p class="text-white">{{errorMessage}}</p>
            </div>
            <button type="button" (click)="register($event)"  class="btn btn-primary btn-block" [disabled]="!this.form.valid || inProgress">Get Started</button>
          </form>
        </div>
        <div class="o-signup o-signup--img">
          <div class="o-signup__img">
            <img src="../../../../assets/signup.png" alt="">
          </div>
          <h2 class="text-center">Empower artists to entertain <br>
              and inspire the world</h2>
        </div>
      </div>
    </div>
  </section>
</div>

  
<!-- <div class="mdl-card mdl-color--red-500 mdl-color-text--blue-grey-50  mdl-shadow--2dp opspot-login-box m-error-box" style="min-height:0;" [hidden]="!errorMessage">
  <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
    {{errorMessage}}
  </div>
</div> -->

<!-- START: Register -->
<!-- <form (submit)="$event.preventDefault()" [formGroup]="form" class="mdl-card mdl-color-text--blue-grey-400 m-form m-login-box" [hidden]="hideLogin" *ngIf="!showFbForm">

  <div class="mdl-card__supporting-text mdl-grid">

    <div class="mdl-cell mdl-cell--12-col">
      <input
        type="text"
        id="username"
        formControlName="username"
        placeholder="Username"
        i18n-placeholder="@@M__COMMON__USERNAME"
        (keyup)="validationTimeoutHandler()"
        readonly onfocus="this.removeAttribute('readonly');"
        />
    </div>

    <div class="mdl-cell mdl-cell--12-col">
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="Email"
        i18n-placeholder="email placeholder|@@FORMS__REGISTER__EMAIL_PLACEHOLDER"
      />
    </div>
    <div class="mdl-cell mdl-cell--12-col" style="position: relative">
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="Password"
        i18n-placeholder="@@M__COMMON__PASSWORD"
        readonly
        onfocus="this.removeAttribute('readonly');"
        />
      <m-tooltip class="tooltip-wrapper" icon="help" i18n="@@OPSPOT__PASSWORD_TOOLTIP" anchor="right">
        Password must have more than 8 characters. Including uppercase, numbers, special characters (ie. !,#,@), and cannot have spaces.
      </m-tooltip>
    </div>
    <div class="mdl-cell mdl-cell--12-col password-help" [hidden]="errorMessage || !form.value.password">
      <span i18n="@@OPSPOT__PASSWORD_TOOLTIP">Password must have more than 8 characters. Including uppercase, numbers, special characters (ie. !,#,@), and cannot have spaces</span>
    </div>
    <div class="mdl-cell mdl-cell--12-col" [hidden]="!form.value.password">
      <input
        type="password"
        id="password2"
        formControlName="password2"
        placeholder="Confirm your password"
        i18n-placeholder="@@FORMS__REGISTER__CONFIRM_PASSWORD_PLACEHOLDER"
        (keydown.enter)="register($event)"
        readonly
        onfocus="this.removeAttribute('readonly');"
        />
    </div>

    <div class="mdl-cell mdl-cell--12-col" [hidden]="!form.value.password2" *ngIf="form.value.password">
      <re-captcha *ngIf="opspot.recaptchaKey" (captchaResponse)="setCaptcha($event)" [site_key]="opspot.recaptchaKey" #reCaptcha></re-captcha>
    </div>
  </div>

  <div class="mdl-card__actions">
    <div>
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" [mdlSwitch] [toggled]="form.value.exclusive_promotions">
        <input
          type="checkbox" class="mdl-checkbox__input"
          formControlName="exclusive_promotions"
        />

        <span class="m-register-tac" i18n="@@FORMS__REGISTER__EXCLUSIVE_PROMOTIONS_ACCEPTANCE_LABEL"> Receive exclusive promotions from Opspot (recommended)
        </span>
      </label>

      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" [mdlSwitch] [toggled]="form.value.tos">
        <input
          type="checkbox" class="mdl-checkbox__input"
          formControlName="tos"
        />

        <span class="m-register-tac" i18n="@@FORMS__REGISTER__TOS_ACCEPTANCE_LABEL"> I accept the
          <a routerLink="/p/terms" target="_blank"> Terms & Conditions </a>
        </span>
      </label>
    </div>


    <button class="m-btn m-btn--action" (click)="register($event)" [disabled]="!this.form.valid || inProgress">
      <ng-container i18n="@@FORMS__REGISTER__SIGNUP_ACTION">Signup</ng-container>
    </button>
  </div>

</form> -->
<!-- END: Register -->
