<div class="main-sec-for-event">
	<section #home id="home" class="event-home">
		<div class="event-hero">
			<ul class="event-header" id="top-menu">
				<li class="event-header__links " [ngClass]="{'current-active': tab =='home'}"><a
						(click)="scrollToElement(home, 'home')">Home</a></li>
				<li class="event-header__links " [ngClass]="{'current-active': tab =='About'}"><a
						(click)="scrollToElement(About, 'About')" class="event-header__links">About</a></li>
				<li class="event-header__links " [ngClass]="{'current-active': tab =='Partners'}"><a
						(click)="scrollToElement(Partners, 'Partners')" class="event-header__links">Partners</a></li>
				<li class="event-header__links " [ngClass]="{'current-active': tab =='Artists'}"><a
						(click)="scrollToElement(Artists, 'Artists')" class="event-header__links">Artists</a></li>
			</ul><!-- event header end -->
			<div class="event-hero-content">
				<div class="hero-text-style">
					<span>22 April 2020, 08:00 PM India Time | 08:00 PM New York Time</span>
					<span class="f700 f-32"> Earth Day</span>
					<span>GRAMMY® WINNER</span>
					<span>Ricky Kej LIVE</span>
					<span> at <img class="ops-logo-event" src="assets/ops_logo_white.png" alt=""></span>
				</div>
				<div class="btn-block-hero">
					<a routerLink="/login" class="watch-now-btn"> REGISTER</a>
					<a (click)="scrollToElement(Live, 'Live')" class="watch-now-btn2"><img
							src="assets/rickykej/play.svg" alt=""> WATCH NOW</a>
				</div>
				<a (click)="open()" class="brodcasting info popup-trigger">View Broadcast Timings</a>
			</div>
		</div><!-- event hero end -->

		<div class="who">
			<div class="who__content">
				<p>
					In support of the World Health Organization (WHO) and the COVID-19<br>
					Solidarity Response Fund for WHO,<br>
					powered by the United Nations Foundation
				</p>
			</div>
		</div>
	</section>
	<section #Live id="live">
		<h1 class="primary-title">Ricky Kej LIVE</h1>
		<div class="event-video">
			<div class="event-video-block">
				<iframe src="https://www.youtube.com/embed/Imc7PvutNng" frameborder="0"
					allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>
			</div>
		</div><!-- about video end -->
		<div class="event-about-content">
			Ricky Kej LIVE at One Page Spotlight, <br>
			is a concert featuring over 40 musicians from 6 countries<br>
			including 5 Grammy® Award Winners.<br>
			This concert on Earth Day 2020 (22nd April)<br>
			will be releavent to the current situation, and about<br>
			&quot;Healthy People and a Healthy Planet&quot;.<br>
			Musicians from across the globe have been chosen to <br>
			promote a message of Solidarity.<br>
			All the musicians will be performing from their respective homes<br>
			to encourage<br>
			<span class="yellow">#StayHome</span> and <span class="yellow">#StaySafe</span>
		</div>
	</section><!-- about section end -->

	<section #Partners id="partners" class="event-partner">
		<h1 class="primary-title">Our Goodwill Partners</h1>
		<div class="event-partner-logos">
			<div class="event-partner-logos__item">
				<img src="assets/rickykej/logo/wwf-color.png" alt="">
			</div>
			<div class="event-partner-logos__item">
				<img src="assets/rickykej/logo/unicef.png" alt="">
			</div>
			<div class="event-partner-logos__item">
				<img src="assets/rickykej/logo/cncc-white.png" alt="">
			</div>
			<div class="event-partner-logos__item">
				<img src="assets/rickykej/logo/cnccd-white.png" alt="">
			</div>
			<div class="event-partner-logos__item">
				<img src="assets/rickykej/logo/mgiep-color.png" style="width:270px;" alt="">
			</div>
			<div class="event-partner-logos__item">
				<img src="assets/rickykej/logo/kindness-color.png" style="width:270px;" alt="">
			</div>
			<div class="event-partner-logos__item">
				<img src="assets/rickykej/logo/earth-white.png" style="width:240px;" alt="">
			</div>

		</div>
		<div class="outreach-partner-container">
			<h1 class="primary-title">Our Outreach Partners</h1>
			<div class="outreach-partner-logos">
				<div class="outreach-partner-logos__item">
					<div class="sponsor-title">OTT Streaming Partner</div>
					<img src="assets/rickykej/logo/erosnow-color.png" style="max-width:350px" alt="">
				</div>

				<div class="outreach-partner-logos__item">
					<div class="sponsor-title">Cause Partner</div>
					<img src="assets/rickykej/logo/isha-color.png" style="max-width:106px" alt="">
				</div>
				<div class="outreach-partner-logos__item">
					<div class="sponsor-title">Big Screen Partner</div>
					<img src="assets/rickykej/logo/pvr-color.png" style="max-width:91px" alt="">
				</div>

				<div class="outreach-partner-logos__item">
					<div class="sponsor-title">Live Streaming Partner </div>
					<img src="assets/rickykej/logo/jstdial.png" style="max-width:246px" alt="">
				</div>
			</div>

			<div class="outreach-partner-logos">
				<div class="outreach-partner-logos__item">
					<div class="sponsor-title">Digital OOH Partner</div>
					<img src="assets/rickykej/logo/spykke-color.png" style="max-width:190px" alt="">
				</div>
				<div class="outreach-partner-logos__item">
					<div class="sponsor-title">Broadcast Partner: Africa </div>
					<img src="assets/rickykej/logo/startimes-color.png" style="max-width:283px" alt="">
				</div>

				<div class="outreach-partner-logos__item">
					<div class="sponsor-title">ecotarium partner </div>
					<img src="assets/rickykej/logo/AOB-white.png" style="max-width:120px" alt="">
				</div>
				<div class="outreach-partner-logos__item">
					<div class="sponsor-title">Ecotarium partner </div>
					<img src="assets/rickykej/logo/bay-color.png" style="max-width:353px" alt="">
				</div>
			</div>

			<div class="outreach-partner-logos">
				<div class="outreach-partner-logos__item">
					<div class="sponsor-title">Digital Promotion Partner </div>
					<img src="assets/rickykej/logo/paytm-color.png" style="max-width:218px" alt="">
				</div>
				<div class="outreach-partner-logos__item">
					<div class="sponsor-title">DTH Partner </div>
					<img src="assets/rickykej/logo/airtel-color.png" style="max-width:200px" alt="">
				</div>
				<div class="outreach-partner-logos__item">
					<div class="sponsor-title">Streaming Partner </div>
					<img src="assets/rickykej/logo/lahari-color.png" style="max-width:89px" alt="">
				</div>
				<div class="outreach-partner-logos__item">
					<div class="sponsor-title">OTT Partner </div>
					<img src="assets/rickykej/logo/airtel-xstream-color.png" style="max-width:165px" alt="">
				</div>
			</div>
			<div class="outreach-partner-logos" style="justify-content:center;">

			</div>
		</div>
	</section><!-- event partner section end -->

	<section #Artists id="artists" class="event-artist">
		<h1 class="primary-title">Artist Ensemble</h1>

		<div class="grid">
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/rickykej/artist/rickykej.jpg" alt="Ricky Kej">
					</div>
					<div class="artist-card__info">
						<div class="name">Ricky Kej</div>
						<div class="brief">
							Grammy® Award Winner, US Billboard #1 artist, UNESCO mgiep , Ambassador &amp;
							UNICEF ‘Celebrity Supporter&#39; Ricky Kej is an internationally renowned Indian Music
							Composer, Environmentalist and Professor who have won more than a 100 music
							awards in over 20 countries.
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/rickykej/artist/lonniepark.jpg" alt="Lonnie Park">
					</div>
					<div class="artist-card__info">
						<div class="name">Lonnie Park</div>
						<div class="brief">
							A Grammy® Nominee vocalist, Keyboardist, songwriter, engineer, producer, and,
							Lonnie Park is the lead singer of the band Ten Man Push. He actively produces
							commissioned music for causes such as Autism Works, Autism Movement, Puzzle
							Solvers.
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/rickykej/artist/baabamaal.jpg" alt="Baaba Maal">
					</div>
					<div class="artist-card__info">
						<div class="name">Baaba Maal</div>
						<div class="brief">
							Baaba Maal, a Senegalese singer and guitarist born in Podor, is a well known African
							and international musician who plays acoustic guitar, and percussion and has
							released 11 studio albums and voiced the Wakandan soundtrack of the blockbuster
							film &#39;Black Panther&#39;.
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/rickykej/artist/lauradickinson.jpg"
							alt="Laura Dickinson"></div>
					<div class="artist-card__info">
						<div class="name">Laura Dickinson</div>
						<div class="brief">
							Grammy® Winner from USA, Laura is a hugely popular vocal contractor and voice
							actress in Hollywood, whose vocals can be heard in “Rogue One: A Star Wars Story”,
							“Supernatural” to name a few and is known for infusing a unique freedom and laser-
							beam vocal precision into every song she performs.
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/rickykej/artist/wouterkellerman.jpg"
							alt="Wouter Kellerman"></div>
					<div class="artist-card__info">
						<div class="name">Wouter Kellerman</div>
						<div class="brief">
							A Grammy® Award-winning South African flutist, producer and composer, Wouter
							won six South African Music Awards and has focused his attention on World and
							Roots music, exploring the versatility of the instrument and fusing classical and
							contemporary sounds.
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/rickykej/artist/mzansiyouthchoir.jpeg"
							alt="Mzans Youth Choir"></div>
					<div class="artist-card__info">
						<div class="name">Mzansi Youth Choir</div>
						<div class="brief">
							The Mzansi Youth Choir is globally recognised as Africa&#39;s finest show choir and the
							only choir from the African continent to be selected to perform at the International
							Youth Choir Festival at the Royal Albert Hall, London in April 2017.
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/rickykej/artist/panditvishwamohanbhatt.jpg" alt="">
					</div>
					<div class="artist-card__info">
						<div class="name">Pt. Vishwa Mohan Bhatt</div>
						<div class="brief">
							Grammy® Winning Hindustani classical music instrumentalist and Creator of the
							MOHAN VEENA (slide guitar), Vishwa Mohan Bhatt has mesmerized the world with
							his pristine pure, delicate yet fiery music and his perfect assimilation of sitar, sarod
							&amp; Veena techniques.
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/rickykej/artist/ipsingh.jpg" alt="IP singh"></div>
					<div class="artist-card__info">
						<div class="name">IP Singh</div>
						<div class="brief">
							Popularly known for being the lead vocalist of the band &#39;Fardikot&#39;, IP Singh has
							been
							in the music scene as a composer, lyricist and singer for the past 11 years with 500
							shows under his belt.
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/rickykej/artist/varijashree.jpg"
							alt="Varijashree Venugopal"></div>
					<div class="artist-card__info">
						<div class="name">Varijashree Venugopal</div>
						<div class="brief">
							An award winning vocalist and flute player, Varijashree is known for her immense
							virtuosity as a cross-cultural musician and performer. She was found to have the rare
							ability of identifying about 200 ragas at the age of four years.
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/rickykej/artist/haiphuong.jpg" alt="Hai Phuong">
					</div>
					<div class="artist-card__info">
						<div class="name">Hai Phuong</div>
						<div class="brief">
							Hai Phuong, one of the leading Dan Tranh musicians in the world has won &#39;The Best
							Contemporary Music Performer Prize&#39; in &#39;The First National Concours of Young
							Zither talents 1992&#39;. Currently, Hai Phuong is a teacher of Tranh Zither in HCMC
							conservatory.
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/rickykej/artist/manojgeorge.jpg"
							alt="Manoj George"></div>
					<div class="artist-card__info">
						<div class="name">Manoj George</div>
						<div class="brief">
							Manoj George is a violinist and composer who performed as a conductor, string
							arranger and choral arranger in the Grammy® award winning album “Winds of
							Samsara”. His wide repertoire include scoring music for Malayalam and Kannada
							feature films, documentaries, short films and commercials.
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/rickykej/artist/arunkumar.jpg" alt="Arun Kumar">
					</div>
					<div class="artist-card__info">
						<div class="name">Arun Kumar</div>
						<div class="brief">
							A master of Carnatic percussion, Arun Kumar has been in the field of Music since
							1986 and is a famous jazz Drummer. He renders percussion support to Carnatic
							Classical, Talavadya, Jazz music, Light Music and Dance Performances.
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/rickykej/artist/vijayaashanker.jpeg"
							alt="Vijayaa Shanker"></div>
					<div class="artist-card__info">
						<div class="name">Vijayaa Shanker</div>
						<div class="brief">
							Trained in Carnatic Music under various eminent musicians of India, Vijayaa
							Shankar is a singer songwriter, composer, voice coach who has sung in multi-lingual
							films and 2500 jingles and is Sahitya Kala Parishad Award recipient.
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/rickykej/artist/raveolutionchoir.jpg"
							alt="The Raveolution Choir"></div>
					<div class="artist-card__info">
						<div class="name">The Raveolution Choir</div>
						<div class="brief">
							Conducted by Dominic D&#39;Cruz, the Raveolution Choir is a collection of few of the best
							singers and musicians from Bengaluru. The choir is versatile and has performed at
							several concerts with Grammy® Award Winner Ricky Kej.
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/rickykej/artist/vilasnayak.jpg" alt="Vilas Nayak">
					</div>
					<div class="artist-card__info">
						<div class="name">Vilas Nayak</div>
						<div class="brief">
							Vilas Nayak, a self-taught speed painting artists widely recognized by his
							performances on &#39;Asia&#39;s Got Talent&#39; on AXN and &#39;Got Talent World Stage
							Live&#39;. He has
							performed in over 28 countries on some of the most prestigious stages.
						</div>
					</div>
				</div>
			</div>
		</div><!-- artist end -->

		<div class="live-streaming-handle">
			<h1 class="primary-title">Live Streaming Handles</h1>
			<div class="accordion">
				<div class="accordion-head" (click)="showContent('Goodwill Partners')">
					<div class="arrow down"> <i class="icon-chevron-right" *ngIf="display != 'Goodwill Partners'"></i>
						<i class="icon-chevron-down" *ngIf="display == 'Goodwill Partners'"></i> </div>
					<!-- <div class="brand-logo"><img src="assets/rickykej/logo/wwf-white.png" alt=""></div> -->
					<div class="brand-title">Goodwill Partners</div>
				</div>
				<div class="accordion-body" *ngIf="display == 'Goodwill Partners'">
					<div class="grid-live-stream">

						<div class="item">
							<div class="item-title">One Page Spotlight</div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item" href="https://www.facebook.com/onepagespotlight/"
									target="_blank"><img src="assets/rickykej/btn_fb.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://www.youtube.com/c/onepagespotlight"
									target="_blank"><img src="assets/rickykej/btn_yt.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://www.instagram.com/onepagespotlight/"
									target="_blank"><img src="assets/rickykej/btn_insta.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://twitter.com/1pagespotlight"
									target="_blank"><img src="assets/rickykej/btn_tw.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://www.opsplt.com/onepagespotlight"
									target="_blank"><img src="assets/rickykej/btn_ott.svg" alt=""></a>
							</div>
						</div>
						<div class="item">
							<div class="item-title">WWF</div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item" href="https://www.facebook.com/worldwildlifefund"
									target="_blank"><img src="assets/rickykej/btn_fb.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://www.instagram.com/World_Wildlife/"
									target="_blank"><img src="assets/rickykej/btn_insta.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://twitter.com/world_wildlife"
									target="_blank"><img src="assets/rickykej/btn_tw.svg" alt=""></a>
							</div>
						</div>
						<div class="item">
							<div class="item-title">WWF INDIA</div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item" href="https://www.facebook.com/wwfindia/"
									target="_blank"><img src="assets/rickykej/btn_fb.svg" alt=""></a>
								<a class="link-share-btn-block__item"
									href="https://www.youtube.com/channel/UCAnmr7lo8uqpBt5wjEL6ZZg" target="_blank"><img
										src="assets/rickykej/btn_yt.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://www.instagram.com/wwfindia"
									target="_blank"><img src="assets/rickykej/btn_insta.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://twitter.com/WWFINDIA"
									target="_blank"><img src="assets/rickykej/btn_tw.svg" alt=""></a>

							</div>
						</div>
						<div class="item">
							<div class="item-title">UNCCD</div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item" href="https://www.facebook.com/UNCCD/"
									target="_blank"><img src="assets/rickykej/btn_fb.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://www.youtube.com/user/theUNCCD"
									target="_blank"><img src="assets/rickykej/btn_yt.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://www.instagram.com/unccd/"
									target="_blank"><img src="assets/rickykej/btn_insta.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://twitter.com/unccd"
									target="_blank"><img src="assets/rickykej/btn_tw.svg" alt=""></a>

							</div>
						</div>
						<div class="item">
							<div class="item-title">UNICEF</div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item" href="https://www.facebook.com/unicefindia/"
									target="_blank"><img src="assets/rickykej/btn_fb.svg" alt=""></a>
								<a class="link-share-btn-block__item"
									href="https://www.youtube.com/channel/UC-PhoMIVWsstY-VVtUIe-Og" target="_blank"><img
										src="assets/rickykej/btn_yt.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://www.instagram.com/unicefindia"
									target="_blank"><img src="assets/rickykej/btn_insta.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://twitter.com/UNICEFIndia"
									target="_blank"><img src="assets/rickykej/btn_tw.svg" alt=""></a>

							</div>
						</div>
						<div class="item">
							<div class="item-title">UNFCCC</div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item" href="https://www.facebook.com/UNclimatechange"
									target="_blank"><img src="assets/rickykej/btn_fb.svg" alt=""></a>

								<a class="link-share-btn-block__item" href="https://twitter.com/unfccc"
									target="_blank"><img src="assets/rickykej/btn_tw.svg" alt=""></a>
							</div>
						</div>
						<div class="item">
							<div class="item-title">UNESCO MGIEP</div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item" href="https://www.facebook.com/mgiep"
									target="_blank"><img src="assets/rickykej/btn_fb.svg" alt=""></a>
								<a class="link-share-btn-block__item"
									href="https://www.youtube.com/channel/UCJLhlIOm1U_CR2C_D9OIZFg" target="_blank"><img
										src="assets/rickykej/btn_yt.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://www.instagram.com/unesco_mgiep"
									target="_blank"><img src="assets/rickykej/btn_insta.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://twitter.com/UNESCO_MGIEP"
									target="_blank"><img src="assets/rickykej/btn_tw.svg" alt=""></a>
							</div>
						</div>
						<div class="item">
							<div class="item-title">EARTH DAY NETWORK </div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item" href="www.earthdaylive2020.com"
									target="_blank"><img src="assets/rickykej/btn_ott.svg" alt=""></a>
							</div>
						</div>
						<div class="item hidden-under-desktopmd">

						</div>

					</div>
				</div><!-- goodwill partner end -->

				<!-- 1st end/////// -->

				<div class="accordion-head" (click)="showContent('Out Reach Partners')">
					<div class="arrow down"> <i class="icon-chevron-right" *ngIf="display != 'Out Reach Partners'"></i>
						<i class="icon-chevron-down" *ngIf="display == 'Out Reach Partners'"></i> </div>
					<div class="brand-title">Out Reach Partners </div>
				</div>
				<div class="accordion-body" *ngIf="display == 'Out Reach Partners'">
					<div class="grid-live-stream">

						<div class="item">
							<div class="item-title">SPYKKE</div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item" href="https://www.facebook.com/getspykked/"
									target="_blank"><img src="assets/rickykej/btn_fb.svg" alt=""></a>
								<a class="link-share-btn-block__item"
									href="https://www.youtube.com/channel/UCofqd287UdF7aSHKTuBey0w" target="_blank"><img
										src="assets/rickykej/btn_yt.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://www.instagram.com/getspykked/"
									target="_blank"><img src="assets/rickykej/btn_insta.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://twitter.com/getspykked"
									target="_blank"><img src="assets/rickykej/btn_tw.svg" alt=""></a>
							</div>
						</div>
						<div class="item">
							<div class="item-title">ISHA</div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item" href="https://www.facebook.com/sadhguru/"
									target="_blank"><img src="assets/rickykej/btn_fb.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://www.youtube.com/user/sadhguru"
									target="_blank"><img src="assets/rickykej/btn_yt.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://www.instagram.com/sadhguru/?hl=en"
									target="_blank"><img src="assets/rickykej/btn_insta.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://twitter.com/sadhguruJV"
									target="_blank"><img src="assets/rickykej/btn_tw.svg" alt=""></a>
							</div>
						</div>
						<div class="item">
							<div class="item-title">PVR CINEMAS</div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item" href="https://www.facebook.com/moviesatpvr/"
									target="_blank"><img src="assets/rickykej/btn_fb.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://www.youtube.com/user/PVRChannel"
									target="_blank"><img src="assets/rickykej/btn_yt.svg" alt=""></a>
								<a class="link-share-btn-block__item"
									href="https://www.instagram.com/pvrcinemas_official/" target="_blank"><img
										src="assets/rickykej/btn_insta.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://mobile.twitter.com/_PVRCinemas"
									target="_blank"><img src="assets/rickykej/btn_tw.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://www.tiktok.com/@pvrcinemas"
									target="_blank"><img src="assets/rickykej/btn_ott.svg" alt=""></a>

							</div>
						</div>

						<div class="item">
							<div class="item-title">PAYTM INSIDER</div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item" href="https://www.instagram.com/insider.in/?hl=en"
									target="_blank"><img src="assets/rickykej/btn_insta.svg" alt=""></a>
								<a class="link-share-btn-block__item"
									href="https://twitter.com/paytminsider?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
									target="_blank"><img src="assets/rickykej/btn_tw.svg" alt=""></a>
							</div>
						</div>
						<div class="item">
							<div class="item-title">JUST DIAL</div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item" href="https://www.facebook.com/JustDial/"
									target="_blank"><img src="assets/rickykej/btn_fb.svg" alt=""></a>
								<a class="link-share-btn-block__item"
									href="https://www.youtube.com/channel/UC_Na_L-PvuoqIEzNbtkeI3A" target="_blank"><img
										src="assets/rickykej/btn_yt.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://www.instagram.com/jd_justdial/"
									target="_blank"><img src="assets/rickykej/btn_insta.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://twitter.com/just_dial"
									target="_blank"><img src="assets/rickykej/btn_tw.svg" alt=""></a>
							</div>
						</div>
						<div class="item">
							<div class="item-title">LAHARI MUSIC</div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item"
									href="https://www.youtube.com/channel/UCnSqxrSfo1sK4WZ7nBpYW1Q" target="_blank"><img
										src="assets/rickykej/btn_yt.svg" alt=""></a>

								<a class="link-share-btn-block__item" href="https://www.instagram.com/laharimusic"
									target="_blank"><img src="assets/rickykej/btn_insta.svg" alt=""></a>
							</div>
						</div>

						<div class="item">
							<div class="item-title">AQUARIUM BY THE BAY</div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item" href="https://www.facebook.com/AquariumOfTheBay/"
									target="_blank"><img src="assets/rickykej/btn_fb.svg" alt=""></a>
							</div>
						</div>
						<div class="item">
							<div class="item-title">EROS NOW</div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item" href="https://www.facebook.com/erosnow/"
									target="_blank"><img src="assets/rickykej/btn_fb.svg" alt=""></a>
								<a class="link-share-btn-block__item"
									href="https://www.youtube.com/channel/UCX52tYZiEh_mHoFja3Veciw" target="_blank"><img
										src="assets/rickykej/btn_yt.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://www.instagram.com/erosnow/"
									target="_blank"><img src="assets/rickykej/btn_insta.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://twitter.com/ErosNow"
									target="_blank"><img src="assets/rickykej/btn_tw.svg" alt=""></a>
							</div>
						</div>
						<div class="item hidden-under-desktopmd">

						</div>


					</div> <!-- out reach partner live stream end -->
				</div>

				<!-- 2nd end/////// -->

				<div class="accordion-head" (click)="showContent('Friends of Concert')">
					<div class="arrow down"> <i class="icon-chevron-right" *ngIf="display != 'Friends of Concert'"></i>
						<i class="icon-chevron-down" *ngIf="display == 'Friends of Concert'"></i> </div>
					<div class="brand-title">Friends of Concert </div>
				</div>
				<div class="accordion-body" *ngIf="display == 'Friends of Concert'">
					<div class="grid-live-stream">

						<div class="item">
							<div class="item-title">UNESCO India</div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item" href="https://www.facebook.com/unesco"
									target="_blank"><img src="assets/rickykej/btn_fb.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://www.instagram.com/unesconewdelhi/"
									target="_blank"><img src="assets/rickykej/btn_insta.svg" alt=""></a>
							</div>
						</div>
						<div class="item">
							<div class="item-title">United Nations india</div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item"
									href="https://www.facebook.com/UnitedNationsIndia/" target="_blank"><img
										src="assets/rickykej/btn_fb.svg" alt=""></a>
							</div>
						</div>
						<div class="item">
							<div class="item-title">Teamwork arts</div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item" href="https://www.facebook.com/teamworkarts/"
									target="_blank"><img src="assets/rickykej/btn_fb.svg" alt=""></a>

							</div>
						</div>

						<div class="item">
							<div class="item-title">UNHCR India </div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item" href="https://www.facebook.com/IndiaUNHCR/"
									target="_blank"><img src="assets/rickykej/btn_fb.svg" alt=""></a>

							</div>
						</div>
						<div class="item hidden-under-desktopmd">

						</div>
						<div class="item hidden-under-desktopmd">

						</div>

						<div class="item hidden-under-desktopmd">

						</div>
						<div class="item hidden-under-desktopmd">

						</div>
						<div class="item hidden-under-desktopmd">

						</div>


					</div>
				</div>

				<!-- 3rd end/////// -->

				<div class="accordion-head" (click)="showContent('Artist / Musician / Performers')">
					<div class="arrow down"> <i class="icon-chevron-right"
							*ngIf="display != 'Artist / Musician / Performers'"></i> <i class="icon-chevron-down"
							*ngIf="display == 'Artist / Musician / Performers'"></i> </div>
					<div class="brand-title">Artist / Musician / Performers</div>
				</div>
				<div class="accordion-body" *ngIf="display == 'Artist / Musician / Performers'">

					<div class="grid-live-stream">
						<div class="item">
							<div class="item-title">Ricky Kej</div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item" href="https://www.facebook.com/rickykejmusic/"
									target="_blank"><img src="assets/rickykej/btn_fb.svg" alt=""></a>
								<a class="link-share-btn-block__item"
									href="https://www.youtube.com/channel/UCOy6vvAsyJC3f1nI4L8EW8Q" target="_blank"><img
										src="assets/rickykej/btn_yt.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://www.instagram.com/rickykej"
									target="_blank"><img src="assets/rickykej/btn_insta.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://twitter.com/rickykej"
									target="_blank"><img src="assets/rickykej/btn_tw.svg" alt=""></a>
							</div>
						</div>
						<div class="item">
							<div class="item-title">Wouter Kellerman</div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item"
									href="https://www.facebook.com/wouterkellermanmusic/" target="_blank"><img
										src="assets/rickykej/btn_fb.svg" alt=""></a>
								<a class="link-share-btn-block__item"
									href="https://www.youtube.com/channel/UCqekXYW7zjanXU83WRXlL_w" target="_blank"><img
										src="assets/rickykej/btn_yt.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://www.instagram.com/wouterkellerman/"
									target="_blank"><img src="assets/rickykej/btn_insta.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://twitter.com/wouterkellerman"
									target="_blank"><img src="assets/rickykej/btn_tw.svg" alt=""></a>
							</div>
						</div>
						<div class="item">
							<div class="item-title">Vilas Nayak</div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item" href="https://www.facebook.com/vilasnayakart/"
									target="_blank"><img src="assets/rickykej/btn_fb.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://www.instagram.com/vilas_nayak/"
									target="_blank"><img src="assets/rickykej/btn_insta.svg" alt=""></a>

							</div>
						</div>

						<div class="item">
							<div class="item-title">Varijashree</div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item"
									href="https://www.facebook.com/VarijashreeVenugopal/" target="_blank"><img
										src="assets/rickykej/btn_fb.svg" alt=""></a>

							</div>
						</div>
						<div class="item">
							<div class="item-title">Vijayaa shanker</div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item"
									href="https://www.facebook.com/VijayaaShankerMusicBand/" target="_blank"><img
										src="assets/rickykej/btn_fb.svg" alt=""></a>
								<a class="link-share-btn-block__item" href="https://www.instagram.com/vijayaashanker"
									target="_blank"><img src="assets/rickykej/btn_insta.svg" alt=""></a>
							</div>
						</div>
						<div class="item">
							<div class="item-title">Laura Dickinson</div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item"
									href="https://www.facebook.com/lauraelsiedickinson/" target="_blank"><img
										src="assets/rickykej/btn_fb.svg" alt=""></a>
							</div>
						</div>

						<div class="item">
							<div class="item-title">Vishwa Mohan Bhatt</div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item"
									href="https://www.facebook.com/Pt-Vishwa-Mohan-Bhatt-139177939485250/"
									target="_blank"><img src="assets/rickykej/btn_fb.svg" alt=""></a>
							</div>
						</div>
						<div class="item">
							<div class="item-title">Baaba Maal</div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item" href="https://www.facebook.com/baabamaal/"
									target="_blank"><img src="assets/rickykej/btn_fb.svg" alt=""></a>
							</div>
						</div>
						<div class="item">
							<div class="item-title">Lonnie Park</div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item"
									href="https://www.facebook.com/Lonnie-Park-1002597503161844/" target="_blank"><img
										src="assets/rickykej/btn_fb.svg" alt=""></a>
							</div>
						</div>

						<div class="item">
							<div class="item-title">Beethoven Pastoral Project</div>
							<div class="link-share-btn-block">
								<a class="link-share-btn-block__item"
									href="https://www.facebook.com/BTHVNPastoralProject/" target="_blank"><img
										src="assets/rickykej/btn_fb.svg" alt=""></a>
							</div>
						</div>
						<div class="item hidden-under-desktopmd">

						</div>
						<div class="item hidden-under-desktopmd">

						</div>

					</div>
				</div>

				<!-- 3rd end/////// -->




			</div>
		</div>
	</section>

	<section #About id="about" class="event-about">
		<div class="event-ops-discrptn">
			<div class="event-dis-ops-logo">
				<img src="assets/ops_logo_white.png" alt="">
			</div>
			<div class="event-dis-ops">
				One Page Spotlight is envisioned<br>
				to be a social and professional networking platform<br>

				for the creative community across the globe.<br>
				We desire to be a part of every creators journey<br>
				as enablers to Entertain and Inspire the World.<br>

				Providing an unique platform beyond borders<br>
				and connecting everyone from the creative and entertainment industry<br>
				to create, connect and collaborate for better and bigger,<br>
				is our vision for everyone.
			</div>
			<a routerLink="/login" class="watch-now-btn">Register</a>
		</div>
	</section>

	<section class="event-footer">
		<div class="event-footer-contianer">
			<div class="event-footer-copyright">Copyright © 2020. One Page Spotlight All Rights Reserved </div>
			<div class="event-footer-social-icons">
				<a href="https://www.facebook.com/onepagespotlight/" target="_blank"
					class="event-footer-social-icons__item"><img src="assets/rickykej/fb.svg" alt=""></a>
				<a href="https://twitter.com/1pagespotlight" target="_blank"
					class="event-footer-social-icons__item"><img src="assets/rickykej/tw.svg" alt=""></a>
				<a href="https://www.instagram.com/onepagespotlight" target="_blank"
					class="event-footer-social-icons__item"><img src="assets/rickykej/insta.svg" alt=""></a>
				<a href="https://www.youtube.com/c/onepagespotlight" target="_blank"
					class="event-footer-social-icons__item"><img src="assets/rickykej/yt.svg" alt=""></a>
				<a href="https://www.linkedin.com/company/one-page-spotlight/" target="_blank"
					class="event-footer-social-icons__item"><img src="assets/rickykej/linkdin.svg" alt=""></a>
			</div>
		</div>
	</section>
</div>