<div class="o-block">
  <div class="o-block__head">
      <h4>Block {{user.name}}</h4>
     <!-- <a class="o-block-close hidden-under-tablet"><i class="icon-x"></i></a> -->
  </div><!-- block head end -->
  <div class="o-block__content">
      <p class="caption-regular">
          If you block {{user.name}}, {{user.name}} will no longer be able to see your posts, tag you, invite you to communities or network with you. 
      </p>
  </div>
  <div class="o-block__action">
      <button type="button" class="btn btn-outline-primary btn--block hidden-above-tablet" 
      (click)="cancel()">Cancel</button>
      <button type="button" class="btn btn-primary btn--block" (click)="block(); showMenu = false">Block</button>
  </div>
</div>