.workTitle{
    padding-left: 12px;
    padding-top: 5px;
}
.workTitleback{
    padding-left: 18px;
    padding-top: 10px;
}
.fileUpload-close-temp{
    position: absolute;
    top: 0px;
    right: 20px;
}