
@import "src/assets/helpers/variables";
@import "node_modules/sass-mq/_mq";

//skill body css
.o-reg-skill-body{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__title{
        max-width: 410px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__padng{
        padding: 23px 0 45px;
    }
}
//button style
.o-reg-skill-btn {
    border: 1px solid #0288D1;
    border-radius: 16px;
    padding: 6px 22px;
    line-height: 22px;
    margin: 8px 6px;
    background: transparent;
    color:$primary;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    white-space: nowrap;
    &:hover, &:active{
        background-color: #0288D1;
        color:#fff;
    }
    &:focus{
        outline:none;
    }
}
//add to skill button css
.o-reg-skill-btn-add-skill{
    border: 1px solid #0288D1;
    border-radius: 16px;
    padding: 6px 11px;
    line-height: 22px;
    margin: 8px 6px;
    background: transparent;
    color: $primary;
    min-width: 188px;
    display: flex;
    justify-content: space-around;
    &:focus{
        outline:none;
    }
    input{
        width: 100px;
        border: none;
    }
}
//skill main css
.o-reg-skill{
    // width: 796px;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding:64px 55px;
    position: relative;
        
    .close{
        position: absolute;
        right: 35px;
        top: 35px;
    }
}

// header css
.o-reg-skill-header{
    width: 100%;
    position: relative;
   
}
// button list css
.o-reg-skill-body__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 225px;
    .active{
        background-color: #0288D1;
        color:#fff;
    }
    .icon-x{
        line-height: 22px;
        font-size: 15px;
    }
    .icon-check{
        font-family: 'icomoon' !important;
        line-height: 1;
        font-size: 24px;
    }
}
.o-reg-skill-btn-add-skill--no-need{
    overflow: hidden!important;
    height: unset!important;
    margin-top: 28px!important;
}
//button css
.o-reg-skill-continue{
    &__btn{
        border-radius: 4px;	
        background-color: #0288D1;
        color:#fff;
        padding: 9px 70px;
        border: 1px solid;
        line-height: 22px;
        margin: 42px 0 0;
        &:focus{
            outline: none!important;
        }
    }
}
// skip button css
.o-reg-skill-skip {
    position: absolute;
    // padding:64px 55px;
    bottom: 75px;
    right: 64px;
}
//Responsive css for page

@include mq($until:$tablet){
    .o-reg-skill{
       padding: 24px 15px 16px;
        width:100%;
        height: calc(100vh - 96px);
    }
    .o-reg-skill-mob-header{
        border-radius: 0;
        position: relative;
        z-index: 2; 
        box-shadow: 0 6px 10px 0 rgba(144,164,174,0.16), 0 1px 12px 0 rgba(144,164,174,0.18), 0 3px 5px 0 rgba(144,164,174,0.2);
    }
    .o-reg-skill-skip {
        position: absolute;
        top: -35px;
        right: 20px;
        padding: 0;
    }
    .o-reg-skill-body__padng {
        padding: 18px 0;
    }
    .o-reg-skill-body__list{
        &.scroll {
            height: calc(100vh - 280px);
            overflow: scroll;
                &::-webkit-scrollbar { 
                    display: none; 
                }
        }  
    }
    .o-reg-skill-continue__btn{
        margin: 84px 0 0;
        width: 290px;
    }
    .o-reg-skill-btn {
        margin: 7px 6px;
    }
    .o-reg-skill-continue{
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #FFFFFF 69.88%);
        position: absolute;
        width:100%;
        bottom:30px;
    }
}