<div class="o-reg-skill">
<!-- close end -->
    <div class="o-reg-skill-body">
        <div class="o-reg-skill-body__title">
            <div class="text-h3 f500">
                Select Skills of your interest.
            </div>
            <div class="text-md o-reg-skill-body__padng">
                Based on the skills selected, you will get recommendations on people, organizations and events to follow.
            </div>
        </div><!--title ends-->
        <div class="o-reg-skill-body__list">
            <span class="o-reg-skill-btn" [ngClass]="{ 'active': hashtag.selected }" *ngFor="let hashtag of hashtags" (click)="toggleSelection(hashtag)">#{{hashtag.value}}</span>
        </div><!--list ends-->
        <div class="o-reg-skill-body__list">
            <div class="o-reg-skill-btn-add-skill">
                <input type="text"
                name="hashtag"
                [(ngModel)]="input"
                (keyup)="keyUp($event)"
                #hashtagInput placeholder="Add Skills">   
                <a class="text-lg primary">
                    <i class="icon-check" (click)="addNew()"></i>
                    <i class="icon-x" (click)="input = ''; addingHashtag = false; hashtagInput.focus()"></i>
                </a>
            </div>
        </div><!--add skill ends-->
    </div><!--body ends-->
</div>