<div class="o-create-big-event">
    <div class="o-create-big-event-content">
          <div class="o-create-big-event-header">
                <h4 class="f500">Create an Event</h4>
                <div class="text-md grey">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                  ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.
                </div>
          </div><!--header ends-->
          <div class="o-create-big-event-content__form">
                <div class="form-group">
                    <label>Event Title</label>
                    <input type="text" class="form-control form-control-lg">
                </div><!--Event Title Name ends-->
                <div class="form-group">
                    <label>Event Description <span class="text-sm grey description-width">21/300</span></label>
                    <textarea class="form-control" rows="5" ></textarea>
                    <!-- <div class="all-service-option">
                            Photography <a class="icon-x"></a>
                    </div> -->
                </div><!--Add Services ends-->
                <div class="o-create-big-event-row">
                    <div class="form-group select-big-event mr13">
                        <label>Event Type</label>
                        <select class="form-control form-control-lg">
                            <option value="" disabled selected>Select Category</option>
                            <option *ngFor = "let type of eventTypeList" value="type.value">{{ type.label}}</option>       
                        </select>
                    </div><!--Organisation Type ends-->
                    <div class="form-group select-big-event">
                        <label>Event Category</label>
                        <select class="form-control form-control-lg">
                            <option selected="selected" disabled>Select Category</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                            <option>Option 5</option>
                        </select>
                    </div><!--Organisation Type ends-->
                </div><!--row ends-->
                <div class="form-group">
                    <label>Event Location</label>
                    <input type="text" class="form-control form-control-lg">
                </div><!--Location ends-->
                <div class="o-create-big-event-row">
                    <div class="form-group select-big-event mr13">
                        <label>Start Date</label>
                        <select class="form-control form-control-lg">
                            <option selected="selected" disabled>Select Date</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                            <option>Option 5</option>
                        </select>
                    </div><!--Organisation Type ends-->
                    <div class="form-group select-big-event">
                        <label>Start Time</label>
                        <select class="form-control form-control-lg">
                            <option selected="selected" disabled>Select Time</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                            <option>Option 5</option>
                        </select>
                    </div><!--date and tym ends-->
                </div><!--row ends-->
                <div class="o-create-big-event-row">
                    <div class="form-group select-big-event mr13">
                        <label>End Date</label>
                        <select class="form-control form-control-lg">
                            <option selected="selected" disabled>Select Date</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                            <option>Option 5</option>
                        </select>
                    </div><!--Organisation Type ends-->
                    <div class="form-group select-big-event">
                        <label>End Time</label>
                        <select class="form-control form-control-lg">
                            <option selected="selected" disabled>Select Time</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                            <option>Option 5</option>
                        </select>
                    </div><!--date and tym ends-->
                </div><!--row ends-->
                <div class="form-group">
                    <label>Cover Image</label>
                    <div class="o-big-event-profile-picture">
                        <div class="fileUpload mr10">
                            <span class="icon-plus"></span>
                            <input type="file" class="upload" />
                        </div><!--file upload ends-->
                        <div class="fileUpload-preview">
                            <a class="o-big-event-image" href="#">
                                <img src="assets/demo/m3.jpg" alt="">
                            </a>
                        </div><!--file preview ends-->
                    </div>  
                    <div class="grey text-sm paddng-top">Use a comma to separate skills, or choose from the list.</div>                    
                </div><!--Profile Picture ends-->
                <div class="o-create-big-event-action">
                        <button type="button" class="btn btn-primary mr-18">Create</button>
                    <button type="button" class="btn btn-outline-primary btn-lg">Cancel</button>
                </div><!--Button action ends-->
          </div>
    </div>
</div>