<div id="enrollment-terms-and-conditions" class="document-content-block document-content-block--p-b-41">
    <div class="document-header">
        <h5 class="primary">Enrolment Terms & Provisions</h5>
        <div class="text-md grey">Updated on September 27, 2019</div>
    </div>
    <ol class="document-ol document-liststyle">
            <!-- <div class="m-t-17 doc-subtitle">Introduction to Copyright</div> -->
            <li>
                <p class="text-md m-t-10 m-b-20">
                    These Enrolment Provisions & Terms, Terms and Conditions (including User Terms
                    and License Terms), the Privacy Policy, Community Guidelines, and any other
                    guidelines, rules, additional terms or disclaimers, specific terms and conditions
                    relating to the usage of additional features that may be added to <span class="f500"> AEIONE LLP</span> or its
                    platforms from time to time, posted and updated by AEIONE LLP collectively
                    constitute the “Agreement” which governs the relationship between us and you. By
                    agreeing to these Enrolment Provisions, you also agree to the provisions of other
                    documents relating to the usage of <u>our services</u> which are incorporated herein by way
                    of reference and form an integral part of the Agreement governing the relationship
                    between us and you.
                </p>
            </li>
            <li>
                <p class="text-md m-t-10 m-b-20">
                    <span class="f500">AEIONE LLP</span> is the owner and operator of One Page Spotlight Platform, Site and
                    Services. All references in this Agreement to <span class="f500">“we”, “us”, “our”, or One Page
                    Spotlight,</span> is a reference to <span class="f500">AEIONE LLP.</span> We offer services through various
                    electronic platforms, including but not limited to, on the Internet
                    <span class="f500">www.onepagespotlight.com</span> and mobile applications (including on iOS, Android,
                    Windows operating systems) (collectively known as “Platforms”) using the brand
                    “One Page Spotlight”. If you have any questions regarding any aspect of this
                    Agreement or our Services, kindly contact our Customer Service Staff at
                    <a href="mailto:support@onepagespotlight.com" class="f500 primary">support@onepagespotlight.com</a>
                </p>
            </li>
            <li>
                <p class="text-md m-t-10 m-b-20">
                    The following terms, as well as our <u>Privacy Policy</u>, <u>Community Standards</u> and User
                    Agreement, apply to all creators, administrators and users of this feature. You are
                    responsible for ensuring that the content, group or event complies with all applicable
                    laws, statutes and regulations.
                </p>
            </li>
            <li>
                <p class="text-md m-t-10 m-b-20">
                    The enrolment is open for online submission only through <span class="f500">One Page Spotlight</span> and
                    not through any offline mode.
                </p>
            </li>
            <li>
                <p class="text-md m-t-10 m-b-20">
                    All submissions must be made in the open period only. No submission will be
                    considered after the closure of due date unless as applicable against a late fee.
                </p>
            </li>
            <li>
                <p class="text-md m-t-10 m-b-20">
                    Submissions made must fulfil the legal age and gender criteria as applicable and
                    specified by the organizer of any such contest / pageant / competition / award /
                    ceremony / festival. Please note that an account of a person below 16 years may be
                    created, provided there is a specific valid parental or guardian consent/control as
                    prescribed by the applicable laws. If the content related to children is posted, the
                    parents of such children shall create and manage the accounts and posts, and be liable
                    for the content related to children thus posted. All submissions to be made with <span class="f500">One
                    Page Spotlight</span> Portfolio Link.
                </p>
            </li>
            <li>
                <p class="text-md m-t-10 m-b-20">
                    Same portfolio link can be used to make multiple submissions and repeat submissions
                    unless specifically prohibited.
                </p>
            </li>
            <li>
                <p class="text-md m-t-10 m-b-20">
                    Fees as applicable will have to be paid to the third-party organizer of any such
                    contest/pageant/competition/award/ceremony/festival and we shall not be liable in any
                    manner whatsoever for any loss or harm caused in relation to payments made through
                    its platform to such third parties. You understand and agree that once you leave One
                    Page Spotlight page, we shall not be liable to you for any losses you may incur.
                    Further, in such an event you will be governed by the terms and conditions governing
                    the use of such third party sites and networks.
                </p>
            </li>
            <li>
                <p class="text-md m-t-10 m-b-20">
                    One Page Spotlight or its various entities do not take any guarantee for the
                    verification of the enrolment being done, the organizers, third party vendors,
                    contestants, etc. Furthermore, in case of any misuse like multiple access by a client,
                    
                    organiser or a group of people, we shall not have any liability in relation to any such
                    misuse.
                </p>
            </li>
            <li>
                <p class="text-md m-t-10 m-b-20">
                    We do not certify the authenticity of the Submission being made through its platform
                    resources to third parties and will in no way be liable for any breach, damages caused
                    in relation to such breach or default.
                </p>
            </li>
            <li>
                <p class="text-md m-t-10 m-b-20">
                    We reserve the right to moderate every submission before it becomes visible to the
                    third-party organizer.
                </p>
            </li>
            <li>
                <p class="text-md m-t-10 m-b-20">
                    Content submitted that has inappropriate or offensive restricted content like mature
                    content, violence, gun content, defies human rights or is in violation to the
                    environment or deemed to be contrary to the law, religious, cultural and moral
                    traditions and practices of the land; and against the community guidelines of One
                    Page spotlight and  are strictly prohibited and will immediately be rejected by us in
                    our sole discretion. Furthermore, we reserve the right to remove, at its sole discretion,
                    such unwanted or unnecessary content which does not fall within the community
                    guidelines of our platform.
                </p>
            </li>
            <li>
                <p class="text-md m-t-10 m-b-20">
                    There is an inbuilt mechanism in our platform for acquiring coins that may be used
                    within the ecosystem of One Page Spotlight. The users may buy the said coins
                    themselves by making a payment, or others can make contributions and buy coins for
                    the users, or a user can get a coin by reposting the Content to some other platform.
                    The coins thus acquired can be used within the ecosystem of One Page Spotlight.
                    There is an inbuilt feature within our platform called Boost which may be used to
                    increase the viewership of the profile/Content. If a user wants to avail the Boost
                    feature, the user shall express its intent and request the Admin for the same.
                </p>
            </li>
            <li>
                <p class="text-md m-t-10 m-b-20">
                    Further, it is your responsibility and duty to classify the Content and its suitability for
                    viewership in terms of age category. You shall follow the best practices regarding the
                    restricted content and ensure that proper terminology is used to categorise and reflect
                    the age category it is suitable for in terms of age, sex, violence, etc. The user may
                    send out a notification and if there are 20 users who agree to view the Content
                    together at a time, the user may do a live streaming. You agree to be extra cautious
                    and careful when you and/or your Content is being displayed, performed or
                    distributed through live streaming. If there is any liability on us in relation to such
                    issues, you agree to indemnify and hold us harmless against all such third party
                    claims.
                </p>
            </li>
            <li>
                <p class="text-md m-t-10 m-b-20">
                    Participants in violation of the above rules can be irrevocably banned from using the
                    platform; subject to the sole discretion by us from participating in future
                    contests/pageant/competition /award/ceremony/festival through its platform.
                </p>
            </li>
            <li>
                <p class="text-md m-t-10 m-b-20">
                    We do not stake claim to any selection and the selections will be at the sole discretion
                    and process of the organizer and the jury.
                </p>
            </li>
            <li>
                <p class="text-md m-t-10 m-b-20">
                    We reserve the right to use an enrolment and submission for its internal promotional
                    purposes perpetually. The participants should not protest for any right nor shall claim
                    or seek any compensation from us in respect of the said right granted to use the
                    services.
                </p>
            </li>
            <li>
                <p class="text-md m-t-10 m-b-20">
                    Rules and regulations for participation are subject to change without prior notice. The
                    same is subject to the organizer’s discretion and we do not have any say in the same.
                </p>
            </li>
            <li>
                <p class="text-md m-t-10 m-b-20">
                    We are in no way responsible or liable to any monetary loss / damage to property/
                    physical or mental trauma arising out of participation through our enrolment feature
                    or in relation to participation in the said event per se. You agree to participate at your
                    own risk and sole responsibility.
                </p>
            </li>
            <li>
                <p class="text-md m-t-10 m-b-20">
                    You understand and agree that the payment is for participation only and that the
                    money once paid for participation will not be refunded. We do not influence the
                    
                    selection process and no representative of our services will ever ask you for any
                    money, reward or favour; tangible or intangible to influence the selection. If anyone
                    asks you for money for selection purposes apart from the mentioned fees as per the
                    standard fees prescribed for the event claiming that he/she can influence the selection
                    process in your favour, please  report the matter to us on
                    <a href="mailto:support@onepagespotlight.com" class="f500 primary">support@onepagespotlight.com</a> Furthermore, you understand and agree that you shall receive the notification regarding selection or rejection of your profile or content
                    directly from the entity organising such an event. We shall not be liable or responsible for notifying you as it does not fall within the purview of its role and responsibility as the platform owner.
                </p>
            </li>
            <li>
                <p class="text-md m-t-10 m-b-20">
                    We do not control or direct what users do, say or post either online or offline.
                    Accordingly, you understand and agree that we shall not be liable for their actions or
                    conduct (whether online or offline) or any Content that the users share (including
                    offensive, inappropriate, obscene, unlawful and other objectionable content).
                </p>
            </li>
            <li>
                <p class="text-md m-t-10 m-b-20">
                    All participants agree to follow the rules and regulations and model code of conduct
                    mentioned in the Agreement, these Enrolment Provisions, and terms and conditions
                    related to the event.
                </p>
            </li>
        </ol>

    <div class="m-t-17 doc-subtitle">Intellectual Property</div>
    <p class="text-md m-t-10 m-b-20">
        All content and submissions provided by you under the Agreement must be accurate,
        correct and original in nature and not contain any material that is an infringement on
        copyrights owned by others. If the content is not original, the person submitting the
        same should have the rights from the license holders to post the same. In case of any
        breach, you expressly agree that the matter will be taken up between the parties in
        dispute.  You also agree that the parties in dispute shall not involve or institute any
        action against us in relation to the said cause of action. Furthermore, you agree that
        the parties in dispute shall not argue the dispute on our platform; and that the parties
        who are in dispute shall settle the dispute either amicably or through a suit, outside
        our platform. Any such submission will become ineligible and considered null and
        void and we. may at our discretion suspend the defaulting user from participating in
        any further  enrolments which are similar in nature. Further, we shall not be liable for
        any misinformation or misrepresentation made by anyone on our platform.
        Furthermore, in such an event you represent and warrant to indemnify us and to hold
        us harmless against any claims, losses, etc. in relation to such a dispute.
    </p>

    <div class="m-t-17 doc-subtitle">Limitation on Liability.</div>
    <p class="text-md m-t-10 m-b-20">
        Except in jurisdiction where such provisions are restricted, in no event will we be
        liable to you or any third person for any indirect, consequential, exemplary,
        incidental, special or punitive damages, including  lost profits arising from your use of
        our Site, App or the Service. Notwithstanding anything to the contrary contained
        anywhere in this Agreement, you expressly agree that the total aggregate liability of
        ours under this Agreement for any cause shall at all times be limited, and regardless of
        the form of the action, under no circumstances exceed the amount paid to, and
        received by, us from you under this Agreement for the affected portion of the services
        which forms the subject matter of the claim under this Agreement. You and us agree
        that the foregoing limitation of liability is an agreed allocation of risk between you
        and us. You acknowledge that absent your agreement to this limitation of liability, we
        would not provide the use of and access to our App, Site or Service to you.
    </p>

    <div class="m-t-17 doc-subtitle">Indemnity.</div>
    <p class="text-md m-t-10 m-b-20">
        You agree to indemnify and hold us harmless from any loss, liability, claim, or
        demand, including reasonable attorney&#39;s fees, made by any third party due to or
        arising out of your use of the Service in violation of this Agreement and/or arising
        from a breach of these Terms of Use and/or any breach of your representations and
        warranties set forth above or any third party liability in relation to any Content or post
        provided by you pursuant to this Agreement.
    </p>

    <div class="m-t-17 doc-subtitle">Governing Law and Venue.</div>
    <p class="text-md m-t-10 m-b-20">
        This Agreement will be governed by and construed in accordance with the laws of
        India, without regard to conflicts of law principles. The exclusive jurisdiction and
        venue with respect to any action or suit arising out of or pertaining to this Agreement
        shall be the courts of competent jurisdiction located in Bangalore, Karnataka, India.
        This Agreement will not be governed by the United Nations Convention on Contracts
        for the International Sale of Goods.
    </p>

    <div class="m-t-17 doc-subtitle">Disputes.</div>
    <p class="text-md m-t-10 m-b-20">
        If there is any dispute about or involving our App, Site and/or the Service, by using
        the App, you agree that the dispute will be governed by the laws of India. You agree
        to the exclusive jurisdiction of the courts in Bangalore, India.
    </p>
    <p class="text-md m-t-10 m-b-20">
        You are solely responsible for your interactions with other associates/users/members
        whose services you might have availed pursuant to the use of this App or Site. We 
        reserve the right, but have no obligation, to monitor disputes between you and other
        members.
    </p>

    <p class="text-md m-t-10 m-b-20">
        You are under an obligation to report any misuse or abuse of the Site. If you notice any abuse
        or misuse of the Site or anything which is in violation of this Agreement, you shall forthwith
        report such violation to us by writing to Customer Care on  <a href="mailto:support@onepagespotlight.com" class="f500 primary">support@onepagespotlight.com</a>
        On receipt of such complaint, we may investigate such complaint and if necessary, may
        terminate the membership of the Member responsible for such violation, abuse or misuse.
        Any false complaint made by a member shall make such a complaint member liable for
        termination of his / her membership.
    </p>

    <div class="line"></div>
</div><!-- enrollment terms and conditions end-->