<!-- <div class="o-portfolio-media-part" style="height: 1000px;">
  <div class="o-portfolio-media-part__row">
      <div class="o-portfolio-media-part__coloumn">
          <ngx-masonry class="o-portfolio-card">
            <div ngxMasonryItem class="masonry-item" *ngFor="let entity of entities">
              <opspot-post-card [entity]="entity"></opspot-post-card>
            </div>
          </ngx-masonry>
      </div>
  </div>
</div> -->

<ngx-masonry [options]="masonryOptions" [useImagesLoaded]="true">
  <div ngxMasonryItem class="o-explore-media-part__coloumn" *ngFor="let explore of entities">
      <opspot-post-card [entity]="explore"></opspot-post-card>
  </div>
</ngx-masonry>