<div id="community-guidelines" class="document-content-block document-content-block--p-b-41">
    <div class="document-header">
        <h5 class="primary">Community Guidelines</h5>
        <div class="text-md grey">Updated on September 27, 2019</div>
    </div>
    <ol class="document-ol">
        <li>
            <div class="m-t-17 doc-subtitle">Introduction</div>
            <p class="text-md m-t-10 m-b-20">
                These Community Guidelines, Terms and Conditions (including User
                Terms and License Terms), the Privacy Policy, additional terms or
                disclaimers, specific terms and conditions relating to the usage of
                additional features that may be added to the <span class="f500">AEIONE LLP.</span> Platform
                from time to time, posted and updated by <span class="f500">AEIONE LLP</span> (collectively
                constitute the “Agreement”), and shall govern the relationship between
                <span class="f500">AEIONE LLP</span> and you. By agreeing to these Community Guidelines, you
                also agree to the provisions of other documents relating to the usage of
                the <span class="f500">AEIONE LLP.</span> Platform which are incorporated herein by way of
                reference and form an integral part of the Agreement governing the
                relationship between <span class="f500">AEIONE LLP</span> and you.<br>
                <span class="f500">AEIONE LLP</span> is the owner and operator of the Platform One Page
                Spotlight and the Services. All references in this Agreement to “we”, “us”,
                “our”, or One Page Spotlight., is a reference to <span class="f500">AEIONE LLP.</span><br>
                AEIONE LLP aspires to ensure that the users of AEIONE LLP follow
                best practices in their conduct on AEIONE LLP and refrain from
                indulging in activities that are detrimental to the maintenance of peace,
                harmony, social order and morality. Accordingly, AEIONE LLP has
                formulated these Community Guidelines that are meant to provide
                guiding light to the users and lays down the principles to be followed and
                complied with while using the platform.<br>
                Our Community Guidelines are a guide to educate the users regarding
                what is allowed and what is prohibited on the platform. AEIONE LLP
                has made a sincere endeavour to incorporate the inputs, views, opinions,
                expertise, aspirations of all the individuals and organizations who are
                impacted by us. AEIONE LLP has developed these community
                guidelines on the core principles of inclusiveness, transparency and
                expertise and has tried to incorporate the human values and moral
                conduct while formulating the community guidelines which the users
                shall follow and comply with while using the platform. We understand
                the necessity to ensure that the people feel empowered, safe and secure
                to communicate while using the platform, and we. shall incessantly strive
                to keep abuse off its service.<br>
                AEIONE LLP wants people to be able to talk openly about the issues
                that matter to them even if some may disagree or find them
                objectionable. In some cases, we allow content that would otherwise go
                against the Community Guidelines if it is newsworthy and in the public
                interest. We do this only after weighing the public interest value against
                the risk of harm and we look to international human rights standards
                while making such judgments. Our commitment to freedom of
                expression is paramount. However, we do recognise the potential and
                increased opportunities that the internet creates for abuse. Hence, we
                strive to ensure that the whole ecosystem works on the fundamental
                principles of authenticity, safety, privacy and dignity which increases the
                confidence of the users and keeps them safe and protected against
                unwarranted violence and abuse.We believe that authenticity creates a
                better environment for sharing, so, we do not allow or encourage
                misrepresentations or anonymous posts. We strive to remove content
                that threatens people and has the potential to intimidate, exclude or
                silence others. People can report content that has the potential of
                violating the policies including Communities, Organizations, blogs,
                Pages, profiles, individual content and comments by writing to us at
                <a href="mailto:support@onepagespotlight.com" class="f500">support@onepagespotlight.com.</a> We also
                give people control over their
                own experience by allowing them to block, unfollow or hide people and
                posts.<br>
                The consequences for violating our Community Guidelines vary
                depending on the severity of the violation and the user&#39;s history on the
                platform. For instance, we may warn someone for a first violation, but if
                they continue to violate the policies including the Agreement and these
                Community Guidelines, we may restrict their ability to post on the
                platform or disable and disengage their profile. We may also notify law
                enforcement agencies when it believes that there is a genuine risk of
                physical harm or a direct threat to public safety or a violation of law.<br>
            </p>
        </li>
        <li>
            <div class="m-t-17 doc-subtitle">Do’s and Don&#39;ts</div>
            <p class="text-md m-t-10 m-b-20">
                AEIONE LLP aims to prevent potential offline harm that may be related
                to content on the platform. We remove content, disable, disengage or
                deactivate account and coordinate with law enforcement agencies when
                we believe that there is a genuine risk of physical harm or direct threat to
                public safety. In determining whether a threat is credible, we may also
                consider additional information such as the user&#39;s public visibility and
                risks to their physical safety. We try to achieve the said objective by
                requesting you not to post threats that could lead to death and/or
                violence with respect to any person, group, community or category of
                people. Such content could be in the nature of statements of advocating
                or intent to commit violence; content that asks or offers services for hire
                to kill others; kidnap a target; imagery and audio or video of private
                individuals or minors/ public figures / or a group that has been
                manipulated to include threats of violence either in text or graphical
                representations; instructions on how to make or use weapons if there is
                evidence of a goal to seriously injure or kill people; providing
                instructions on how to make or use explosives unless there is clear
                context that the content is for a non-violent purpose; misinformation
                that contributes to imminent violence or physical harm; calls to bring
                armaments to locations like places of worship, etc. or encouraging others
                to do the same, and so on.
            </p>
        </li>
        <ol class="documnet-innerol document-primary">
            <li class="m-t-17 text-md">
                <span class="f500 primary"> Violence:</span> We do not allow any organisations or individuals that
                proclaim a violent mission or are engaged in violence, to have a presence
                on the platform. Accordingly, we do not allow organisations or
                individuals who are involved in terrorist activity; organised hate; mass
                murder (including attempts) or multiple murder; human trafficking;
                organised violence or criminal activity; homicide; drug trafficking; arms
                trafficking; identity theft; money laundering; extortion or trafficking;
                assault; kidnapping; sexual exploitation; etc. We do not allow symbols
                that represent any of the above organisations or individuals to be shared
                on its platform without a specific context that condemns or neutrally
                discusses the content. Further, we do not allow content that praises any
                of the above organisations or individuals or any acts committed by such
                organisations or individuals.<br>
                We remove content that glorifies violence or celebrates the suffering or
                humiliation of others because it may create an environment that
                discourages participation on the platform. We allow graphic content with
                certain limitations in order to help people raise awareness about such
                issues. We request you not to post imagery of violence committed against
                real people or animals with comments or captions by the poster or
                comments under such imagery that contain enjoyment of suffering;
                enjoyment of humiliation; erotic response to suffering; remarks that
                speak positively of the violence; remarks indicating that the poster is
                sharing footage for sensational viewing pleasure; videos of dying,
                wounded or dead people if they show dismemberment unless it is done
                in a medical setting; visible internal organs; partially decomposed
                bodies; charred or burning people; victims of cannibalism; throat-
                slitting; videos or photos that depict non-sexual child abuse like repeated
                kicking, beating, slapping or stepping on by an adult or animal;
                strangling or suffocating by an adult or animal; drowning by an adult or
                animal; poisoning by an adult; forcible restraint by an adult; inflicting of
                burn or cut wounds by an adult; forcible smoking; tossing, abuse of a
                minor or an infant, physical harm committed against people or animals;
                poaching or selling endangered species or their parts; staged animal vs
                animal fights; etc. We reserve the right to disable the account and/or
                disengage with organisations that condone violence or encourage and are
                associated with violence.
            </li>
            <li class="m-t-17 text-md">
                <span class="f500 primary"> Theft &amp; Fraud:</span>We prohibit people from promoting or publicising
                violent crime, theft and/or fraud because there is a risk of others
                emulating and copying such behaviour. In an effort to prevent and
                disrupt harmful or fraudulent activity, we remove content aimed at
                deliberately deceiving people to gain an unfair advantage or deprive
                another of money, property or legal right.  Accordingly, we request you
                not to post content depicting or promoting acts of theft; vandalism or
                property damage; engage in, promote, encourage, facilitate or admit
                offering, solicitation and trade of goods/property purchased with stolen
                financial information; material that are not meant to be widely or
                publicly shared; educational and professional certificates; credentials for
                paid subscription services; fake user reviews; counterfeit currency;
                offering or selling of personally identifiable information; coordination or
                facilitation of fixed betting; confidence schemes; ponzi schemes or
                pyramid schemes; setting up false businesses or entities; investment
                schemes with promise of high rates of return; fraud; bribery;
                embezzlement; money laundering; supporting and/or facilitating the
                misuse of payment cards; voter fraud; voter suppression; smuggling or
                assistance in smuggling people; participation in a high-risk viral
                challenge, etc.
            </li>
            <li class="m-t-17 text-md">
                <span class="f500 primary"> Drugs, Weapons &amp; Illegal Sales:</span>
                To encourage safety and
                compliance with common legal restrictions, we prohibit attempts by
                individuals, manufacturers and retailers to purchase, sell or trade non-
                medical drugs; pharmaceutical drugs and marijuana; purchase, sale,
                gifting, exchange and transfer of firearms, including firearm parts or
                ammunition, between private individuals on the platform. Some of these
                items are not regulated everywhere; however, because of the borderless
                nature of our community, we try to enforce our policies as consistently as
                possible. We try to achieve the said objective by requesting you not to
                post any content that depicts the trade (buying or selling) of human
                blood and/or human organs. Also, please do not post any content about
                no Weedical drugs that attempts or encourages others to sell or trade any
                non-medical drugs; provides instructions for the use or making of non-
                medical drugs. Further, please do not post content that attempts to offer,
                sell, gift, exchange or transfer firearms; firearm parts; ammunition or
                explosives between private individuals unless posted by a page
                representing a real brick-and-mortar shop; legitimate website; brand or
                government agency. Please note that a page representing a real brick-
                and-mortar shop, legitimate website or brand can otherwise post a
                content that may promote these items only for sale outside of the
                platform, provided such retailers comply with all applicable laws and
                regulations, and if they ensure that the visibility is restricted to legal age
                in their respective jurisdictions, and as permitted by the applicable laws.
                Also, you are requested not to post any content that attempts to offer,
                sell, gift, exchange or transfer alcohol or tobacco products between
                private individuals. Such content can be posted only if it is done through
                a page representing a real brick-and-mortar shop, legitimate website or
                brand, which coordinates or promotes the sale or transfer of alcohol or
                tobacco products outside of the platform, and ensures that the visibility
                is restricted to adults as per legal age applicable in the country, state,
                territory, and as per the right and permissions from the concerned
                authorities.
            </li>
            <li class="m-t-17 text-md">
                <span class="f500 primary"> Suicide &amp; Self Injury:</span>
                In an effort to promote a safe environment,
                we remove content that encourages suicide or self-injury, including
                certain audio, video, text and graphic imagery and real-time depictions
                that might lead others to engage in similar behaviour. We remove any
                content that identifies and negatively targets victims or survivors of self-
                injury or suicide seriously, humorously or rhetorically. Accordingly, we
                request you not to post such content which may lead to abetment of
                suicide. Sometimes, we may allow people to discuss suicide and self-
                injury in a limited manner so that people may share their experiences,
                raise awareness about these issues and seek support from one another
                and from other organisations that provide assistance for people in
                distress.
            </li>
            <li class="m-t-17 text-md">
                <span class="f500 primary"> Sexual Exploitation &amp; Child Abuse:</span>
                We do not allow content
                that sexually exploits or endangers children. When we become aware of
                apparent child exploitation, We pull it down after due review or report it
                to the relevant body in compliance with applicable law. Example:
                Sometimes, people may share nude images of children with good
                intentions. We have a very strict policy against posting nude pictures of
                children or any vulgar content and request you not to post such pictures.
                We generally remove these images because of the potential for abuse by
                others, and to help avoid the possibility of other people re-using or
                misappropriating the images. Accordingly, please do not post content
                that depicts participation in or advocates for the sexual exploitation of
                children like engaging in any sexual activity involving minors; adults
                soliciting minors; minors soliciting minors; minors soliciting adults; uses
                our products, platform and site functionality with the intention of
                sexualising minors; initiating unsolicited contact with minors; soliciting,
                displaying, sharing or viewing imagery of nude; sexualised or sexual
                activity with minors; arranging real-world sexual encounters or
                obtaining sexual material from a minor directly; displaying nudity to
                minors; audio, text, photos, videos, real-world art, digital content and
                text depicting any sexual activity involving minors; minors in a sexual
                fetish context; minors with sexual elements like restraints; focus on
                genitals; presence of aroused adult; presence of sex toys; sexualised
                costume; stripping; staged environment; open-mouth kissing with minor
                or adult; content that depicts child nudity like visible genitalia even
                when covered or obscured by transparent clothing; visible anus and/or
                fully nude close-up of buttocks; uncovered female nipples for children
                older than toddler age; no clothes present from neck to knee for children
                older than toddler age; digitally created depictions of nude minors unless
                the image is for health or educational purposes.<br>
                In an effort to promote a safe environment, we remove content that
                depicts, threatens or promotes sexual violence, sexual assault or sexual
                exploitation. We remove content that displays, advocates for or
                coordinates sexual acts with non-consenting parties or commercial
                sexual services, such as prostitution and escort services. We do this to
                avoid facilitating transactions that may involve trafficking, coercion and
                non-consensual sexual acts. To protect victims and survivors, we also
                remove images that depict incidents of sexual violence and intimate
                images shared without permission from the people pictured.
                Accordingly, we request you not to post any content that consists of any
                form of non-consensual sexual touching, crushing, necrophilia or
                bestiality; coercing money, favours or images from people by threats of
                exposure of their naked or semi-naked photos/videos; sharing imagery
                known as revenge porn, creepshots or upskirts; threatening or stating an
                intent to share intimate imagery without consent; soliciting intimate
                imagery to view or share without consent; attempting to coordinate adult
                commercial sexual services or prostitution activities, such as requesting,
                offering or asking for rates for escort services and paid sexual fetish or
                domination services.
            </li>
            <li class="m-t-17 text-md">
                <span class="f500 primary"> Bullying and harassment:</span>
                This may include making threats to
                release personally identifiable information, sending threatening
                messages or making unwanted malicious contact. We do not tolerate this
                kind of behaviour because it prevents people from feeling safe, secure,
                respected and dignified. While dealing with such cases, we distinguish
                between public figures and private individuals because we firmly believe
                and want to allow some discussion, which often includes critical
                commentary of people who are featured in the news or who have a large
                public audience. For public figures, we remove attacks that are severe as
                well as certain attacks where the public figure is directly tagged in the
                post or comment. For private individuals, we remove content that is
                meant to degrade or shame. For example, in the event of mentorship or
                any other relationship if one user is found to be involved in an act of
                body shaming, and someone notices it and finds it offensive and reports
                to us, we will pull down such content in accordance with our policy. We
                recognise that bullying and harassment can have more of an emotional
                impact on minors, which is why the policies provide heightened
                protection for young users and encourage self-reporting. We remove
                explicit attempts to mock victims and mark such memes and GIFs as
                cruel. We also remove any form of sadism towards people or animals. In
                its bid to attain the said objective of preventing bullying and harassment
                on the platform, we request you not to repeatedly contact someone in a
                sexually harassing or unwanted manner; or to target someone
                maliciously by attacking them based on their status as a victim of sexual
                assault, sexual exploitation or domestic abuse; attack them through
                derogatory terms related to sexual activity; post content about a violent
                tragedy; post content about victims or survivors of violent tragedies by
                name or by audio, video, text or image; threaten to release an
                individual&#39;s private phone number, residential address or email address;
                create or post content to pages or groups that are dedicated to attack
                individuals; make claims about sexually transmitted diseases; targeted
                swearing; calls for death, serious disease or disability, or physical harm;
                claims about religious identity or blasphemy; expressions of contempt or
                disgust; comparisons to animals or insects that are culturally perceived
                as intellectually or physically inferior, or to an inanimate object; content
                manipulated to highlight, circle or otherwise negatively draw attention to
                specific physical characteristics; targeting minors with allegations about
                criminal or illegal behaviour; videos of physical bullying or violence
                against minors in a fight context shared in a non-condemning context;
                any bullying or harassment violation, etc.
            </li>
            <li class="m-t-17 text-md">
                <span class="f500 primary"> Human Trafficking:</span>
                In an effort to disrupt and prevent harm, we
                remove content that facilitates or coordinates the exploitation of
                humans, including human trafficking. Human trafficking is the business
                of depriving someone of liberty for profit. It is the exploitation of
                humans in order to force them to engage in commercial sex, labour or
                other activities against their will. It relies on deception, force and
                coercion, and degrades humans by depriving them of their freedom
                while economically or materially benefiting others. We request you not
                to post content or exhibit behaviour that may lead to human exploitation
                like sex trafficking, covering minors and adults; the sale of children for
                illegal adoption; orphanage trafficking; forced marriages; labour
                exploitation; domestic servitude; non-regenerative organ trafficking;
                forced criminal activity; recruitment of child soldiers; recruitment of
                potential victims through force, fraud, coercion, enticement, deception,
                blackmail or other non-consensual acts; facilitation of human
                exploitation by coordinating, transporting, transferring, harbouring or
                brokering of victims prior to or during the exploitation, etc.
            </li>
            <li class="m-t-17 text-md">
                <span class="f500 primary"> Hate Speech:</span>
                We do not allow hate speech which are in the nature
                of a direct attack on people based on race, ethnicity, national origin,
                religious affiliation, sexual orientation, caste, sex, gender, gender
                identity and serious disease or disability, immigration status, etc. We do
                not allow attacks which are in the nature of a violent or dehumanising
                speech, statements of inferiority, or calls for exclusion or segregation.
                Accordingly, we request you not to post content targeting a person or
                group of people on the basis of their aforementioned protected
                characteristics or immigration status, and describes or negatively targets
                people with slurs, etc.
            </li>
            <li class="m-t-17 text-md">
                <span class="f500 primary"> Not Safe for Work (NSFW)/Restricted Content:</span>
                We restrict the display of nudity or sexual activity and remove sexual imagery to
                prevent the sharing of non-consensual or underage content. Restrictions
                on the display of sexual activity also apply to digitally created content
                unless it is posted for educational, humorous or satirical purposes. We
                also restrict content which offers or asks or implicitly or indirectly offers
                or asks for sexual solicitation. Accordingly, we request you not to post
                content that has images of real nude adults; sexual activity like explicit
                sexual intercourse; implied sexual intercourse; implied stimulation of
                genitalia/anus, erections, presence of by-products of sexual activity; use
                of sex toys; stimulation of naked human nipples; squeezing female
                breasts, except in breastfeeding context, fetish content, etc. Please note
                that this includes digital content too unless the content was posted in a
                satirical or humorous context, or an educational or scientific context, or
                if the imagery is not sufficiently detailed and only body shapes or
                contours are visible which are not distasteful in nature.
            </li>
            <li class="m-t-17 text-md">
                <span class="f500 primary"> Impersonation and Spam:</span>
                We do not allow people to
                misrepresent themselves on the platform, use fake accounts, artificially
                boost the popularity of content or engage in behaviours designed to
                enable other violations. Accordingly, we request you not to use multiple
                accounts or share accounts between multiple people; misuse reporting
                systems to harass others; engage in, or claim to engage in, inauthentic
                behaviour and use the platform to mislead people or us about the
                identity, purpose or origin of the entity you represent; the purpose of an
                audience or community; the source or origin of content; to evade
                enforcement under the Community Guidelines; or engage in behaviour
                where the use of fake accounts is central to the operation, etc.<br>
                We believe that people are more accountable for their statements and
                actions when they use their authentic identities. Hence, we require
                people to connect on the platform using the name that they go by in
                everyday life. The policies of the platform are intended to create a safe
                environment where people can trust and hold one another accountable.
                Accordingly, we request you not to misrepresent your identity by
                providing a false date of birth; maintaining multiple accounts; creating
                inauthentic profiles; sharing an account with any other person; creating
                another account after being banned from the platform; creating or
                managing a page, group, event or profile because the previous page,
                group, event or profile was removed from the platform.; evading the
                registration requirements; impersonate others by using their images
                with the explicit aim to deceive people; creating a profile assuming the
                persona of or speaking for another person or entity; creating a page
                assuming to be or speak for another person or entity for whom the user
                is not authorised to do so; posting imagery that is likely to deceive the
                public as to the content&#39;s origin, etc.
            </li>
            <li class="m-t-17 text-md">
                <span class="f500 primary"> Propaganda and Fake News:</span>
                We strive to build a more
                informed community and reduce the spread of false news by disrupting
                economic incentives for people, ages and domains that propagate
                misinformation. We use a machine learning model that predicts which
                stories may be false. Furthermore, we make a sincere endeavour to
                reduce the distribution of content rated as false by independent third-
                party fact-checkers; empowers people to decide for themselves what to
                read, trust and share by informing them with more context and
                promoting news literacy; and collaborates with academics and other
                organisations to help solve this challenging issue.<br>
                We strive hard to limit the spread of commercial spam to prevent false
                advertising, fraud and security breaches. We make best efforts to not
                allow people to use misleading or inaccurate information to collect likes,
                followers or shares. Accordingly, we request you not to artificially
                increase distribution for financial gain; create or use fake accounts or
                compromise other people&#39;s accounts to impersonate or pretend to be a
                business, organisation, public figure or private individual; attempt to
                create connections; create content or message people; restrict access to
                content by requiring people to like, share or recommend before viewing;
                encourage likes, shares or clicks under false pretences; maliciously use
                login credentials or personally identifiable information by attempting to
                gather or share login credentials or personally identifiable information;
                use another person&#39;s login credentials or personally identifiable
                information; promise features that are non-existent, etc.
            </li>
            <li class="m-t-17 text-md">
                <span class="f500 primary"> Intellectual Property Rights &amp; Copyrights Protection:</span>
                We are extremely concerned about intellectual property rights as they are
                important to promoting expression, creativity and innovation in our
                community. You represent and warrant that you own all of the content
                and information that you post on the platform and you control how it is
                shared through the privacy and application settings. We request you to
                make sure that you have the right to share the content on the platform.
                We request you to respect other people&#39;s copyrights, trademarks and
                other legal rights. We are committed to help people and organisations
                promote and protect their intellectual property rights. We do not allow
                people to post content that breaches someone else&#39;s intellectual property
                rights, including copyright and trademark. Upon receipt of a report from
                a rights holder or an authorised representative, we will review, remove or
                restrict content that engages in copyright infringement or trademark
                infringement. Furthermore, if there is a conflict with respect to copyright
                violation and the matter is sub judice, we reserve the right to disable
                such content. You also agree that you will not hold us liable for such
                infringement or involve us in any such disputes and will never contest
                and/or fight over such issues on the platform. We request you to read the
                Copyright Policy in detail to know more about our policy with respect to
                intellectual property rights.
            </li>
            <li class="m-t-17 text-md">
                <span class="f500 primary"> Delete or Deactivation of Account:</span>
                We comply with user requests for removal of their own account, requests for removal of a
                deceased user&#39;s account from a verified immediate family member or
                executor, or requests for removal of an incapacitated user&#39;s account from
                an authorised representative. We also comply with requests for removal
                of an under age account; request from the government for removal of
                child abuse imagery; or legal guardian requests for removal of attacks on
                unintentionally famous minors, etc. We also adhere to requests by law or
                law enforcement agencies for removal of accounts or content subject to
                breaches based on internal and external review of the same.
            </li>
            <li class="m-t-17 text-md">
                <span class="f500 primary"> Protection of personal information:</span>
                We firmly believe that
                personal information is fundamentally important to our values and we
                sincerely seek to protect such information. We work hard to keep your
                account secure and safeguard your personal information in order to
                protect you from potential physical or financial harm. You should not
                post personal or confidential information about others without first
                getting their consent. We also provide people with ways to report
                Audio, Video, Text , imagery that they believe to be in violation of
                their privacy rights. Accordingly, we request you not to post content that
                facilitates identity theft by posting or soliciting personally identifiable
                information, including without limitation, national identification
                numbers, social security numbers, passport numbers or exam numbers,
                government IDs, school and education IDs, digital identities, including
                passwords, content that contains medical, psychological, biometric or
                genetic records or official documentation of others; share personally
                identifiable information via an external link; share private financial
                information of an organisation or business; disclose the following
                personal financial information like bank account and/or card
                information, financial records paired with account information; share
                the private contact information of others like private phone numbers or
                addresses, email, messenger and chat identities, driving licences,
                marriage, birth and name change certificates, number plates,
                photographs that display the external view of private residences, or
                exposes the undercover status of law enforcement personnel, etc.
            </li>
        </ol>
        <li>
            <div class="m-t-17 doc-subtitle">Mechanism of Reporting:</div>
            <p class="text-md m-t-10 m-b-20">
                We shall use reasonable endeavours to ensure that the content is duly
                filtered but takes no guarantee that the content will never be distasteful
                and/or will not be against the Community Guidelines and other policies
                regarding the maintenance of good quality of the content. Accordingly,
                we request you to be vigilant and to report to us immediately if you
                notice any violation of these Community Guidelines, Copyright Policy or
                any other provisions of the Terms &amp; Conditions or Privacy Policy.
                Reporting can be done on the content itself or in writing to our
                community support officers on <a href="mailto:support@onepagespotlight.com"
                    class="f500">support@onepagespotlight.com.</a><br>
                Please understand that when we allow certain content to be posted, we
                use our own discretion which is based on a set of prevalent community
                values. Such values vary in terms of geography, culture and time. The
                artists use their own set of artistic and aesthetic values to express
                themselves with the help of art form. Such artistic freedom may also vary
                depending upon geography and culture and a content posted by a user
                may be found to be distasteful by others. We request every user to be
                vigilant and we reiterate that it is every user’s responsibility to report as
                a community if he/she/they finds any content on the platform that
                negates human good and has the potential of disturbing public order and morality.
            </p>
        </li>
    </ol>
    <div class="line"></div>
</div><!-- community guidelines end-->