<div class="o-create-blue-store">
    <div class="o-create-blue-store-head o-create-blue-store-head--border">
        <div class="o-create-blue-store__title text-lg f500" id="bluestore-form">{{label}} a post
            <span class="o-create-dropdown-style">
                <span class="text-md primary f500">On #TheBlueStore
                    <span class="icon-x" (click)="changeToDefault()" id="bluestore-exit"></span>
                </span>
            </span>
        </div>
        <div class="close" (click)="close()" id="bluestore-close"><i class="icon-x"></i></div>
    </div>
    <form [formGroup]="blueStoreForm">
        <div class="o-create-blue-store-body o-create-blue-store-body--flex">
            <div class="form-group">
                <label>Add images</label>
                <div class="o-create-blue-store-cover-image">
                    <div class="fileUpload">
                        <span class="icon-plus"></span>
                        <input type="file" accept="video/mp4,video/x-m4v,video/*,image/*" id="file" #file class="upload" name="attachment"
                            (change)="uploadAttachment(file, $event)" />
                    </div>
                    <div class="fileUpload-preview ml-18" *ngFor="let image of cards">
                        <a class="o-create-blue-store-cover-image__avatar">
                            <a class="fileUpload-close-temp z-index-2" (click)="removeAttachment(file,image.guid)"><i
                                    class="icon-x" id="bluestore-remove-attachment"></i></a>
                            <img [src]="checkForSrc(image)" alt="">
                        </a>
                        <div class="feed-media-overlay z-index-1" *ngIf="image.entity_type === 'video'">
                            <div class="feed-media-video__icon"><img src="assets/svg/playfill.svg" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="error text-sm" *ngIf="imageUploadError">
                    This is required
                </div>
            </div>
            <div class="form-group">
                <label>Title</label>
                <input type="text" id="bluestore-title" class="form-control form-control-lg" formControlName="blueStoreTitle">
                <div class="error text-sm"
                    *ngIf="blueStoreSubmitted && blueStoreForm.get('blueStoreTitle').errors?.required">
                    This is required</div>
            </div>
            <div class="form-group">
                <label>Description<span class="text-sm grey description-width">21/300</span></label>
                <textarea class="form-control" id="bluestore-description" rows="5" formControlName="blueStoreDescription"></textarea>
                <div class="error text-sm"
                    *ngIf="blueStoreSubmitted && blueStoreForm.get('blueStoreDescription').errors?.required">
                    This is required</div>
            </div>
            <div class="o-create-blue-store-unit-price">
                <div class="form-group">
                    <label>No of Units <span class="icon-info"></span></label>
                    <input type="number" id="bluestore-units" class="form-control form-control-lg" formControlName="blueStoreUnits">
                    <div class="error text-sm"
                        *ngIf="blueStoreSubmitted && blueStoreForm.get('blueStoreUnits').errors?.required">
                        This is required</div>
                    <div class="error text-sm"
                        *ngIf="blueStoreSubmitted && blueStoreForm.get('blueStoreUnits').errors?.min">
                        Please enter poper input</div>
                </div>
                <div class="form-group ml-18">
                    <label>Price <span class="icon-info"></span></label>
                    <div class="o-create-blue-store-unit-price__inner">
                        <div class="o-opportunity-country-code">
                            <!-- <span class="o-opportunity-country-code__flag"><img src="assets/svg/in.png" alt=""></span> 
                            <span class="o-opportunity-country-code__text text-md">IND</span> -->
                            <select class="form-control form-control-lg"  formControlName="blueStoreCurrency">
                                <option value="INR" selected>INR</option>
                                <option *ngFor="let type of currencyList"  value="{{ type.value }}">{{ type.value}}
                                </option>
                            </select>
                            <!-- <a href="javascript:void(0)" class="o-opportunity-country-code__dropdown">
                                <img src="assets/svg/arrow-down.svg" alt=""></a> -->
                        </div>
                        <input type="number" id="bluestore-price" class="form-control form-control-lg  ml-8" placeholder="Enter Price"
                            formControlName="blueStorePrice">
                        <div class="error text-sm"
                            *ngIf="blueStoreSubmitted && blueStoreForm.get('blueStorePrice').errors?.required">
                            This is required</div>
                        <div class="error text-sm"
                            *ngIf="blueStoreSubmitted && blueStoreForm.get('blueStorePrice').errors?.min">
                            Please enter poper input</div>                        
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="inProgress" class="mdl-progress mdl-progress__indeterminate initial-loading is-upgraded">
            <div class="progressbar bar bar1" style="width: 0%;"></div>
            <div class="bufferbar bar bar2" style="width: 100%;"></div>
            <div class="auxbar bar bar3" style="width: 0%;"></div>
        </div>
        <div class="o-create-blue-store-footer">
            <button type="button" id="bluestore-submit" class="btn btn-primary btn-sm" [disabled]="!blueStoreForm.valid" (click)="blueStoreSubmit()">Post</button>
        </div>
    </form>
</div>


<style>
.z-index-1 {
    z-index: 1;
}
.z-index-2::before {
    z-index: 2;
}
</style>