<div class="o-card o-noti-activities">
  <div class="o-noti-activities__title">
      <div class="caption-medium">Activities</div>
  </div><!--activities title end-->
  <div class="o-noti-activities__block">
      <div class="o-noti-activity-avatar">
          <a href="javascript:void(0)"><img src="assets/demo/avatar.png" alt="profile image"></a>
      </div>
      <div class="o-noti-activity-info">
          <div class="text-md">
              <a href="javascript:void(0)" class="f500">Rajesh Singh</a> added <a href="javascript:void(0)" class="f500">4 media</a> to <a href="javascript:void(0)" class="f500">photography</a> channel
          </div>
          <div class="text-sm m-t-4">4 Mins</div>
      </div>
  </div><!--noti activity block end-->
  <div class="o-noti-activities__block">
      <div class="o-noti-activity-avatar">
          <a href="javascript:void(0)"><img src="assets/demo/avatar.png" alt="profile image"></a>
      </div>
      <div class="o-noti-activity-info">
          <div class="text-md">
              <a href="javascript:void(0)" class="f500">Rajesh Singh</a> added <a href="javascript:void(0)" class="f500">4 media</a> to <a href="javascript:void(0)" class="f500">photography</a> channel
          </div>
          <div class="text-sm m-t-4">4 Mins</div>
      </div>
  </div><!--noti activity block end-->
  <div class="o-noti-activities__block">
      <div class="o-noti-activity-avatar">
          <a href="javascript:void(0)"><img src="assets/demo/avatar.png" alt="profile image"></a>
      </div>
      <div class="o-noti-activity-info">
          <div class="text-md">
              <a href="javascript:void(0)" class="f500">Rajesh Singh</a> added <a href="javascript:void(0)" class="f500">4 media</a> to <a href="javascript:void(0)" class="f500">photography</a> channel
          </div>
          <div class="text-sm m-t-4">4 Mins</div>
      </div>
  </div><!--noti activity block end-->
  <div class="o-noti-activities__block">
      <div class="o-noti-activity-avatar">
          <a href="javascript:void(0)"><img src="assets/demo/avatar.png" alt="profile image"></a>
      </div>
      <div class="o-noti-activity-info">
          <div class="text-md">
              <a href="javascript:void(0)" class="f500">Rajesh Singh</a> added <a href="javascript:void(0)" class="f500">4 media</a> to <a href="javascript:void(0)" class="f500">photography</a> channel
          </div>
          <div class="text-sm m-t-4">4 Mins</div>
      </div>
  </div><!--noti activity block end-->
  <div class="o-noti-activities__block">
      <div class="o-noti-activity-avatar">
          <a href="javascript:void(0)"><img src="assets/demo/avatar.png" alt="profile image"></a>
      </div>
      <div class="o-noti-activity-info">
          <div class="text-md">
              <a href="javascript:void(0)" class="f500">Rajesh Singh</a> added <a href="javascript:void(0)" class="f500">4 media</a> to <a href="javascript:void(0)" class="f500">photography</a> channel
          </div>
          <div class="text-sm m-t-4">4 Mins</div>
      </div>
  </div><!--noti activity block end-->
  <div class="o-noti-activities__block">
      <div class="o-noti-activity-avatar">
          <a href="javascript:void(0)"><img src="assets/demo/avatar.png" alt="profile image"></a>
      </div>
      <div class="o-noti-activity-info">
          <div class="text-md">
              <a href="javascript:void(0)" class="f500">Rajesh Singh</a> added <a href="javascript:void(0)" class="f500">4 media</a> to <a href="javascript:void(0)" class="f500">photography</a> channel
          </div>
          <div class="text-sm m-t-4">4 Mins</div>
      </div>
  </div><!--noti activity block end-->
  <div class="o-noti-activities__block">
      <div class="o-noti-activity-avatar">
          <a href="javascript:void(0)"><img src="assets/demo/avatar.png" alt="profile image"></a>
      </div>
      <div class="o-noti-activity-info">
          <div class="text-md">
              <a href="javascript:void(0)" class="f500">Rajesh Singh</a> added <a href="javascript:void(0)" class="f500">4 media</a> to <a href="javascript:void(0)" class="f500">photography</a> channel
          </div>
          <div class="text-sm m-t-4">4 Mins</div>
      </div>
  </div><!--noti activity block end-->
  <div class="o-noti-activities__block">
      <div class="o-noti-activity-avatar">
          <a href="javascript:void(0)"><img src="assets/demo/avatar.png" alt="profile image"></a>
      </div>
      <div class="o-noti-activity-info">
          <div class="text-md">
              <a href="javascript:void(0)" class="f500">Rajesh Singh</a> added <a href="javascript:void(0)" class="f500">4 media</a> to <a href="javascript:void(0)" class="f500">photography</a> channel
          </div>
          <div class="text-sm m-t-4">4 Mins</div>
      </div>
  </div><!--noti activity block end-->
</div>