@import "src/assets/helpers/variables";
@import "node_modules/sass-mq/_mq";

.form-controls{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.pos{
    position: relative;
} 

.privacy{
    position: absolute;
    top: -54px;
    left: 95px;
    z-index: 2;
    @include mq($from: $mobile_sm, $until: $tablet) {
        position: absolute;
        top: -23px;
        left: -173px;
        z-index: 2;
    }
}

.o-phone{
    @include mq($from: $mobile_sm, $until: $tablet) {
        width: 100%;
    }
}
