<div class="tab" style="display: block;">
    <h5 class="o-prof-edit-title" id="contact-title">Contact Info</h5>
    <form #f="ngForm">
        <div class="o-prof-edit-contact">
            <div class="o-prof-edit-item__title">
                Location <div class="o-prof-edit-privacy Eternity text-md primary hidden-desktop"
                    (click)="toggleLocation=!toggleLocation">{{privacy.location}} </div>
                <!--privacy end-->
            </div>
            <div class="o-prof-edit-single-item">
                <div class="form-group w-lg">
                    <input type="text" id="contact-location" class="form-control form-control-lg"
                        [(ngModel)]="model.location" name="location">
                </div>
                <div class="pos">
                    <div class=" o-prof-edit-privacy Eternity text-md primary hidden-mob "
                        (click)="toggleLocation=!toggleLocation">
                        {{privacy.location}}
                    </div>
                    <app-user-privacy (privacyChange)="changePrivacy($event,'location')" [inPrivacy]="privacy.location"
                        [toggleClass]="toggleLocation" class="privacy"></app-user-privacy>
                </div>
                <!--privacy end-->
            </div>
            <!--location end-->

            <div class="o-prof-edit-item__title">
                Email <div class="o-prof-edit-privacy Eternity text-md primary hidden-desktop"
                    id="contact-privacy-email-everyone" (click)="toggleEmail=!toggleEmail">{{privacy.email}} </div>
                <!--privacy end-->
            </div>
            <div class="o-prof-edit-single-item">
                <div class="form-group c-form_righticon-lg w-lg">
                    <input type="email" id="contact-email-readonly" class="form-control form-control-lg"
                        [(ngModel)]="model.email" name="email" readonly="readonly">
                </div>
                <div class="pos">
                    <div class="o-prof-edit-privacy  text-md primary hidden-mob" (click)="toggleEmail=!toggleEmail"
                        id="contact-email-privacy">
                        {{privacy.email}}
                    </div>
                    <app-user-privacy (privacyChange)="changePrivacy($event,'email')" [inPrivacy]="privacy.email"
                        [toggleClass]="toggleEmail" class="privacy"></app-user-privacy>
                </div>

                <!--privacy end-->
            </div><!-- email end -->

            <div class="o-prof-edit-item__title">
                Phone Number <div class="o-prof-edit-privacy Eternity text-md primary hidden-desktop"
                    id="contact-privacy-phone-everyone" (click)="togglePhone=!togglePhone">{{privacy.phone}}</div>
                <!--privacy end-->
            </div>
            <div class="o-prof-edit-single-item">
                <div class="o-phone">
                    <!-- <ngx-intl-tel-input [cssClass]="'custom'"
                        [preferredCountries]="['in','us', 'gb']" [enableAutoCountrySelect]="true"
                        [enablePlaceholder]="false" name="phoneNumber" [(ngModel)]="model.phoneNumber">
                    </ngx-intl-tel-input> -->
                    <!--readonly doesnt work with 3rd party libraries.Phone number cant be edited.-->
                    <input type="number" id="contact-phone-readonly" name="phoneNumber"
                        class="form-control form-control-lg" [(ngModel)]="model.phoneNumber" readonly="readonly">
                </div>
                <div class="pos">
                    <div class="o-prof-edit-privacy  text-md primary hidden-mob" id="contact-phone-privacy"
                        (click)="togglePhone=!togglePhone">
                        {{privacy.phone}}
                    </div>
                    <app-user-privacy (privacyChange)="changePrivacy($event,'phone')" [inPrivacy]="privacy.phone"
                        [toggleClass]="togglePhone" class="privacy"></app-user-privacy>
                </div>

            </div>
            <!--phone number end-->

            <div class="o-prof-edit-item__title">
                Website <div class="o-prof-edit-privacy Eternity text-md primary hidden-desktop"
                    (click)="toggleWebsite=!toggleWebsite">{{privacy.website}} </div>
                <!--privacy end-->
            </div>
            <div class="o-prof-edit-single-item">
                <div class="form-group w-lg">
                    <input type="text" id="contact-website" [(ngModel)]="model.website" name="website"
                        class="form-control form-control-lg">
                </div>
                <div class="pos">
                    <div class="o-prof-edit-privacy text-md primary hidden-mob" (click)="toggleWebsite=!toggleWebsite">
                        {{privacy.website}}
                    </div>
                    <app-user-privacy (privacyChange)="changePrivacy($event,'website')" [inPrivacy]="privacy.website"
                        [toggleClass]="toggleWebsite" class="privacy"></app-user-privacy>
                </div>
            </div>

            <!--Website end-->
            <div class="o-prof-edit-actions">
                <button type="button" id="contact-save-button" (click)="onSubmit()" class="btn btn-primary btn-lg" [disabled]="inProgress">Save
                    Changes</button>
                <button type="button" id="contact-cancel-button" class="btn btn-outline-primary btn-lg btn--cancel"
                    [routerLink]="['/', activeUser?.username]">Cancel</button>
            </div><!-- prof edit actions end -->
        </div>
    </form>
</div>