<!-- <div class="m-search--list">
  <div class="m-search--list-section" *ngIf="entities?.user?.length">
    <h3 class="m-search--list-title" i18n="@@M__FEATURE__CHANNEL__PLURAL">Channels</h3>

    <div class="mdl-grid m-search--list-entities">
      <opspot-card *ngFor="let entity of entities.user"
        class="mdl-cell mdl-cell--4-col"
        hostClass="mdl-card mdl-color--white m-border m-search--entity"
        [object]="entity"
      ></opspot-card>
    </div>
  </div>

  <div class="m-search--list-section" *ngIf="entities?.group?.length">
    <h3 class="m-search--list-title" i18n="@@M__FEATURE__GROUP__PLURAL">Groups</h3>

    <div class="mdl-grid m-search--list-entities">
      <opspot-card *ngFor="let entity of entities.group"
        class="mdl-cell mdl-cell--4-col"
        hostClass="mdl-card mdl-color--white m-border m-search--entity"
        [object]="entity"
      ></opspot-card>
    </div>
  </div>

  <div class="m-search--list-section" *ngIf="entities && entities['object:video']?.length">
    <h3 class="m-search--list-title" i18n="@@M__FEATURE__VIDEO_PLURAL">Videos</h3>

    <div class="mdl-grid m-search--list-entities">
      <opspot-card *ngFor="let entity of entities['object:video']"
        class="mdl-cell mdl-cell--3-col"
        hostClass="mdl-card mdl-color--white m-border m-search--entity"
        [object]="entity"
      ></opspot-card>
    </div>
  </div>

  <div class="m-search--list-section" *ngIf="entities && entities['object:image']?.length">
    <h3 class="m-search--list-title" i18n="@@M__FEATURE__IMAGE_PLURAL">Images</h3>

    <div class="mdl-grid m-search--list-entities">
      <opspot-card *ngFor="let entity of entities['object:image']"
        class="mdl-cell mdl-cell--3-col"
        hostClass="mdl-card mdl-color--white m-border m-search--entity"
        [object]="entity"
      ></opspot-card>
    </div>
  </div>

  <div class="m-search--list-section" *ngIf="entities && entities['object:blog']?.length">
    <h3 class="m-search--list-title" i18n="@@M__FEATURE__BLOG_PLURAL">Blogs</h3>

    <div class="mdl-grid m-search--list-entities">
      <opspot-card *ngFor="let entity of entities['object:blog']"
        class="mdl-cell mdl-cell--4-col"
        hostClass="mdl-card mdl-color--white m-border m-search--entity"
        [object]="entity"
      ></opspot-card>
    </div>
  </div>

  <div class="m-search--list-section" *ngIf="entities?.activity?.length">
    <h3 class="m-search--list-title" i18n="@@M__FEATURE__POST_PLURAL">Posts</h3>

    <div class="mdl-grid m-search--list-entities">
      <opspot-card *ngFor="let entity of entities.activity"
        class="mdl-cell mdl-cell--8-col"
        hostClass="mdl-card mdl-color--white m-border m-search--entity"
        [object]="entity"
      ></opspot-card>
    </div>
  </div>
</div> -->

<div class="o-serach-post" *ngIf="entities?.user?.length">
  <div class="o-serach-post__header">
    <div class="text-lg f500">
      Profiles
    </div>
    <div class="text-md primary">
      <a (click)="searchType('user')">
        See All
      </a>
    </div>
  </div><!--header ends-->
  <!-- <opspot-card *ngFor="let entity of entities.user"
    class="mdl-cell mdl-cell--4-col"
    hostClass="mdl-card mdl-color--white m-border m-search--entity"
    [object]="entity"
  ></opspot-card> -->
  <opspot-card-user *ngFor="let entity of entities.user"
    [cardType]="'new'"
    [object]="entity"
  ></opspot-card-user>
</div><!--post ends-->

<div class="o-serach-post" *ngIf="entities?.activity?.length">
  <div class="o-serach-post__header">
    <div class="text-lg f500">
      Posts
    </div>
    <div class="text-md primary">
      <a (click)="searchType('activity')">
        See All
      </a>
    </div>
  </div><!--header ends-->
  <opspot-card *ngFor="let entity of entities.activity"
    class="mdl-cell mdl-cell--4-col"
    hostClass="mdl-card mdl-color--white m-border m-search--entity"
    [object]="entity"
  ></opspot-card>
</div><!--post ends-->