<!-- <div class="m-search--list">
  <div class="mdl-grid m-search--list-entities">
    <opspot-card *ngFor="let entity of entities"
      class="mdl-cell"
      [class.mdl-cell--4-col]="entity.type == 'user' || entity.type == 'group' || entity.subtype == 'blog'"
      [class.mdl-cell--8-col]="entity.type == 'activity'"
      [class.mdl-cell--3-col]="entity.type != 'user' && entity.type != 'group' && entity.subtype != 'blog' && entity.type != 'activity'"
      hostClass="mdl-card mdl-color--white m-border m-search--entity"
      [object]="entity"
    ></opspot-card>
  </div>
</div> -->

<div class="o-serach-post">
  <div *ngIf="type && (type === 'organization' || type === 'group'); else opspotCard">
    <div *ngIf="type === 'organization'">
      <m-organization--tile
        *ngFor="let entity of entities"
        [entity]="entity"
      ></m-organization--tile>
    </div>
    <div *ngIf="type === 'group'">
      <m-groups--tile
        *ngFor="let entity of entities"
        [entity]="entity"
      ></m-groups--tile>
    </div>
  </div>
  <ng-template #opspotCard>
    <opspot-card *ngFor="let entity of entities"
      class="col-4 pad-0 bg-trans user-card"
      [class.col-12]="entity.type == 'activity' || entity.type == 'object'"
      [class.user-card]="entity.type == 'user'"
      hostClass="mdl-card mdl-color--white m-border m-search--entity"
      [object]="entity"
      [cardType]="'user2'"
    ></opspot-card>
  </ng-template>
</div><!--post ends-->

<style>
.user-card {
  /* width: 168px;
  margin: 0 4px; */
  float: left;
}
.user-card:first-child {
  margin-left: 0;
}
.user-card:last-child {
  margin-right: 0;
}
</style>
