<div [ngSwitch]="cardType">

    <div *ngSwitchCase="'user2'" class="o-card o-suggestion float-left slide"
        style="width: 100% !important; margin: 0px !important;">
        <div class="o-suggestion__top-bar">
            <!-- <i class="material-icons o-fontRemove close-btn" (click)="removeUser()">close</i> -->
        </div>
        <!-- <a [routerLink]="['/', user?.username]" class="demo"></a> -->
        <div class="o-suggestion__avatar" id="suggested_user_profile_image" [routerLink]="['/', user?.username]"
            [style.background-image]="'url(' + opspot.cdn_url + '/icon/' + user?.guid + ')'" alt="">
        </div>
        <div class="o-suggestion__name caption-bold" id="suggested_user_profile_name"
            [routerLink]="['/', user?.username]">{{ user?.name | truncate:[15, '...'] }}</div>
        <div class="text-md grey mr-bt" id="suggested_user_username">@{{ user?.username | truncate:[15, '...'] }}</div>
        <!-- <div class="o-suggestion__info text-sm grey">{{ user?.merchant?.exclusive?.intro }}</div> -->
        <opspot-button-subscribe class="follow-btn" [user]="user" (subscribed)="subscribeCountUpdate($event)"
            *ngIf="user.guid != session.getLoggedInUser().guid; else emptyTag"></opspot-button-subscribe>
        <ng-template #emptyTag>
            <span class="" style="background: transparent; height: 22px;">&nbsp;
            </span>
        </ng-template>
    </div>
    <div *ngSwitchCase="'user3'" class="o-card o-suggestion float-left">
        <div class="o-suggestion__top-bar">
            <!-- <i class="material-icons o-fontRemove close-btn" (click)="removeUser()">close</i> -->
            <div class="close" (click)="removeUser(user)"><i class="icon-x"></i></div>
        </div>
        <!-- <a [routerLink]="['/', user?.username]" class="demo"></a> -->
        <div class="o-suggestion__avatar" id="suggested_user_profile_image" [routerLink]="['/', user?.username]"
            [style.background-image]="'url(' + opspot.cdn_url + '/icon/' + user?.guid + '/medium/' + user.icontime + ')'"
            alt="">
        </div>
        <div class="o-suggestion__name caption-bold" id="suggested_user_profile_name"
            [routerLink]="['/', user?.username]">{{ user?.name | truncate:[15, '...'] }}</div>
        <div class="text-md grey" id="suggested_user_username">@{{ user?.username | truncate:[15, '...'] }}</div>
        <!-- <div class="o-suggestion__info text-sm grey">{{ user?.merchant?.exclusive?.intro }}</div> -->
        <opspot-button-subscribe class="follow-btn" [user]="user" (subscribed)="subscribeCountUpdate($event)"
            *ngIf="user.guid != session.getLoggedInUser().guid; else emptyTag"></opspot-button-subscribe>
        <ng-template #emptyTag>
            <span class="" style="background: transparent; height: 22px;">&nbsp;
            </span>
        </ng-template>
    </div>

    <div class="o-portfolio-info" *ngSwitchCase="'portfolio'">
        <div class="o-portfolio-left">
            <div class="o-portfolio-profile" [routerLink]="['/', user.username]">
                <div class="o-portfolio-profile__avatar">
                    <img src="{{opspot.cdn_url}}icon/{{user.guid}}/{{avatarSize}}/{{user.icontime}}" />
                </div>
                <!--avatar ends-->
                <div class="o-portfolio-profile__details">
                    <h4 class="f500">{{user.name}}</h4>
                    <span class="text-md grey">@{{user.username}}</span>
                </div>
                <!--details ends-->
            </div>
            <!--profile-->
            <div class="o-portfolio-buttonset hidden-above-tablet">
                <button type="button" class="btn btn-primary btn-sm btn--prof"
                    *ngIf="user.guid == session.getLoggedInUser().guid; else otherUser">Add Work</button>
                <ng-template #otherUser>
                    <!-- <button type="button" class="btn btn-primary btn-sm btn--prof">Follow</button>
                    <button type="button" class="btn btn-outline-primary btn-sm btn--prof">Network</button> -->
                    <opspot-button-subscribe [sideBar]="sidebarMsg" [user]="user" class="btn-restructure"
                        *ngIf="session.isLoggedIn() && session.getLoggedInUser().guid != user.guid && !user.blocked ">
                    </opspot-button-subscribe>
                    <!-- <button type="button" class="btn btn-primary btn-sm btn--prof">Follow</button> -->
                    <!-- <button type="button" class="btn btn-outline-primary btn-sm btn--prof" id="sidebar-network">Network</button> -->
                    <m-messenger--channel-button *ngIf="user.subscribed && session.getLoggedInUser().guid != user.guid"
                        [user]="user" [label]="'Network'" [theme]="'secondary'"></m-messenger--channel-button>
                </ng-template>
            </div>
            <!--button ends-->
            <div class="o-portfolio-followers hidden-under-tablet">
                <div class="text-md f500 mr-25" [routerLink]="['/', user.username, 'subscribers']">
                    {{subscriberCount?subscriberCount:0}} Followers</div>
                <div class="text-md f500" [routerLink]="['/', user.username, 'subscriptions']">
                    {{subscriptionCount?subscriptionCount:0}} Following</div>
            </div>
            <!--followers ends-->
            <div class="o-portfolio-followers-mob hidden-above-tablet">
                <div class="text-lg f500 mr-25 lh-20" [routerLink]="['/', user.username, 'subscribers']">
                    {{subscriberCount?subscriberCount:0}} <br><span class="text-sm grey">Followers</span></div>
                <div class="text-lg f500 lh-20" [routerLink]="['/', user.username, 'subscriptions']">
                    {{subscriptionCount?subscriptionCount:0}} <br><span class="text-sm grey">Following</span></div>
            </div>
            <!--followers ends-->
            <div class="o-portfolio-skill hidden-above-tablet" [hidden]="!user?.general_info?.skills">
                <a class="o-portfolio-skill__tag" *ngFor="let skills of user?.general_info?.skills">{{skills}}</a>
            </div>
            <!--skill ends-->
            <div class="o-portfolio-description" [hidden]="!user?.about?.description">
                <div class="text-md">
                    <div class="text-lg f500 hidden-above-tablet mb-10">About {{user.name}}</div>
                    {{user.about.description}}
                </div>
            </div>
            <!--description ends-->
        </div>
        <!--left ends-->
        <div class="o-portfolio-right hidden-under-tablet">
            <div class="o-portfolio-buttonset">
                <button type="button" class="btn btn-primary btn-sm btn--prof"
                    *ngIf="user.guid == session.getLoggedInUser().guid; else otherUser">Add Work</button>
                <ng-template #otherUser>
                    <!-- <button type="button" class="btn btn-primary btn-sm btn--prof">Follow</button>
                    <button type="button" class="btn btn-outline-primary btn-sm btn--prof">Network</button> -->
                    <opspot-button-subscribe [sideBar]="sidebarMsg" [user]="user" class="btn-restructure"
                        *ngIf="session.isLoggedIn() && !user.blocked ">
                    </opspot-button-subscribe>
                    <!-- <button type="button" class="btn btn-primary btn-sm btn--prof">Follow</button> -->
                    <!-- <button type="button" class="btn btn-outline-primary btn-sm btn--prof" id="sidebar-network">Network</button> -->
                    <m-messenger--channel-button *ngIf="user.subscribed"
                        [user]="user" [label]="'Network'" [theme]="'secondary'"></m-messenger--channel-button>
                </ng-template>
            </div>
            <!--button ends-->
            <div class="o-portfolio-skill" [hidden]="!user?.general_info?.skills">
                <a class="o-portfolio-skill__tag" *ngFor="let skills of user?.general_info?.skills">{{skills}}</a>
            </div>
            <!--skill ends-->
        </div>
        <!--right ends-->
    </div>

    <div *ngSwitchDefault>
        <ng-template #otherUser>
            <div class="m-card--user--banner">
                <div class="m-card--user--banner--img" [ngStyle]="{'background-image': 'url(' + bannerSrc + ')'}"></div>
                <div class="opspot-banner-overlay"></div>
            </div>

            <a [routerLink]="['/', user.username]" class="mdl-card__supporting-text opspot-usercard-block">
                <div class="avatar">
                    <img src="{{opspot.cdn_url}}icon/{{user.guid}}/{{avatarSize}}/{{user.icontime}}" />
                    <!-- <img src="../../../assets/demo/avatar.png"/> -->
                </div>
                <div class="body">
                    <h3>{{user.name}}</h3>
                    <span>@{{user.username}}</span>

                    <!-- <div class="m-usercard-bio">
                    <div class="m-usercard-bio-location" [hidden]="!user.city">
                        <i class="material-icons mdl-color-text--blue-grey-400">location_city</i>
                        {{user.city}}
                    </div>
                    <div class="m-usercard-bio-brief" [hidden]="!user.briefdescription">
                        <i class="material-icons mdl-color-text--blue-grey-400">assignment</i>
                        {{user.briefdescription}}
                    </div>
                    </div> -->
                </div>
            </a>

            <!-- <div class="opspot-tabs mdl-tabs__tab-bar" *ngIf="user.subscribed">
                <a class="mdl-tabs__tab mdl-color-text--blue-grey-500 1" [routerLink]="['/', user.username, 'subscribers']">
                    <span i18n="@@M__COMMON__SUBSCRIBERS">Subscribers</span>
                    <b>{{user.subscribers_count?user.subscribers_count:'0' | abbr:0}}</b>
                </a>
                <a class="mdl-tabs__tab mdl-color-text--blue-grey-500 2" [routerLink]="['/', user.username, 'subscriptions']">
                    <span i18n="@@M__COMMON__SUBSCRIPTIONS">Subscriptions</span>
                    <b>{{user.subscriptions_count?user.subscriptions_count:'0' | abbr:0}}</b>
                </a>
                <a class="mdl-tabs__tab mdl-color-text--blue-grey-500 3" [routerLink]="['/', user.username, 'feed']">
                    <span i18n="@@M__COMMON__VIEWS">Views</span>
                    <b>{{user.impressions?user.impressions:'0' | abbr:0}}</b>
                </a>
            </div> -->

            <opspot-button-subscribe [user]="user"></opspot-button-subscribe>
            <!-- <opspot-button-boost [object]="user" *ngIf="user.guid == session.getLoggedInUser().guid"></opspot-button-boost> -->
            <!-- <div class="opspot-usercard-buttons" [ngClass]="{ 'has-feature-button': session.isAdmin() }">
                <ng-content select="[buttons]"></ng-content>
            </div> -->
        </ng-template>

        <div class="o-prof-info" *ngIf="user.guid == session.getLoggedInUser().guid; else otherUser">
            <a [routerLink]="['/', user.username]">
                <div class="o-avatar-lg" id="user-profile-image">
                    <img src="{{opspot.cdn_url}}icon/{{user.guid}}/{{avatarSize}}/{{user.icontime}}" />
                </div>
            </a>
            <div class="o-prof-name" id="user-profile-details" [routerLink]="['/', user.username]">
                <div class="caption-bold f700 w-b-a" id="user-profile-name">{{user.name}}</div>
                <span class="text-md grey cursor-pointer" id="user-profile-account">@{{user.username}}</span>
            </div>
            <div class="o-prof-activity" id="user-profile-activity">
                <a [routerLink]="['/', user.username, 'subscribers']" id="user-profile-follower-details">
                    <div class="caption-bold f700" id="user-profile-follower-count">
                        {{subscriberCount?subscriberCount:0}}</div>
                    <div class="text-sm grey">Followers</div>
                </a>
                <a [routerLink]="['/', user.username, 'subscriptions']" id="user-profile-following-details">
                    <div class="caption-bold f700" id="user-profile-following-count">
                        {{subscriptionCount?subscriptionCount:0}}</div>
                    <div class="text-sm grey">Following</div>
                </a>
                <a [routerLink]="['/', user.username, 'feed']" id="user-profile-view-details">
                    <div class="caption-bold f700" id="user-profile-view-count">
                        {{user.post_count?user.post_count:0 | abbr:0}}</div>
                    <div class="text-sm grey">Posts</div>
                </a>
            </div>
        </div>
    </div>

</div>