<div class="o-Edashboard-body">
    <div class="o-Edashboard-table-row o-Edashboard-wrapper o-Edashboard-header">
        <div class="o-Edashboard-wrapper">
            <div class="o-Edashboard-wrapper o-Edashboard-checkbox">
                <div class="">
                    <label class="c-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div><!--checkbox ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-name">
                <div class="text">Name</div>
            </div><!--name ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-email">
                <div class="text">Email</div>
            </div><!--email ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-number">
                <div class="text">Phone Number</div>
            </div><!--number ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-gender">
                <div class="text">Gender</div>
            </div><!--gender ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-location">
                <div class="text">Location</div>
            </div><!--location ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-approved">
                <div class="text">Approved by</div>
            </div><!--approved ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-action">
                <div class="text">Actions</div>
            </div><!--action ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-status">
                <div class="text">Status</div>
            </div><!--status ends-->
        </div> <!--wrapper ends-->
    </div><!--header ends-->
    <div class="o-Edashboard-table-row o-Edashboard-wrapper">
        <div class="o-Edashboard-wrapper">
            <div class="o-Edashboard-wrapper o-Edashboard-checkbox">
                <div class="checkbox-dash">
                    <label class="c-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div><!--checkbox ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-name">
                <div class="text">Shilpa</div>
            </div><!--name ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-email">
                <div class="text">shilpa@gmail.com</div>
            </div><!--email ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-number">
                <div class="text">1234567890</div>
            </div><!--number ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-gender">
                <div class="text">Female</div>
            </div><!--gender ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-location">
                <div class="text">Manglore</div>
            </div><!--location ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-approved">
                <div class="text">Vijilin</div>
            </div><!--approved ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-action">
                <div class="o-Edashboard-marginr10 tooltip">
                    <span class="icon-eye o-Edashboard-action__icon"></span>
                    <span class="tooltiptext">Portfolio</span>
                </div><!--tooltip ends-->
                <div class="tooltip">
                    <span class="icon-file-text o-Edashboard-action__icon"></span>
                    <span class="tooltiptext">Resume</span>
                </div><!--tooltip ends-->
            </div><!--action ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-status">
                <button class="btn o-Edashboard-status__approve">Approved</button>
            </div><!--status ends-->
        </div> <!--wrapper ends-->
    </div><!--row wrapper ends-->  
    <div class="o-Edashboard-table-row o-Edashboard-wrapper active">
        <div class="o-Edashboard-wrapper">
            <div class="o-Edashboard-wrapper o-Edashboard-checkbox">
                <div class="checkbox-dash">
                    <label class="c-checkbox">
                        <input type="checkbox" checked>
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div><!--checkbox ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-name">
                <div class="text">Shilpa</div>
            </div><!--name ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-email">
                <div class="text">shilpa@gmail.com</div>
            </div><!--email ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-number">
                <div class="text">1234567890</div>
            </div><!--number ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-gender">
                <div class="text">Female</div>
            </div><!--gender ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-location">
                <div class="text">Manglore</div>
            </div><!--location ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-approved">
                <div class="text">Vijilin</div>
            </div><!--approved ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-action">
                <div class="o-Edashboard-marginr10 tooltip">
                    <span class="icon-eye o-Edashboard-action__icon"></span>
                    <span class="tooltiptext">Portfolio</span>
                </div><!--tooltip ends-->
                <div class="tooltip">
                    <span class="icon-file-text o-Edashboard-action__icon"></span>
                    <span class="tooltiptext">Resume</span>
                </div><!--tooltip ends-->
            </div><!--action ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-status">
                <button class="btn o-Edashboard-status__reject">Rejected</button>
            </div><!--status ends-->
        </div> <!--wrapper ends-->
    </div><!--row wrapper ends--> 
    <div class="o-Edashboard-table-row o-Edashboard-wrapper">
        <div class="o-Edashboard-wrapper">
            <div class="o-Edashboard-wrapper o-Edashboard-checkbox">
                <div class="checkbox-dash">
                    <label class="c-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div><!--checkbox ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-name">
                <div class="text">Shilpa</div>
            </div><!--name ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-email">
                <div class="text">shilpa@gmail.com</div>
            </div><!--email ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-number">
                <div class="text">1234567890</div>
            </div><!--number ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-gender">
                <div class="text">Female</div>
            </div><!--gender ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-location">
                <div class="text">Manglore</div>
            </div><!--location ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-approved">
                <div class="text">Vijilin</div>
            </div><!--approved ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-action">
                <div class="o-Edashboard-marginr10 tooltip">
                    <span class="icon-eye o-Edashboard-action__icon"></span>
                    <span class="tooltiptext">Portfolio</span>
                </div><!--tooltip ends-->
                <div class="tooltip">
                    <span class="icon-file-text o-Edashboard-action__icon"></span>
                    <span class="tooltiptext">Resume</span>
                </div><!--tooltip ends-->
            </div><!--action ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-status">
                <button class="btn o-Edashboard-status__pending">Pending</button>
            </div><!--status ends-->
        </div> <!--wrapper ends-->
    </div><!--row wrapper ends-->  
    <div class="o-Edashboard-table-row o-Edashboard-wrapper">
        <div class="o-Edashboard-wrapper">
            <div class="o-Edashboard-wrapper o-Edashboard-checkbox">
                <div class="checkbox-dash">
                    <label class="c-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div><!--checkbox ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-name">
                <div class="text">Shilpa</div>
            </div><!--name ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-email">
                <div class="text">shilpa@gmail.com</div>
            </div><!--email ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-number">
                <div class="text">1234567890</div>
            </div><!--number ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-gender">
                <div class="text">Female</div>
            </div><!--gender ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-location">
                <div class="text">Manglore</div>
            </div><!--location ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-approved">
                <div class="text">Vijilin</div>
            </div><!--approved ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-action">
                <div class="o-Edashboard-marginr10 tooltip">
                    <span class="icon-eye o-Edashboard-action__icon"></span>
                    <span class="tooltiptext">Portfolio</span>
                </div><!--tooltip ends-->
                <div class="tooltip">
                    <span class="icon-file-text o-Edashboard-action__icon"></span>
                    <span class="tooltiptext">Resume</span>
                </div><!--tooltip ends-->
            </div><!--action ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-status">
                <button class="btn o-Edashboard-status__approve">Approved</button>
            </div><!--status ends-->
        </div> <!--wrapper ends-->
    </div><!--row wrapper ends-->  
    <div class="o-Edashboard-table-row o-Edashboard-wrapper">
        <div class="o-Edashboard-wrapper">
            <div class="o-Edashboard-wrapper o-Edashboard-checkbox">
                <div class="checkbox-dash">
                    <label class="c-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div><!--checkbox ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-name">
                <div class="text">Shilpa</div>
            </div><!--name ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-email">
                <div class="text">shilpa@gmail.com</div>
            </div><!--email ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-number">
                <div class="text">1234567890</div>
            </div><!--number ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-gender">
                <div class="text">Female</div>
            </div><!--gender ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-location">
                <div class="text">Manglore</div>
            </div><!--location ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-approved">
                <div class="text">Vijilin</div>
            </div><!--approved ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-action">
                <div class="o-Edashboard-marginr10 tooltip">
                    <span class="icon-eye o-Edashboard-action__icon"></span>
                    <span class="tooltiptext">Portfolio</span>
                </div><!--tooltip ends-->
                <div class="tooltip">
                    <span class="icon-file-text o-Edashboard-action__icon"></span>
                    <span class="tooltiptext">Resume</span>
                </div><!--tooltip ends-->
            </div><!--action ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-status">
                <button class="btn o-Edashboard-status__reject">Rejected</button>
            </div><!--status ends-->
        </div> <!--wrapper ends-->
    </div><!--row wrapper ends--> 
    <div class="o-Edashboard-table-row o-Edashboard-wrapper">
        <div class="o-Edashboard-wrapper">
            <div class="o-Edashboard-wrapper o-Edashboard-checkbox">
                <div class="checkbox-dash">
                    <label class="c-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div><!--checkbox ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-name">
                <div class="text">Shilpa</div>
            </div><!--name ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-email">
                <div class="text">shilpa@gmail.com</div>
            </div><!--email ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-number">
                <div class="text">1234567890</div>
            </div><!--number ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-gender">
                <div class="text">Female</div>
            </div><!--gender ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-location">
                <div class="text">Manglore</div>
            </div><!--location ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-approved">
                <div class="text">Vijilin</div>
            </div><!--approved ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-action">
                <div class="o-Edashboard-marginr10 tooltip">
                    <span class="icon-eye o-Edashboard-action__icon"></span>
                    <span class="tooltiptext">Portfolio</span>
                </div><!--tooltip ends-->
                <div class="tooltip">
                    <span class="icon-file-text o-Edashboard-action__icon"></span>
                    <span class="tooltiptext">Resume</span>
                </div><!--tooltip ends-->
            </div><!--action ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-status">
                <button class="btn o-Edashboard-status__pending">Pending</button>
            </div><!--status ends-->
        </div> <!--wrapper ends-->
    </div><!--row wrapper ends-->
    <div class="o-Edashboard-table-row o-Edashboard-wrapper">
            <div class="o-Edashboard-wrapper">
                <div class="o-Edashboard-wrapper o-Edashboard-checkbox">
                    <div class="checkbox-dash">
                        <label class="c-checkbox">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div><!--checkbox ends-->
                <div class="o-Edashboard-wrapper o-Edashboard-name">
                    <div class="text">Shilpa</div>
                </div><!--name ends-->
                <div class="o-Edashboard-wrapper o-Edashboard-email">
                    <div class="text">shilpa@gmail.com</div>
                </div><!--email ends-->
                <div class="o-Edashboard-wrapper o-Edashboard-number">
                    <div class="text">1234567890</div>
                </div><!--number ends-->
                <div class="o-Edashboard-wrapper o-Edashboard-gender">
                    <div class="text">Female</div>
                </div><!--gender ends-->
                <div class="o-Edashboard-wrapper o-Edashboard-location">
                    <div class="text">Manglore</div>
                </div><!--location ends-->
                <div class="o-Edashboard-wrapper o-Edashboard-approved">
                    <div class="text">Vijilin</div>
                </div><!--approved ends-->
                <div class="o-Edashboard-wrapper o-Edashboard-action">
                    <div class="o-Edashboard-marginr10 tooltip">
                        <span class="icon-eye o-Edashboard-action__icon"></span>
                        <span class="tooltiptext">Portfolio</span>
                    </div><!--tooltip ends-->
                    <div class="tooltip">
                        <span class="icon-file-text o-Edashboard-action__icon"></span>
                        <span class="tooltiptext">Resume</span>
                    </div><!--tooltip ends-->
                </div><!--action ends-->
                <div class="o-Edashboard-wrapper o-Edashboard-status">
                    <button class="btn o-Edashboard-status__approve">Approved</button>
                </div><!--status ends-->
            </div> <!--wrapper ends-->
    </div><!--row wrapper ends-->  
    <div class="o-Edashboard-table-row o-Edashboard-wrapper">
        <div class="o-Edashboard-wrapper">
            <div class="o-Edashboard-wrapper o-Edashboard-checkbox">
                <div class="checkbox-dash">
                    <label class="c-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div><!--checkbox ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-name">
                <div class="text">Shilpa</div>
            </div><!--name ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-email">
                <div class="text">shilpa@gmail.com</div>
            </div><!--email ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-number">
                <div class="text">1234567890</div>
            </div><!--number ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-gender">
                <div class="text">Female</div>
            </div><!--gender ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-location">
                <div class="text">Manglore</div>
            </div><!--location ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-approved">
                <div class="text">Vijilin</div>
            </div><!--approved ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-action">
                <div class="o-Edashboard-marginr10 tooltip">
                    <span class="icon-eye o-Edashboard-action__icon"></span>
                    <span class="tooltiptext">Portfolio</span>
                </div><!--tooltip ends-->
                <div class="tooltip">
                    <span class="icon-file-text o-Edashboard-action__icon"></span>
                    <span class="tooltiptext">Resume</span>
                </div><!--tooltip ends-->
            </div><!--action ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-status">
                <button class="btn o-Edashboard-status__reject">Rejected</button>
            </div><!--status ends-->
        </div> <!--wrapper ends-->
    </div><!--row wrapper ends--> 
    <div class="o-Edashboard-table-row o-Edashboard-wrapper">
        <div class="o-Edashboard-wrapper">
            <div class="o-Edashboard-wrapper o-Edashboard-checkbox">
                <div class="checkbox-dash">
                    <label class="c-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div><!--checkbox ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-name">
                <div class="text">Shilpa</div>
            </div><!--name ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-email">
                <div class="text">shilpa@gmail.com</div>
            </div><!--email ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-number">
                <div class="text">1234567890</div>
            </div><!--number ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-gender">
                <div class="text">Female</div>
            </div><!--gender ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-location">
                <div class="text">Manglore</div>
            </div><!--location ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-approved">
                <div class="text">Vijilin</div>
            </div><!--approved ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-action">
                <div class="o-Edashboard-marginr10 tooltip">
                    <span class="icon-eye o-Edashboard-action__icon"></span>
                    <span class="tooltiptext">Portfolio</span>
                </div><!--tooltip ends-->
                <div class="tooltip">
                    <span class="icon-file-text o-Edashboard-action__icon"></span>
                    <span class="tooltiptext">Resume</span>
                </div><!--tooltip ends-->
            </div><!--action ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-status">
                <button class="btn o-Edashboard-status__pending">Pending</button>
            </div><!--status ends-->
        </div> <!--wrapper ends-->
    </div><!--row wrapper ends-->  
    <div class="o-Edashboard-table-row o-Edashboard-wrapper">
        <div class="o-Edashboard-wrapper">
            <div class="o-Edashboard-wrapper o-Edashboard-checkbox">
                <div class="checkbox-dash">
                    <label class="c-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div><!--checkbox ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-name">
                <div class="text">Shilpa</div>
            </div><!--name ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-email">
                <div class="text">shilpa@gmail.com</div>
            </div><!--email ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-number">
                <div class="text">1234567890</div>
            </div><!--number ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-gender">
                <div class="text">Female</div>
            </div><!--gender ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-location">
                <div class="text">Manglore</div>
            </div><!--location ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-approved">
                <div class="text">Vijilin</div>
            </div><!--approved ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-action">
                <div class="o-Edashboard-marginr10 tooltip">
                    <span class="icon-eye o-Edashboard-action__icon"></span>
                    <span class="tooltiptext">Portfolio</span>
                </div><!--tooltip ends-->
                <div class="tooltip">
                    <span class="icon-file-text o-Edashboard-action__icon"></span>
                    <span class="tooltiptext">Resume</span>
                </div><!--tooltip ends-->
            </div><!--action ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-status">
                <button class="btn o-Edashboard-status__approve">Approved</button>
            </div><!--status ends-->
        </div> <!--wrapper ends-->
    </div><!--row wrapper ends-->  
    <div class="o-Edashboard-table-row o-Edashboard-wrapper">
        <div class="o-Edashboard-wrapper">
            <div class="o-Edashboard-wrapper o-Edashboard-checkbox">
                <div class="checkbox-dash">
                    <label class="c-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div><!--checkbox ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-name">
                <div class="text">Shilpa</div>
            </div><!--name ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-email">
                <div class="text">shilpa@gmail.com</div>
            </div><!--email ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-number">
                <div class="text">1234567890</div>
            </div><!--number ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-gender">
                <div class="text">Female</div>
            </div><!--gender ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-location">
                <div class="text">Manglore</div>
            </div><!--location ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-approved">
                <div class="text">Vijilin</div>
            </div><!--approved ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-action">
                <div class="o-Edashboard-marginr10 tooltip">
                    <span class="icon-eye o-Edashboard-action__icon"></span>
                    <span class="tooltiptext">Portfolio</span>
                </div><!--tooltip ends-->
                <div class="tooltip">
                    <span class="icon-file-text o-Edashboard-action__icon"></span>
                    <span class="tooltiptext">Resume</span>
                </div><!--tooltip ends-->
            </div><!--action ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-status">
                <button class="btn o-Edashboard-status__reject">Rejected</button>
            </div><!--status ends-->
        </div> <!--wrapper ends-->
    </div><!--row wrapper ends--> 
    <div class="o-Edashboard-table-row o-Edashboard-wrapper">
        <div class="o-Edashboard-wrapper">
            <div class="o-Edashboard-wrapper o-Edashboard-checkbox">
                <div class="checkbox-dash">
                    <label class="c-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div><!--checkbox ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-name">
                <div class="text">Shilpa</div>
            </div><!--name ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-email">
                <div class="text">shilpa@gmail.com</div>
            </div><!--email ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-number">
                <div class="text">1234567890</div>
            </div><!--number ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-gender">
                <div class="text">Female</div>
            </div><!--gender ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-location">
                <div class="text">Manglore</div>
            </div><!--location ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-approved">
                <div class="text">Vijilin</div>
            </div><!--approved ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-action">
                <div class="o-Edashboard-marginr10 tooltip">
                    <span class="icon-eye o-Edashboard-action__icon"></span>
                    <span class="tooltiptext">Portfolio</span>
                </div><!--tooltip ends-->
                <div class="tooltip">
                    <span class="icon-file-text o-Edashboard-action__icon"></span>
                    <span class="tooltiptext">Resume</span>
                </div><!--tooltip ends-->
            </div><!--action ends-->
            <div class="o-Edashboard-wrapper o-Edashboard-status">
                <button class="btn o-Edashboard-status__pending">Pending</button>
            </div><!--status ends-->
        </div> <!--wrapper ends-->
    </div><!--row wrapper ends-->       
</div><!--body ends-->