<!-- <section class="m-homepage--hero">

  <div class="m-homepage--hero--video">
    <video autoplay muted loop *ngIf="!videoError; else fallback">
      <source [src]="opspot.cdn_assets_url + 'assets/videos/what-1/what-1.mp4'" type="video/mp4" (error)="onSourceError()">
    </video>
    <ng-template #fallback>
      <img [src]="opspot.cdn_assets_url + 'assets/photos/cover.png'">
    </ng-template>
  </div>

  <div class="m-homepage--hero--inner">
  
    <div class="m-homepage--hero--overlay"></div>

    <div class="m-homepage--hero--slogans">
      <h1 i18n="@@M__SOCIAL_NETWORK_SLOGAN">Where opspot gather</h1>
      <h3 i18n="@@OPSPOT__HOME__HOMEPAGE__LAUNCH_CTA">
        We are an open source and decentralized platform 
        for Internet freedom. Get paid in crypto for your contributions
        to the community.
      </h3>
    </div>

    <div class="m-homepage--signup" [hidden]="session.isLoggedIn()">
      <opspot-form-register (done)="registered()"></opspot-form-register>
    </div>

  </div>

</section>

<section class="m-homepage--section m-homepage" style="padding-top:0; padding-bottom: 0;">
  
  <div class="m-homepage--section--grid">
    <h2 style="text-align: center; width: 100%" i18n="@@OPSPOT__HOME__HOMEPAGE__OUT_CORE_PRINCIPLES">Our core principles</h2>
  </div>

  <div class="m-homepage--section--grid">
    <div class="m-homepage--section--grid-col">
      <i class="material-icons">language</i>
      <h4 class="" i18n="@@HOMEPAGE__NONPARTISAN_SUBTITLE">
        Nonpartisan (r)evolution of ideas and <b>global consciousness</b>
      </h4>
    </div>
    <div class="m-homepage--section--grid-col">
      <i class="material-icons">record_voice_over</i>
      <h4 class="" i18n="@@HOMEPAGE__REAL_WORLD_SOLUTIONS_SUBTITLE">
        <b>Real world solutions</b> with free speech,
          co-ownership and open discourse
      </h4>
    </div>
    <div class="m-homepage--section--grid-col">
      <i class="material-icons">favorite</i>
      <h4 class="" i18n="@@HOMEPAGE__PRIVACY_AND_TRANSPARENCY_SUBTITLE">
        Privacy and transparency with encryption and
        <b>open source software</b>
      </h4>
    </div>
  </div>

</section>

<section class="m-marketing--section" style="padding-top: 8px; padding-bottom: 16px;">
     <div class="m-blockchain--marketing--links">
      <a class="m-btn m-btn--slim m-btn--action" target="_blank" href="https://cdn-assets.ops.doesntexist.com/front/dist/assets/documents/Whitepaper-v0.3.pdf">Whitepaper (PDF)</a>
      <a class="m-btn m-btn--slim m-btn--action" target="_blank" routerLink="/tokens">Get Tokens</a>
    </div>
</section>

<span style="width: 100%; height: 1px; background: #DEDEDE; display: block;"></span>

<div class="mdl-grid mdl-grid--no-spacing m-homepage--stream">

    <h4 class="mdl-color-text--blue-grey-200 mdl-cell--12-col" i18n="@@HOMEPAGE__FEATURED_POSTS_TITLE">Featured Posts</h4>
    <section class="mdl-cell mdl-cell--4-col">
      <opspot-activity [object]="activity"  *ngFor="let activity of stream[1]"></opspot-activity>
    </section>

    <section class="mdl-cell mdl-cell--4-col">
      <opspot-activity [object]="activity"  *ngFor="let activity of stream[2]"></opspot-activity>
    </section>

    <section class="mdl-cell mdl-cell--4-col">
      <opspot-activity [object]="activity"  *ngFor="let activity of stream[3]"></opspot-activity>
    </section>

    <div [hidden]="!inProgress" style="width:100%; text-align:center; ">
      <div class="mdl-spinner mdl-js-spinner is-active" [mdl] style="margin: 16px auto;"></div>
    </div>

    <div class="m-homepage--fader" [hidden]="inProgress" *ngIf="false">
      <div class="m-homepage--fader--load-more" (click)="loadStream()" i18n="@@OPSPOT__HOME__HOMEPAGE__SEE_MORE_ACTION">Click To See more</div>
    </div>
</div>


<div class="mdl-grid mdl-grid--no-spacing m-homepage--footer">

    <section class="mdl-cell mdl-cell--12-col m-footer">
      <img [src]="opspot.cdn_assets_url + 'assets/logos/logo.svg'" />
      <ul class="m-footer-nav m-footer-nav-inline">
        <li *ngFor="let page of navigation.getItems('footer')" class="m-footer-nav-item ">
          <a *ngIf="page.path && page.path.indexOf('p/') > -1" [routerLink]="[page.path]">{{page.title}}</a>
          <a *ngIf="page.path.indexOf('p/') < 0" [href]="page.path" target="_blank">{{page.title}}</a>
        </li>
      </ul>
      <span class="copyright" i18n="@@M__COMMON__COPYRIGHT_YEAR">&#169; Opspot {{'2019'}}</span>
    </section>

</div> -->
<!-- <m-login *ngIf="!session.isLoggedIn()"></m-login> -->

<div class="main-sec-for-event" [hidden]="session.isLoggedIn()">
	<section #home id="home" class="event-home">
		<div class="event-hero">
			<ul class="event-header" id="top-menu">
				<li class="event-header__links" [ngClass]="{'current-active': tab =='home'}"><a (click)="scrollToElement(home, 'home')" >Home</a></li>
				<li class="event-header__links " [ngClass]="{'current-active': tab =='About'}"><a (click)="scrollToElement(About, 'About')" class="event-header__links">About</a></li>
				<li class="event-header__links " [ngClass]="{'current-active': tab =='Artists'}"><a (click)="scrollToElement(Artists, 'Artists')" class="event-header__links">Artists</a></li>
			</ul><!-- event header end -->
			<div class="event-hero-content">
				<div class="event-hero-media">
					<img src="assets/saptarang/Ind-2_final-2.png" alt="">
				</div>
				<div class="event-hero-content-block">
					<div class="hero-text-style">
						<span>Spotlight Studio Presentation</span>
						<span class="f700 f-32"><img src="assets/saptarang/saptarang_title.svg" alt=""></span>
						<span>15th AUGUST 2020, 08:00 PM (India Time)</span>
						<span>INDEPENDENCE DAY CONCERT</span>
						<span> Live at <img class="ops-logo-event" src="assets/saptarang/ops_black.svg" alt=""></span>
					</div>
					<div class="btn-block-hero">
						<a routerLink="/login" class="watch-now-btn"> REGISTER ON ONEPAGESPOTLIGHT</a>
						<!-- <a href="#about" class="watch-now-btn2"><img src="assets/rickykej/play.svg" alt=""> WATCH NOW</a> -->
					</div>
					<!-- <a href="#" class="brodcasting info popup-trigger" >View Broadcast Timings</a> -->
				</div>
			</div>
		</div><!-- event hero end -->

		<!-- <div class="who">
			<div class="who__content">
				<p>
					In support of the World Health Organization (WHO) and the COVID-19<br>
					Solidarity Response Fund for WHO,<br>
					powered by the United Nations Foundation
				</p>
			</div>
		</div> -->
	</section>
	<section #About id="about" class="event-about">
		<div class="event-container event-about-block">
			<div class="event-about-left-block">
				<div class="event-about-short-info">

					<div class="short-info">
						<div class="short-info__count short-info__text-style">24</div>
						<div class="short-info__title short-info__text-style">Musicians</div>
					</div><!-- short info end -->
					<div class="short-info">
						<div class="short-info__count short-info__text-style">19</div>
						<div class="short-info__title short-info__text-style">Instruments</div>
					</div><!-- short info end -->
					<div class="short-info">
						<div class="short-info__count short-info__text-style">7</div>
						<div class="short-info__title short-info__text-style">Raagas</div>
					</div><!-- short info end -->
					<div class="short-info">
						<div class="short-info__count short-info__text-style">6</div>
						<div class="short-info__title short-info__text-style">Timeless Compositions</div>
					</div><!-- short info end -->
					<div class="short-info">
						<div class="short-info__count short-info__text-style">3</div>
						<div class="short-info__title short-info__text-style">Different Genres of  Music</div>
					</div><!-- short info end -->
					<div class="short-info">
						<div class="short-info__count short-info__text-style">1</div>
						<div class="short-info__title short-info__text-style">Memorable Evening</div>
					</div><!-- short info end -->


				</div><!-- event short info end -->
			</div><!-- event about left block end -->
			<div class="event-about-right-block">
				<h1 class="primary-title">About Saptarang</h1>
				<div class="event-about-content">
						<p>
								Saptarang at One Page Spotlight is an online concert featuring 24 musicians who will be performing from different parts of India. These 24 incredible artists will come together LIVE on Saturday, August 15th, 2020 to celebrate the spirit of India's 74th year of Independence. 
						</p>
						<p>
								Saptarang simply means seven colours which also highlights the seven scores of music. This diversity of colours describe the medley of a vibrant country like India which boasts of rich music from different cultures.These artists are geared to showcase their own compositions that display Indian classical music of hindustani and carnatic music along with the likes of contemporary tunes that is sure to appeal to India's modern generation as well.
						</p>
				</div><!-- about content end -->
			</div><!-- event about-right block end -->		
		</div><!-- event container end -->
	</section><!-- about section end -->
	
	<section id="video" class="event-sec-video">
		<div class="event-video">
			<div class="event-video-block">
				<iframe src="https://www.youtube.com/embed/AF1dV9k7kEs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div><!-- event video end -->
	</section><!-- event sec video end -->

	<section id="partners" class="event-partner">
		
		<div class="outreach-partner-container">
			<h1 class="primary-title">Partners</h1>
			<div class="outreach-partner-logos">
				<div class="outreach-partner-logos__item">
					<div class="sponsor-title">MULTIPLEX PARTNER</div>
					<img src="assets/saptarang/partners/pvr.png" style="max-width:59px" alt="">
				</div>
				
				<div class="outreach-partner-logos__item">
					<div class="sponsor-title">LIVE STREAMING PARTNER</div>
					<img src="assets/saptarang/partners/justdial.png" style="max-width:152px" alt="">
				</div>
				<div class="outreach-partner-logos__item">
					<div class="sponsor-title">DIGITAL PROMOTION PARTNER</div>
					<img src="assets/saptarang/partners/Insider.png" style="max-width:189px" alt="">
				</div>
				
				<div class="outreach-partner-logos__item">
					<div class="sponsor-title">AMBIENCE PARTNER  </div>
					<img src="assets/saptarang/partners/defa.png" style="max-width:138px" alt="">
				</div>
			</div>

			<div class="outreach-partner-logos">
				<div class="outreach-partner-logos__item">
					<div class="sponsor-title">DIGITAL OOH PARTNER</div>
					<img src="assets/saptarang/partners/spykke.png" style="max-width:154px" alt="">
				</div>
				<div class="outreach-partner-logos__item">
					<div class="sponsor-title">MEDIA PARTNER  </div>
					<img src="assets/saptarang/partners/sankara.png" style="max-width:100px" alt="">
				</div>

				<div class="outreach-partner-logos__item">
					<div class="sponsor-title">SOCIAL MEDIA PARTNER </div>
					<img src="assets/saptarang/partners/southernspice.png" style="max-width:87px" alt="">
				</div>
				<div class="outreach-partner-logos__item">
					<div class="sponsor-title">BRAND PARTNER </div>
					<img src="assets/saptarang/partners/cosmiceye.png" style="max-width:228px" alt="">
				</div>
				<div class="outreach-partner-logos__item">
					<div class="sponsor-title">BRAND PARTNER </div>
					<img src="assets/saptarang/partners/vnaad.png" style="max-width:156px" alt="">
				</div>
			</div>

			<div class="outreach-partner-logos">
				<div class="outreach-partner-logos__item">
					<div class="sponsor-title">SOCIAL MEDIA STREAMING PARTNER </div>
					<img src="assets/saptarang/partners/indianclassicalgems.svg" style="max-width:85px" alt="">
				</div>
				<div class="outreach-partner-logos__item">
					<div class="sponsor-title">SOCIAL MEDIA STREAMING PARTNER</div>
					<img src="assets/saptarang/partners/sreeramasevamandali.png" style="max-width:80px" alt="">
				</div>
				<div class="outreach-partner-logos__item">
					<div class="sponsor-title">SOCIAL MEDIA STREAMING PARTNER</div>
					<img src="assets/saptarang/partners/ark.png" style="max-width:71px" alt="">
				</div>
				<div class="outreach-partner-logos__item">
					<div class="sponsor-title">BRAND PARTNER </div>
					<img src="assets/saptarang/partners/justconnect.png" style="max-width:207px" alt="">
				</div>
			</div>
			<div class="outreach-partner-logos" style="justify-content:center;">
				
			</div>
		</div>
	</section><!-- event partner section end -->

	<section #Artists id="artists" id="artists" class="event-artist">
		<h1 class="primary-title">24 Musicians</h1>
		
		<div class="grid">
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/saptarang/artist/vijay_prakash_min.jpg" alt=""></div>
					<div class="artist-card__info">
						<div class="name">Vijay Prakash</div>
						<div class="brief">
								Vijay Prakash is an Indian singer and music composer who has contributed to bollywood films such as Blue, Yuvvraaj, Swades, Kaal, Lakshya, Tere Naam, Cheeni Kum and many other regional films as well. 
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/saptarang/artist/sandeep_narayan.jpg" alt=""></div>
					<div class="artist-card__info">
						<div class="name">Sandeep Narayan</div>
						<div class="brief">
								Sandeep Narayan is a classical trained musician from Chennai. He has completed concert tours of North America, the United Kingdom, Germany, Australia, Singapore, and Sri Lanka, and is regularly accompanied by leading artists in the field.
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/saptarang/artist/manoj_george.jpg" alt="Manoj george"></div>
					<div class="artist-card__info">
						<div class="name">Manoj George</div>
						<div class="brief">
								Manoj George is a violinist and composer who performed as a conductor, string arranger and choral arranger in the Grammy® award winning album “Winds of Samsara”. His wide repertoire includes scoring music for Malayalam and Kannada feature films, documentaries, short films and commercials. 
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/saptarang/artist/vijaya_shanker.jpg" alt="Vijayaa Shanker"></div>
					<div class="artist-card__info">
						<div class="name">Vijayaa Shanker</div>
						<div class="brief">
								Trained in Carnatic Music under various eminent musicians of India, Vijayaa Shankar is a singer, songwriter, composer, voice coach, social worker and an entrepreneur who has sung in multilingual films and 2500 jingles and is a Sahitya Kala Parishad Award recipient. 
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/saptarang/artist/louis_banks.jpg" alt="Louis Banks"></div>
					<div class="artist-card__info">
						<div class="name">Louis Banks</div>
						<div class="brief">
								Known as the godfather of Jazz music in India, Louis Banks is a name that is synonymous with Jazz in a country of hindustani and carnatic music. He is a noted pianist who is one of the most sought after names in the music industry.
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/saptarang/artist/grirdhar_udupa.jpg" alt="Giridhar Ghatam Udupa"></div>
					<div class="artist-card__info">
						<div class="name">Giridhar Ghatam Udupa</div>
						<div class="brief">
								Giridhar Udupa is a well-known percussionist who plays the Ghatam. With 3 decades of musical journey enriched by collaborations with eminent artists across the world, concert visits and numerous accolades, Udupa today is an ambassador of world music. 

						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/saptarang/artist/jayanthi.png" alt="Vidushi Dr. Jayanthi Kumaresh"></div>
					<div class="artist-card__info">
						<div class="name"><small>Vidushi Dr.</small> Jayanthi Kumaresh</div>
						<div class="brief">
								Dr. Jayanthi Kumaresh is India’s torchbearer worldwide for Saraswati Veena, the National Instrument of India. An artiste, collaborator, composer, creator, pioneer and educator for over 35 years, she truly embodies the rich musical heritage of India.
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/saptarang/artist/kumaresh.png" alt="Vidwan R Kumaresh"></div>
					<div class="artist-card__info">
						<div class="name"><small>Vidwan</small> R Kumaresh</div>
						<div class="brief">
								Kumaresh is an icon of Carnatic Music and is also a child prodigy who began playing the violin from a young age. A lyricist and music director, he has been captivating people through his music for the last 4 decades with his extraordinary mastery.
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/saptarang/artist/pravin_godkhindi.jpg" alt="Pandit Pravin Godkhindi"></div>
					<div class="artist-card__info">
						<div class="name">Pandit Pravin Godkhindi</div>
						<div class="brief">
								Pandit Pravin Godkhindi is one of India’s top fluatist. He is the only Indian Flautist to perform on the 8 Feet contrabass flute and has shared the stage with eminent artists like Ustad Zakir Hussain, Dr. Balmurli Krishna, Pt. Vishwa Mohat Bhatt and many others. 
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/saptarang/artist/gino-banks.jpg" alt="Gino Banks"></div>
					<div class="artist-card__info">
						<div class="name">Gino Banks</div>
						<div class="brief">
								Gino Banks is a Drummer and a member of the band ‘Nexus’. Gino is the son of legendary Jazz pianist, Louis Banks who started playing the drums at the age of 15 and like his father has shared the stage with music personalities. 
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/saptarang/artist/rakesh_chaurasia.jpg" alt="Rakesh Chaurasia"></div>
					<div class="artist-card__info">
						<div class="name">Rakesh Chaurasia</div>
						<div class="brief">
								Rakesh Chaurasia is an Indian flautist. He followed in the footsteps of his uncle, Pandit Hariprasad Chaurasia, the prolific flautist of all times. His versatility is known through his many collaborations of jazz and bollywood music.
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/saptarang/artist/darshan_doshi.jpg" alt="Darshan Doshi"></div>
					<div class="artist-card__info">
						<div class="name">Darshan Doshi</div>
						<div class="brief">
								Darshan Doshi is a well-known Drummer in the music industry. Dashan has worked with the finest names like Ranjit Barot, Pankaj Sharma & Lester Godinho. He has played with bands like Farhan Live, Soul India with Hariharan, The Bombay Projekt, FUZONIKA, Mumbai Stomp with Taufiq Qureshi and many others.
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/saptarang/artist/arun_kumar.jpg" alt="Arun Kumar"></div>
					<div class="artist-card__info">
						<div class="name">Arun Kumar</div>
						<div class="brief">
								A master of Carnatic percussion, Arun Kumar has been in the field of music since 1986 and is a famous jazz Drummer. He renders percussion support to carnatic classical, talavadya, jazz music, light music and dance performances.
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/saptarang/artist/sheldon_dsilva.jpg" alt="Sheldon D’silva"></div>
					<div class="artist-card__info">
						<div class="name">Sheldon D’silva</div>
						<div class="brief">
								Sheldon D’silva is a bass guitarist, music producer and composer based in Mumbai who has had the experience of playing his six string bass guitar with some of the finest names like Pandit Vishwa Mohan Bhatt, Taufiq Qureshi, Shankar Mahadevan and many more noteworthy musicians. 
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/saptarang/artist/jayachandra_rao.jpg" alt="Vidwan Jayachandra Rao"></div>
					<div class="artist-card__info">
						<div class="name"><small>Vidwan</small> Jayachandra Rao</div>
						<div class="brief">
								K.U Jayachandra Rao is an eminent Mridangam artist whose work collaborations have won him several accolades over the years and he continues to perform all across the country and impart his valuable knowledge with young artists globally. 
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/saptarang/artist/kiran_godkhindi.jpg" alt="Kiran Godkhindi"></div>
					<div class="artist-card__info">
						<div class="name">Kiran Godkhindi</div>
						<div class="brief">
								Kiran Godkhindi is a noted tabla player who belongs to a family of established musicians namely Pt. Venkatesh Godkhindi and Pt. Pravin Godkhindi, his father and brother. Together, they have given several performances across the country.
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/saptarang/artist/stephen_devassy.jpg" alt="Stephen Devassy"></div>
					<div class="artist-card__info">
						<div class="name">Stephen Devassy</div>
						<div class="brief">
								Stephen Devassy is a pianist, composer and a music producer who is currently the youth icon of modern music. He is an exemplary musician in electronic and acoustic sounds and has explored various styles like classical, blues, classic rock, jazz, Carnatic and world music fusion. 
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/saptarang/artist/srinivas_achar.jpg" alt="Srinivas Achar"></div>
					<div class="artist-card__info">
						<div class="name">Srinivas Achar</div>
						<div class="brief">
								Srinivas Achar is a guitarist from Bangalore who has shared the stage with eminent musicians in the music industry like Smt.Chandrika Gururaj, Smt Ratnamala Prakash, Shri Puttur Narasimha Nayak, Shir Srinivas Udupa and many more. 
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/saptarang/artist/v_umesh.jpg" alt="V Umesh"></div>
					<div class="artist-card__info">
						<div class="name">V Umesh</div>
						<div class="brief">
								V Umesh is  an accomplished keyboard player, compere and also a director who has played in various concerts where the giants of music like P.B.S, Janaki amma, Praveen Ghodkindi, Shivamani and others. He has worked in the field of Kannada Movies as well.
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/saptarang/artist/pramath-kiran.jpg" alt="Vidwan Pramath Kiran"></div>
					<div class="artist-card__info">
						<div class="name"><small>Vidwan</small> Pramath Kiran</div>
						<div class="brief">
								Pramath Kiran is India’s most versatile percussion artist who plays an array of instruments like Tabla and Morsing and has special interest in Afro-cuban styles and latin percussion. 
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/saptarang/artist/varun_pradeep.jpg" alt="Varun Pradeep"></div>
					<div class="artist-card__info">
						<div class="name">Varun Pradeep</div>
						<div class="brief">
								Varun Pradeep is a keyboard player based in Bangalore. He has been a part of several concerts and played alongside popular drummer Arun Kumar, singer Vijay Prakash and many other names in the music industry. 
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/saptarang/artist/bruthva_caleb.jpg" alt="Bruthuva Caleb"></div>
					<div class="artist-card__info">
						<div class="name">Bruthuva Caleb</div>
						<div class="brief">
								Bruthva is a bass guitarist, pianist and a choir conductor based in Bangalore. He has been a part of several concerts and played alongside popular drummer Arun Kumar, singer Vijay Prakash and many other names in the music industry. 
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/saptarang/artist/pradyumna.jpg" alt="Pradyumna Soraba"></div>
					<div class="artist-card__info">
						<div class="name">Pradyumna Soraba</div>
						<div class="brief">
								Pradyumna Soraba is a Tabla player based in Bangalore who has shared the stage with artists like Pandit Pravin Godkindi and Gino Banks.
						</div>
					</div>
				</div>
			</div>
			<div class="grid-col">
				<div class="artist-card">
					<div class="artist-card__media"><img src="assets/saptarang/artist/shadaj_godkhindi.jpg" alt="Shadaj Godkhindi"></div>
					<div class="artist-card__info">
						<div class="name">Shadaj Godkhindi </div>
						<div class="brief">
								Shadaj Godkhindi is an upcoming Hindustani classical fluatist. A young and talented musician as Shadaj hails from a family of musicians and has performed several times along with his father Pandit Pravin Godkhindi and uncle Kiran Godkhindi. 
						</div>
					</div>
				</div>
			</div>
		</div><!-- artist end -->

		<div class="event-ops-discrptn">
			<div class="event-dis-ops-logo">
				<img src="assets/saptarang/ops_black.svg" alt="">
			</div>
			<div class="event-dis-ops">
					<b>One Page Spotlight</b> is envisioned to be a social and professional networking platform
					for the creative community across the globe. We desire to be a part of every creators journey as enablers to
					Entertain and Inspire the World. Providing an unique platform beyond borders and connecting everyone
					from the creative and entertainment industry to create, connect and collaborate for better and bigger,
					is our vision for everyone.
			</div>
			<a routerLink="/login" class="watch-now-btn">Register</a>
		</div>
	</section>

	<section class="event-footer">
		<div class="event-footer-contianer">
			<div class="event-footer-copyright">Copyright © 2020. One Page Spotlight All Rights Reserved </div>
			<div class="event-footer-social-icons">
				<a href="https://www.facebook.com/onepagespotlight/" target="_blank" class="event-footer-social-icons__item"><img src="assets/saptarang/social_media/fb.svg" alt=""></a>
				<a href="https://twitter.com/1pagespotlight" target="_blank" class="event-footer-social-icons__item"><img src="assets/saptarang/social_media/tw.svg" alt=""></a>
				<a href="https://www.instagram.com/onepagespotlight" target="_blank" class="event-footer-social-icons__item"><img src="assets/saptarang/social_media/in.svg" alt=""></a>
				<a href="https://www.youtube.com/c/onepagespotlight" target="_blank" class="event-footer-social-icons__item"><img src="assets/saptarang/social_media/yt.svg" alt=""></a>
				<a href="https://www.linkedin.com/company/one-page-spotlight/" target="_blank" class="event-footer-social-icons__item"><img src="assets/saptarang/social_media/ln.svg" alt=""></a>
			</div>
		</div>
	</section>
</div>