<!-- <div class="o-card o-card-suggestion" >
    <div class="text-md f500">{{ title }}</div>
    <ngx-slick-carousel class="carousel" 
           #slickModal="slick-carousel" 
           [config]="slideConfig"
           (init)="slickInit($event)"
           (breakpoint)="breakpoint($event)" 
           (afterChange)="afterChange($event)" 
           (beforeChange)="beforeChange($event)"
    >
        <div ngxSlickItem *ngFor="let user of suggestions">
            <opspot-card-user [cardType]="'user2'" [object]="user.entity"></opspot-card-user>
        </div>
    </ngx-slick-carousel>
    <button class="btn-prev" (click)="slickModal.slickPrev()">prev</button>
    <button class="btn-next" (click)="slickModal.slickNext()">next</button>
</div> -->

<div class="o-card o-card-suggestion" *ngIf= "suggestions && suggestions.length > 0" >
    <div class="text-md f500 p-b-10">Suggestions for you</div>
    <div class="wrapper">
        <opspot-card *ngFor="let user of suggestions" class="suggestion-card" [cardType]="'user2'" [object]="user.entity"></opspot-card>
    </div>
</div>

<style>

.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.suggestion-card {
    /* width: 285px; */
    width: 100%;
    margin: 6px 4px;
    float: left;
}
.suggestion-card:first-child {
    /* margin-left: 0; */
}
.suggestion-card:last-child {
    /* margin-right: 0; */
}
.p-b-10 {
    padding-bottom: 10px;
}
</style>
