<div class="o-create-show-timez" id="o-create-show-timez">
    <div class="o-create-show-timez-head o-create-show-timez-head--border">
        <div class="o-create-show-timez__title text-lg f500" id="#showtimez">{{label}} a post
            <span class="o-create-dropdown-style">
                <span class="text-md primary f500" >On #Showtimez<span class="icon-x" id="showtimez-exit"
                        (click)="changeToDefault()"></span></span>
            </span>
        </div>
        <div class="close" (click)="close()" id="showtimez-close"><i class="icon-x"></i></div>
    </div>
    <!--boost head end-->
    <form [formGroup]="showTimezForm">
        <div class="o-create-show-timez-body o-create-show-timez-body--flex">
            <div class="form-group">
                <label>Title</label>
                <input type="text" id="showtimez-title" class="form-control form-control-lg" formControlName="eventTitle">
                <div class="error text-sm" *ngIf="eventSubmitted && showTimezForm.get('eventTitle').errors?.required">
                    This is required</div>
            </div>

            <!--Event Title-->
            <div class="form-group">
                <label>Description
                    <!-- <span class="text-sm grey description-width">21/300</span> -->
                </label>
                <textarea class="form-control" id="showtimez-description" rows="5" formControlName="eventDescription"></textarea>
                <div class="error text-sm"
                    *ngIf="eventSubmitted && showTimezForm.get('eventDescription').errors?.required">
                    This is required</div>
            </div>
            <!--Event Description-->
            <div class="form-group">
                <label>Location</label>
                <input type="text" id="showtimez-location" class="form-control form-control-lg" formControlName="eventsLocation">
                <div class="error text-sm"
                    *ngIf="eventSubmitted && showTimezForm.get('eventsLocation').errors?.required">
                    This is required</div>
            </div>
            <!--Event Location-->
            <div class="o-create-show-timez-date-time">
                <div class="form-group">
                    <label>Date</label>
                    <input type="text" id="showtimez-date" class="form-control form-control-lg" [textMask]="{mask: dateMask}"
                        placeholder="DD-MM-YYYY" formControlName="eventdate">
                    <div class="error text-sm"
                        *ngIf="eventSubmitted && showTimezForm.get('eventdate').errors?.required">
                        This is required</div>
                    <!-- <input type="text" class="form-control form-control-lg" placeholder="Select Date" formControlName="eventdate" bsDatepicker [bsConfig]="bsConfig">
                    <div class="error text-sm" *ngIf="eventSubmitted && showTimezForm.get('eventdate').errors?.required">
                        This is required
                    </div> -->
                    <div class="error text-sm" *ngIf="showTimezForm.get('eventdate').errors?.invalidDate || showTimezForm.get('eventdate').errors?.oldate">
                        Please choose a valid date.
                    </div>
                </div>
                <!--Date Location-->
                <div class="form-group ml-18">
                    <label>Time</label>
                    <input type="text" id="showtimez-time" class="form-control form-control-lg" placeholder="HH:MM"
                        [textMask]="{mask: timeMask}" (keyup)="changeRegex($event)" formControlName="eventTime">
                    <div class="error text-sm"
                        *ngIf="eventSubmitted && showTimezForm.get('eventTime').errors?.required">
                        This is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Cover Image</label>
                <div class="o-create-show-timez-cover-image">
                    <div class="fileUpload" id="fileUpload" *ngIf="this.cards.length == 0">
                        <span class="icon-plus"></span>
                        <input type="file" id="file" accept="image/jpg, image/jpeg, image/png" #file class="upload upload--showtym" name="attachment"
                            (change)="uploadAttachment(file, $event)" formControlName="eventImage">
                    </div>
                    <!--file upload ends-->
                    <div class="fileUpload-preview ml-18" *ngFor="let image of cards">
                        <a class="o-create-show-timez-cover-image__avatar" id="o-create-show-timez-cover-image__avatar">
                            <a class="fileUpload-close-temp" (click)="removeAttachment(file,image.guid)"><i
                                    class="icon-x" id="showtimez-remove-cover"></i></a>
                            <img [src]="image.src" alt="">
                        </a>
                    </div>
                    <!--file preview ends-->
                </div>
                <div class="text-sm grey">The dimensions for cover image is 797px x 275px </div>
            </div>
        </div>
        <div *ngIf="inProgress" class="mdl-progress mdl-progress__indeterminate initial-loading is-upgraded">
            <div class="progressbar bar bar1" style="width: 0%;"></div>
            <div class="bufferbar bar bar2" style="width: 100%;"></div>
            <div class="auxbar bar bar3" style="width: 0%;"></div>
        </div>
        <!--body ends-->
        <div class="o-create-show-timez-footer">
            <button type="button" id="showtimez-submit" class="btn btn-primary btn-sm" [disabled]="!showTimezForm.valid || inProgress"
                (click)="eventSubmit()">Post</button>
            <!--for event page-->
        </div>
    </form>
</div>