m-post-menu {
  position: relative;
  .opspot-dropdown-menu {
    z-index: 10000;
  }
  .text-lg {
    color: #263238;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
  }
  .o-delete__content {
    margin: 39px 0px 48px;
    text-align: center;
  }
}
