<section class="o-enrolment-sec">
  <div class="container-enrolment">
      <div class="container hidden-above-tablet o-search-filter-mob-header">
          <div class="without-nav-header o-reg-skill-mob-header">
              <a href="home.html"><i class="icon-arrow-left"></i> </a>
              <h4 class="without-nav-header__title f500">Enrolment</h4>
          </div>
      </div>
      <!-- without nav header end -->
      <div class="o-enrolment">
          <div class="o-enrolment-baner">
              <img src="https://opspot-v1.netlify.com/assets/enrolment/enrolment-banner.jpg">
          </div>
          <!--banner ends-->
          <div class="o-enrolment-body">
              <div class="o-enrolment-title" id="en_header">
                  <h4 class="f500">Bangalore Fashion Week</h4>
                  <button type="button" class="btn btn-outline-primary o-enrolment-title__button" id="en_share"><span class="icon-share-2 o-enrolment-title__icon"></span>Share</button>
              </div>
              <!--title ends-->
              <div class="o-enrolment-block o-enrolment-marginb51">
                  <div class="o-enrolment-block__left">
                      <div class="text-lg grey">
                          22 Jan 2020 - 28 Jan 2020
                          <br> 10:00 AM - 04:00 PM
                      </div>
                  </div>
                  <!--left ends-->
                  <div class="o-enrolment-block__right">
                      <div class="o-enrolment-info">
                          <div class="o-enrolment-info__item">
                              <div class="text-lg grey">
                                  Duration
                              </div>
                              <div class="text-lg f500">
                                  6 Hours
                              </div>
                          </div>
                          <!--item ends-->
                          <div class="o-enrolment-info__item">
                              <div class="text-lg grey">
                                  Gender
                              </div>
                              <div class="text-lg f500">
                                  All
                              </div>
                          </div>
                          <!--item ends-->
                          <div class="o-enrolment-info__item">
                              <div class="text-lg grey">
                                  Includes
                              </div>
                              <div class="text-lg f500">
                                  Snacks
                              </div>
                          </div>
                          <!--item ends-->
                          <div class="o-enrolment-info__item">
                              <div class="text-lg grey">
                                  Price
                              </div>
                              <div class="text-lg f500">
                                  ₹ 3000.00
                              </div>
                          </div>
                          <!--item ends-->
                      </div>
                      <!--info ends-->
                  </div>
                  <!--right ends-->
              </div>
              <!--block ends-->
              <div class="o-enrolment-block o-enrolment-marginb51">
                  <div class="o-enrolment-block__left">
                      <h4>What you will do?</h4>
                  </div>
                  <!--left ends-->
                  <div class="o-enrolment-block__right">
                      <p class="o-enrolment-marginb25 text-md">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>

                      <p class="text-md">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                      </p>
                  </div>
                  <!--right ends-->
              </div>
              <!--block ends-->
              <div class="o-enrolment-block o-enrolment-marginb51">
                  <div class="o-enrolment-block__left">
                      <h4>Gallery</h4>
                  </div>
                  <!--left ends-->
                  <div class="o-enrolment-block__right o-enrolment-block-gallery">
                      <img class="fs-gal" src="https://opspot-v1.netlify.com/assets/enrolment/gallery-1.jpg" data-url="https://opspot-v1.netlify.com/assets/enrolment/gallery-1.jpg" />
                      <!-- Alt tags can be used to display info in the gallery viewer. -->
                      <img class="fs-gal" src="https://opspot-v1.netlify.com/assets/enrolment/gallery-2.jpg" data-url="https://opspot-v1.netlify.com/assets/enrolment/gallery-2.jpg" />
                      <!-- The title tag can be used as well. -->
                      <img class="fs-gal" src="https://opspot-v1.netlify.com/assets/enrolment/gallery-3.jpg" data-url="https://opspot-v1.netlify.com/assets/enrolment/gallery-3.jpg" />
                      <img class="fs-gal" src="https://opspot-v1.netlify.com/assets/enrolment/gallery-4.jpg" data-url="https://opspot-v1.netlify.com/assets/enrolment/gallery-4.jpg" />
                      <img class="fs-gal" src="https://opspot-v1.netlify.com/assets/enrolment/gallery-5.jpg" data-url="https://opspot-v1.netlify.com/assets/enrolment/gallery-5.jpg" />
                      <!-- The title tag can be used as well. -->
                      <img class="fs-gal" src="https://opspot-v1.netlify.com/assets/enrolment/gallery-6.jpg" data-url="https://opspot-v1.netlify.com/assets/enrolment/gallery-6.jpg" />
                      <img class="fs-gal" src="https://opspot-v1.netlify.com/assets/enrolment/gallery-7.jpg" data-url="https://opspot-v1.netlify.com/assets/enrolment/gallery-7.jpg" />

                      <!-- Full screen gallery. -->
                      <div class="fs-gal-view">
                          <img class="fs-gal-prev fs-gal-nav" src="https://opspot-v1.netlify.com/assets/enrolment/prev.svg" alt="Previous picture" title="Previous picture" />
                          <img class="fs-gal-next fs-gal-nav" src="https://opspot-v1.netlify.com/assets/enrolment/next.svg" alt="Next picture" title="Next picture" />
                          <img class="fs-gal-close" src="https://opspot-v1.netlify.com/assets/enrolment/close.svg" alt="Close gallery" title="Close gallery" />
                          <img class="fs-gal-main" src="" alt="" />
                      </div>
                  </div>
                  <!--right ends-->
              </div>
              <!--block ends-->
              <div class="o-enrolment-block o-enrolment-marginb51">
                  <div class="o-enrolment-block__left">
                      <h4>Organiser</h4>
                  </div>
                  <!--left ends-->
                  <div class="o-enrolment-block__right">
                      <div class="o-enrolment-organiser">
                          <div class="o-enrolment-organiser__avatar">
                              <img src="https://opspot-v1.netlify.com/assets/demo/avatar.png">
                          </div>
                          <!--avatar ends-->
                          <div class="o-enrolment-organiser__title">
                              <h4>Maria Johnson</h4>
                          </div>
                          <!--title ends-->
                          <p class="text-md">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                          <button type="button" class="btn btn-outline-primary btn-lg o-enrolment-organiser__button" id="en_organiser">Contact Organiser</button>
                      </div>
                      <!--organisation ends-->
                  </div>
                  <!--right ends-->
              </div>
              <!--block ends-->
              <div class="o-enrolment-block o-enrolment-marginb51">
                  <div class="o-enrolment-block__left">
                      <h4>Location</h4>
                  </div>
                  <!--left ends-->
                  <div class="o-enrolment-block__right">
                      <div class="text-md o-enrolment-marginb25">46/1, Cobalt Building, Church St, Haridevpur, Shanthala Nagar, Ashok Nagar, Bengaluru, Karnataka 560001</div>
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15551.578684586897!2d77.59631589802174!3d12.978588157239418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae167c7ba9de6b%3A0x7ccd21aeaf2063d0!2sChurch%20Street%20Social!5e0!3m2!1sen!2sin!4v1577183301377!5m2!1sen!2sin" width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                  </div>
                  <!--right ends-->
              </div>
              <!--block ends-->
              <div class="o-enrolment-block">
                  <div class="o-enrolment-block__left">
                      <h4>Registration Form</h4>
                  </div>
                  <!--left ends-->
                  <div class="o-enrolment-block__right">
                      <div class="o-entrolment-form">
                          <form>
                              <div class="o-entrolment-form__item">
                                  <div class="form-group">
                                      <label>Full Name</label>
                                      <input type="text" name="Full Name" id="full name" class="form-control form-control-lg">
                                  </div>
                                  <div class="form-group o-enrolment-marginl13">
                                      <label>Email</label>
                                      <input type="text" name="Email" id="email" class="form-control form-control-lg">
                                  </div>
                              </div>
                              <!--item ends-->
                              <div class="o-entrolment-form__item">
                                  <div class="form-group">
                                      <label>Phone Number</label>
                                      <input type="text" name="phone number" id="phone number" class="form-control form-control-lg">
                                  </div>
                                  <div class="form-group o-enrolment-marginl13">
                                      <label>Location</label>
                                      <input type="text" name="location" id="location" class="form-control form-control-lg">
                                  </div>
                              </div>
                              <!--item ends-->
                              <div class="text-md">
                                  <label>Select Gender</label>
                              </div>
                              <div class="o-entrolment-form__item">
                                  <div class="form-group o-enrolment-gender">
                                      <div class="radiobutton">
                                          <input type="radio" name="radios" id="radio_1">
                                          <label for="radio_1">Male</label>
                                      </div>
                                  </div>
                                  <div class="form-group o-enrolment-marginl13 o-enrolment-gender">
                                      <div class="radiobutton">
                                          <input type="radio" name="radios" id="radio_2">
                                          <label for="radio_2">Female</label>
                                      </div>
                                  </div>
                                  <div class="form-group o-enrolment-marginl13 o-enrolment-gender">
                                      <div class="radiobutton">
                                          <input type="radio" name="radios" id="radio_3">
                                          <label for="radio_3">Others</label>
                                      </div>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label>Share your One Page Spotlight Link
                                      <a class="icon-info o-enrolment-btninfo"></a>
                                  </label>
                                  <input type="text" name="link" id="Link" class="form-control form-control-lg">
                              </div>
                              <div class="form-group">
                                  <label>Any Comments</label>
                                  <textarea class="form-control" rows="7" value="Textarea" id="comments"></textarea>
                              </div>
                              <a href="enrolment_confirmed.html" target="_blank">
                                  <button type="button" class="btn btn-primary o-entrolment-form__button" id="en_payment">Proceed to Payment</button>
                              </a>
                          </form>
                      </div>
                      <!--form ends-->
                  </div>
                  <!--right ends-->
              </div>
              <!--block ends-->
          </div>
          <!-- enrolment body ends-->
      </div>
      <!--enrolment ends-->
  </div>
  <!--container-->
</section>