<!-- <div class="m-helpDesk__hero m-layout__hero">
</div>

<div class="m-page m-helpdesk__wrapper">

  <div class="m-page__sidebar">
    <a class="m-helpdeskQuestions__goBack" routerLink="/help">
      <i class="material-icons">
        keyboard_arrow_left
      </i>
      <span>Back to Help Desk</span>
    </a>

    <m-helpdesk--questions--search>
    </m-helpdesk--questions--search>

    <m-helpdesk--questions--suggested
      type="category"
      [question]="question"
      *ngIf="question.category_uuid"
    >
    </m-helpdesk--questions--suggested>

    <div class="opspot-spacer"></div>

    <m-helpdesk--questions--suggested
      type="popular"
    >
    </m-helpdesk--questions--suggested>

    <div class="opspot-spacer"></div>

    <div class="m-border m-helpdeskQuestions__bigItem m-helpdeskQuestions__bigItem--help-and-support"
      routerLink="/group/profile/100000000000000681">
      <img [src]="opspot.cdn_assets_url + 'assets/help-desk/chat.png'">
      <div class="m-helpdeskQuestionsBigItem__text">
        <h3 class="m-helpdeskQuestionsBigItem__title">
          Help & Support Group
        </h3>
        <p class="m-helpdeskQuestionsBigItem__subtext">
          Get help from the wider One Page Spotlight community
        </p>
      </div>
    </div>
  </div>

  <div class="m-page--main">
  
    <div class="m-helpdeskQuestions__question m-helpdeskQuestions__question--full m-border">
      <h1>{{question.question}}</h1>
      <div class="m-helpdeskQuestions__adminContainer"
           *ngIf="session.isAdmin()"
      >
        <a
          class="m-helpdeskQuestions__editIcon"
          [routerLink]="'/help/question/edit/' + question.uuid"
        >
          <i class="material-icons">
            edit
          </i>
        </a>
        <a
          class="m-helpdeskQuestions__deleteIcon"
          (click)="delete()"
        >
          <i class="material-icons">
            delete
          </i>
        </a>
      </div>
      <p class="m-helpdeskQuestions__answer"
        [innerHTML]="question.answer | safe">
      </p>

      <div class="m-helpdeskQuestions__feedback">
        <div
          (click)="castVote('up')"
        >
          <span class="icon-ops-spot" [ngClass]="{'selected': hasVoted('up') }"></span>
          <span class="opspot-counter" *ngIf="question['thumbs_up_count'] > 0">{{question['thumbs_up_count'] | number}}</span>
        </div>
        <div
          (click)="castVote('down')"
        >
          <i class="material-icons" [ngClass]="{'selected': hasVoted('down') }">thumb_down</i>
          <span class="opspot-counter" *ngIf="question['thumbs_down_count'] > 0">{{question['thumbs_down_count'] | number}}</span>
        </div>
      </div>
    </div>

    <m-helpdesk--questions--related
      [question]="question"
      *ngIf="question.uuid"
    >
    </m-helpdesk--questions--related>

  </div>
</div> -->


<section class="o-help-sec">
  <div class="container">
    <div class="o-help-inner-main">
      <div class="breadcrumbs">
        <a class="breadcrumbs__link text-md f500" routerLink="/help">Back to Help</a>
        <i class="icon-arrow-right"></i>
        <span class="breadcrumbs__current-page text-md f500">{{question.question}}</span>
      </div><!-- breadcrumbs end -->
      <h2>{{question.question}}</h2>
      <p class="text-md" [innerHTML]="question.answer | safe">
      </p>
      <h5 class="f500" *ngIf="isCommon">Watch Tutorial </h5>
      <iframe *ngIf="question.category_uuid === 'a9bae4b8-2a54-457a-8485-49f16e7e948d'" width="560" height="315" src ="https://www.youtube.com/embed/feZUWIIFklU" frameborder="0" allowfullscreen></iframe>
      <iframe *ngIf="question.category_uuid === '12dcae9d-eb37-42e5-bf3a-9d244987c4bf'" width="560" height="315" src ="https://www.youtube.com/embed/YefuqEqKWG8" frameborder="0" allowfullscreen></iframe>
      <iframe *ngIf="question.category_uuid === 'd5221dc3-2ddc-4b83-bc19-225d56ce2dca'" width="560" height="315" src ="https://www.youtube.com/embed/TnhPWj_k8DA" frameborder="0" allowfullscreen></iframe>
      <iframe *ngIf="question.category_uuid === 'b554a4ae-8fc7-46c0-bfbb-bd6698d89d92'" width="560" height="315" src ="https://www.youtube.com/embed/LmzPSsG7h7w" frameborder="0" allowfullscreen></iframe>
      <iframe *ngIf="question.category_uuid === '1c39aaf1-21fc-4bcb-bce0-954f697d0e90'" width="560" height="315" src ="https://www.youtube.com/embed/3p8VrA_8WS4" frameborder="0" allowfullscreen></iframe> 
    <h5 class="f500">Related articles</h5>
      <div class="o-help-inner-related-articles">
        <a [routerLink]="['/help/question', related.uuid]" class="o-help-inner-related-articles__link" *ngFor="let related of relatedQuestions">{{related.question}}</a>
        <!-- <m-helpdesk--questions--suggested type="category" [question]="question" *ngIf="question.category_uuid">
        </m-helpdesk--questions--suggested>temp fix to get related questions for a category since related api end point has got issues. -->
      </div>
    </div><!-- inner main div end -->
  </div><!-- container end -->
</section><!-- section end -->