<div class="o-card feed">
    <div class="feed-head">
        <a class="o-avatar"><img [src]="opspot.cdn_url + 'icon/' + boost.owner.guid + '/medium/' + getOwnerIconTime()" alt=""></a>
        <div class="o-avatar__info">
            <div class="o-avatar-det-block">
                <span class="text-md grey o-posts-det"><a class="o-avatar__name">{{boost.owner.name}}</a></span>
            </div>
            <div class="grey m-l-8 o-posts-tym">
                <span>{{boost.time_created * 1000 | date:'medium'}}</span> 
                <span class="o-posts-public-private"><i class="icon-public"></i></span>
            </div>
        </div><!--avatar info end-->
        <div class="o-posts-discription">
            <p class="text-md grey-darker" [innerHtml]="boost.entity.message | tags"> 
            </p>
        </div>
    </div><!-- feed head end -->
    <div class="feed-media" *ngIf="boost?.entity?.custom_data" [routerLink]="['/media', boost.guid]">
        <a *ngFor="let media of boost.entity.custom_data | slice:0:3; let i = index;" class="feed-media__link">
            <!-- [style.backgroundImage]="'url(' + media.src + ')'" -->
            <img [src]="media.src" alt="" class="feed-media__img" *ngIf="media.entity_type !== 'video'"
              (error)="media.src = opspot.cdn_assets_url + 'assets/logos/logo.svg'">
            <img [src]="media.thumbnail_src" alt="" class="feed-media__img" *ngIf="media.entity_type === 'video'"
              (error)="media.thumbnail_src = opspot.cdn_assets_url + 'assets/logos/logo.svg'">
            <div *ngIf="i >= 2 && boost?.entity?.custom_data.length > 4" class="feed-media-overlay">
              <h3 class="white">+{{ boost.entity.custom_data.length - 3}}</h3>
            </div>
            <div class="feed-media-overlay" *ngIf="media.entity_type === 'video'">
              <div class="feed-media-video__icon"><img src="assets/svg/playfill.svg" alt=""></div>
            </div>
          </a>
    </div><!--feed media end-->
    <div class="o-boost-console-boosted-details">
        <div class="o-boost-console-boosted-details__left">
            <div class="mr-30">
                <div class="text-sm grey">
                    Views so far 
                </div>
                <div class="text-sm f500">
                    {{boost.entity.impressions}} out of {{boost.impressions}} 
                </div>
            </div>
            <div *ngIf="boost.state !=='rejected'">
                <div class="text-sm grey">
                    Target
                </div>
                <div class="text-sm f500">
                    {{boost.impressions}}
                </div>
            </div>
            <div *ngIf="boost.state == 'rejected'">
                <div class="text-sm grey">
                    Boosted Status
                </div>
                <!-- <div class="text-sm f500">
                    Rejected<span class="icon-info"></span> 
                </div> -->
                <div>
                    <span class="text-sm f500">{{boost.state}}

                    </span>
                    <!-- <span class="tooltiptext">
                        Encourages violence
                        among users Learn more
                    </span> -->
                </div>
            </div>
        </div>
        <div class="o-boost-console-boosted-details__right" *ngIf="boost.state !=='rejected'">
            <button type="button" class="boost-button btn btn-sm"><span class="text-md">Boosted</span></button>
        </div>
    </div>
</div>