<div class="m--spam-notice" *ngIf="user?.spam">
  <ng-container *ngIf="user?.spam" i18n="@@OPSPOT__CHANNELS__FLAGGED_AS_SPAM">This user was flagged as spam.
  </ng-container>
  <ng-container *ngIf="user?.deleted" i18n="@@OPSPOT__CHANNELS__FLAGGED_AS_DELETED">This user was flagged as deleted.
  </ng-container>

  <ng-container *ngIf="!session.isAdmin()" i18n="@@M__ACTION__APPEAL_MARK">
    If you wish to appeal, please check your <a routerLink="/settings/reported-content">Reported Content console</a>.
  </ng-container>
</div>

<div [hidden]="user || error" style="width:100%; text-align:center; ">
  <div class="mdl-spinner mdl-js-spinner is-active" [mdl] style="margin: 16px auto;"></div>
</div>
<div class="m-error-splash" *ngIf="error && !user">
  <img [src]="opspot.cdn_assets_url + 'assets/logos/logo.svg'">
  <h3 class="">{{error}}</h3>
  <span class="mdl-color-text--blue-grey-300" i18n="@@OPSPOT__CHANNELS__ERROR_CHECK_USERNAME">Please check the
    username</span>
</div>

<header [hidden]="!isLocked"></header>

<header *ngIf="user" [ngClass]="{'isLocked': isLocked}">
  <m-channel--carousel
    [banners]="user.carousels"
    [editMode]="editing"
    (done)="updateCarousels($event)"
    (delete)="removeCarousel($event)"
  ></m-channel--carousel>
  <a *ngIf="isOwner() && !editing" (click)="toggleEditing($event)" class="o-cover-edit" id="channel-cover-image-edit">
    <i class="icon-edit-profile"></i>
  </a>
  <!-- TODO @gayatri: please ask for the icons for action below -->
  <a *ngIf="isOwner() && editing" (click)="toggleEditing($event)" class="o-cover-edit" id="channel-cover-image-save">
    <i class="icon-save"></i>
  </a>
</header>


<div class="mdl-grid channel-grid m-channel--blocked" style="max-width:900px" *ngIf="user && user?.blocked">
  <h3 class="mdl-color-text--blue-grey-300" i18n="@@OPSPOT__CHANNELS__BLOCKED_NOTICE">You have blocked
    @{{user.username}}</h3>
  <a (click)="unBlock()" i18n="@@OPSPOT__CHANNELS__UNBLOCK_ACTION">Click to Unblock</a>
</div>

<div class="container">
  <div class="o-blocks o-blocks--flex" style="max-width:1190px" *ngIf="user && !user?.blocked">
    <section class="o-left-block o-left-block--prof">
      
      <m-channel--sidebar [user]="user" [editing]="editing" (changeEditing)="toggleEditing($event)" [displayBookmark]="displayBookmark">
      </m-channel--sidebar>
      
    </section>

    <!-- Feed list -->
    <section class="o-center-block" *ngIf="filter !== 'subscribers' && filter !== 'subscriptions'">
      <div class="tabs">
        <ul class="tabs-list">
          <li [class.active]="isActive('feed')"><a [routerLink]="['/', user.username, 'feed']" id="channel-feed-tab">Feed</a></li>
          <!-- <li><a [routerLink]="['/', user.username, 'groups']">Community</a></li> -->
          <li [class.active]="isActive('event')"><a [routerLink]="['/', user.username, 'event']" id="channel-event-showtimez-tab">Event/Showtimez</a></li>
          <li [class.active]="isActive('opportunity')"><a [routerLink]="['/', user.username, 'opportunity']" id="channel-opportunity-tab">Opportunity</a></li>
          <li [class.active]="isActive('marketplace')"><a [routerLink]="['/', user.username, 'marketplace']" id="channel-thebluestore-tab">TheBlueStore</a></li>
          <li [class.active]="isActive('blog')"><a [routerLink]="['/', user.username, 'blog']" id="channel-blog-tab">Blog</a></li>
        </ul>
      </div>
      <m-channel--feed [user]="user" *ngIf="filter === 'feed'" #feed></m-channel--feed>
      <m-channel--filter [user]="user" [filter]="filter" *ngIf="filter !== 'feed'"></m-channel--filter>
    </section>

    <section class="o-right-block hidden-under-desktop">
      <div class="sticky-card-wrapper">
        <app-myjourney-widget [user]="user"></app-myjourney-widget>
      </div>
    </section>

    <!-- Supporters list -->
    <section class="mdl-cell mdl-cell--8-col" *ngIf="filter == 'supporters'">

      <m-channel--supporters [channel]="user" class="mdl-grid"></m-channel--supporters>

    </section>

    <!-- Subscriptions list -->
    <section class="o-center-block" *ngIf="filter == 'subscriptions'">

      <div class="mdl-card m-channel--subscribers-tabs">
        <div class="mdl-tabs__tab-bar">
          <a [routerLink]="['/', user.username, 'subscribers']" class="mdl-tabs__tab tti"
            [ngClass]="{ 'is-active': filter === 'subscribers' }"
            i18n="@@OPSPOT__CHANNELS__SUBSCRIBERS_WITH_COUNT">Followers ({{user.subscribers_count}})</a>
          <a [routerLink]="['/', user.username, 'subscriptions']" class="mdl-tabs__tab tti"
            [ngClass]="{ 'is-active': filter === 'subscriptions' }"
            i18n="@@OPSPOT__CHANNELS__SUBSCRIPTIONS_WITH_COUNT">Following ({{user.subscriptions_count}})</a>
        </div>
      </div>

      <m-channel--subscriptions [channel]="user" class="mdl-grid" (followingStatus)="statusFollowing($event)"></m-channel--subscriptions>

    </section>

    <!-- Subscriptions list -->
    <section class="o-center-block" *ngIf="filter == 'subscribers'">

      <div class="mdl-card m-channel--subscribers-tabs">
        <div class="mdl-tabs__tab-bar">
          <a [routerLink]="['/', user.username, 'subscribers']" class="mdl-tabs__tab tti"
            [ngClass]="{ 'is-active': filter === 'subscribers' }"
            i18n="@@OPSPOT__CHANNELS__SUBSCRIBERS_WITH_COUNT">Followers ({{user.subscribers_count}})</a>
          <a [routerLink]="['/', user.username, 'subscriptions']" class="mdl-tabs__tab tti"
            [ngClass]="{ 'is-active': filter === 'subscriptions' }"
            i18n="@@OPSPOT__CHANNELS__SUBSCRIPTIONS_WITH_COUNT">Following ({{user.subscriptions_count}})</a>
        </div>
      </div>

      <m-channel--subscribers [channel]="user" class="mdl-grid" (followingStatus)="statusFollowing($event)"></m-channel--subscribers>

    </section>

  </div>
</div>

<m-channel--explicit-overlay [channel]="user"></m-channel--explicit-overlay>

<m-modal class="email-verification-modal" open='true' *ngIf="emailVerificationModal">
  <div class="msg-thank-you">
    <h3 class="wrapper">
      <ng-container *ngIf="emailVerificationSuccess">
        Thank you, for verifying your email id.
      </ng-container>
      <ng-container *ngIf="emailVerificationFail">
        {{emailVerificationFail}}
      </ng-container>
    </h3>
  </div>
</m-modal>

<style>
  /* m-modal.email-verification-modal {
    min-height: auto;
  }
  .m-modal .m-modal-container .mdl-card {
    min-height: auto;
  }
  .m-modal .m-modal-container .mdl-card .wrapper {
    padding: 30px;
  } */
  /* .modalCls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .tabs {
    padding: 0;
  }
  .tabs .tabs-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #dde4e8;
    display: flex;
    margin-bottom: 9px;
    display: inline-block;
  }
  .tabs .tabs-list li.active {
    color: #0288D1 !important;
    border-bottom: 2px solid #0288D1;
  }
  .tabs .tabs-list li {
    float: left;
    margin: 0px;
    margin: 15px 12px 0px;
    text-align: center;
    background-color: transparent;
  }
  .tabs .tabs-list li.active {
    color: #0288D1 !important;
    border-bottom: 2px solid #0288D1;
  }
  .active {
    display: block !important;
  }
  .sticky-widget {
    position: sticky;
    top: 70px;
  }
  .tti {
    text-transform: initial;
  } */
</style>
