@import "src/assets/helpers/variables";
@import "node_modules/sass-mq/_mq";

//section style
.o-Edashboard-sec{
    width: 100%;
    background-color: #FAFAFA;
    float: left;
    min-height: 92vh;
}

//container enrolment
.container-Edashboard{
    max-width: 1069px;
    margin: auto auto;
    width: 100%;
    height: calc(100vh - 80px);
    ::placeholder{
        color:grey;
    }
}
//padding
.o-Edashboard-margnl20r15{
    margin-left:20px;
    margin-right:15px
}
.o-Edashboard-marginr10{
    margin-right:10px;
}
.o-Edashboard-marginl10{
    margin-left:10px;
}
//main haeder style
.o-Edashboard-main-header {
    flex-direction: column;
    width: 100%;
    position: sticky;
    display: flex;
    align-content: space-between;
    top: 0;
    background-color: #FAFAFA;
    z-index:99999999;
}

//title enrolment
.o-Edashboard-tittle{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin:16px 0px;
    &__icon{
        font-size:18px!important;
        color:$white!important;
        margin-left:16px!important;
    }
    &__btn{
        padding: 8px 19px!important;
    }
}

//filter style
.o-Edashboard-filter{
    display: flex;
    justify-content:space-between;
    position: relative;
    &__search{
        height: 40px;	
        width: 212px;
    }
    &__options{
        display: flex;
        justify-content:space-between;
        font-size: 14px!important;
        align-items: center;
    }
    &__input{
        padding-left: 30px;
        border: 1px solid #ECEFF1;
    }
    &__icon{
        position: absolute;
        top: 12px;
        font-size: 15px!important;
        left: 10px;
    }
    &__btn{
        border: 1px solid #ECEFF1;
        border-radius: 4px;
        background-color: #FFFFFF;
        font-weight: inherit;
        padding: 10px 15px;
        color:$grey;
        margin-left:15px;
        font-size: 14px!important;
        &:active, &:hover, &:focus{
            border: 1px solid #0288D1;
            color:$primary;
        }
    }
}

//entries
.o-Edashboard-entries{
    margin:14px 0px 15px 0;
    font-size:14px;
    &__input{
        width:100%;
        border:none;
        padding: 8px 16px;
        background:#fff;
        display: flex;
        align-items: center;
        text-align: center;
        &:focus{
            outline: none;
        }
    }
    &__icon{
      font-size:14px!important;
      color:$black!important;
      margin-right:9px;
    }
}

//body style
.o-Edashboard-body{
    border: 1px solid #ECEFF1;	
    border-radius: 0px 0px 4px 4px;	
    background-color: #FFFFFF;
    max-height: calc(100vh - 435px);
    overflow-y: scroll;
    .active{
      border-left:4px solid $primary;
      background-color: rgba(2,136,209,0.05);
    }
    &::-webkit-scrollbar {
      width: .5em;
    }
    
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }
}
//table style
.o-Edashboard-table-row {
    display: flex;           
    display: -webkit-flex;
    flex-direction: row;     
    -webkit-flex-direction: row;
    flex-grow: 0;            
    -webkit-flex-grow: 0;
    width: 100%;
    padding:16px;
    border-left:4px solid transparent;
}
  
// Wrappers around cells and other wrappers: flex, row, wrap
.o-Edashboard-wrapper {
    display: flex;          
    flex-grow: 0;            
    flex-wrap: wrap;
    align-items: center;
    .c-checkbox{
      margin-top: -7px;
    }
}
  
.text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 20px;
}
  
.o-Edashboard-header {
    border-radius: 4px 4px 0px 0px;
    padding: 16px;
    background-color: #ECEFF1;
    font-weight: 500;
    position: sticky;
    top: 0;
    z-index: 1;
}
.o-Edashboard-checkbox{
    width:50px;
}
.o-Edashboard-name{
    width:105px;
}
.o-Edashboard-email{
    width:185px;
}
.o-Edashboard-number{
    width:140px;
}
.o-Edashboard-gender{
    width:90px;
}
.o-Edashboard-location{
    width:100px;
}
.o-Edashboard-approved{
    width:120px;
}
.o-Edashboard-action{
    width:135px;
    &__icon{
      font-size:15px!important;
      border: 1px solid #ECEFF1;	
      border-radius: 4px;
      padding:8px;
      color:#263238!important;
    }
    .tooltiptext {
      font-size: 14px;
      margin-top: -30px;
      width: 80px;
      height: 29px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      /* padding: 5px 0; */
      position: absolute;
      z-index: 1;
      bottom: 6px;
      left: 50%;
      margin-left: -40px;
    }
  .tooltip .tooltiptext::after{
    content: "";
    position: absolute;
    top: 118%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
}
.o-Edashboard-status{
    width:80px;
    &__approve{
      box-sizing: border-box;	
      border: 1px solid rgba(144,164,174,0.2);	
      border-radius: 4px;	
      background-color: rgba(101,206,101,0.25);
      padding:4px 20px;
      font-weight: initial;
      display: flex;
      align-items: center;
    }
    &__reject{
      background-color: rgba(239,83,80,0.25);
      box-sizing: border-box;	
      border: 1px solid rgba(144,164,174,0.2);	
      border-radius: 4px;	
      padding: 4px 22px;
      font-weight: initial;
      display: flex;
      align-items: center;
    }
    &__pending{
      background-color:$white;
      box-sizing: border-box;	
      border: 1px solid rgba(144,164,174,0.2);	
      border-radius: 4px;	
      padding: 4px 24px;
      font-weight: initial;
      display: flex;
      align-items: center;
    }
}
.o-Edashboard-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 38px 0px;
    position: sticky;
    bottom: 0;
      &__icon{
        font-size: 13px!important;
        color:$black!important;
      }
      &__count{
        font-size:14px;
      }
      &__pagination{
        display: inline-block;
        a{
          color: $grey;
          float: left;
          padding: 11px;
          background:$white;
          text-decoration: none;
          border: 1px solid #ECEFF1;
          border-right:0!important;
          &:first-child, &:nth-child(2){
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            color:$black;
          }
          &:last-child, &:nth-last-child(2){
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            color:$black;
            border-right: 1px solid #ECEFF1!important;
          }
          &:active,&:hover, &:focus{
            background-color: $primary;
            color: white!important;
            font-weight: 500;
            border: 1px solid $primary;
              .o-Edashboard-footer__icon{
                color: white!important;
              }
          }
        }
      }
    &__page{
      display: flex;
      align-items: center;
      font-size:14px;
    }
    &__input{
      height: 36px;	
      width: 55px;
      border: 1px solid #ECEFF1;	
      border-radius: 4px;
      margin-right: 11px;
      padding:9px;
      &:focus{
        outline: none;
      }
    }
}
input[type="number"].mod::-webkit-outer-spin-button, 
input[type="number"].mod::-webkit-inner-spin-button {
    opacity: 1;
    margin-left:5px;
}
