<section class="o-portfolio-content-sec">
    <div class="container">
        <h2 class="mb26" id="portfolio-owner-portfolio">{{ channel?.name }}'s Portfolio</h2>
        <div class="o-portfolio-action">
            <form class="visible-mob">
                <div class="form-group">
                    <select class="form-control" (change)="onChange($event.target.value)">
                            <option value="activity" selected>All Media</option>
                            <option value="images" id="portfolio-action-image">Image</option>
                            <option value="audios" id="portfolio-action-audio">Audio</option>
                            <option value="videos" id="portfolio-action-audio">Video</option>
                            <option value="blogs" id="portfolio-action-audio">Blogs</option>
                    </select>
                </div>
            </form>
            <div class="o-portfolio-action__search">
                <div class="form-group c-form_righticon-lg">
                    <input type="text" id="portfolio-actions-search" class="form-control form-control-lg"
                        placeholder="Search" [(ngModel)]="q" name="q" autocomplete="off" #searchInput>
                    <span class="c-svg_eye"><i class="icon-search"></i></span>
                </div>
            </div>
        </div>
        <!--filter and search section-->
        <opspot-masonry-container [entities]="filteredArray"></opspot-masonry-container>

        <!-- TODO: load more -->
        <infinite-scroll distance="25%" (load)="searchMore()" [moreData]="moreData" [inProgress]="inProgress">
        </infinite-scroll>
    </div>
</section>