<section class="o-portfolio-content-sec">
    <div class="container">
        <h2 class="mb26">Gowtham Kumar’s Portfolio</h2>
        <div class="o-portfolio-action">
            <div class="o-portfolio-action__icons hidden-mob">
                <ul>
                  <li><i class="icon-image icon-hover"></i></li>
                  <li><i class="icon-film icon-hover"></i></li>
                  <li><i class="icon-mic icon-hover"></i></li>
                  <li><i class="icon-file-text icon-hover"></i></li>
                </ul>
            </div>
            <form class="visible-mob">
                <div class="form-group">
                    <select class="form-control">
                        <option>All Media</option>
                        <option>Image</option>
                        <option>Audio</option>
                        <option>Video</option>
                        <option>Blogs</option>
                    </select>
                </div>
            </form>
            <div class="o-portfolio-action__search">
                <div class="form-group c-form_righticon-lg">
                    <input type="text" class="form-control form-control-lg" placeholder="Serach">
                    <span class="c-svg_eye"><i class="icon-search"></i></span>
                </div>
            </div>
        </div><!--filter and search section-->
        <div class="o-portfolio-media-part">
            <div class="o-portfolio-media-part__row">
                <div class="o-portfolio-media-part__coloumn">
                   <div class="o-portfolio-card">
                      explore_card
                   </div>
                </div>
                <div class="o-portfolio-media-part__coloumn">
                    <div class="o-portfolio-card">
                      explore_video
                    </div>
                 </div>
                 <div class="o-portfolio-media-part__coloumn">
                    <div class="o-portfolio-card">
                      explore_blog
                    </div>
                 </div>
                 <div class="o-portfolio-media-part__coloumn">
                    <div class="o-portfolio-card">
                      explore_card
                    </div>
                 </div>
            </div>
        </div><!--media section-->
    </div>
</section>