<div class="o-card feed">
  <div class="feed-head">
      <a class="o-avatar" [hovercard]="activity.ownerObj.guid" [routerLink]="['/', activity.ownerObj.username]"><img [src]="opspot.cdn_url + 'icon/' + activity.ownerObj.guid + '/medium/' + getOwnerIconTime()" alt=""></a>
      <div class="o-avatar__info">
          <div class="o-avatar-det-block">
              <span class="text-md grey o-posts-det"><a class="o-avatar__name" [routerLink]="['/', activity.ownerObj.username]">{{activity.ownerObj.name}}</a>
              added {{activity.custom_data.length}} medias to <a class="grey-dark f500">#Photography</a></span>
          </div>
          <div class="grey m-l-8 o-posts-tym"><span>{{activity.time_created * 1000 | date:'medium'}}</span> <span class="o-posts-public-private"><i class="icon-public"></i></span></div>
      </div><!--avatar info end-->
      <div class="o-feed-head-action">
          <a href="javascript:void(0)" class="head-action__link">
              <!-- <img src="assets/svg/bookmark.svg" alt="" class="head-action__icon"> -->
              <i class="icon-bookmark"></i>
          </a>
          <div class="o-option-drop">
              <div onclick="myFunction()" class="o-option-drop__btn head-action__link"><img src="assets/svg/more-horizontal.svg" alt="" class="head-action__icon"></div>
              <div id="o-option-dropdown" class="o-option-drop__block">
                  <a href="javascript:void(0)">Edit</a>
                  <a href="javascript:void(0)">Delete</a>
              </div>
          </div>
      </div><!-- head action end -->
      <div class="o-posts-discription">
          <p class="text-md grey-darker" [innerHtml]="activity.message | tags">
          </p>
      </div><!-- post det end-->
  </div><!-- feed head end -->
  <div class="feed-media" *ngIf="activity.entity_type == 'image'">
    <a class="feed-media__link">
      <img [src]="activity.custom_data[0]?activity.custom_data[0].src:''" alt="" class="feed-media__img">
    </a>
  </div><!--feed media end-->
  <div class="feed-media" *ngIf="activity.entity_type == 'album'">
    <a class="feed-media__link" *ngFor="let imageDetails of activity.custom_data | slice:0:3;let i = index">
      <img [src]="imageDetails?imageDetails.src:''" alt="" class="feed-media__img">
      <div class="feed-media-overlay" *ngIf="i==2 && activity.custom_data.length > 3"><h3 class="white">+{{activity.custom_data.length-3}} </h3></div>
    </a>
  </div>
  <div class="feed-media" *ngIf="activity.entity_type == 'event'">
    <div class="feed-media-event-image">
        <img src="assets/demo/m3.jpg" alt="">
        <div class="event-date">
            <div class="text-red">11</div>
            <div class="text-md">SEP</div>
        </div>
    </div>
  </div>
  <!--feed media end-->
  <div class="feed-card-event-block" *ngIf="activity.entity_type == 'event'">
      <div class="feed-card-event-block__left">
          <div class="text-lg f500 mb-3">
              Google Sprint - Conference
          </div>
          <div class="text-md grey">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor…
          </div>
      </div>
      <div class="feed-card-event-block__right">
          <button type="button" class="btn btn-primary btn-lg">Reach Out</button>
      </div>
  </div>
  <div class="feed-card-opportunity-block" *ngIf="activity.entity_type == 'opportunity'">
    <div class="feed-card-opportunity-block__top">
        <div class="opportunity-image">
            <img [src]="activity.custom_data[0]?activity.custom_data[0].src:''">
        </div>
        <div class="opportunity-details">
            <div class="text-lg f500 mb-3">
              {{activity.title}}
            </div>
            <div class="text-md grey">
              {{activity.location}}
            </div>
            <button type="button" class="btn btn-primary btn-lg">Reach Out</button>
        </div>
        <div class="opportunity-button">
          {{activity.category}}
        </div>
    </div>
    <div class="feed-card-opportunity-block__bottom hidden-mob">
        <div class="text-md grey">
          {{activity.blurb}}
        </div>
    </div>
  </div>

  <div class="o-actions">
      <!-- <a href="#" class="o-actions__link"> -->
          <!--<i class="icon-heart spot-ico"></i>-->  <!--this is for inactive -->
          <!-- <i class="icon-heart-filled spot-ico spot-ico--filled"></i>this is for active
          <span class="o-action-count text-sm grey">
              <span>12k</span>
          </span> -->
          <opspot-button-thumbs-up [object]="activity"></opspot-button-thumbs-up>

      <!-- </a> -->
      <!-- <a href="#" class="o-actions__link">
          <i class="icon-message-square f-15"></i>
          <span class="o-action-count text-sm grey">
              <span>43</span>
          </span>
      </a> -->
      <opspot-button-comment [object]="activity" (click)="openComments()"></opspot-button-comment>
      <a href="javascript:void(0)" class="o-actions__link">
          <i class="icon-eye f-15"></i>
          <span class="o-action-count text-sm grey">
              <span>{{ activity.impressions | number }}</span> 
          </span>
      </a>
      <!-- <a href="#" class="o-actions__link">
          <i class="icon-share-2 f-15"></i>
          <span class="o-action-count text-sm grey">
              <span>56</span> 
          </span>
      </a> -->
      <opspot-button-remind [object]="activity"></opspot-button-remind>
      <a class="o-actions__link"  *ngIf ="session.getLoggedInUser().guid == activity.owner_guid" >
        <i class="icon-coins f-15"></i>
        <span class="o-action-count text-sm grey">
          <span *ngIf="activity.wire_totals">{{ activity.wire_totals.tokens | token:18 | abbr }}</span>
        </span>
      </a>
      <a href="#Boost" class="btn btn-primary btn-xs btn--boost">Boost</a>
      
  </div><!--feed action end-->
  <!-- <div class="o-comments-compose">
      <div class="o-avatar-sm">
          <img src="assets/demo/avatar.png" alt="">
      </div>    
      <div class="o-comments-composer">
          <textarea rows="1" placeholder="Write a comment"></textarea>
      </div>
  </div>
  <div class="o-comments-block">
      <div class="o-comments">
          <a href="#" class="o-comments__avatar o-avatar-sm"><img src="assets/demo/avatar.png" alt=""></a>
          <div class="o-comments__data">
              <a class="o-commenter text-md f500">Mythili Rajendran</a>
              <div class="o-comments__txt">
                  Far far away, behind the word mountains, far from the countries Vokalia and
                  Consonantia, there live the blind texts 
              </div>
              <div class="o-comments__action">
                  <a href="#">
                      <div class="o-like-ico"><img src="assets/svg/heart.svg" alt="" ></div>
                      <div class="text-sm grey">4 Likes</div>
                  </a>
                  <a href="#">
                      <div class="dot"></div><div class="text-sm grey m-l-7">Reply</div>
                  </a>
                  <a href="#">
                      <div class="dot"></div><div class="text-sm grey o-comments__tym m-l-7">15 mins</div>
                  </a>
              </div>
          </div>
      </div>
      <div class="o-comments o-comments--reply">
          <a href="#" class="o-comments__avatar o-avatar-sm"><img src="assets/demo/avatar.png" alt=""></a>
          <div class="o-comments__data">
              <a class="o-commenter text-md f500">Mythili Rajendran</a>
              <div class="o-comments__txt">
                  Far far away, behind the word mountains, far from the countries Vokalia and
                  Consonantia, there live the blind texts 
              </div>
              <div class="o-comments__action">
                  <a href="#">
                      <div class="o-like-ico"><img src="assets/svg/heart.svg" alt="" ></div>
                      <div class="text-sm grey">4 Likes</div>
                  </a>
                  <a href="#">
                      <div class="dot"></div><div class="text-sm grey m-l-7">Reply</div>
                  </a>
                  <a href="#">
                      <div class="dot"></div><div class="text-sm grey o-comments__tym m-l-7">15 mins</div>
                  </a>
              </div>
          </div>
      </div>
      <div class="o-comments-compose o-comments-compose--reply">
          <div class="o-avatar-sm">
              <img src="assets/demo/avatar.png" alt="">
          </div>    
          <div class="o-comments-composer">
              <textarea rows="1" placeholder="Write a comment"></textarea>
          </div>
      </div>
      <div class="o-comments">
          <a href="#" class="o-comments__avatar o-avatar-sm"><img src="assets/demo/avatar.png" alt=""></a>
          <div class="o-comments__data">
              <a class="o-commenter text-md f500">Mythili Rajendran</a>
              <div class="o-comments__txt">
                  Far far away, behind the word mountains, far from the countries Vokalia and
                  Consonantia, there live the blind texts 
              </div>
              <div class="o-comments__action">
                  <a href="#">
                      <div class="o-like-ico"><img src="assets/svg/heart.svg" alt="" ></div>
                      <div class="text-sm grey">4 Likes</div>
                  </a>
                  <a href="#">
                      <div class="dot"></div><div class="text-sm grey m-l-7">Reply</div>
                  </a>
                  <a href="#">
                      <div class="dot"></div><div class="text-sm grey o-comments__tym m-l-7">15 mins</div>
                  </a>
              </div>
          </div>
      </div>
  </div> -->
  <opspot-comments 
  *ngIf="commentsToggle"
  [object]="activity"
  [focusOnInit]="true"
  [focusedCommentGuid]="focusedCommentGuid"
  [canEdit]="canDelete"
  >
</opspot-comments>
</div>