<!-- Owner block -->
<div class="mdl-card__supporting-text mdl-color-text--grey-600 m-owner-block"
  [class.m-owner-block--remind]="activity.remind_object" *ngIf="activity.ownerObj && activity.ownerObj.username">
  <i class="material-icons selected" *ngIf="activity.remind_object">repeat</i>
  <div class="o-avatar" [hovercard]="activity.ownerObj.guid">
    <a [routerLink]="['/', activity.ownerObj.username]" id="activity-user-image">
      <img [src]="opspot.cdn_url + 'icon/' + activity.ownerObj.guid + '/medium/' + getOwnerIconTime()"
        class="mdl-shadow--2dp" />
    </a>
  </div>
  <div class="body">
    <a class="o-avatar__name" id="activity-username" [routerLink]="['/', activity.ownerObj.username]">
      <strong title={{activity.ownerObj.name}}>{{activity.ownerObj.name}}</strong>
      <m-channel--badges class="m-channel--badges-activity" [user]="activity.ownerObj" badges="[ 'verified' ]">
      </m-channel--badges>
    </a>
    <a *ngIf="activity.containerObj && activity.containerObj.type == 'group'"
      [routerLink]="['/groups/profile', activity.containerObj.guid]" class="mdl-color-text--blue-grey-300">
      <strong>({{activity.containerObj.name}})</strong>
    </a>
    <div class="grey m-l-8 o-posts-tym"
      *ngIf="activity.guid && !activity.remind_object">
      <span id="activity-time">{{activity.time_created * 1000 | date:'medium'}}</span>
      <!-- <span class="o-posts-public-private"><i class="icon-public"></i></span> -->
      <span *ngIf="activity.edited" class="m-edited-text" i18n="@@M__COMMON__EDITED">edited</span>
      <div class="mdl-card__supporting-text is-boosted" *ngIf="boosted">
        <i class="material-icons">trending_up</i>
        <a i18n="@@OPSPOT__CARDS__ACTIVITY__BOOSTED_LABEL">Boosted</a>
      </div>
    </div>
    <div class="grey m-l-8 o-posts-tym"
      *ngIf="!activity.guid && activity.entity_guid && !activity.remind_object">
      <span>{{activity.time_created * 1000 | date:'medium'}}</span>
      <!-- <span class="o-posts-public-private"><i class="icon-public"></i></span> -->
      <span *ngIf="activity.edited" class="m-edited-text" i18n="@@M__COMMON__EDITED">edited</span>
      <div class="mdl-card__supporting-text is-boosted" *ngIf="boosted">
        <i class="material-icons">trending_up</i>
        <a i18n="@@OPSPOT__CARDS__ACTIVITY__BOOSTED_LABEL">Boosted</a>
      </div>
    </div>
  </div>
</div>

<m-wire--lock-screen [(entity)]="activity" *ngIf="activity.paywall && !editing"></m-wire--lock-screen>

<ng-container *ngIf="!activity.paywall || editing">

  <!-- Messages -->
  <!-- <div m-read-more> -->
  <div class="mdl-card__supporting-text message m-mature-message text-md grey-darker"
    [class.m-activity--message-remind]="activity.remind_object"
    [hidden]="!activity.message || editing">
    <a class="m-mature-text-toggle" (click)="activity.mature_visibility = !activity.mature_visibility"
      *ngIf="attachment.shouldBeBlurred(activity) || attachment.isForcefullyShown(activity)"
      [ngClass]="{ 'mdl-color-text--red-500': attachment.isForcefullyShown(activity) }">
      <!-- <i class="material-icons m-material-icons-inline">explicit</i> -->
    </a>

    <span class="m-mature-message-content" id="activity-text"
      [innerHtml]="activity.message | tags"
      [ngClass]="{ 'm-mature-text': attachment.shouldBeBlurred(activity) }"
      (click)="activity.mature && !activity.mature_visibility ? activity.mature_visibility = !activity.mature_visibility : null"
    ></span>
    <!-- <m-read-more--button></m-read-more--button> -->
  </div>

  <m-translate
    [open]="translateToggle"
    [entity]="activity"
    [translateEvent]="translateEvent"
    (onTranslateInit)="propagateTranslation($event)"
    (onTranslate)="translateToggle = false"
    (onTranslateError)="translateToggle = false" #translate
  ></m-translate>

  <div class="opspot-editable-container"
    *ngIf="editing && (!activity.custom_type || (activity.custom_type && !activity.title))">
    <!-- Please not the intentional single way binding for ngModel, we want to be able to cancel our changes -->
    <textarea class="mdl-card__supporting-text message" name="message" [ngModel]="activity.message" #messageEdit
      [autoGrow]></textarea>
    <!-- <m-wire-threshold-input [(threshold)]="activity.wire_threshold" [(enabled)]="activity.paywall">
    </m-wire-threshold-input> -->
    <button class="btn btn-outline-primary btn-lg"
      (click)="messageEdit.value = activity.message; editing=false;" i18n="@@M__ACTION__CANCEL">Cancel</button>
    <button class="btn btn-primary btn-lg"
      (click)="activity.message = messageEdit.value; save();" i18n="@@M__ACTION__SAVE">Save</button>
  </div>

  <!-- Rich content -->
  <div class="m-rich-embed"
    *ngIf="activity.perma_url && activity.title && activity.entity_type !== 'opportunity' && activity.entity_type !== 'item' && activity.entity_type !== 'event'  && activity.entity_type !== 'album'"
    [ngClass]="{ 'm-mature-content': attachment.shouldBeBlurred(activity), 'm-mature-content-shown': attachment.isForcefullyShown(activity) }">
    <div class="m-mature-overlay" (click)="activity.mature_visibility = !activity.mature_visibility">
      <span class="m-mature-overlay-note">
        <!-- <i class="material-icons" title="Mature content" i18n-title="@@M__COMMON__MATURE_CONTENT">explicit</i> -->
        <span i18n="@@M__COMMON__CONFIRM_18" >Warning! Mature content (18+)</span>
      </span>
    </div>
    <opspot-rich-embed [src]="activity" [maxheight]="480"></opspot-rich-embed>
  </div>

  <!-- Album post-->
  <div *ngIf="activity.entity_type === 'album' && activity.entity_type !== 'opportunity' && activity.entity_type !== 'item' && activity.entity_type !== 'event'">
    <div
      class="feed-media" *ngIf="activity?.custom_data" [routerLink]="['/media', activity.guid]"
      [ngClass]="{ 'm-mature-content': attachment.shouldBeBlurred(activity), 'm-mature-content-shown': attachment.isForcefullyShown(activity) }"
    >
      <a *ngFor="let media of activity.custom_data | slice:0:3; let i = index;" class="feed-media__link" id="activity-posts">
        <!-- [style.backgroundImage]="'url(' + media.src + ')'" -->
        <img [src]="media.src" alt="" class="feed-media__img" *ngIf="media.entity_type !== 'video'"
          (error)="media.src = opspot.cdn_assets_url + 'assets/logos/logo.svg'">
        <img [src]="media.thumbnail_src" alt="" class="feed-media__img" *ngIf="media.entity_type === 'video'"
          (error)="media.thumbnail_src = opspot.cdn_assets_url + 'assets/logos/logo.svg'">
        <div *ngIf="i >= 2 && activity?.custom_data.length > 4" class="feed-media-overlay">
          <h3 class="white">+{{ activity.custom_data.length - 3}}</h3>
        </div>
        <div class="feed-media-overlay" *ngIf="media.entity_type === 'video'" id="activity-video-post">
          <div class="feed-media-video__icon" ><img src="assets/svg/playfill.svg" alt=""></div>
        </div>
      </a>
    </div>
  </div>

  <!-- opportunity -->
  <div *ngIf="activity.entity_type === 'opportunity' && activity.entity_type !== 'item' && activity.entity_type !== 'event' && activity.entity_type !== 'album'">
    <div class="feed-card-opportunity-block" id="activity-opportunity-postcard">
      <div class="feed-card-opportunity-block__top">
        <div class="opportunity-image" [routerLink]="['/opportunity/view',activity.guid]">
          <img *ngIf="activity?.custom_data.length > 0" [src]="activity?.custom_data[0]?activity?.custom_data[0].src:''"
            (error)="activity.custom_data[0].src = opspot.cdn_assets_url + 'assets/ops_icon.png'" id="oppImg">
            <img *ngIf="activity?.custom_data.length == 0" [src]="opspot.cdn_assets_url + 'assets/ops_icon.png'">
          </div>
        <div class="opportunity-details" id="activity-opportunity-details">
          <div class="text-lg f500 mb-3" id="activity-opportunity-title" [routerLink]="['/opportunity/view',activity.guid]">
            {{activity?.title}}
          </div>
          <div class="text-md grey" id="activity-opportunity-location">
            {{activity?.location}}
          </div>
          <m-messenger--channel-button
            *ngIf="session.getLoggedInUser().guid != activity.owner_guid"
            [user]="activity.ownerObj"
            [message]="reachoutMessage"
            [label]="'Reach Out'"
          ></m-messenger--channel-button>
        </div>
        <div class="opportunity-button" id="activity-opportunity-category">
          {{activity?.category}}
        </div>
      </div>
      <div [routerLink]="['/opportunity/view',activity.guid]" class="feed-card-opportunity-block__bottom hidden-mob">
        <div class="text-md grey">
          {{activity?.blurb | truncate:[100, '...']}}
        </div>
      </div>
    </div>
  </div>

  <!--BlueStore-->
  <div *ngIf="activity.entity_type === 'item' && activity.entity_type !== 'opportunity' && activity.entity_type !== 'event'  && activity.entity_type !== 'album'">
    <div [routerLink]="['/item/view', activity.guid]" class="feed-media" *ngIf="activity?.custom_data" id="activity-bluestore-postcard">
      <a *ngFor="let media of activity.custom_data | slice:0:3; let i = index;" class="feed-media__link">
        <!-- [style.backgroundImage]="'url(' + media.src + ')'" -->
        <img [src]="media.src" alt="" class="feed-media__img" *ngIf="media.entity_type !== 'video'"
          (error)="media.src = opspot.cdn_assets_url + 'assets/logos/logo.svg'">
        <img [src]="media.thumbnail_src" alt="" class="feed-media__img" *ngIf="media.entity_type === 'video'"
          (error)="media.thumbnail_src = opspot.cdn_assets_url + 'assets/logos/logo.svg'">
        <div class="feed-media-overlay" *ngIf="media.entity_type === 'video'">
           <div class="feed-media-video__icon"><img src="assets/svg/playfill.svg" alt=""></div>
        </div>
        <div *ngIf="i >= 2 && activity?.custom_data.length > 4" class="feed-media-overlay">
          <h3 class="white">+{{ activity.custom_data.length - 3}}</h3>
        </div>
      </a>
    </div>
    <div class="feed-card-event-block">
      <div class="feed-card-event-block__left" id="activity-bluestore-details">
        <div class="text-lg f500 mb-3" id="activity-bluestore-title">
          {{activity?.title}}
        </div>
        <div class="text-md grey" id="activity-bluestore-description">
          {{activity?.blurb | truncate:[100, '...']}}
        </div>
        <div class="text-rate" id="activity-bluestore-price">
          ₹ {{activity?.price}} <span class="text-md grey">per piece</span>
        </div>
      </div>
      <div class="feed-card-event-block__right ">
        <m-messenger--channel-button
          *ngIf="session.getLoggedInUser().guid != activity.owner_guid"
          [user]="activity.ownerObj"
          [message]="reachoutMessage"
          [label]="'Reach Out'"
        ></m-messenger--channel-button>
      </div>
    </div>
  </div>

  <!--Showtime-->
  <div *ngIf="activity.entity_type === 'event' && activity.entity_type !== 'item' && activity.entity_type !== 'opportunity' && activity.entity_type !== 'album'">
    <div class="m-mature-overlay" (click)="activity.mature_visibility = !activity.mature_visibility"></div>
    <div [routerLink]="[routerLink1, activity.guid]" class="feed-media">
      <div class="feed-media-event-image" id="activity-showtimes-postcard">
        
          <img [src]="activity?.custom_data[0] ? activity?.custom_data[0].src:''"
          (error)="activity.custom_data[0].src = opspot.cdn_assets_url + 'assets/logos/logo.svg'"
          *ngIf="activity?.custom_data.length > 0">
          <img *ngIf="activity?.custom_data.length == 0" [src]="opspot.cdn_assets_url + 'assets/logos/logo.svg'">

        <div class="event-date" id="activity-event-time">
          <div class="text-red" id="activity-evnt-date">{{activity?.start_time_date | date:'dd'}} </div>
          <div class="text-md" id="activity-evnt-month">{{activity?.start_time_date| date:'MMM'}} </div>
        </div>
      </div>
    </div>
    <div class="feed-card-event-block">
      <div [routerLink]="[routerLink1, activity.guid]" class="feed-card-event-block__left" id="activity-event-details">
        <div class="text-lg f500 mb-3" id="evntTitle">
          {{activity?.title}}
        </div>
        <div class="text-md grey" id="activity-event-description">
          {{activity?.blurb | truncate:[100, '...']}}
        </div>
      </div>
      <div class="feed-card-event-block__right">
        <m-messenger--channel-button
          *ngIf="session.getLoggedInUser().guid != activity.owner_guid"
          [user]="activity.ownerObj"
          [message]="reachoutMessage"
          [label]="'Reach Out'"
        ></m-messenger--channel-button>
      </div>
    </div>
  </div>

  <div class="mdl-card__supporting-text message" [hidden]="!activity.title || activity.perma_url || editing"
    [innerHtml]="activity.title | tags"></div>

  <!-- Translation -->
  <div *ngIf="translate && translate.translation && translate.translation.translated && translate.translation.title"
    class="m-translation-wrapper">
    <div class="mdl-card__supporting-text message" [hidden]="!translate.translation.title">
      <span [innerHtml]="translate.translation.title | tags"></span>
    </div>
  </div>
  <!-- End translation -->

  <div class="opspot-editable-container"
    *ngIf="editing && activity.custom_type && activity.title &&  activity.entity_type !== 'opportunity' && activity.entity_type !== 'item' && activity.entity_type !== 'event'  && activity.entity_type !== 'album'">
    <!-- Please not the intentional single way binding for ngModel, we want to be able to cancel our changes -->
    <textarea class="mdl-card__supporting-text message" name="title" [ngModel]="activity.title" #titleEdit
      [autoGrow]></textarea>
    <!-- <m-wire-threshold-input [(threshold)]="activity.wire_threshold" [(enabled)]="activity.paywall">
    </m-wire-threshold-input> -->
    <button class="btn btn-outline-primary btn-lg"
      (click)="titleEdit.value = activity.title; editing=false;" i18n="@@M__ACTION__CANCEL">Cancel</button>
    <button class="btn btn-primary btn-lg"
      (click)="activity.title = titleEdit.value; save();" i18n="@@M__ACTION__SAVE">Save</button>
  </div>

  <div class="item item-image item-image-video m-activity--video" 
    [ngClass]="{ 'm-mature-content': attachment.shouldBeBlurred(activity), 'm-mature-content-shown': attachment.isForcefullyShown(activity) }"
    *ngIf="activity.custom_type == 'video'" [routerLink]="['/media', activity.guid]">
    <div class="m-mature-overlay" (click)="activity.mature_visibility = !activity.mature_visibility">
      <span class="m-mature-overlay-note">
        <!-- <i class="material-icons" title="Mature content" i18n-title="@@M__COMMON__MATURE_CONTENT">explicit</i> -->
        <span i18n="@@M__COMMON__CONFIRM_18" >Warning! Mature content (18+)</span>
      </span>
    </div>

    <m-video width="100%" height="300px" style="background:#000;" [muted]="false"
      [poster]="activity.custom_data.thumbnail_src"
      [src]="[{ 'res': '360', 'uri': 'api/v1/media/' + activity.custom_data.guid + '/play', 'type': 'video/mp4' }]"
      [guid]="activity.custom_data.guid" [playCount]="activity['play:count']"
      [torrent]="[{ res: '360', key: activity.custom_data.guid + '/360.mp4' }]" #player>
      <video-ads [player]="player" *ngIf="activity.monetized"></video-ads>
    </m-video>
  </div>

  <!-- Images -->
  <div class="item item-image allow-select m-activity--image 123"
    [ngClass]="{ 'm-mature-content': attachment.shouldBeBlurred(activity), 'm-mature-content-shown': attachment.isForcefullyShown(activity) }"
    *ngIf="activity.thumbnail_src && !activity.perma_url">
    <div class="m-mature-overlay" (click)="activity.mature_visibility = !activity.mature_visibility">
      <span class="m-mature-overlay-note">
        <!-- <i class="material-icons" title="Mature content" i18n-title="@@M__COMMON__MATURE_CONTENT">explicit</i> -->
        <span i18n="@@M__COMMON__CONFIRM_18" >Warning! Mature content (18+)</span>
      </span>
    </div>

    <a [routerLink]="['/media', activity.guid]">
      <img [src]="activity.thumbnail_src" (error)="activity.thumbnail_src = null">
    </a>
  </div>

  <!-- Custom type:: batch -->
  <div class="item item-image allow-select"
    [ngClass]="{ 'm-mature-content': attachment.shouldBeBlurred(activity), 'm-mature-content-shown': attachment.isForcefullyShown(activity) }"
    *ngIf="activity.custom_type == 'batch' && activity.entity_type !== 'opportunity' && activity.entity_type !== 'item' && activity.entity_type !== 'event'  && activity.entity_type !== 'album'">
    <div class="m-mature-overlay" (click)="activity.mature_visibility = !activity.mature_visibility">
      <span class="m-mature-overlay-note">
        <!-- <i class="material-icons" title="Mature content" i18n-title="@@M__COMMON__MATURE_CONTENT">explicit</i> -->
        <span i18n="@@M__COMMON__CONFIRM_18" >Warning! Mature content (18+)</span>
      </span>
    </div>
    <a [routerLink]="['/media', activity.guid]">
      <img [src]="activity.custom_data[0]?activity.custom_data[0].src:''" style="width:100%"
        (error)="activity.custom_data[0].src = opspot.cdn_assets_url + 'assets/logos/logo.svg'"
        *ngIf="activity.custom_data">
    </a>
  </div>

  <!-- Reminds -->
  <div *ngIf="activity.remind_object">
    <!-- todo @gayatri: make entityType dynamic -->
    <opspot-remind
      [entityType]="activity.entity_type"
      [object]="activity.remind_object"
      [events]="childEventsEmitter"
      [boosted]="activity.boosted">
    </opspot-remind>
  </div>

</ng-container>

<ng-content select="[bottom-content]"></ng-content>

<!-- mature toggle button -->
<div *ngIf="activity.mature" class="o-feed-nsfw-cover-btn ">
  <a *ngIf="activity.mature_visibility" (click)="activity.mature_visibility = !activity.mature_visibility" class="text-md" id="activity-cover">Cover</a>
  <a *ngIf="!activity.mature_visibility" (click)="activity.mature_visibility = !activity.mature_visibility" class="text-md" id="activity-uncover">Uncover</a>
</div>
<!-- mature toggle button -->

<!-- actions bar(like, comments, share, wire, boost)-->
<div class="o-actions" *ngIf="!hideTabs">

  <!--like buttom-->
  <opspot-button-thumbs-up [object]="activity"></opspot-button-thumbs-up>
  <!-- <opspot-button-thumbs-down [object]="activity"></opspot-button-thumbs-down> -->

  <!--comment button-->
  <opspot-button-comment [object]="activity" (click)="openComments()"></opspot-button-comment>

  <!-- wire button-->
  <a class="o-actions__link" id="activity-view">
    <i class="icon-eye f-15"></i>
    <span class="o-action-count text-sm grey">
      <span id="activity-viewcount">{{ activity.impressions | number }}</span>
    </span>
  </a>
  <a class="o-actions__link" *ngIf="session.getLoggedInUser().guid == activity.owner_guid" id="activity-contribute-icon">
    <i class="icon-coins f-15"></i>
    <span class="o-action-count text-sm grey">
      <span *ngIf="activity.wire_totals" id="activity-coin-count">{{ activity.wire_totals.tokens | token:18 | abbr }}</span>
    </span>
  </a>


  <m-wire-button
    *ngIf="session.getLoggedInUser().guid != (activity.remind_object ? activity.remind_object.owner_guid : activity.owner_guid)"
    [object]="activity.remind_object ? activity.remind_object : activity" (done)="wireSubmitted($event)">
  </m-wire-button>

  <!--share button-->
  <!-- <opspot-button-remind [entityType]="activity.entity_type" [object]="activity" #remindButton></opspot-button-remind> -->
  <m-modal-remind-composer *ngIf="remindOpen"
    [object]="activity.remind_object ? activity.remind_object : activity"
    [entityType]="activity.entity_type"
    [open]="true"
    [default]="remindMessage"
    (closed)="remindOpen = false"
    (post)="remindPost($event)"
  ></m-modal-remind-composer>
  <m-share-menu
    [entity]="activity"
    [options]="menuOptions"
    (optionSelected)="shareOptionSelected($event)"
  ></m-share-menu>

  <!--boost button-->
  <a class="btn btn-primary btn-xs btn--boost" *ngIf="session.getLoggedInUser().guid == activity?.owner_guid"
    id="boost-actions" (click)="showBoost()">
    <ng-container i18n="verb|@@M__ACTION__BOOST">Boost</ng-container>
  </a>
</div>

<!-- <div class="impressions-tag m-activity--metrics" [class.m-activity--metrics-wire]="!session.getLoggedInUser() || session.getLoggedInUser().guid != activity.owner_guid" *ngIf="!hideTabs">
  <div class="m-activity--metrics-inner m-border">
    <div class="m-activity--metrics-metric" (click)="showWire()">
  		<i class="ion-icon ion-flash"></i>
        <span *ngIf="activity.wire_totals">{{ activity.wire_totals.tokens | token:18 | abbr }}</span>
  	</div>
  	<div class="m-activity--metrics-metric">
  		<i class="material-icons">remove_red_eye</i>
        <span>{{ activity.impressions | number }}</span>
  	</div>
  </div>
</div> -->

<!-- comments -->
<opspot-comments *ngIf="commentsToggle" [object]="activity" [focusOnInit]="true"
  [focusedCommentGuid]="focusedCommentGuid" [canEdit]="canDelete">
</opspot-comments>

<div class="m-activity--boost-notice mdl-card__supporting-text mdl-color--blue-grey-50" *ngIf="showBoostOptions"
  i18n="@@OPSPOT__CARDS__ACTIVITY__BOOST_NOTICE">
  Boost this post to reach more people!
</div>

<!-- TODO @gayatri need to check this part bacuse of shshis impl-->
<div class="mdl-card__menu mdl-color-text--blue-grey-300" #toggle *ngIf="!hideTabs">
  <button class="mdl-button m-pin-button mdl-button--icon" id="activity-bookmark" (click)="togglePin(activity)">
    <m-tooltip icon="turned_in" *ngIf="activity.bookmark">
      This post is Bookmarked
    </m-tooltip>
    <m-tooltip *ngIf="!activity.bookmark" icon="turned_in_not">
      Click to bookmark this post to the top of your channel feed
    </m-tooltip>
  </button>
  <m-safe-toggle *ngIf="showRatingToggle && session.isAdmin()" [(entity)]="activity"></m-safe-toggle>
  <!-- <button class="mdl-button m-translate-button mdl-button--icon" *ngIf="isTranslatable"
    (click)="translateToggle = true;">
    <i class="material-icons">public</i>
  </button> -->
  <m-post-menu [entity]="activity" [canDelete]="canDelete" [isTranslatable]="isTranslatable" [options]="menuOptions"
    (optionSelected)="menuOptionSelected($event)">
    <ng-container post-menu>
      <ng-content select="[post-menu]"></ng-content>
    </ng-container>
  </m-post-menu>
</div>

<!-- Pending block -->
<div class="mdl-card__supporting-text m-activity--pending"
  *ngIf="activity.pending && session.getLoggedInUser()?.guid == activity.owner_guid"
  i18n="@@OPSPOT__CARDS__ACTIVITY__AWAITING_MODERATION">
  This post is awaiting moderation.
</div>