<!-- <div class="m-groups--tile m-border" [class.m-groupTile--hasUpdates]="hasMarker">
    
  <div class="m-groups--tile-banner">
    <div class="m-groups--tile-banner-img"
        [ngStyle]="{'background-image': 'url(' + opspot.cdn_url + 'fs/v1/banners/' + entity.guid + '/fat/' + entity.icontime + ')'}"
      >
    </div>
    <div class="opspot-banner-overlay"></div>
  </div>
  
  <a [routerLink]="['/groups/profile', entity.guid]"  class="m-groups--tile-block">
    <div class="avatar">
      <img src="{{opspot.cdn_url}}fs/v1/avatars/{{entity.guid}}/large"/>
    </div>
    <div class="body">
      <h3>{{entity.name}}</h3>
      <span i18n="@@GROUPS__TILE__MEMBERS_COUNT"><b>{{entity['members:count'] | number}}</b> members</span>
    </div>
  </a>
  
  <div class="m-groups--tile-buttons">
    <opspot-groups-join-button *ngIf="!entity['is:member']; else isMember" [group]="entity"></opspot-groups-join-button>
    
    <ng-template #isMember>
      <button class="m-btn m-btn--action" [routerLink]="['/groups/profile', entity.guid]" i18n="@@GROUPS__TILE__OPEN_ACTION">
        Open
      </button>
    </ng-template>

    <m-safe-toggle *ngIf="session.isAdmin()" [(entity)]="entity"></m-safe-toggle>
  </div>
  
</div> -->


<div class="o-community-landing-block-design__item">
  <div class="o-community-card">
    <div class="o-community-card-section mr-6">
      <div class="o-community-card-cover">
        <img *ngIf='entity?.banner != "" '
          [src]="opspot.cdn_url + 'fs/v1/banners/' + entity.guid + '/fat/' + entity?.banner" alt="cover">
        <img *ngIf='entity?.banner == "" ' src="assets/demo/m2.jpg" alt="cover">
      </div>
      <!--cover ends-->
      <div class="o-community-card-profile">
        <img src="{{opspot.cdn_url}}fs/v1/avatars/{{entity.guid}}/large" alt="cover">
      </div>
      <!--frofile ends-->
      <div class="o-community-card-header">
        <div class="f500 text-lg">{{entity.name}}</div>
      </div>
      <div class="o-community-card-skills" *ngIf="entity?.tags.length > 0; else emptyTag">
        <a *ngFor="let tag of entity?.tags | slice:0:3" class="o-community-card-skills__tag">{{tag}}</a>
      </div>
      <ng-template #emptyTag>
        <p class="o-community-card-skills">
          <a class="o-community-card-skills__tag" style="background: transparent">&nbsp;</a>
        </p>
      </ng-template>
      <!--tag ends-->
      <div class="o-community-card-action">
        <opspot-groups-join-button *ngIf="(!entity['is:member'] && entity.membership === 2) && !entity['is:awaiting']"
          [group]="entity">
        </opspot-groups-join-button>
        <button type="button" *ngIf="(!entity['is:member'] && entity.membership !== 2) && !entity['is:awaiting']"
          class="btn btn-primary btn-sm" (click)='trigger(entity)'>Join</button>
        <!-- <ng-template> -->
        <button *ngIf="entity['is:member']" class="btn btn-primary btn-sm" i18n="@@GROUPS__TILE__OPEN_ACTION"
          (click)='trigger(entity)'>
          Open
        </button>
        <!-- </ng-template> -->
        <button class="btn btn-primary btn-sm" *ngIf="entity['is:awaiting']" (click)="cancleRequest()"
          i18n="@@GROUPS__TILE__OPEN_ACTION">
          Cancle
        </button>
      </div>
    </div>
  </div>
</div>

<!--community card ends-->