<div id="privacy-policy" class="document-content-block document-content-block--p-b-41">
  <div class="document-header">
    <h5 class="primary">Privacy Policy</h5>
    <div class="text-md grey">Updated on September 27, 2019</div>
  </div>
  <p class="text-md m-t-17 m-b-20">
    This Privacy Policy is entered into by and between <span class="f500">‘AEIONE LLP’</span> on behalf of itself
    and its affiliates, group companies, related entities, and licensors/users. <span class="f500">‘AEIONE LLP’</span>
    is
    the owner and operator of the Platform <span class="f500">‘One Page Spotlight’</span>
    and the Services. All references in this Agreement to <span class="f500">“we”, “us”,
      “our”,</span> or <span class="f500">One Page Spotlight,</span> is a reference to <span class="f500">‘AEIONE
      LLP’</span> We
    have drawn out a privacy statement regarding the information we collect from you.
    You acknowledge that you are disclosing information voluntarily. By using the Site
    and/or by providing your information, you consent to the collection, use,
    management, sharing, operation, transfer and storage of the information you
    disclose on the Site in accordance with this Privacy Policy which includes the Cookie
    Policy as well. Please read this privacy policy carefully to understand our practices
    about how we collect, use and share your personal information. This Privacy Policy is
    made/published in the Site to protect the user’s privacy and it is connected to our
    Terms and Conditions and forms an integral part of the Agreement governing the
    relationship between <span class="f500">AEIONE LLP</span> and you. By agreeing to this Privacy Policy, you
    also agree to Terms and Conditions, and the provisions of other documents relating
    to the usage of the Platform, which are incorporated herein by way of reference and
    form an integral part of the Agreement governing the relationship between <span class="f500">AEIONE
      LLP</span> and you.
  </p>
  <p class="text-md m-b-20">
    This privacy policy describes how the personal information that is collected when you
    visit and use <span class="f500">AEIONE LLP</span> Site, application or product (&quot;Service&quot;) will be used
    by
    <span class="f500">‘AEIONE LLP’</span> that owns the Service <span class="f500">(&quot;One Page Spotlight&quot;,
      &quot;we&quot;, &quot;us&quot; or
      &quot;our&quot;).</span> Your acceptance of our Privacy Policy is deemed to occur upon your first
    visit to our website. If you do not accept and agree to this Privacy Policy including the
    Cookies Policy and the use of your information, you must stop using this Site
    immediately and please do not use or access this Site.
  </p>
  <ol class="document-ol">
    <li>
      <div class="m-t-17 doc-subtitle">Information Collection</div>
      <p class="text-md m-t-10 m-b-20">
        The information we gather from members and visitors
        who apply for the various services on our site offers includes, but may not be limited
        to, contact details such as your name, email address, postal address and telephone
        number; educational and professional background information; usernames and
        passwords; payment information, such as a credit or debit card number; comments,
        feedback, posts and other content you submit to the Service; and interests and
        communication preferences. In order to access certain content and to make use of
        additional functionality and features of the Service, we ask you to register for an
        account by completing and submitting a registration form, which may request
        additional information. If you choose to register and sign in by using a third party
        account (such as your Facebook account, etc.) or any third party content scheduling
        software (such as Hootsuite, etc.), the authentication of your login is handled by the
        third party and the Service will collect your name, email address and any other
        information about your third-party account that you agree to share with us at the
        time you give permission for your account on the Service to be linked to your third
        party account. Accordingly, when you sign up for an account, create or share content
        and message or communicate with others, we collect information in or about the
        content that you provide like the location of a photo or the date a file was created,
        etc. We also collect information from the partners who provide information about
        your activities off the Site – including information about your device, websites you
        visit, purchases you make, the ads you see and how you use their services – whether
        or not you have an account with us.<br>
        The Service also automatically collects, through our servers and the use of cookies
        (small text files sent to your computer), web beacons (also known as clear or single
        pixel .gifs) and other technologies, information that tells us how you use the Service,
        such as: Internet Protocol (&quot;IP&quot;) address used to connect your computer to the
        internet; computer, device and connection information, such as browser type and
        version, operating system, mobile platform and unique device identifier (&quot;UDID&quot;)
        and other technical identifiers; Uniform Resource Locator (&quot;URL&quot;) click stream data,
        including date and time stamp, referring and exit URLs, search terms you used, and
        pages you visited or searched for on the Service; and for location-aware services, the
        physical location of your device in order to provide you with more relevant content
        for where you are in the world. We may use and disclose information that does not
        reveal your identity or permit direct association with any specific individual, such as
        browser and device information, anonymous usage data and aggregated information,
        for any purpose, except where we are restricted by law.<br>
        We do not have control on the credit account with the payment gateway vendor to
        pay the fees we charge. Accordingly, some additional information including a billing
        address, payment information such as a credit/debit card number and a credit/debit
        card expiration date and tracking information from cheques or demand drafts is
        collected by the payment engine third party. The payment gateway vendor uses a
        secure server for credit card transactions to protect the credit card information of our
        users. User/Member is solely responsible for maintaining the confidentiality of the
        User Name/Identity and User Password and all activities and
        transmission/transactions performed by the User through his/her user
        identity/name and shall be solely responsible for carrying out any online or off-line
        transactions involving credit/debit cards or such other forms of instruments or
        documents for making such transactions. As such, our platform assumes no
        responsibility/liability for any act or omission by the payment gateway service
        provider, or the improper use of information relating to such usage of credit/debit
        cards used by the subscriber online/offline or other  modes of payment like UPI
        /BHIM UPI, Net-banking, or any other third party services such as Amazon-Pay,
        Paytm and PhonePe etc.<br>
        Our website is not intended for individuals under 16 years of age or any other
        minimum age required as per relevant applicable jurisdiction and policies of app
        stores, without the valid consent of their parent or guardian. Please note that an
        account of a person below 16 years may be created, provided there is a specific valid
        parental or guardian consent/control or as prescribed by the applicable laws and
        run/monitored by parents/guardian of legal age only. If the content related to
        children are posted, the parents of such children shall create and manage the
        accounts and posts and be liable for the content related to children thus posted. If we
        learn that we have collected or received personal information from an individual
        under the minimum age as prescribed by the applicable laws without verification of
        legal guardian or parental consent, we will delete that information. OPS shall not be
        liable if such a minor uses the platform and OPS knowingly or unknowingly reveals
        some details, which results in the misuse of such data and leads to acts of
        paedophilia, sexual abuse, cyber bullying, net banging, etc. If you believe that we
        might have any information from or about a child under the minimum age as
        prescribed by the applicable laws, please contact us
        at <a href="mailto:support@onepagespotlight.com" class="f500">support@onepagespotlight.com.</a>
      </p>
    </li>
    <li>
      <div class="m-t-17 doc-subtitle">Use of Your Information</div>
      <p class="text-md m-t-10 m-b-20">
        We collect information from our users primarily to
        ensure that we are able to fulfil your requirements and to deliver personalised
        experience and services. We may share such identifiable information and location
        relation information with our associates/affiliates/subsidiaries/other members and
        such associates / affiliates / subsidiaries/other members may market to you as a
        result of such sharing. The users who enter into site, including without limitation,
        …………………………………………….and so on, and if they have provided their contact
        information for advertisement on our portal, then the users can contact them at their
        request through us. Any information you give us is held with the utmost care and
        security. Our website links to other websites may collect personally identifiable
        information about you. We are not responsible for the privacy policy or the contents
        of those linked websites. We may use your personal information to: provide the
        Service to you, such as allow access to or delivery of our products or services, process
        or fulfil an order or transaction, or administer surveys or promotional
        programs; respond to your requests, inquiries, comments or concerns; provide
        technical, product and other support and help keep the Service working, safe and
        secure; offer you customized content and individualized personalization of the
        Service to make it more relevant to your interests and needs; enhance, evaluate and
        improve the Service, its advertisements, marketing and promotional campaigns and
        our products and services and to develop new products and services; marketing
        products to the users through different promotion apps for the products based on the
        behaviour pattern of the users or any other module or by backend search of some
        keywords through their chats, identify and analyse usage trends, including for the
        purposes of research, audits, reporting and paying royalties and license fees to third-
        party content providers; notify you about changes or updates to the Service and our
        products and services; and provide you special offers, promotions, surveys and other
        information about the Service as well as products, events and services of ours, our
        affiliates and non-affiliated third parties such as societies and sponsors.<br> 
        We use your data to provide the best possible services to you. This includes:<br>
        (i)Providing and managing your account; <br>
        (ii) Providing and managing your access to our website;<br>
        (iii) Personalising and tailoring your experience on our website;<br>
        (iv)Supplying our products and services to you; <br>
        (v) Personalising and tailoring our products and services for you; <br>
        (vi) Responding to communications from you; <br>
        (vii) Supplying you with newsletters, alerts etc. via email, that you may
        have subscribed to and that you may unsubscribe or opt-out at any time by clicking
        on the unsubscribe link from such emails or from your account profile;<br>
        (viii) Market research, product research and development for improving the features of our
        platform. and <br>
        (ix) Analysing your use of our website and gathering feedback to
        enable us to continually improve our website and your user experience; <br>
        (x) For face recognition if it is allowed by the user and needs to be used by the law enforcement
        machinery or state; <br>
        (xi) For promoting safety, integrity, security and social good.<br>
      </p>
        <ol class="documnet-innerol" type="a">
          <li class="m-t-17">
            In some cases, the collection of data may be a statutory or contractual
            requirement, and we will be limited in the products and services we can provide you
            without your consent for us to be able to use such data.
          </li>
          <li class="m-t-17">
            With your permission and/or where permitted by law, we may also use your
            data for marketing purposes which may include contacting you by email,
            telephone, text message, post and/or messaging services with information,
            news and offers on our products and/or services. We will not, however, send
            you any unsolicited marketing or spam and will take all reasonable steps to
            ensure that we fully protect your rights and comply with our obligations under
            the applicable relevant laws.
          </li>
          <li class="m-t-17">
            In case you unsubscribe to our emails/messages or other means of
            communication designed to update you on our policy framework, terms,
            community guidelines, privacy and data policy, or other important
            communication, including and not limited to product updates, AEIONE LLP
            requests you to read our Terms and Help Centre for all important updates
            from time to time. AEIONE LLP in such cases will not be responsible for any
            damage/loss/monetary loss caused to you if you have unsubscribed to or
            marked the AEIONE LLP official or third-party partner sender ID as
            spam/junk for communication from One Page Spotlight.
          </li>
          <li class="m-t-17">
            Advertisers whose content appears on our website may engage in what is
            known as “behavioural advertising” which is tailored to your preferences,
            based on your activity. Your activity is monitored using Cookies, as detailed in
            our Cookie Policy mentioned hereinbelow. Please note that we do not control
            the activities of such advertisers, nor the information they collect and use.
          </li>
          <li class="m-t-17">
            Where we use your personal data for profiling purposes, the following shall
            apply: <br>
            (i) clear information explaining the profiling will be provided, including
            its significance and the likely consequences; <br>
            (ii) appropriate mathematical or statistical procedures will be used; <br>
            (iii) technical and organisational measures necessary to minimise the risk of errors and to enable such
            errors to be easily
            corrected shall be implemented; and <br>
            (iv) all personal data processed for profiling purposes shall be secured in order to prevent
            discriminatory effects
            arising out of profiling.
          </li>
          <li class="m-t-17">
            We may share your data with third parties to supply products and services to
            you on our behalf. These may include payment processing, delivery of goods,
            search engine facilities, advertising, and marketing. In some cases, the third
            parties may require access to some or all of your data. Where any of your data
            is required for such a purpose, we will take all reasonable steps to ensure that
            your data will be handled safely, securely, and in accordance with your rights,
            our obligations, and the obligations of the third party under applicable
            relevant law.
          </li>
          <li class="m-t-17">
            We may compile statistics about the use of our website including data on
            traffic, usage patterns, user numbers, sales and other information. All such
            data will be anonymized and will not include any personally identifying
            information. We may from time to time share such data with third parties.
            Data will only be shared and used within the bounds of the law.
          </li>
        </ol>
      <!-- </p> -->
    </li>
    <li>
      <div class="m-t-17 doc-subtitle">Disclosure of Your Information</div>
      <p class="text-md m-t-10 m-b-20">
        We may share your personal information
        with: relevant agents, representatives, joint-ventures, and Entities for which we are
        acting as an agent, licensee or publisher, such as societies and sponsors; applicable
        suppliers and service providers, including editors, reviewers, credit card processors,
        customer support, email service providers, mailing houses and shipping agents, and
        IT service providers to assist us with producing and delivering our products and
        services, developing and operating our businesses, systems and applications,
        processing payments, customer support, marketing, promotion and communications
        and for other purposes set forth in this privacy policy. We also may share your
        personal information with our affiliated group companies worldwide and with
        societies, sponsors and other non-affiliated third parties that wish to send you
        information about their products and services that may be of interest to you as
        determined by your choices in managing your communications preferences. Details
        may be divulged and shared through messages when the users buy or sell through a
        transaction carried out on One Page Spotlight platform. If any information collected
        in the process of such a transaction is misused, OPS shall not be held liable.
        Furthermore, OPS shall not be liable if the use of the platform results in an act of
        violation of human rights, anti-national activities, threat to national security,
        violation of child protection rights, data hacking, etc.<br>
        We also may need to disclose your personal information: to respond to or comply
        with any law, regulation, subpoena, court order or other legal obligation; to enforce
        and protect our rights and properties; to detect, investigate and help prevent security
        threats, fraud or other malicious activity; to protect the rights, property or safety of
        our users, employees or others; and if AEIONE LLP, the Service or a related asset or
        line of business is acquired by, transferred to or merged with another company. The
        Service may let you post and share personal information, comments, materials and
        other content. Any information you disclose publicly may be collected and used by
        others, may be indexable by search engines, and might not be able to be removed.
        Please be careful when disclosing personal information in these public areas. 
        In certain circumstances, we may be legally required to share certain data held by us,
        which may include your personal information, for example, where we are involved in
        legal proceedings, where we are complying with the requirements of legislation, a
        court order, or a governmental authority. We do not require any further consent
        from you in order to share your data in such circumstances and will comply as
        required by any legally binding request that is made of us.
      </p>
    </li>
    <li>
      <div class="m-t-17 doc-subtitle">Access and Accuracy of Information &amp; User Options</div>
      <p class="text-md m-t-10 m-b-20">
        allow registered users to access their account information and make corrections or
        updates upon log in at any time. The accuracy of such information is solely the
        responsibility of the user. You may also request access to other personal information
        about you that may be held in the service. If you request to deactivate your account
        or delete your personal information, we will make an endeavour to fulfil your request
        but some personal information may persist in backup copies for a certain period of
        time and may be retained as necessary for legitimate business purposes or to comply
        with our legal obligations. We disclaim any and all responsibility or liability for the
        accuracy, content, completeness, legality, reliability, or operability or availability of
        information or material displayed on this Site by the third parties.<br>
        You may access your personal data we hold about you and to update and/or correct
        it, subject to certain exceptions. If you wish to access your personal data, please
        access it through your account.<br>
        On request by you, we will not charge any fee for your access request but may charge
        an administrative fee for providing a copy of your personal data, unless otherwise
        requested by you, the information shall be provided in a commonly used electronic
        form. In order to protect your personal data, we may require identification from you
        before releasing the requested information.<br>
        When you submit information via our website, you may be given options to restrict
        our use of your data. We aim to give you strong controls on our use of your data
        (including the ability to opt-out of receiving emails from us which you may do by
        unsubscribing using the links provided in our emails and by managing your account
        preferences).<br>
        You may also wish to sign up to one or more of the preference services operating in
        your country. These may help to prevent you from receiving unsolicited marketing.
        Please note, however, that these services will not prevent you from receiving
        marketing communications that you have consented to receive.<br>
        It is important to us that your data is up to date. We will take reasonable steps to
        make sure that your data is accurate, complete and up to date. If you find that the
        information we have is not up to date or is inaccurate, please advise us as soon as
        practicable so we can update our records and ensure we can continue to provide
        quality services to you.<br>
      </p>
    </li>
    <li>
      <div class="m-t-17 doc-subtitle">Cross Border Transfer of Your Information, Storage of Data</div>
      <p class="text-md m-t-10 m-b-20">
        personal information may be transferred to other countries for processing. By using
        the Service you consent to the transfer of information or data to countries outside of
        your country of residence, which may have different personal data protection rules
        than in your country.<br>
        We only keep your data for as long as we need to in order to use it as described
        herein, and/or for as long as we have your permission to keep it. In any event, we will
        conduct an annual review to ascertain whether we need to keep your data. Your data
        will be deleted if we no longer need it for the purpose for which it was obtained, we
        will take reasonable steps to destroy or permanently de-identify your data.<br>
        Some or all of your data may be stored or transferred outside of your country of
        domicile. You accept and agree to this by using our website and submitting
        information to us. If we do store or transfer data outside of your country of domicile,
        we will take all reasonable steps to ensure that your data is treated as safely and
        securely as it would be within your country of domicile.<br>
        Data security is of great importance to us, and to protect your data we have put in
        place suitable physical, electronic and managerial procedures to safeguard and
        secure data collected through our website.<br>
        Notwithstanding the security measures that we take, it is important to remember
        that the transmission of data via the internet may not be completely secure and that
        you are advised to take suitable precautions when transmitting data to us via the
        internet.<br>
      </p>
    </li>
    <li>
      <div class="m-t-17 doc-subtitle">Changes to Our Privacy Policy</div>
      <p class="text-md m-t-10 m-b-20">
        We may change this privacy policy from time
        to time. Any changes will be posted on this page with an updated revision date. We
        will notify you about such changes in accordance with the applicable laws and you
        will be bound by the terms of the then current version of the Privacy Policy.<br>
        We may change this Privacy Policy as we may deem necessary from time to time, or
        as may be required by law. Any changes will be immediately posted on our website
        and you will be deemed to have accepted the terms of the Privacy Policy on your first
        use of our website following the alterations. We recommend that you check this page
        regularly to keep yourself updated with any changes on our platform.
      </p>
    </li>
  </ol>
  <div class="line"></div>
</div>