<div class="o-search-filter">
  <div class="text-md f500">Filter By</div>
  <label class="c-checkbox">Popular
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <label class="c-checkbox">Recent
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
  <div class="text-md m-10">Location</div>
  <label class="c-checkbox">All
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <label class="c-checkbox">#Art
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
  <label class="c-checkbox">#Music
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
  <label class="c-checkbox">#Photography
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
  <label class="c-checkbox">#Painting
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
  <div class="text-md m-10 primary">Add Hashtag</div>
</div>
<!--search filter-->