<div class="o-search-filter">
  <div class="text-md f500">Filter By</div>
  <!-- <label class="c-checkbox">Popular
    <input type="radio" name="filter" (ngModelChange)="onFilterChange($event)" [checked]="selectedFilter">
    <span class="checkmark"></span>
  </label>
  <label class="c-checkbox">Recent
    <input type="radio" name="filter" (ngModelChange)="onFilterChange($event)" [checked]="selectedFilter">
    <span class="checkmark"></span>
  </label> -->
  <label class="c-checkbox">#Showtimez
    <input
      type="radio"
      name="filter"
      value="object:event"
      [(ngModel)]="selectedFilter"
      (ngModelChange)="onFilterChange($event)"
      [checked]="selectedFilter === 'object:event'">
    <span class="checkmark"></span>
  </label>
  <label class="c-checkbox">#Opportunity
    <input
      type="radio"
      name="filter"
      value="object:opportunity"
      [(ngModel)]="selectedFilter"
      (ngModelChange)="onFilterChange($event)"
      [checked]="selectedFilter === 'object:opportunity'">
    <span class="checkmark"></span>
  </label>
  <label class="c-checkbox">#TheBlueStore
    <input
      type="radio"
      name="filter"
      value="object:item"
      [(ngModel)]="selectedFilter"
      (ngModelChange)="onFilterChange($event)"
      [checked]="selectedFilter === 'object:item'">
    <span class="checkmark"></span>
  </label>
</div>
<!--search filter-->