<!-- step1 -->
<div class="full-screen">
  <div class="o-forgot-password-block" *ngIf="step == 0">
    <a class="logo" id="forgot-password-logo">
      <img src="assets/ops_logo.png" alt="logo" />
    </a>
    <h2 class="o-forgot-password__title" id="forgot-password-title">Forgot Password?</h2>
    <div class="text-md" i18n="@@OPSPOT__HOME__FORGOT_PASSWORD__ENTER_USERNAME_HELP_NOTE">
      Don’t worry! Just enter your <a id="textPhone" (click)="showView(0)">Phone
        Number</a> or <a id="textEmail" (click)="showView(1)">Email</a> below
      to receive your
      password reset instruction.
    </div>
    <form class="o-forgot-password__form" [formGroup]="mobileForm">
      <div class="form-group form-group--forgot">
        <label i18n="@@M__COMMON__USERNAME">Phone Number</label>
        <ngx-intl-tel-input [cssClass]="'custom'" [preferredCountries]="['in','us', 'gb']"
          [enableAutoCountrySelect]="true" [enablePlaceholder]="true" name="phone" formControlName='mobileInput'>
        </ngx-intl-tel-input>
        <div class="error text-sm" *ngIf="submitted1 && mobileForm.get('mobileInput').errors?.required">Please enter
          your mobile number
        </div>
      </div>
      <button type="button" id="phone_reset" class="btn btn-primary btn-block" data-target="#forgot_password"
        i18n="@@M__ACTION__CONTINUE" [disabled]="!this.mobileForm.valid || inProgress" (click)="requestMobile()"> Reset
        Password</button>
      <div [hidden]="!error">
        <p class="line-err">{{error}}</p>
      </div>
    </form>
    <div class="text-md grey o-forgot-password__login">
      Did you remember your password?
      <a routerLink="/login" class="primary" data-dismiss="modal">Login</a>
    </div>
  </div>
  <!-- step1 -->

  <div class="o-forgot-password-block" *ngIf="step == 1">
    <a class="logo" id="forgot-password-logo2">
      <img src="assets/ops_logo.png" alt="logo" />
    </a>
    <h2 class="o-forgot-password__title" id="forgot-password-title2">Forgot Password?</h2>
    <div class="text-md" i18n="@@OPSPOT__HOME__FORGOT_PASSWORD__ENTER_USERNAME_HELP_NOTE">
      Don’t worry! Just enter your <a id="textPhone" (click)="showView(0)">Phone
        Number</a> or <a id="textEmail" (click)="showView(1)">Email</a> below
      to receive your
      password reset instruction.
    </div>
    <form class="o-forgot-password__form" [formGroup]="emailForm">
      <div class="form-group form-group--forgot">
        <label i18n="@@M__COMMON__USERNAME">Email Address</label>
        <input id="forgot-password-email" class="form-control form-control-lg form-control--forgot" type="text"
          name="email" placeholder="" formControlName="emailInput" />
        <div class="error text-sm" *ngIf="submitted1 && emailForm.get('emailInput').errors?.required">Please enter
          your email
        </div>
        <div class="error text-sm" *ngIf="emailForm.errors?.invalidEmail">Please enter valid
          email Id
        </div>
      </div>
      <div
        class="mdl-card mdl-color--red-500 mdl-color-text--blue-grey-50  mdl-shadow--2dp opspot-login-box m-error-box"
        style="min-height:0; margin-bottom:10px;" [hidden]="!error">
        <p class="text-white">{{error}}</p>
      </div>
      <button type="button" id="email_reset" class="btn btn-primary btn-block" data-target="#forgot_password"
        i18n="@@M__ACTION__CONTINUE" [disabled]="!this.emailForm.valid || inProgress" (click)="requestEmail()"> Reset
        Password</button>
    </form>
    <div class="text-md grey o-forgot-password__login">
      Did you remember your password?
      <a routerLink="/login" class="primary" data-dismiss="modal">Login</a>
    </div>
  </div>


  <!-- step2 mobile number -->
  <div class="o-forgot-password-block" *ngIf="step == 2">
    <a class="logo" id="forgot-password-otp">
      <img src="assets/ops_logo.png" alt="logo">
    </a>
    <h2 class="o-forgot-password__title" id="forgot-password-otp1">Enter OTP</h2>
    <div class="text-md" i18n="@@OPSPOT__HOME__FORGOT_PASSWORD__UNLOCK_CODE_SENT">
      Enter the verification code sent on
      {{mobilenumber}}
    </div>
    <form class="o-forgot-password__form o-forgot-password__form--padding">
      <div class="o-otp">
        <div class="otp">
          <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="otpConfig"></ng-otp-input>
          <div class="error text-sm" *ngIf="submitted2 && invalidOtp">
            Please enter 6 digit otp number
          </div>
        </div>
      </div>
      <div
        class="mdl-card mdl-color--red-500 mdl-color-text--blue-grey-50  mdl-shadow--2dp opspot-login-box m-error-box"
        style="min-height:0; margin-bottom:10px;" [hidden]="!error">
        <p class="text-white">{{error}}</p>
      </div>
      <button class="btn btn-primary btn-block" id="forgot-password-verify-submit" [disabled]="invalidOtp || inProgress"
        (click)="validateOtp()">Verify</button>
    </form>
    <div *ngIf="!resending" class="text-md grey o-forgot-password__login" (click)="resendOtp()">Didn't receive the OTP?
      <a class="primary" id="forgot-password-resend-submit">Resend OTP</a>
    </div>
    <div *ngIf="resending" class="text-md grey o-forgot-password__login">
      <a>Resending the OTP, please wait...</a>
    </div>
  </div>
  <!-- step2/mobilenumber -->

  <!-- step3/email -->
  <div class="o-forgot-password-block" *ngIf="step == 3">
    <a class="logo">
      <img src="assets/ops_logo.png" alt="logo">
    </a>
    <h2 id="awesome" class="o-forgot-password__title">Awesome!</h2>
    <!-- <div *ngIf="!resending" class="text-md">
      The reset password link sent to {{  mobileOremail }}
      Didn’t received reset password link? <a (click)="resentEmaillink()" class="primary">Resend</a>
    </div> -->
    <div *ngIf="!resending" class="text-md">
      The reset password link has been sent to your email id.
      Didn’t received reset password link? <a (click)="resentEmaillink()" class="primary">Resend</a>
    </div>
    <div *ngIf="resending" class="text-md">
      <a>Resending the reset link, please wait...</a>
    </div>
    <form class="o-forgot-password__form">
      <a id="goHomeLink" class="btn btn-primary btn-block" data-target="#forgot_password3" (click)="goHome()">Go
        Home</a>
    </form>
  </div>

  <!-- step4 -->
  <div class="o-forgot-password-block" *ngIf="step == 4">
    <a class="logo">
      <img src="assets/ops_logo.png" alt="logo">
    </a>
    <h2 class="o-forgot-password__title" id="forgot-password-reset-password">Reset Password</h2>
    <form class="o-forgot-password__form o-forgot-password__form--padding" [formGroup]="updatePasswordForm">
      <div class="form-group">
        <label>New Password</label>
        <input type="password" id="forgot-password-reset-newpassword"
          class="form-control form-control-lg form-control--forgot" placeholder="" formControlName="newPassword">
        <div class="error text-sm" *ngIf="submitted3 && updatePasswordForm.get('newPassword').errors?.required"
          id="forgot-password-reset-error">Please enter new
          password</div>
        <div class="error text-sm" *ngIf="updatePasswordForm.controls['newPassword'].errors?.invalidPassword"
          id="forgot-password-reset-error-lenght">Password needs to be at least eight characters, one uppercase letter
          and one number</div>
      </div>
      <div class="form-group form-group--forgot">
        <label>Confirm Password</label>
        <input type="password" id="forgot-password-reset-confirm-password"
          class="form-control form-control-lg form-control--forgot" placeholder="" formControlName="confirmPassword">
        <div class="error text-sm" *ngIf="submitted3 && updatePasswordForm.errors?.passwordMismatched"
          id="forgot-password-reset-error1">New password and cofirm
          password should match</div>
        <div class="error text-sm" *ngIf="submitted3 && updatePasswordForm.get('confirmPassword').errors?.required"
          id="forgot-password-reset-err0r-lenght1">Please enter confirm password</div>
      </div>
      <button type="button" id="forgot-password-reset-update-submit" class="btn btn-primary btn-block"
        (click)="updatePassword()">Update Password</button>
    </form>
    <div class="text-md grey o-forgot-password__login">Did you remember your password? <a routerLink="/login"
        class="primary">Try
        Login</a></div>
  </div>
</div>
<!-- step4 -->