@import "src/assets/helpers/variables";
@import "node_modules/sass-mq/_mq";

.full-screen {
  width: 100%;
  min-height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary;
  @include mq($from: $mobile_sm, $until: $mobile_lg) {
    background: #fff;
    display: block;
  }
}
.line-err{
  color: #EF5350 !important;
  margin-top: 8px;
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
}
.o-forgot-password-block {
  width: 460px;
  padding: 42px 58px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 0 16px 0 #1575aa;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  .logo {
    width: 160px;
    img {
      width: 100%;
    }
  }
}
.o-forgot-password__title {
  margin: 36px 0px 8px 0px;
}
.o-forgot-password__form {
  margin: 36px 0px 0px;
}
.o-forgot-password__form--padding {
  margin: 29px 0px 0px !important;
}
.form-group--forgot {
  margin-bottom: 43px;
  label {
    font-weight: inherit;
  }
}
.form-control--forgot {
  padding: 14px 15px !important;
  height: 48px !important;
}
.o-forgot-password__login {
  margin-top: 30px;
}
.o-forgot-password__form {
  .o-otp {
    margin-bottom: 43px;
    .otp input {
      width: 45px;
      height: 49px;
      margin-right: 11px;
      border: 1px solid $grey;
      text-align: center;
      padding: 0.6rem 0.75rem;
      font-size: 13px;
      line-height: 18px;
      border-radius: 4px;
      // margin-bottom: 43px;
      margin-top: 6px;
      &:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        border: 1px solid #333333;
      }
    }
    .m-0 {
      margin-right: 0px !important;
    }
  }
}

// forgot password style mobile

@include mq($from: $mobile_sm, $until: $mobile_lg) {
  .o-forgot-password-block {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: none;
    padding: 15px;
    .logo {
      width: 160px;
      img {
        width: 100%;
      }
    }
  }
  .o-forgot-password__title {
    margin: 36px 0px 8px 0px;
    font-weight: 300;
  }
  .o-forgot-password__form {
    margin: 36px 0px 0px;
  }
  .o-forgot-password__form--padding {
    margin: 29px 0px 0px !important;
  }
  .form-group--forgot {
    margin-bottom: 43px;
    label {
      font-weight: inherit;
    }
  }
  .form-control--forgot {
    padding: 14px 15px !important;
    height: 48px !important;
  }
  .o-forgot-password__login {
    margin-top: 30px;
    font-weight: 300 !important;
  }
  .o-forgot-password__form {
    .o-otp {
      display: flex;
      .otp input {
        width: 40px !important;
        height: 49px;
        margin-right: 10px;
        border: 1px solid $grey;
        text-align: center;
        padding: 18px 9px;
        font-size: 13px;
        line-height: 18px;
        border-radius: 4px;
        margin-bottom: 28px;
        margin-top: 6px;
        &:focus {
          color: #495057;
          background-color: #fff;
          border-color: #80bdff;
          outline: 0;
          border: 1px solid #333333;
        }
      }
      .m-0 {
        margin-right: 0px !important;
      }
    }
  }
}

::ng-deep .intl-tel-input {
  position: relative !important;
  display: block !important;
}

::ng-deep .intl-tel-input.allow-dropdown .flag-container{
left: 1rem;
}


::ng-deep .intl-tel-input.allow-dropdown input, .intl-tel-input.allow-dropdown input[type=text], .intl-tel-input.allow-dropdown input[type=tel], .intl-tel-input.separate-dial-code input, .intl-tel-input.separate-dial-code input[type=text], .intl-tel-input.separate-dial-code input[type=tel] {
  padding-right: 6px;
  padding-left: 82px !important;
  margin-left: 0;
}

::ng-deep .intl-tel-input input, .intl-tel-input input[type=text], .intl-tel-input input[type=tel] {
width: 100%;
  position: relative;
  z-index: 0;
  display: block;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-right: 36px;
  margin-right: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  background-clip: padding-box;
  border: 1px solid grey;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
