<!-- step1 -->
<div class="full-screen">
  <div class="o-forgot-password-block" *ngIf="step == 1">
    <a class="logo">
      <img src="assets/ops_logo.png" alt="logo" /> </a><!-- logo end -->
    <h2 class="o-forgot-password__title">Forgot Password?</h2>
    <div class="text-md" i18n="@@OPSPOT__HOME__FORGOT_PASSWORD__ENTER_USERNAME_HELP_NOTE">
      Don’t worry! Just enter your email or phone number below to receive your
      password reset instruction.
    </div>
    <form action="" class="o-forgot-password__form" [formGroup]="step1Form">
      <div class="form-group form-group--forgot">
        <label i18n="@@M__COMMON__USERNAME">Email or Phone Number</label>
        <div class="form-group">
          <!-- <ngx-intl-tel-input [cssClass]="'custom'" [preferredCountries]="['in','us', 'gb']"
            [enableAutoCountrySelect]="true" [enablePlaceholder]="true" name="phone" formControlName='mobileNumber'>
          </ngx-intl-tel-input> -->
          <input class="form-control form-control-lg form-control--forgot" type="text" placeholder=""
            formControlName="mobileNumber" />
          <div class="error text-sm" *ngIf="submitted1 && step1Form.get('mobileNumber').errors?.required">Please enter
            your
            email or mobile number</div>
        </div>
      </div>
      <button type="button" id="email_reset" class="btn btn-primary btn-block disabled" data-target="#forgot_password"
        i18n="@@M__ACTION__CONTINUE" [disabled]="inProgress" (click)="request()">
        Reset Password
      </button>
    </form>
    <div class="text-md grey o-forgot-password__login">
      Did you remembered your password?
      <a routerLink="" class="primary" data-dismiss="modal">Login</a>
    </div>
  </div>
  <!-- step1 -->


  <!-- step2 mobile number -->
  <div class="o-forgot-password-block" *ngIf="step == 2">
    <h2 class="o-forgot-password__title">Enter OTP</h2>
    <div class="text-md" i18n="@@OPSPOT__HOME__FORGOT_PASSWORD__UNLOCK_CODE_SENT">
      Enter the verification code we just send you on
      {{mobileNumber}}
    </div>
    <form action="" class="o-forgot-password__form o-forgot-password__form--padding" [formGroup]="step2Form">
      <div class="o-otp">
        <div class="otp">
          <fieldset>
            <input #otpNum1 type="text" maxlength="1" (keypress)="nextOtpNum($event,1);" formControlName="otpNum1">
            <input #otpNum2 type="text" maxlength="1" (keypress)="nextOtpNum($event,2)" formControlName="otpNum2">
            <input #otpNum3 type="text" maxlength="1" (keypress)="nextOtpNum($event,3)" formControlName="otpNum3">
            <input #otpNum4 type="text" maxlength="1" (keypress)="nextOtpNum($event,4)" formControlName="otpNum4">
            <input #otpNum5 type="text" maxlength="1" (keypress)="nextOtpNum($event,5)" formControlName="otpNum5">
            <input #otpNum6 type="text" maxlength="1" (keypress)="nextOtpNum($event,6)" formControlName="otpNum6">
          </fieldset>
          <div class="error text-sm"
            *ngIf="submitted2 && step2Form.get('otpNum1').errors?.required ||
        submitted2 && step2Form.get('otpNum2').errors?.required ||submitted2 && step2Form.get('otpNum3').errors?.required ||submitted2 && step2Form.get('otpNum4').errors?.required ||submitted2 && step2Form.get('otpNum5').errors?.required || submitted2 && step2Form.get('otpNum6').errors?.required">
            Please enter otp</div>
        </div>
      </div>
      <a class="btn btn-primary btn-block" (click)="validateOtp()">Validate OTP</a>
    </form>
    <div class="text-md grey o-forgot-password__login">Didn’t received OTP? <a class="primary">Resend</a></div>
  </div>
  <!-- step2/mobilenumber -->

  <!-- step2/email -->
  <!-- <div class="o-forgot-password-block"  *ngIf="step == 2" >
  <h2 class="o-forgot-password__title">Awesome :)</h2>
  <div class="text-md">
      The reset password link sent to {{username}}
      Didn’t received reset password link? <a href="#" class="primary">Resend</a> 
  </div>
  <form action="" class="o-forgot-password__form">
      <a id="phone_reset" class="btn btn-primary btn-block"  data-target="#forgot_password3">Go Home</a>
  </form> -->

  <!-- step3 -->
  <div class="o-forgot-password-block" *ngIf="step == 3">
    <h2 class="o-forgot-password__title">Reset Password</h2>
    <form action="" class="o-forgot-password__form o-forgot-password__form--padding">
      <div class="form-group">
        <label>New Password</label>
        <input type="password" class="form-control form-control-lg form-control--forgot" placeholder="">
        <div class="error text-sm" *ngIf="submitted3 && step3Form.get('newPassword').errors?.required">Please enter
          your
          email or mobile number</div>
      </div>
      <div class="form-group form-group--forgot">
        <label>Confirm Password</label>
        <input type="password" class="form-control form-control-lg form-control--forgot" placeholder="">
        <div class="error text-sm" *ngIf="submitted3 && step3Form.errors?.required">Please enter
          your
          email or mobile number</div>
      </div>
      <button type="button" class="btn btn-primary btn-block">Update Password</button>
    </form>
    <div class="text-md grey o-forgot-password__login">Did you remembered your password? <a href="" class="primary">Try
        Login</a></div>
  </div>
</div>
<!-- step3 -->


<!-- <div class="mdl-grid" style="max-width:360px">
  <div class="mdl-cell mdl-cell--12-col" [hidden]="!error">
    <div
      class="mdl-card mdl-color--red-500 mdl-color-text--blue-grey-50  mdl-shadow--2dp opspot-login-box"
      style="min-height:0;"
    >
      <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
        {{ error }}
      </div>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--12-col">
    <div
      class="mdl-card mdl-shadow--2dp m-forgot-password--step-1"
      *ngIf="step == 1"
    >
      <div class="mdl-card__supporting-text">
        <ng-container
          i18n="@@OPSPOT__HOME__FORGOT_PASSWORD__ENTER_USERNAME_HELP_NOTE"
        >
          To request a new password, enter your username
        </ng-container>

        <div
          class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
          [mdl]
        >
          <input
            class="mdl-textfield__input"
            type="text"
            id="username"
            #username
            (keydown.enter)="request(username)"
          />
          <label
            class="mdl-textfield__label"
            for="username"
            i18n="@@M__COMMON__USERNAME"
            >Username</label
          >
        </div>
        <button
          class="m-btn m-btn--action"
          (click)="request(username)"
          [disabled]="inProgress"
          i18n="@@M__ACTION__CONTINUE"
        >
          Continue
        </button>
      </div>
    </div>

    <div
      class="mdl-card mdl-color--blue-grey-500 mdl-color-text--blue-grey-50 mdl-shadow--2dp m-forgot-password--step-2"
      *ngIf="step == 2"
    >
      <div
        class="mdl-card__supporting-text"
        i18n="@@OPSPOT__HOME__FORGOT_PASSWORD__UNLOCK_CODE_SENT"
      >
        We have sent an unlock code to your registered email address.
      </div>
    </div>

    <div
      class="mdl-card mdl-color--blue-grey-500 mdl-color-text--blue-grey-50 mdl-shadow--2dp m-forgot-password--step-3"
      *ngIf="step == 3"
    >
      <div
        class="mdl-card__supporting-text  mdl-color-text--blue-grey-50"
        i18n="@@OPSPOT__HOME__FORGOT_PASSWORD__ENTER_NEW_PASSWORD_HELP_NOTE"
      >
        Please enter your new password
      </div>

      <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
        <div
          class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
          [mdl]
        >
          <input
            class="mdl-textfield__input"
            type="password"
            id="password"
            #password
          />
          <label
            class="mdl-textfield__label mdl-color-text--blue-grey-50"
            for="password"
            i18n="@@M__COMMON__PASSWORD"
            >Password</label
          >
        </div>
        <div></div>

        <div
          class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
          [mdl]
        >
          <input
            class="mdl-textfield__input"
            type="password"
            id="password2"
            #password2
            (keyup)="validatePassword(password2)"
            (keydown.enter)="password == password2 ? reset(password2) : null"
          />
          <label
            class="mdl-textfield__label mdl-color-text--blue-grey-50"
            for="password2"
            i18n="@@OPSPOT__HOME__FORGOT_PASSWORD__CONFIRM_PASSWORD_LABEL"
            >Password (confirm)
          </label>
        </div>
        <div></div>

        <button
          class="mdl-button mdl-button--raised mdl-color--blue-grey-200"
          (click)="reset(password2)"
          [disabled]="inProgress"
          i18n="@@OPSPOT__HOME__FORGOT_PASSWORD__RESET_ACTION"
        >
          Reset
        </button>
      </div>
    </div>
  </div>
</div> -->