<!-- step1 -->
<div class="full-screen">
  <!-- <div class="o-forgot-password-block" *ngIf="step == -1">
    <a class="logo">
      <img src="assets/ops_logo.png" alt="logo" />
    </a>
    <h2 class="o-forgot-password__title">Forgot Password?</h2>
    <div class="text-md" i18n="@@OPSPOT__HOME__FORGOT_PASSWORD__ENTER_USERNAME_HELP_NOTE">
      Don’t worry! Just enter your <a (click)="showView(1)">email</a> or <a (click)="showView(0)">phone
        number</a> below
      to receive your
      password reset instruction.
    </div>
  </div> -->

  <div class="o-forgot-password-block" *ngIf="step == 0">
    <a class="logo">
      <img src="assets/ops_logo.png" alt="logo" />
    </a>
    <h2 class="o-forgot-password__title">Forgot Password?</h2>
    <div class="text-md" i18n="@@OPSPOT__HOME__FORGOT_PASSWORD__ENTER_USERNAME_HELP_NOTE">
      Don’t worry! Just enter your <a (click)="showView(0)">phone
        number</a> or <a (click)="showView(1)">email</a> below
      to receive your
      password reset instruction.
    </div>
    <form action="" class="o-forgot-password__form" [formGroup]="mobileForm">
      <div class="form-group form-group--forgot">
        <label i18n="@@M__COMMON__USERNAME">Phone Number</label>
        <ngx-intl-tel-input [cssClass]="'custom'" [preferredCountries]="['in','us', 'gb']"
          [enableAutoCountrySelect]="true" [enablePlaceholder]="true" name="phone" formControlName='mobileInput'>
        </ngx-intl-tel-input>
        <div class="error text-sm" *ngIf="submitted1 && mobileForm.get('mobileInput').errors?.required">Please enter
          your mobile number
        </div>
      </div>
      <button type="button" id="email_reset" class="btn btn-primary btn-block" data-target="#forgot_password"
        i18n="@@M__ACTION__CONTINUE" [disabled]="!this.mobileForm.valid || inProgress" (click)="requestMobile()"> Reset
        Password</button>
    </form>
    <div class="text-md grey o-forgot-password__login">
      Did you remembered your password?
      <a routerLink="/login" class="primary" data-dismiss="modal">Login</a>
    </div>
  </div>
  <!-- step1 -->

  <div class="o-forgot-password-block" *ngIf="step == 1">
    <a class="logo">
      <img src="assets/ops_logo.png" alt="logo" />
    </a>
    <h2 class="o-forgot-password__title">Forgot Password?</h2>
    <div class="text-md" i18n="@@OPSPOT__HOME__FORGOT_PASSWORD__ENTER_USERNAME_HELP_NOTE">
      Don’t worry! Just enter your <a (click)="showView(0)">phone
        number</a> or <a (click)="showView(1)">email</a> below
      to receive your
      password reset instruction.
    </div>
    <form action="" class="o-forgot-password__form" [formGroup]="emailForm">
      <div class="form-group form-group--forgot">
        <label i18n="@@M__COMMON__USERNAME">Email</label>
        <input class="form-control form-control-lg form-control--forgot" type="text" placeholder=""
          formControlName="emailInput" />
        <div class="error text-sm" *ngIf="submitted1 && emailForm.get('emailInput').errors?.required">Please enter
          your email
        </div>
        <div class="error text-sm" *ngIf="emailForm.errors?.invalidEmail">Please enter valid
          email Id
        </div>
        <!-- <div class="error text-sm">{{error}}</div> -->
      </div>
      <div
        class="mdl-card mdl-color--red-500 mdl-color-text--blue-grey-50  mdl-shadow--2dp opspot-login-box m-error-box"
        style="min-height:0; margin-bottom:10px;" [hidden]="!error">
        <p class="text-white">{{error}}</p>
      </div>
      <button type="button" id="email_reset" class="btn btn-primary btn-block" data-target="#forgot_password"
        i18n="@@M__ACTION__CONTINUE" [disabled]="!this.emailForm.valid || inProgress" (click)="requestEmail()"> Reset
        Password</button>
    </form>
    <div class="text-md grey o-forgot-password__login">
      Did you remembered your password?
      <a routerLink="/login" class="primary" data-dismiss="modal">Login</a>
    </div>
  </div>


  <!-- step2 mobile number -->
  <div class="o-forgot-password-block" *ngIf="step == 2">
    <a class="logo">
      <img src="assets/ops_logo.png" alt="logo">
    </a>
    <h2 class="o-forgot-password__title">Enter OTP</h2>
    <div class="text-md" i18n="@@OPSPOT__HOME__FORGOT_PASSWORD__UNLOCK_CODE_SENT">
      Enter the verification code we just send you on
      {{mobilenumber}}
    </div>
    <form action="" class="o-forgot-password__form o-forgot-password__form--padding" [formGroup]="otpForm">
      <div class="o-otp">
        <div class="otp">
          <fieldset>
            <input type="text" maxlength="1" (keyup)="prevOtpNum($event)" (keypress)="nextOtpNum($event);"
              formControlName="otpNum1">
            <input type="text" maxlength="1" (keyup)="prevOtpNum($event)" (keypress)="nextOtpNum($event)"
              formControlName="otpNum2">
            <input type="text" maxlength="1" (keyup)="prevOtpNum($event)" (keypress)="nextOtpNum($event)"
              formControlName="otpNum3">
            <input type="text" maxlength="1" (keyup)="prevOtpNum($event)" (keypress)="nextOtpNum($event)"
              formControlName="otpNum4">
            <input type="text" maxlength="1" (keyup)="prevOtpNum($event)" (keypress)="nextOtpNum($event)"
              formControlName="otpNum5">
            <input type="text" maxlength="1" (keyup)="prevOtpNum($event)" (keypress)="nextOtpNum($event)"
              formControlName="otpNum6">
          </fieldset>
          <div class="error text-sm" *ngIf="submitted2 && otpForm.errors?.invalidOtp">
            Please enter 6 digit otp number
          </div>
          <!-- <div class="error text-sm">{{error}}</div> -->
        </div>
      </div>
      <div
        class="mdl-card mdl-color--red-500 mdl-color-text--blue-grey-50  mdl-shadow--2dp opspot-login-box m-error-box"
        style="min-height:0; margin-bottom:10px;" [hidden]="!error">
        <p class="text-white">{{error}}</p>
      </div>
      <button class="btn btn-primary btn-block" [disabled]="!this.otpForm.valid ||inProgress"
        (click)="validateOtp()">Validate OTP</button>
    </form>
    <div *ngIf="!resending" class="text-md grey o-forgot-password__login" (click)="resendOtp()">Didn’t received OTP?
      <a class="primary">Resend</a>
    </div>
    <div *ngIf="resending" class="text-md grey o-forgot-password__login">
      <a>Resending the OTP, please wait...</a>
    </div>
  </div>
  <!-- step2/mobilenumber -->

  <!-- step3/email -->
  <div class="o-forgot-password-block" *ngIf="step == 3">
    <a class="logo">
      <img src="assets/ops_logo.png" alt="logo">
    </a>
    <h2 class="o-forgot-password__title">Awesome :)</h2>
    <div *ngIf="!resending" class="text-md">
      The reset password link sent to {{  mobileOremail }}
      Didn’t received reset password link? <a (click)="resentEmaillink()" class="primary">Resend</a>
    </div>
    <div *ngIf="resending" class="text-md">
      <a>Resending the reset link, please wait...</a>
    </div>
    <form action="" class="o-forgot-password__form">
      <a id="phone_reset" class="btn btn-primary btn-block" data-target="#forgot_password3" (click)="goHome()">Go
        Home</a>
    </form>
  </div>

  <!-- step4 -->
  <div class="o-forgot-password-block" *ngIf="step == 4">
    <a class="logo">
      <img src="assets/ops_logo.png" alt="logo">
    </a>
    <h2 class="o-forgot-password__title">Reset Password</h2>
    <form class="o-forgot-password__form o-forgot-password__form--padding" [formGroup]="step3Form">
      <div class="form-group">
        <label>New Password</label>
        <input type="password" class="form-control form-control-lg form-control--forgot" placeholder=""
          formControlName="newPassword">
        <div class="error text-sm" *ngIf="submitted3 && step3Form.get('newPassword').errors?.required">Please enter new
          password</div>
        <div class="error text-sm" *ngIf="step3Form.controls['newPassword'].errors?.invalidPassword">Password needs to
          be at
          least eight characters, one uppercase letter and one number</div>
        <!-- <div *ngIf="submitted3 && !step3Form.controls['newPassword'].valid" class="error text-sm">
          <div> {{ getErrorPassword()}}</div>
        </div> -->
      </div>
      <div class="form-group form-group--forgot">
        <label>Confirm Password</label>
        <input type="password" class="form-control form-control-lg form-control--forgot" placeholder=""
          formControlName="confirmPassword">
        <div class="error text-sm" *ngIf="submitted3 && step3Form.errors?.passwordMismatched">New password and cofirm
          pasword should match</div>
      </div>
      <button type="button" class="btn btn-primary btn-block" (click)="updatePassword()">Update Password</button>
    </form>
    <div class="text-md grey o-forgot-password__login">Did you remembered your password? <a href="" class="primary">Try
        Login</a></div>
  </div>
</div>
<!-- step4 -->


<!-- <div class="mdl-grid" style="max-width:360px">
  <div class="mdl-cell mdl-cell--12-col" [hidden]="!error">
    <div
      class="mdl-card mdl-color--red-500 mdl-color-text--blue-grey-50  mdl-shadow--2dp opspot-login-box"
      style="min-height:0;"
    >
      <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
        {{ error }}
      </div>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--12-col">
    <div
      class="mdl-card mdl-shadow--2dp m-forgot-password--step-1"
      *ngIf="step == 1"
    >
      <div class="mdl-card__supporting-text">
        <ng-container
          i18n="@@OPSPOT__HOME__FORGOT_PASSWORD__ENTER_USERNAME_HELP_NOTE"
        >
          To request a new password, enter your username
        </ng-container>

        <div
          class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
          [mdl]
        >
          <input
            class="mdl-textfield__input"
            type="text"
            id="username"
            #username
            (keydown.enter)="request(username)"
          />
          <label
            class="mdl-textfield__label"
            for="username"
            i18n="@@M__COMMON__USERNAME"
            >Username</label
          >
        </div>
        <button
          class="m-btn m-btn--action"
          (click)="request(username)"
          [disabled]="inProgress"
          i18n="@@M__ACTION__CONTINUE"
        >
          Continue
        </button>
      </div>
    </div>

    <div
      class="mdl-card mdl-color--blue-grey-500 mdl-color-text--blue-grey-50 mdl-shadow--2dp m-forgot-password--step-2"
      *ngIf="step == 2"
    >
      <div
        class="mdl-card__supporting-text"
        i18n="@@OPSPOT__HOME__FORGOT_PASSWORD__UNLOCK_CODE_SENT"
      >
        We have sent an unlock code to your registered email address.
      </div>
    </div>

    <div
      class="mdl-card mdl-color--blue-grey-500 mdl-color-text--blue-grey-50 mdl-shadow--2dp m-forgot-password--step-3"
      *ngIf="step == 3"
    >
      <div
        class="mdl-card__supporting-text  mdl-color-text--blue-grey-50"
        i18n="@@OPSPOT__HOME__FORGOT_PASSWORD__ENTER_NEW_PASSWORD_HELP_NOTE"
      >
        Please enter your new password
      </div>

      <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
        <div
          class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
          [mdl]
        >
          <input
            class="mdl-textfield__input"
            type="password"
            id="password"
            #password
          />
          <label
            class="mdl-textfield__label mdl-color-text--blue-grey-50"
            for="password"
            i18n="@@M__COMMON__PASSWORD"
            >Password</label
          >
        </div>
        <div></div>

        <div
          class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
          [mdl]
        >
          <input
            class="mdl-textfield__input"
            type="password"
            id="password2"
            #password2
            (keyup)="validatePassword(password2)"
            (keydown.enter)="password == password2 ? reset(password2) : null"
          />
          <label
            class="mdl-textfield__label mdl-color-text--blue-grey-50"
            for="password2"
            i18n="@@OPSPOT__HOME__FORGOT_PASSWORD__CONFIRM_PASSWORD_LABEL"
            >Password (confirm)
          </label>
        </div>
        <div></div>

        <button
          class="mdl-button mdl-button--raised mdl-color--blue-grey-200"
          (click)="reset(password2)"
          [disabled]="inProgress"
          i18n="@@OPSPOT__HOME__FORGOT_PASSWORD__RESET_ACTION"
        >
          Reset
        </button>
      </div>
    </div>
  </div>
</div> -->