@import "src/assets/helpers/variables";
@import "node_modules/sass-mq/_mq";


@include mq($from: $desktop_sm, $until: $wide_lg ) {
	.o-forgot-password-block{
		width: 460px;
		padding: 42px 58px;
		border-radius: 6px;	
		background-color: #FFFFFF;	
		box-shadow: 0 0 16px 0 #1575AA;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		.logo{
			width: 160px;
			img{
				width: 100%;
			}
		}
	}
	.o-forgot-password__title{
		margin: 36px 0px 8px 0px;

	}
	.o-forgot-password__form{
		margin: 36px 0px 0px;
	}
	.o-forgot-password__form--padding{
		margin: 29px 0px 0px!important;
	}
	.form-group--forgot{
		margin-bottom:43px;
		label{
			font-weight: inherit;
		} 
	}
	.form-control--forgot{
		padding: 14px 15px!important;
		height: 48px!important;
	}
	.o-forgot-password__login{
		margin-top: 30px;
	}
	.o-forgot-password__form{
		.o-otp{
			.otp input {
				width: 48px;
				height: 49px;
				margin-right: 11px;
				border: 1px solid $grey;
				text-align: center;
				padding: 0.6rem 0.75rem;
				font-size: 13px;
				line-height: 18px;
				border-radius: 4px;
				margin-bottom: 43px;
				margin-top:6px;
				&:focus{
					color: #495057;
					background-color: #fff;
					border-color: #80bdff;
					outline: 0;
					border: 1px solid #333333;
				}
			}
			.m-0{
				margin-right:0px!important;
			}
		}
	}
	
}
