<div id="copyright-policy" class="document-content-block document-content-block--p-b-41">
    <div class="document-header">
        <h5 class="primary">Copyright Policy</h5>
        <div class="text-md grey">Updated on September 27, 2019</div>
    </div>
    <p class="text-md m-t-17 m-b-20">
        We, <span class="f500">AEIONE LLP</span> are the owner and operator of the Platform and the Services in
        India. Site, application or product (&quot;Service&quot;) will be used by <span class="f500">‘AEIONE LLP’</span>
        that
        owns the Service. <span class="f500">(&quot;One Page Spotlight&quot;, &quot;we&quot;, &quot;us&quot; or
            &quot;our&quot;).</span> All references
        in this Agreement to “we”, “us”, “our”, or <span class="f500">One Page Spotlight.,</span> is a reference to
        <span class="f500">AEIONE LLP.</span>
    </p>
    <p class="text-md m-b-20">
        This Copyright Policy, Terms and Conditions (including User Terms and License
        Terms), the Privacy Policy, Community Guidelines, additional terms or disclaimers,
        specific terms and conditions relating to the usage of additional features that may be
        added to the One Page Spotlight platform from time to time, posted and updated by
        us (collectively constitute the “Agreement”), and shall govern the relationship
        between us and you. By agreeing to this Copyright Policy, you also agree to the
        provisions of other documents relating to the usage of our platform which are
        incorporated herein by way of reference and form an integral part of the Agreement
        governing the relationship between us and you.
    </p>
    <ol class="document-ol document-liststyle">
        <div class="m-t-17 doc-subtitle">Introduction to Copyright</div>
        <li>
            <p class="text-md m-t-10 m-b-20">
                Copyright is a legal right that protects original works of authorship. In order to
                qualify for copyright, the work needs to be created by the author themselves and it
                must have some modicum of creativity. Please note that copyright does not protect
                ideas but safeguards the expression of an idea.
                Copyright covers audio, visual and written works of authorship and includes works
                like songs, musical compositions, sound recordings, videos, movies, television shows
                and broadcasts, video games, paintings, photographs, sculptures, books, plays,
                manuscripts, articles, musical scores, source code, etc. The creator of the work
                obtains a copyright in the creation from the moment it is created and fixed on a
                tangible medium of expression.
                As the copyright owner, you have certain rights under the law to stop others from
                copying or distributing your work, or creating new works based on your work.
                Copyright infringement generally occurs when a person engages in one of these
                activities without the copyright owner’s permission.
                In accordance with the Berne Convention, copyrights for most types of works must
                last at least 50 years after the author’s death, but countries are free to set longer
                copyright terms in their own legal regimes. Once the copyright expires, the work
                loses copyright protection and becomes part of the “public domain.” Works that have
                fallen into the public domain are freely available for anyone to use. All the work is
                injected into the public domain because the central purpose of copyright law is to
                encourage people to make creative works, so the law gives a copyright owner certain
                rights, but only for a limited time. This balance gives the author an incentive to
                create, but also gives other people the ability to use the work without permission
                after the copyright expires.
            </p>
        </li>
        <div class="m-t-17 doc-subtitle">Posting Content on One Page Spotlight</div>
        <li>
            <p class="text-md m-t-10 m-b-20">
                The best way to ensure that your post does not violate copyright law is to only post
                content that you have created yourself; or if it is in the public domain where the
                copyright protection has already expired; or is covered by fair use like it is for non-
                profit educational purpose, etc.; or if you have taken a written permission such as
                through purchasing a license, etc.<br> 
                Please note that you will be guilty of copyright violation if you post any content that
                belongs to a third party unless you have specific rights to display or distribute such
                content. Accordingly, you will  infringe someone else&#39;s copyright when you post their
                content even if you bought or downloaded the content; or recorded the content onto
                your own recording device; or gave credit to the copyright owner; or included a
                disclaimer that you did not intend to infringe copyright or profit from it; or modified
                the work or added your own original material to it or found the content available on
                the internet. Hence, we request you not to post any content of a third party on One
                Page Spotlight, unless the copyright owner of such content has expressly granted you
                the right to display or distribute such content.
            </p>
        </li>
        <li>
            <p class="text-md m-t-10 m-b-20">
                If you post an audio, video or audio-visual work and it was immediately removed
                by us, it may have been identified as potentially containing someone else’s
                copyrighted content. If your video was removed by us for copyright reasons, you will
                receive an email and a notification about the removal. Please use the information in
                the email and notification to learn more about your options.  If you do not see an
                email from us regarding the removal, please check the email address that is
                associated with your account as well as your email&#39;s spam folder.
            </p>
        </li>
        <li>
            <p class="text-md m-t-10 m-b-20">
                When we receive a report from a rights owner claiming that content posted by you
                infringes their intellectual property rights, we may need to promptly remove that
                content without contacting you first. If we  remove content you posted because of an
                intellectual property report, you will receive a notification that includes the name
                and email of the rights owner who made the report and/or the details of the report. If
                you believe the content should not have been removed, you can follow up with such a
                party which made the report directly to try to resolve the issue. If you are an admin
                on a Page, and the content posted by another admin on the Page was removed due to
                an intellectual property report, you will receive a notification with information about
                the content that was removed, as well as the name of the admin on the Page who
                posted it.
            </p>
        </li>
        <li>
            <p class="text-md m-t-10 m-b-20">
                If you repeatedly post content that infringes someone else’s intellectual property
                rights, such as copyrights or trademarks, your account may be disabled or your Page
                may be removed. Your ability to post photos or videos may be limited in such a case,
                and you could also lose access to certain features or functionality. The actions taken
                under the policy may depend on the nature of the reported content and the place
                where it was posted. If you believe your account was disabled by mistake, please do
                write to us and let us know about the same on <a href="mailto:copyright@onepagespotlight.com"
                    class="f500">copyright@onepagespotlight.com.</a> If
                something you posted is restored due to an appeal or because a rights owner
                withdrew their report, we will take that restoration into account under the repeat
                infringer policy.
            </p>
        </li>
        <div class="m-t-17 doc-subtitle">Reporting of Copyright Claims to One Page Spotlight</div>
        <li>
            <p class="text-md m-t-10 m-b-20">
                AEIONE LLP has framed its copyright policy in accordance with the Digital
                Millennium Copyright Act. If you believe in good faith that your copyright has been
                infringed either by a content posted by another user or through an advertisement, we
                request you to submit a claim of copyright infringement to us  by submitting a Notice
                of Copyright Infringement through a written communication by
                writing to us on <a href="mailto:copyright@onepagespotlight.com"
                    class="f500">copyright@onepagespotlight.com.</a> Please furnish your complete
                contact information; a description of the copyrighted work that you claim has been
                infringed; a description of the content on our site that you claim infringes your
                copyright; information reasonably sufficient to permit us to locate the material on
                our site by providing web addresses (URLs) leading directly to the allegedly
                infringing content; or the direct link to such advertisement on
                <a href="mailto:copyright@onepagespotlight.com" class="f500">copyright@onepagespotlight.com.</a>
                Further, we request you to make a declaration
                that you have a good faith belief that use of the copyrighted content described above,
                in the manner you have complained of, is not authorized by the copyright owner, its
                agent, or the law; and the information in your notice is accurate; and under penalty
                of perjury, you have to state that you are the owner or authorized to act on behalf of
                the owner of an exclusive copyright that is allegedly infringed; and you must affix
                your electronic signature or physical signature.
            </p>
        </li>
        <li>
            <p class="text-md m-t-10 m-b-20">
                Please note that when we receive copyright claims and remove the reported
                content, we provide the reported user with the report number; rights owner’s name;
                email address provided by the reporting party; description of the rights owner’s
                copyrighted work; and the description of the removed content. If we are contacted by
                fax, mail or email, we pass through the report number and a description of the
                removed content, and additional information can be provided upon request.
            </p>
        </li>
        <li>
            <p class="text-md m-t-10 m-b-20">
                If you submit a copyright report to us, you will receive an automated email that
                contains information about your report, including a unique report number. You
                should save this number in case you need to contact us about your report. If we have
                a question about your report, we may respond to your report and ask for more
                information. If you receive an email from our team asking for more information
                about your report, you  should respond directly to that email. Once your response is
                received by our team, they can continue to look into your report. When we remove
                content in response to a report of copyright infringement, we will notify the person
                you reported, to inform them that the content was removed. We also provide them
                with your contact information, including your email address and the name of your
                organization or client, and/or the contents of your report. If the person who posted
                the content believes that the content should not have been removed, they may reach
                out to you directly to try to resolve the issue.
            </p>
        </li>
        <li>
            <p class="text-md m-t-10 m-b-20">
                In accordance with the provisions of the Digital Millennium Copyright Act, if you
                believe that a notice of copyright infringement has been improperly submitted
                against you, you may submit the Counter-Notice Regarding Claim of Copyright
                Infringement through a written communication to us by writing to
                us on <a href="mailto:copyright@onepagespotlight.com" class="f500">copyright@onepagespotlight.com.</a>
                You must submit your full name, your email
                address, your mailing address, and a statement that you consent to the jurisdiction of
                the competent courts of judicature in Bangalore, Karnataka, India, and that you will
                accept service of process from the complainant submitting the notice or his/her
                authorized agent; and identification of the material removed or to which access has
                been disabled; and a statement under penalty of perjury that you have a good faith
                belief that removal or disablement of the material was a mistake or that the material
                was misidentified; and your physical or electronic signature.
            </p>
        </li>
        <div class="m-t-17 doc-subtitle">Resolution and Restoration during Copyright Claims</div>
        <li>
            <p class="text-md m-t-10 m-b-20">
                If you submitted an intellectual property report, but then reached an agreement
                with the person who posted the content, or if you reported content by mistake, you
                can withdraw your intellectual property report.
                The best way for you, in such an event is to send us an email and reference your
                original report number. Once we receive your notice withdrawing your report, we
                will restore the content if it has already been removed and send you an email
                confirmation. We may be unable to restore the content due to technical limitations or
                if the content was removed for other reasons unrelated to your intellectual property
                report.
            </p>
        </li>
        <li>
            <p class="text-md m-t-10 m-b-20">
                You do hereby expressly and unequivocally agree that we will not be liable for any
                illegal download and/or illegal copyright violation or upload of any content through
                the use of tool and technology provided by us, that results in the infringement of the
                intellectual property rights of some third party. In such an event of copyright
                infringement, you agree to resolve such   disputes in their respective jurisdiction&#39; and
                ensure that we are totally indemnified from and against any such claims, losses,
                disputes, etc. You agree that we are not liable to you in any manner for any loss
                whatsoever, monetary or otherwise, with respect to the content posted on our
                platform. You also agree that you will not involve us in any such disputes and will
                never contest and/or fight over such issues on our  platform or the website of
                AEIONE LLP. Further, you understand and agree that you may not be able to view
                content across all geographies, and you may be able to access the same only in the
                territory and device as per the nature and extent of the rights you are granted with
                respect to the content.
            </p>
        </li>
    </ol>
    <p class="text-md m-b-20">
        We believe that intellectual property rights are extremely important in promoting
        expression, and increasing creativity and innovation in the community. We do not
        encourage any infringement of intellectual property rights and have a very strict
        policy and approach with respect to infringement of intellectual property rights of
        any kind and form. We request you to respect the intellectual property rights
        (copyright, trademark and other legal rights) and not to infringe the intellectual
        property rights of any third party while using the platform. Further, please post only
        such content on the platform which are your original works of authorship; in which
        you own all the intellectual property rights; and you have the right to share,
        distribute and reproduce such content by virtue of being the owner or legal, active
        and valid licensee of the copyright in such content. We are committed to helping
        people and organisations promote and protect their intellectual property rights and
        we solicit your help, support and cooperation in accomplishing the said objectives.
        Furthermore, if you have any complaint with respect to infringement of any of your
        intellectual property rights like copyright, trademark, etc, please provide written
        communication to us by writing to us on <a href="mailto:copyright@onepagespotlight.com"
            class="f500">copyright@onepagespotlight.com.</a>
    </p>
    <div class="line"></div>
</div><!-- copyright policy end-->