@import "src/assets/helpers/variables";
@import "node_modules/sass-mq/_mq";

.o-create-enrollment{
    background-color: #FAFAFA;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    @include mq($from:$mobile_sm, $until:$desktop_sm){
        background-color: $white;
    }
    textarea{
        resize:none;
    }
}
//heder css
.o-create-enrollment-header{
    padding:20px 0;
    @include mq( $until:$desktop_sm){
        padding:20px 15px 0px;
        h4{
            margin-bottom: 5px;
            font-size: 15px;
        }
    }  
}
// form css
.o-create-enrollment-content{
    max-width: 527px;
    width: 100%;
    @include mq( $until:$desktop_sm){
      max-width: 100%;  
    }
    &__form{
        border-radius: 4px;	
        background-color: #FFFFFF;
        padding:27px 38px 41px 36px;
        .o-create-enrollment-row{
            display:flex;
            justify-content:space-between;
            .mr11{
                margin-right: 11px;
            }
            .form-group{
                width:100%;
            }
        }
        .description-width{
            position: absolute;
            right:0;
        }
        @include mq($from:$mobile_sm, $until:$desktop_sm){
            padding:15px;
        }
        .paddng-top{
            padding-top:8px;
        }
        // .mb27{
        //     margin-bottom: 27px;
        // }
    }
    .o-enrollment-icon{
        font-size: 15px;
        vertical-align: middle;
        margin-left:5px;
    }
    .select-enrollment{
        position: relative;
        width:100%;
        :after{
            content: "\e933";
            position: absolute;
            font-family: 'icomoon' !important;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            font-size: 24px;
            color: #90A4AE;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            right: 15px;
            z-index: 0;
            top: 42px;  
        }
        select{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    }
    .all-service-option{
        background:#ECEFF1;
        padding:8px 8px;
        width:135px;
        margin-top:20px;
        .icon-x{
            font-size:9px;
            border:1px solid $grey;
            border-radius:50%;
            padding: 2px;
            margin-left:15px;

        }
    }
}

//action
.o-create-enrollment-action{
    margin-top:16px;
    button{
        padding: 8px 15px;
        width:146px;
        text-align: center;
    }
    .mr-18{
        margin-right:15px;
    }
}

  //add gallery image
  .o-enrollment-profile-picture {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    img{
        width:118px;
        height: 118px;
        object-fit: cover;
    }
    @include mq($from:$mobile_sm, $until:$desktop_sm){
        display: flex;
    }
    .mr10{
        margin-right: 10px;
        @include mq($from:$mobile_sm, $until:$desktop_sm){
            margin-bottom: 20px;
        }
    }
    .fileUpload, .fileUpload-preview{
      width:118px;
    }
    // .o-enrollment-image{
    //     img{
    //         width:118px;
    //         height: 118px;
    //         object-fit: cover;
    //     }
    // }
    .mr4{
        margin-right:4px
    } 
    .mt4{
        margin-top:4px
    }
    .fileupload-preview-gallery{
        width: 118px;
        display: flex;
        flex-direction: column;
        height: 118px;
        position: relative;
        img{
            width: 118px;
            height: 118px;
            object-fit: cover;
            border-radius: 2px;
        }
        .o-image-close{
            height: 22px;
            width: 22px;    
            position: absolute;
            top: 7px;
            right: 7px;
            align-items: center;
            border-radius: 50%;
            justify-content: center;
            display: flex;
            background-color: rgba(40, 40, 40, 0.5);
            .icon-x{
                font-size: 12px!important;
                color: #fff;
            }
        } 
    }
  }

  .fileUpload-preview-organiser{
    position: relative;
    width: 118px;
    height: 118px;
    object-fit: cover;
    border-radius: 2px;
    .o-image-edit{
        height: 23px;
        width: 23px;
        position: absolute;
        top: -10px;
        right:-10px;
        align-items: center;
        border-radius: 50%;
        justify-content: center;
        display: flex;
        background-color: #0288D1;
        .icon-edit-profile{
            font-size: 16px;
            color: #fff;
        }
    }
  }

  //cover image style
  .o-enrollment-cover-image {
    display: flex;
    margin:-27px -56px 27px -36px;
    @include mq($from:$mobile_sm, $until:$desktop_sm){
        display: inherit;
        margin:-15px -15px 15px -15px;
    }
    .mr10{
        margin-right: 10px;
        @include mq($from:$mobile_sm, $until:$desktop_sm){
            margin-bottom: 20px;
        }
    }
    .mt15{
        margin-top:15px;
    }
    .fileUpload input.upload, .fileUpload-preview input.upload{
        width:100%;
        height: 100%;
    }
    .fileUpload-preview {
        img{
            width:118px;
            height: 118px;
            object-fit: cover;
        }
    }
    .o-cover-edit{
        bottom: 87px;
        right: 251px;
        @include mq($from:$mobile_sm, $until:$desktop_sm){
            right: 50%;
        }
    }
    .fileUpload, .fileupload-preview{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: $grey-light;
        height: 199px;
        img{
            width: 100%;
            height: 199px;
            object-fit: cover;
        }  
    }
    .fileupload-preview-gallery{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: $grey-light;
        height: 199px;
        img{
            width: 100%;
            height: 199px;
            object-fit: cover;
        }  
    }
  }

//radio button style
.o-enrollment-radiobtn{
    .radiobutton input[type="radio"]:checked + label:after{
        content: "\e930";
        font-family: 'icomoon' !important;
        color: #ffff;
        font-size: 12px;
        width:16px;
        height: 16px;
        border:0px!important;
        background:$primary!important;
        display: flex;
        justify-content: center;
        vertical-align: middle;
        align-items: center;
        
    }
    .radiobutton input[type="radio"] + label:before, .radiobutton input[type="radio"] + label:after{
        width:16px!important;
        height: 16px!important;
        top:10px;
        right: 15px;
    }
    &__button{
        border:1px solid #90A4AE;
        padding: 10px 15px;
        border-radius: 4px;
        label{
            margin-bottom:0px;
        }
    }
}


//responsive style
@include mq($from:$mobile_sm, $until:$desktop_sm){
    .o-enrollment-event{
        .mbr-10{
            margin-bottom: 10px;
        }
    }
    .o-create-enrollment-action{
        display:flex;
        margin-top: 29px;
    }
}