<style>
  .profile-menu {
    width: 200px;
  }

  .profile-image {
    max-height: 50px;
  }

  .o-prof-avatar-name {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }

  .o-prof-avatar-name__block {
    width: calc(100% - 53px);
    margin-left: 11px;
  }

  .o-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
  }

  .o-avatar img {
    width: 100%;
  }

  .pos-rel {
    position: relative;
  }

  .pos-rel .m-dropdown__list {
    margin-top: 45px;
  }
</style>

<header class="header">

  <!-- desktop:top-navigation:app-logo -->
  <div class="logo_main">
    <a routerLink="/newsfeed" id="topbar-ops-logo">
      <img src="assets/ops_icon.png">
    </a>
  </div>
  <!-- desktop:top-navigation:app-logo -->

  <!-- desktop:logged-in:top-navigation -->
  <div *ngIf="session.isLoggedIn()" class="nav-bar hidden-under-tablet">
    
    <!-- desktop:logged-in:top-navigation:left -->
    <div class="nav-menu">
      <ul class="nav-list m-l-8">
        <li class="nav__item">
          <a class="nav__link nav__link--text" routerLink="/newsfeed"
            routerLinkActive="m-topbar--navigation--item-active" title="Newsfeed"
            i18n-title="@@M_TOPBAR_NEWSFEED" id="topbar-home">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link nav__link--text" [routerLink]="['/explore']"
            [queryParams]="{type:'activities',q:'', ref:''}" id="topbar-explore">Explore</a>
        </li>
        <li class="nav__item">
          <a class="nav__link nav__link--text" routerLink='/wallet/tokens/overview' id="topbar-wallet">Wallet</a>
        </li>
      </ul><!-- first nav end -->
    </div>
    <!-- desktop:logged-in:top-navigation:left -->

    <!-- desktop:logged-in:top-navigation:center -->
    <div class="global-search">
      <ng-content select="[search]"></ng-content>
    </div>
    <!-- desktop:logged-in:top-navigation:center -->

    <!-- desktop:logged-in:top-navigation:right -->
    <div class="nav-action">
      <ul class="nav-icon-list">
        <li class="nav-icon__item">
          <div class="m-topbar--account" #profileMenu>
            <a class="" id="topbar-dropdown" (click)="profileMenu.value = !profileMenu.value ;">
              <img alt="menu"
                src="{{opspot.cdn_url}}icon/{{session.getLoggedInUser().guid}}/medium/{{session.getLoggedInUser().icontime}}/" />
            </a>
            <ul class="m-dropdown__list profile-menu" [hidden]="!profileMenu.value">
              <!-- <li class="m-dropdownList__item" (click)="profileMenu.value = false">
                <a [routerLink]="['/', session.getLoggedInUser().username]" i18n="@@OPSPOT__TOPBAR__VIEW_CHANNEL">
                  <i class="material-icons">people</i>
                  <span>View Channel</span>
                </a>
              </li> -->
              <li [routerLink]="['/', session.getLoggedInUser().username]" class="m-dropdownList__item" (click)="profileMenu.value = false">
                <div class="o-prof-avatar-name" id="topbar-dropdown-profile-details">
                  <div class="o-avatar">
                    <img
                      src="{{opspot.cdn_url}}icon/{{session.getLoggedInUser().guid}}/medium/{{session.getLoggedInUser().icontime}}/"
                      alt="profile-image" class="profile-image">
                  </div>
                  <div class="o-prof-avatar-name__block">
                    <div class="text-lg f500">{{ session.getLoggedInUser().name | truncate:[15, '...'] }}</div>
                    <a class="text-sm primary" id="topbar-dropdown-view-Profile">View Profile</a>
                  </div>
                </div>
              </li>
              <li [routerLink]="['/admin/analytics']" class="m-dropdownList__item" *ngIf="session.isAdmin()"
                (click)="profileMenu.value = false">
                <a i18n="@@OPSPOT__TOPBAR__ADMIN" id="topbar-dropdown-admin">
                  <i class="material-icons">build</i>
                  <span>Admin</span>
                </a>
              </li>
              <li [routerLink]="['/organization/create']" class="m-dropdownList__item" (click)="profileMenu.value = false" *ngIf="!organization">
                <a id="topbar-dropdown-create-organization">
                  <!-- <i class="material-icons">trending_up</i> -->
                  <span>Create Organisation</span>
                </a>
              </li>
              <!-- <div *ngFor="let organization of entities"> -->
                <li [routerLink]="['/organization/profile', organization.guid,  'feed']" class="m-dropdownList__item" (click)="profileMenu.value = false" *ngIf="organization">
                  <a id="topbar-dropdown-organizationname">
                    <!-- <i class="material-icons">trending_up</i> -->
                    <span>{{organization.name}}</span>
                  </a>
                </li>
              <!-- </div> -->
              <li [routerLink]="['/boost/console']" class="m-dropdownList__item" (click)="profileMenu.value = false">
                <a id="topbar-dropdown-boostConsole">
                  <!-- <i class="material-icons">trending_up</i> -->
                  <span>Boost Console</span>
                </a>
              </li>
              <li [routerLink]="['/invite']" class="m-dropdownList__item" (click)="profileMenu.value = false">
                <a id="topbar-dropdown-invitefriends">
                  <!-- <i class="material-icons">trending_up</i> -->
                  <span>Invite Friends</span>
                </a>
              </li>
              <li [routerLink]="['/settings/general']" class="m-dropdownList__item" (click)="profileMenu.value = false">
                <a id="topbar-dropdown-settings" i18n="@@OPSPOT__TOPBAR__SETTINGS">
                  <!-- <i class="material-icons">settings</i> -->
                  <span>Settings</span>
                </a>
              </li>
              <!-- <li class="m-dropdownList__item" (click)="profileMenu.value = false">
                <a [routerLink]="['/help']" i18n="@@OPSPOT__TOPBAR__LOGOUT">
                  <span>Help Desk</span>
                </a>
              </li> -->
              <li [routerLink]="['/about']" class="m-dropdownList__item" (click)="profileMenu.value = false">
                <a id="topbar-dropdown-aboutpage">
                  <!-- <i class="material-icons">trending_up</i> -->
                  <span>About One Page Spotlight</span>
                </a>
              </li>
              <li [routerLink]="['/logout']" class="m-dropdownList__item" (click)="profileMenu.value = false">
                <a i18n="@@OPSPOT__TOPBAR__LOGOUT" id="topbar-dropdown-signout">
                  <!-- <i class="material-icons">exit_to_app</i> -->
                  <span>Sign Out</span>
                </a>
              </li>
              <!-- <ng-container *mIfFeature="'helpdesk'; else faq">
              </ng-container>
              <ng-template #faq>
                <li class="m-dropdownList__item" (click)="profileMenu.value = false">
                  <a [routerLink]="['/faq']" i18n="@@OPSPOT__TOPBAR__FAQ">
                    <i class="material-icons">help_outline</i>
                    <span>FAQ</span>
                  </a>
                </li>
              </ng-template>
              <li class="m-dropdownList__item" (click)="profileMenu.value = false">
                <ng-container *mIfFeature="'helpdesk'; else helpAndSupport">
                  <a routerLink="/help" i18n="@@OPSPOT__TOPBAR__HELPDESK">
                    <i class="material-icons">help_outline</i>
                    <span>Help Desk</span>
                  </a>
                </ng-container>
                <ng-template #helpAndSupport>
                  <a [routerLink]="['/groups/profile/', '100000000000000681']" i18n="@@OPSPOT__TOPBAR__HS_GROUP">
                    <i class="material-icons">help_outline</i>
                    <span>Help & Support</span>
                  </a>
                </ng-template>
              </li>
              <li class="m-dropdownList__item">
                <a target="_blank" [href]="opspot.cdn_assets_url + 'assets/documents/Whitepaper-v0.3.pdf'">
                  <i class="material-icons">description</i>
                  <span>Whitepaper</span>
                </a>
              </li>
              <li class="m-dropdownList__item" (click)="profileMenu.value = false">
                <a [routerLink]="['/canary']" i18n="@@OPSPOT__TOPBAR__MENU__EXPERIMENTS">
                  <i class="material-icons">new_releases</i>
                  <span *ngIf="!session.getLoggedInUser().canary">Opt-in to Experiments</span>
                  <span *ngIf="session.getLoggedInUser().canary">Canary</span>
                </a>
              </li> -->
            </ul>
            <div class="opspot-bg-overlay" (click)="profileMenu.value = !profileMenu.value" [hidden]="!profileMenu.value"></div>
          </div>
        </li>

        <li class="nav-icon__item">
          <div class="pos-rel" #createMenu>
            <a title="Group" class="nav__ico" id="topbar-group" (click)="createMenu.value = !createMenu.value">
              <img src="assets/svg/create.svg" alt="">
            </a>
            <ul class="m-dropdown__list" [hidden]="!createMenu.value">
              <li class="m-dropdownList__item" (click)="createMenu.value = false">
                <a [routerLink]="['/groups/create']" id="topbar-create-Community">
                  <!-- <i class="material-icons">trending_up</i> -->
                  <span>Create Community</span>
                </a>
              </li>
              <li class="m-dropdownList__item" (click)="createMenu.value = false">
                <a [routerLink]="['/event/create']" id="topbar-create-event">
                  <!-- <i class="material-icons">trending_up</i> -->
                  <span>Create Event</span>
                </a>
              </li>
            </ul>
            <div class="opspot-bg-overlay" (click)="createMenu.value = !createMenu.value" [hidden]="!createMenu.value"></div>
          </div>
        </li>

        <li class="nav-icon__item">
          <a class="nav__ico" id="topbar-notification-bell">
            <!-- <img src="assets/svg/bell.svg" alt=""> -->
            <!-- <span class="noti-count">3</span> -->
            <ng-content select="[icons]"></ng-content>
          </a>
        </li>
        
        <li class="nav-icon__item">
          <a class="nav__ico" id="topbar-network" [routerLink]="['network']">
            <img src="assets/svg/mail.svg" alt="">
          </a>
        </li>
        
        <li class="nav-icon__item">
          <a class="nav__ico" id="topbar-post" title="Blog" [routerLink]="['blog/edit/new']">
            <img src="assets/svg/create_post.svg" alt="">
          </a>
        </li>

      </ul>
    </div>
    <!-- desktop:logged-in:top-navigation:right -->

  </div>
  <!-- desktop:logged-in:top-navigation -->

  <!-- mobile:logged-in:primary-navigation -->
  <div *ngIf="session.isLoggedIn()">
    <div class="app-nav hidden-above-tablet">
      <a href="javascript:void(0);" class="app-nav__ico" (click)="hamburgerMenu()" id="app-nav">
        <img src="assets/svg/m_nav_ico/hamburgermenu.svg" class="app-nav__ico-hamburg" alt="">
      </a>
    </div>
    <div id="app-nav-block" class="hidden-above-tablet">
      <div class="app-nav-block__close" id="app-nav-close" (click)="closeNav()"><img src="assets/svg/m_nav_ico/close.svg"
          alt=""></div>
      <div class="app-nav-head">
        <a [routerLink]="['/',user.username]" class="o-avatar"><img
            src="{{opspot.cdn_url}}icon/{{user.guid}}/{{avatarSize}}/{{user.icontime}}" alt=""></a>
        <div class="app-nav-head__info">
          <a class="grey-dark app-nav-head__name">{{user.name}}</a>
          <a [routerLink]="['/',user.username]" (click)='closeNav()' class="text-sm primary">View Profile</a>
        </div>
      </div>
      <!--app nav head end-->
      <div class="app-nav-link">
        <ul class="app-nav-link-block">
          <li class="app-nav-link_-item">
            <a routerLink="/newsfeed" (click)='closeNav()'>
              <div class="app-nav-link__ico"><img src="assets/svg/m_nav_ico/m_home.svg" alt=""></div>
              <div class="app-nav-link__text">Home</div>
            </a>
          </li>
          <li class="app-nav-link_-item">
            <a [routerLink]="['/explore']" [queryParams]="{type:'activities',q:'', ref:''}" (click)='closeNav()'>
              <div class="app-nav-link__ico"><img src="assets/svg/m_nav_ico/m_explore.svg" alt=""></div>
              <div class="app-nav-link__text">Explore</div>
            </a>
          </li>
          <li class="app-nav-link_-item">
            <a [routerLink]="['wallet/tokens/contributions']" (click)='closeNav()'>
              <div class="app-nav-link__ico"><img src="assets/svg/m_nav_ico/wallet.svg" alt=""></div>
              <div class="app-nav-link__text">Wallet</div>
            </a>
          </li>
          <li class="app-nav-link_-item">
            <a [routerLink]="['/notifications']" (click)='closeNav()'>
                <div class="app-nav-link__ico"><i class="icon-bell"></i></div>
                <div class="app-nav-link__text">Notification </div>
                <!-- <span class="header-noti-count header-noti-count--mob">12</span> -->
            </a>
          </li>
          <!-- <li class="app-nav-link_-item">
            <a href="#">
                <div class="app-nav-link__ico"><i class="icon-mail"></i></div>
                <div class="app-nav-link__text">Network </div>
                <span class="header-noti-count header-noti-count--mob">12</span>
            </a>
          </li> -->
          <li class="app-nav-link_-item">
            <a [routerLink]="['/', 'portfolio', user.username]" (click)='closeNav()'>
                <div class="app-nav-link__ico"><img src="assets/svg/m_nav_ico/portfolio.svg" alt=""></div>
                <div class="app-nav-link__text">Portfolio </div>
            </a>
          </li>
          <li class="app-nav-link_-item">
            <a [routerLink]="['/bookmark']" (click)='closeNav()'>
              <div class="app-nav-link__ico"><img src="assets/svg/m_nav_ico/m_bookmark.svg" alt=""></div>
              <div class="app-nav-link__text">Bookmarks</div>
            </a>
          </li>
          <li class="app-nav-link_-item">
            <a [routerLink]="['/groups/members']" (click)='closeNav()'>
              <div class="app-nav-link__ico"><img src="assets/svg/m_nav_ico/community.svg" alt=""></div>
              <div class="app-nav-link__text">Community</div>
            </a>
          </li>
          <li class="app-nav-link_-item">
            <a [routerLink]="['/boost/console']" (click)='closeNav()'>
              <div class="app-nav-link__ico"><i class="icon-bar-chart-2"></i></div>
              <div class="app-nav-link__text">Boost Console</div>
            </a>
          </li>
          <li class="app-nav-link_-item" *ngIf="!organization">
            <a [routerLink]="['/organization/create']" (click)='closeNav()'>
              <div class="app-nav-link__ico"><img src="assets/svg/m_nav_ico/organization.svg" alt=""></div>
              <div class="app-nav-link__text">Organisation</div>
            </a>
          </li>
          <li class="app-nav-link_-item" *ngIf="organization">
            <a [routerLink]="['/organization/profile', organization.guid,  'feed']" (click)='closeNav()'>
              <div class="app-nav-link__ico"><img src="assets/svg/m_nav_ico/organization.svg" alt=""></div>
              <div class="app-nav-link__text">{{organization.name}}</div>
            </a>
          </li>
          <li class="app-nav-link_-item">
            <a [routerLink]="['/event/create']" (click)='closeNav()'>
              <div class="app-nav-link__ico"><i class="icon-calendar"></i></div>
              <div class="app-nav-link__text">Events</div>
            </a>
          </li>
          <li class="app-nav-link_-item">
            <a [routerLink]="['/invite']" (click)='closeNav()'>
              <div class="app-nav-link__ico"><i class="icon-user-plus"></i></div>
              <div class="app-nav-link__text">Invite Friends</div>
            </a>
          </li>
          <li class="app-nav-link_-item">
            <a [routerLink]="['blog/edit/new']" (click)='closeNav()'>
              <div class="app-nav-link__ico"><img src="assets/svg/m_nav_ico/m_jobs.svg" alt=""></div>
              <div class="app-nav-link__text">Blog</div>
            </a>
          </li>
          <li class="app-nav-link_-item">
            <a [routerLink]="['/about']" (click)='closeNav()'>
                <div class="app-nav-link__ico"><i class="icon-alert-circle"></i></div>
                <div class="app-nav-link__text">About One Page Spotlight</div>
            </a>
          </li>
          <li class="app-nav-link_-item">
            <a routerLink='/settings/general' (click)='closeNav()'>
              <div class="app-nav-link__ico"><img src="assets/svg/m_nav_ico/m_settings.svg" alt=""></div>
              <div class="app-nav-link__text">Settings</div>
            </a>
          </li>
        </ul>
        <div class="app-nav-link_-item app-nav-link_-item--logout">
          <a routerLink="/logout" (click)='closeNav()'>
            <div class="app-nav-link__ico"><i class="icon-power"></i></div>
            <div class="app-nav-link__text">logout</div>
          </a>
        </div>
      </div>
      <footer>
        <ul class="o-footer-link">
          <li class="o-footer-link__item">
            <a [routerLink]="['/about']" class="text-md">About Us</a>
          </li>
          <li class="o-footer-link__item">
            <a [routerLink]="['/help']" class="text-md">Help</a>
          </li>
          <li class="o-footer-link__item">
            <a href="javascript:void(0)" class="text-md">Careers</a>
          </li>
          <li class="o-footer-link__item">
            <a href="javascript:void(0)" class="text-md">Privacy</a>
          </li>
          <li class="o-footer-link__item">
            <a href="javascript:void(0)" class="text-md">Terms</a>
          </li>
        </ul>
      </footer>
    </div>
  </div>
  <!-- mobile:logged-in:primary-navigation -->

</header>

<!-- mobile:logged-in:secondary-navigation -->
<div class="header_mobile hidden-above-tablet">
  <div class="mobile-nav-ico">
    <a routerLink="/newsfeed" class="mobile-nav-icon__item">
      <img src="assets/svg/m_nav_ico/home_main.svg" alt="home" class="mobile-nav-icon--lg">
      <img src="assets/svg/m_nav_ico/home_main_active.svg" alt="home" class="mobile-nav-icon--lg img_hover">
    </a>
    <!-- wallet/tokens/contributions -->
    <!-- <a [routerLink]="['wallet/tokens/contributions']" class="mobile-nav-icon__item">
      <i style="color: #999999;" class="material-icons">account_balance</i>
      <div class="o-noti-count"></div>
    </a> -->
    <a routerLink="/network" class="mobile-nav-icon__item">
      <img src="assets/svg/m_nav_ico/message_main.svg" alt="home" class="mobile-nav-icon--lg">
      <img src="assets/svg/m_nav_ico/message_main_active.svg" alt="home" class="mobile-nav-icon--lg img_hover">
      <!-- <div class="o-noti-count">12</div> -->

    </a>
    <a [routerLink]="['/notifications']" class="mobile-nav-icon__item">
      <img src="assets/svg/m_nav_ico/notification_main.svg" alt="home" class="mobile-nav-icon--lg">
      <img src="assets/svg/m_nav_ico/notification_main_active.svg" alt="home" class="mobile-nav-icon--lg img_hover">
      <!-- <div class="o-noti-count"></div> -->
    </a>
    <a routerLink="/search" class="mobile-nav-icon__item">
      <img src="assets/svg/m_nav_ico/search_main.svg" alt="home" class="mobile-nav-icon--lg">
      <img src="assets/svg/m_nav_ico/search_main_active.svg" alt="home" class="mobile-nav-icon--lg img_hover">
    </a>
  </div>
</div>
<!-- mobile:logged-in:secondary-navigation -->

<div class="clearfix"></div>
