<div>
    <ul class="o-trending-post">
        <li class="o-trending-post__item">
            <a [routerLink]="['/media', myjourney?.guid]">
                <div class="feed-media__link" id="feed-media__img">
                    <img class="feed-media__img" [src]="myjourney?.custom_data[0] ? myjourney?.custom_data[0].thumbnail_src:''"
                        (error)="myjourney.custom_data[0].src = opspot.cdn_assets_url + 'assets/ops_icon.png'"
                        *ngIf="myjourney?.custom_data">
                    <img class="feed-media__img" *ngIf="!myjourney?.custom_data" src="assets/ops_icon.png">
                    <div class="feed-media-overlay">
                        <div class="feed-media-video__icon" id="myjourney-play-action"><img src="assets/svg/playfill.svg" alt=""></div>
                    </div>
                </div>
                <div class="o-trending-post__info">
                    <div class="text-md f500" *ngIf = "myjourney?.message">{{myjourney?.message | truncate:[100, '...']}}</div>
                    <div class="text-sm m-t-6 grey">{{myjourney?.impressions}} Views</div>
                </div>
            </a>
        </li>
    </ul>
</div>
