
<div class="o-explore-media-part__row">
    <div class="o-explore-media-part__coloumn" *ngFor="let explore of response?.entities">
            <div class="o-explore-card">
                    <div class="o-explore-card__media">
                        <div class="o-explore-media-img">
                            <img [src]="explore.thumbnail_src" alt="media">
                        </div><!-- media img end -->
                        <a class="o-explore-card-media-info">
                            <div class="o-explore-card-media-info__avatar">
                                <img src="{{tempUrl}}{{explore.guid}}/medium/{{explore?.ownerObj?.icontime}}" alt="avatar">
                            </div>
                            <div class="text-md white f500">{{explore?.ownerObj?.name}}</div>
                        </a><!-- media info end -->
                    </div><!-- media end -->
                    <div class="o-explore-card__media-info">
                        <div class="text-md f500">If you are in the market for a computer, there are…</div>
                        <div class="o-media-hashtag">
                            <a class="text-md primary"> #Music </a>
                            <a class="text-md primary"> #Art </a>
                        </div><!-- hashtag end -->
                        <div class="o-explore-card-action">
                            <div class="o-actions">
                                <!-- <a href="#" class="o-actions__link">
                                    <img src="assets/svg/heart.svg" alt="" class="o-action-icon">
                                    <span class="o-action-count text-sm grey">
                                        <span>12k</span>
                                    </span>
                                </a>
                                <a href="#" class="o-actions__link">
                                    <i class="icon-message-square f-15"></i>
                                    <span class="o-action-count text-sm grey">
                                        <span>43</span>
                                    </span>
                                </a>
                                <a href="#" class="o-actions__link">
                                    <i class="icon-eye f-15"></i>
                                    <span class="o-action-count text-sm grey">
                                        <span>2k</span>
                                    </span>
                                </a>
                                <a href="#" class="o-actions__link">
                                    <i class="icon-share-2 f-15"></i>
                                    <span class="o-action-count text-sm grey">
                                        <span>56</span>
                                    </span>
                                </a>
                                <a href="#" class="o-actions__link o-actions__link--coin"> -->
                
                                    <!-- <span class="o-action-count text-sm grey">
                                          <span>22</span>
                                      </span> -->
                                    <!-- <div class="tooltip_coin"><i class="icon-coins f-18"></i>
                                        <span class="tooltip_coin__text">
                                            <div class="float-left"><i class="icon-coins f-18"></i></div>
                                            <div class="o-action-count text-sm grey float-left">
                                                22
                                            </div>
                                        </span>
                                    </div> -->
                                <!-- </a> -->
                                <opspot-button-thumbs-up [object]="explore"></opspot-button-thumbs-up>
                                <opspot-button-comment [object]="explore" (click)="openComments()"></opspot-button-comment>
                                <a href="#" class="o-actions__link">
                                    <i class="icon-eye f-15"></i>
                                    <span class="o-action-count text-sm grey">
                                        <span>{{ explore.impressions | number }}</span>
                                    </span>
                                </a>
                                <opspot-button-remind [object]="explore"></opspot-button-remind>
                                <a class="o-actions__link"  *ngIf ="session.getLoggedInUser().guid == response.owner_guid" >
                                    <i class="icon-coins f-15"></i>
                                    <span class="o-action-count text-sm grey">
                                      <span *ngIf="activity.wire_totals">{{ explore.wire_totals.tokens | token:18 | abbr }}</span>
                                    </span>
                                </a>
                            </div>
                            <!--explore action end-->
                        </div><!-- explore action block end -->
                    </div><!-- media info end -->
                </div>
    </div>
</div>