<!-- START: Actions -->
<!-- <div class="m-settings--section m-layout--row m-border m-settings--action">

  <div class="opspot-error mdl-color--red mdl-color-text--white" [hidden]="!error">{{error}}</div>
  <div class="m-layout--spacer"></div>

  <button class="m-btn m-btn--slim m-btn--action"
    [disabled]="!canSubmit()"
    [hidden]="saved || inProgress"
    (click)="save()"
    >
    <ng-container i18n="@@M__ACTION__SAVE">Save</ng-container>
  </button>
  <button class="m-btn m-btn--slim"
    [hidden]="!saved"
    >
    <ng-container i18n="@@M__COMMON__SAVED">Saved</ng-container>
  </button>
  <div id="p2" class="mdl-spinner mdl-js-spinner is-active" [mdl] [hidden]="!inProgress"></div>
</div> -->

<!-- START: NAME -->
<!-- <div class="m-settings--section m-border m-settings--name">
  <h4 i18n="@@OPSPOT__SETTINGS__DISPLAY_NAME_TITLE">Display Name</h4>
  <div class="mdl-card__supporting-text">
    <input class="m-input"
      type="name"
      id="name"
      name="name"
      [(ngModel)]="name"
      (keyup)="change()"
      />
  </div>
</div> -->
<!-- END: NAME -->

<!-- START: PASSWORD -->
<!-- <div class="m-settings--section m-border m-settings--password">

  <h4 i18n="@@OPSPOT__SETTINGS__ACCOUNT_PASSWORD_TITLE">Account Password</h4>

  <div class="mdl-card__supporting-text">

    <div class="mdl-textfield mdl-js-textfield mdl-textfitexteld--floating-label" [mdlTextfield]>
      <input class="mdl-textfield__input"
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        (keyup)="change()"
        />
      <label class="mdl-textfield__label" for="password" i18n="@@OPSPOT__SETTINGS__CURRENT_PASSWORD_LABEL">Current password</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [mdlTextfield]>
      <input class="mdl-textfield__input"
        type="password"
        id="password1"
        name="password1"
        [(ngModel)]="password1"
        [disabled]="!password"
        (keyup)="change()"
        />
      <label class="mdl-textfield__label" for="password1" i18n="@@OPSPOT__SETTINGS__NEW_PASSWORD_LABEL">Your new password</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [mdlTextfield]>
      <input class="mdl-textfield__input"
        type="password"
        id="password2"
        name="password2"
        [(ngModel)]="password2"
        [disabled]="!password"
        (keyup)="change()"
        />
      <label class="mdl-textfield__label" for="password2" i18n="@@OPSPOT__SETTINGS__NEW_PASSWORD_AGAIN_LABEL">Your new password again</label>
    </div>
  </div>
</div> -->
<!-- END: PASSWORD -->

<!-- START: MATURE CONTENT -->
<!-- <div class="m-settings--section m-border m-settings--mature">
  <h4 i18n="@@OPSPOT__SETTINGS__MATURE_CONTENT_TITLE">Mature Content</h4>
  <div class="mdl-card__supporting-text">
    <input type="checkbox"
      id="flag_mature"
      (click)="change()"
      name="mature"
      [(ngModel)]="mature"
      />
      <i class="material-icons m-material-icons-inline mdl-color-text--red-500">explicit</i>
      <label for="flag_mature">
          <ng-container i18n="@@OPSPOT__SETTINGS__MATURE_CONTENT_LABEL">Always show mature content (18+)</ng-container>
      </label>
  </div>

</div> -->
<!-- END: MATURE CONTENT -->


<!-- START: LANGUAGE  -->
<!-- <div class="m-settings--section m-border m-settings--language">
  <h4 i18n="@@OPSPOT__SETTINGS__LANGUAGE_SETTINGS_TITLE">Language Settings</h4>
  <div class="mdl-card__supporting-text">
    <ng-container i18n="@@OPSPOT__SETTINGS__SITE_LANGUAGE_LABEL">Site language:</ng-container>
    <select name="language" [ngModel]="language" (ngModelChange)="language = $event; change()">
      <option *ngFor="let language of languages" [value]="language.code">{{language.name}}</option>
    </select>
  </div>

</div> -->

<!-- END: LANGUAGE -->

<!-- START: SESSIONS -->
<!-- <div class="m-settings--section m-border m-settings--close-all-sessions">
  <h4 i18n="@@OPSPOT__SETTINGS__SESSIONS">Sessions</h4>

  <p i18n="@@OPSPOT__SETTINGS__YOU_CURRENTLY_HAVE_X_OPENED">
    You currently have {{ openSessions }} opened <span *ngIf="openSessions > 1; then sessionsBlock else sessionBlock"></span>.
  </p>
  <ng-template #sessionsBlock i18n="@@OPSPOT__SETTINGS__SESSIONS">sessions</ng-template>
  <ng-template #sessionBlock i18n="@@OPSPOT__SETTINGS__SESSION">session</ng-template>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-color--red" (click)="closeAllSessions()">
    <ng-container i18n="@@OPSPOT__SETTINGS__CLOSE_ALL_SESSIONS_CONFIRM">Close All Sessions</ng-container>
  </button>
</div> -->
<!-- END: SESSIONS -->
<div class="o-settings-block__content">
  <div class="tabs-settings">
    <div id="general" class="tab ">
      <div class="o-settings-fields">
          <h5 class="f500">Username</h5>
          <!-- <div class="text-md grey">
              Edit your username on your account
          </div> -->
          <div class="form-group o-settings-width">
              <label>Username</label>
              <input type="text" id="general-user-name-readonly" class="form-control form-control-lg" [(ngModel)]="userName" readonly="readonly">
          </div>
          <div class="o-settings-line"></div>
      </div><!--Username settings fields-->
      <div class="o-settings-fields">
          <h5 class="f500">Email</h5>
          <!-- <div class="text-md grey">
              Add or remove email on your account
          </div> -->
          <div class="form-group o-settings-width">
              <label>Primary Email Address</label>
              <input type="email" id="general-email-readonly" class="form-control form-control-lg" [(ngModel)]="email" readonly="readonly">
          </div>
          <!-- <a class="text-md primary" onclick="myFunction()">Add email address</a>
          <div class="o-settings-add-email" id="email">
              <div class="form-group o-settings-width">
                  <label>Email Address</label><a class="text-md primary make-primary">Make Primary</a>
                  <input type="email" class="form-control form-control-lg" value="gowtham@aeione.com">
              </div>
              <button type="button" class="btn btn-primary btn-lg pading-right">Send Verification</button>
              <button type="button" class="btn btn-outline-primary btn-lg">Cancel</button>
          </div> -->
          <div class="o-settings-line"></div>
      </div><!--Email settings fields-->
      <div class="o-settings-fields">
          <h5 class="f500">Phone Number</h5>
          <!-- <div class="text-md grey">
              Add or remove phone number on your account
          </div> -->
          <div class="form-group o-settings-width">
              <label>Primary Phone Number</label>
              <input type="text" id="general-phone-readonly" class="form-control form-control-lg" [(ngModel)]="phone" readonly="readonly">
          </div>
          <!-- <a class="text-md primary" onclick="myFunction1()">Add phone number</a>
          <div class="o-settings-add-email" id="phone">
                  <div class="form-group o-settings-width">
                      <label>Phone Number</label><a class="text-md primary make-primary">Make Primary</a>
                      <input type="email" class="form-control form-control-lg" value="+91 8973834712">
                  </div>
                  <button type="button" class="btn btn-primary btn-lg pading-right">Send Verification</button>
                  <button type="button" class="btn btn-outline-primary btn-lg">Cancel</button>
              </div> -->
          <div class="o-settings-line"></div>
      </div><!--Phone Number settings fields-->
      <div class="o-settings-fields">
          <h5 class="f500">Language</h5>
          <div class="text-md grey">
              Select your language for One Page Spotlight account
          </div>
          <div class="form-group o-settings-width">
              <label>Select Language</label>
              <!-- <select class="form-control">
                <option>English</option>
                <option>Kannada</option>
              </select> -->
              <select name="language"  class="form-control" [ngModel]="language" (ngModelChange)="language = $event; change()">
                <option *ngFor="let language of languages" [value]="language.code">{{language.name}}</option>
              </select>
          </div>
          <div class="o-settings-line"></div>
      </div><!--Language settings fields-->
      <!-- <div class="o-settings-fields">
          <h5 class="f500">Auto Play</h5>
          <div class="text-md grey">
              Choose if you want videos to autoplay on your browser
          </div>
          <div class="o-settings-toggle">
              <label class="switch ">
                  <input type="checkbox" checked>
                  <span class="slider round"></span>
              </label> 
              <span class="text-md grey">Yes</span>
          </div>
          <div class="o-settings-line"></div>
      </div> -->
      <!--Auto Play toggle settings fields-->
      <div class="o-settings-fields">
          <h5 class="f500">Mature Content</h5>
          <div class="text-md grey">
              Choose if you want to see adult content on your timeline or account
          </div>
          <div class="o-settings-toggle">
              <label class="switch ">
                  <!-- <input type="checkbox" checked> -->
                  <input type="checkbox"
                    id="flag_mature"
                    (click)="change()"
                    name="mature"
                    [(ngModel)]="mature"
                    />
                  <span class="slider round"></span>
              </label> 
              <span class="text-md grey">Yes</span>
          </div>
          <div class="o-settings-line"></div>
      </div><!--Mature Content toggle settings fields-->
      <div class="o-settings-fields">
          <h5 class="f500">Portfolio</h5>
          <div class="text-md grey">
              Choose public or private. A published portfolio will be visible to everyone whereas unpublished portfolio will be private to the user
          </div>
          <div class="o-settings-toggle">
              <label class="switch ">
                <input type="checkbox"
                id="flag_portfolio"
                (click)="change()"
                name="portfolio"
                [(ngModel)]="portfolio"
                />
                  <span class="slider round"></span>
              </label> 
              <span class="text-md grey">Private</span>
          </div>
          <div class="o-settings-pdngtpbtm-button--general">
            <button type="button" id="general-save-button" class="btn btn-primary btn-lg pading-right" (click)="save()">Save</button>
        </div>
          <div class="o-settings-line"></div>
      </div><!--Portfolio toggle settings fields-->
      <div class="o-settings-fields">
          <h5 class="f500">Delete or Deactivate Account <span class="icon-arrow-right">
          </span></h5>
          <div class="text-md grey">
              Deactivating or Deleting Your One Page Spotlight Account
          </div>
          <div class="o-settings-fields__radio-button">
              <label class="radio-label radio-label--flex">
                  <input type="radio" name="rd" id="rd1" value="1" (click)="setOption('delete')">
                  <div class="radio-widget"></div>
                  <div class="text-lg f500">Delete Account</div>
                  <div class="text-md grey">Deleting your account is permanent</div>
              </label>
              <label class="radio-label radio-label--flex">
                  <input type="radio" name="rd" id="rd2" value="2" (click)="setOption('deactivate')">
                  <div class="radio-widget"></div>
                  <div class="text-lg f500">Deactivate Account</div>
                  <div class="text-md grey">Deactivating your account can be temporary</div>
              </label>
          </div>
          <div id="deactivate" class="o-settings-delete-account" *ngIf="deactivateOptions">
            <div class="text-lg f500 padng-btm1" id="general-deactivating-text">
              Tell us why you’re deactivating your account:
            </div>
            <div class="text-md">
              Please provide a reason. It’ll help us make One Page Spotlight better
              </div>
              <label class="c-checkbox" *ngFor = "let reason of deleteAccountOption">{{reason.description}}
                  <input type="checkbox" id="general-checkbox" checked [(ngModel)]="reason.checked" (change)="updateCheckedOptions(reason, $event)">
                  <span class="checkmark"></span>
              </label>
              <textarea class="form-control" id="general-textarea" rows="6" value="Textarea" [hidden]="!openText"></textarea>
              <button type="button" id="general-confirm-deactivate-button" class="btn btn-primary btn-lg pading-right" (click)="deactivate()">Confirm Deactivate</button>
              <button type="button" id="general-deactivate-cancel-button" class="btn btn-outline-primary btn-lg" (click)="setOption('deactivate')">Cancel</button>
          </div>
          <div id="delete" class="o-settings-deactivate-account" *ngIf="reasonDelete">
              <div class="o-settings-info">
                  <div class="o-avatar-md">
                      <img src="{{opspot.cdn_url}}icon/{{session.getLoggedInUser().guid}}/medium/{{session.getLoggedInUser().icontime}}/" alt="">
                  </div>
                  <div class="text-lg f500">{{name}}</div>
              </div>
              <div class="text-md">
                  Just type your password to delete your account
              </div>
              <div class="form-group">
                  <label>Password</label>
                  <input type="password" id="general-password-delete-account" class="form-control form-control-lg" [(ngModel)]="password">
              </div>
              <button type="button" id="general-confirm-delete-button" class="btn btn-primary btn-lg pading-right" (click)="delete(password)">Confirm Delete</button>
              <button type="button" id="general-delete-cancel-button" class="btn btn-outline-primary btn-lg" (click)="setOption('delete')">Cancel</button>
          </div>
      </div><!--Delete settings fields-->
    </div>
  </div>
</div>
