<div id="cookies-policy" class="document-content-block document-content-block--p-b-41">
    <div class="document-header">
        <h5 class="primary">Cookie Policy</h5>
        <div class="text-md grey">Updated on September 27, 2019</div>
    </div>
    <p class="text-md m-t-17 m-b-20">
        BY CONTINUING TO USE THIS SITE AND SERVICES, YOU ARE AGREEING TO
        THE USE OF COOKIES AND SIMILAR TECHNOLOGIES FOR THE PURPOSES WE
        DESCRIBE IN THIS COOKIE POLICY WHICH FORMS AN INTEGRAL PART OF
        THE PRIVACY POLICY. IF YOU DO NOT ACCEPT THE USE OF COOKIES AND
        SIMILAR TECHNOLOGIES, AEIONE LLP DOES NOT HAVE ANY LIABILITY
        AGAINST YOUR USAGE OF THE WEBSITE, APP OR SERVICE MADE AVAILABLE
        THROUGH ANY THIRD PARTY PARTNERS.
    </p>
    <p class="text-md m-b-20">
        This Site uses cookies to better the users experience while visiting the Site. Where
        applicable this Site uses a cookie control system allowing the user on their first visit
        to the Site to allow or disallow the use of cookies on their computer / device. This
        complies with recent legislation requirements for Sites to obtain explicit consent
        from users before leaving behind or reading files such as cookies on a user’s
        computer / device.
    </p>
    <p class="text-md m-b-44">
        This Cookie Policy sets out how we, use cookies and similar technologies on this Site.
        We may update this Cookie Policy from time to time in order to keep you fully
        informed about our latest practices involving cookies and similar technologies on this
        Site. You should check this Cookie Policy each time you visit our Site in order to find
        out whether our use of cookies and similar technologies has changed.
    </p>
    <div class="m-t-17 doc-subtitle">About Cookies</div>
    <p class="text-md m-t-10 m-b-20">
        Cookies are data files that are sent between web servers and web browsers, processor
        memory or hard drives (clients) to recognize a particular user’s device when the user
        accesses a website. They are used for a range of different purposes, such as
        customizing a website for a particular user, helping a user navigate a website,
        improving that user’s website experience, and storing that user’s preferences and
        login information.<br>
        Cookies can be classified as either ‘session’ or ‘persistent’ cookies. Session cookies are
        placed on your browser when you access a website and last for as long as you keep
        your browser open. They expire when you close your browser.<br>
        Persistent cookies are placed on your computer when you access a website and expire
        at a fixed point in time or if you manually delete them from your browser, whichever
        occurs first.<br>
        Cookies will be set either by our Site domain or by third party domains on our behalf.
        Cookies set by us on our Site domain are referred to as ‘first party’ cookies. Cookies
        set by third party domains, or set on or via our domain on behalf of third parties, are
        referred to as ‘third-party’ cookies.<br>
        Cookies do not usually contain personal information. Cookies may, however, be used
        in combination with other information to identify you.<br>
        We use first party and third-party cookies on our Site, and both session and
        persistent cookies.<br>
    </p>
    <div class="m-t-17 doc-subtitle">Other Tracking Technologies</div>
    <p class="text-md m-t-10 m-b-20">
        In addition to cookies, we may use web beacons, pixel tags, and other tracking
        technologies on the Site to help customize the Site and improve your experience. A
        “web beacon” or “pixel tag” is a tiny object or image embedded in a web page or
        email. They are used to track the number of users who have visited particular pages
        and viewed emails, and acquire other statistical data. They collect only a limited set
        of data, such as a cookie number, time and date of page or email view, and a
        description of the page or email on which they reside. Web beacons and pixel tags
        cannot be declined. However, you can limit their use by controlling the cookies that
        interact with them.-party cookies on our Site, and both session and
        persistent cookies.
    </p>
    <div class="m-t-17 doc-subtitle">Control of Cookies</div>
    <p class="text-md m-t-10 m-b-20">
        Most browsers are set to accept cookies by default. However, you can remove or
        reject cookies in your browser’s settings. Please be aware that such action could affect
        the availability and functionality of the Site.
        To opt out of being tracked by Google Analytics across all websites,
        visit <a href="https://tools.google.com/dlpage/gaoptout"
            target="_blank"><u>http://tools.google.com/dlpage/gaoptout.</u></a>
        In addition, you may opt-out from cookies by visiting the following websites and
        selecting which company cookies you would like to opt-out through the 
        <a href="https://optout.aboutads.info/?c=2&lang=EN" target="_blank"><u>Digital
                Advertising Alliance</u></a> in the US, the 
        <a href="https://youradchoices.ca/" target="_blank"><u>Digital Advertising Alliance of Canada </u></a>in Canada
        or the <a href="https://youradchoices.ca/" target="_blank"><u>European Interactive Digital Advertising
                Alliance</u></a> in Europe. Please note that
        ad blockers and tools that restrict our cookie use may interfere with these controls.
    </p>
    <ul class="document-ol m-b-20 document-cookies">
        <li class="m-t-10"><a href="https://www.iab.com/" target="_blank"><u>Internet Advertising Bureau (US)</u></a>
        </li>
        <li class="m-t-10"><a href="https://www.edaa.eu/" target="_blank"><u>European Interactive Digital Advertising
                    Alliance (EU)</u></a></li>
        <li class="m-t-10"><a href="https://iabeurope.eu/" target="_blank"><u>Internet Advertising Bureau (EU)</u></a>
        </li>
    </ul>
    <p class="text-md">
        If you disable the cookies that we use, this may impact your experience while on our
        Site, for example you may not be able to visit certain areas of our Site or you may not
        receive personalized information when you visit our Site.
    </p>
    <div class="line"></div>
</div><!-- cookies policy end-->