<div class="container">
    <div class="o-community-landing-block">
      <div class="o-community-landing-block-design" *ngFor="let member of members">
        <!-- <div id="communities" class="tab" > -->
          <m-organization--tile *ngIf="organization" [entity]="member" [object]="organization" class="o-community-main-card"></m-organization--tile>
          <!-- <opspot-card-user *ngFor="let member of members" [object]="member" [cardType]="'organization'" class="o-community-main-card"></opspot-card-user> -->
        <!-- </div> -->
      </div>
    </div>
    <infinite-scroll 
    distance="25%" 
    (load)="load()" 
    [moreData]="moreData" 
    [inProgress]="inProgress">
    </infinite-scroll>
  </div>