@import "src/assets/helpers/variables";

@import "node_modules/sass-mq/_mq";

// files included are :
// 1. organisation subscriber 
// 2. organization profile info 
// 



// organisation prof info style

// organisation prof info style

.o-organisation-info{
    width: 100%;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 23px;
    border: 1px solid #ECEFF1;
    position: relative;
    @include mq($from: $mobile_sm, $until: $tablet) {
        position: unset;
        padding: 42px 23px 23px;
        .mrt0{
            margin-top:0px;
        }
    }
    &--radius{
        border-radius: 4px;
        overflow: hidden;
    }
    // &--shadow{
    //     box-shadow: 0 6px 10px 0 rgba(144,164,174,0.16), 0 1px 12px 0 rgba(144,164,174,0.18), 0 3px 5px 0 rgba(144,164,174,0.2);
    // }
}
//subscribe button style
.o-organisation-gathering-block{
    .btn-lg{
        padding: 4px 27px;
        font-size: 11px;
    }
}
//avatar style
.o-avatar-xl--organisation{
    width: 91px;
    height: 91px;
    border-radius: 4px;
}

.o-organisation-info-edit{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 18px;
    right: 14px;
    i{
        font-size: 12px;
    }
}
.o-organisation-option{
    width: 1px;
    position: absolute;
    top: 25px;
    right: 25px;
    @include mq($from: $mobile_sm, $until: $tablet) {
        top: 125px;
        right: 35px;
    }
    i{
        font-size: 16px;
        color: $grey;
    }
}
// prof img edit
.o-organisation-img-block{
    position: relative;
    @include mq($from: $mobile_sm, $until: $tablet) {
        position: absolute;
        display: flex;
        z-index: 1111111111111111111;
        top: 115px;
    }
}

//avatar image edit icon
.o-organisation-img-edit{
    box-sizing: border-box;	
    height: 23px;	
    width: 23px;	
    border: 1px solid #FFFFFF;	
    background-color: $primary;
    position: absolute;
    bottom: -5px;
    right: -5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        font-size: 13px;
        color: #fff;
    }
}
.o-organisation-name{
    text-align: center;
    margin-top: 9px;
}
.o-organisation-shortdescription{
    text-align: center;
    margin-top: 13px;
}
.o-organisation-others-action{
    width: 100%;
    display: flex;
    justify-content: center;
    &--margin{
        margin-top: 20px;
    }
    .btn--prof{
        margin:0px 4.5px;
    }
}
.o-organisation-skills{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:16px 0px;
    &__tag{
        border-radius: 2px;	
        background-color: $grey-light;
        color: $grey;	
        font-size: 11px;	
        line-height: 13px;
        padding: 4px 7px;
        margin: 3px;
    }
}


// organisation gathering

.o-organisation-gathering{
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 1px solid #0288D1;	
    border-radius: 4px;
    overflow: hidden;
    padding: 10px 12px;
    i{
        font-size: 15px;
        color: $primary;
        margin-right: 6px;
    }
}

// members count

.o-organisation-members-top{
    width: 100%;
    margin-top: 15px;
    &__count{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__count-mob{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        .m-l-r-6{
            margin: 0px 6px;
        }
    }
    &--mob{
        margin: 0px 0px 17px!important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}

.o-organisation-members-list-mob-single{
    width: 30px;
    height: 30px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    overflow: hidden;
    img{
        width: 100%;
    }
    &:nth-child(1){
        z-index: 3;
    }
    &:nth-child(2){
        margin-left: -10px;
        z-index: 2;
    }
    &:nth-child(3){
        margin-left: -10px;
        z-index: 1;
    }
}
// .o-organisation-add-members-mob{
//     height: 30px;	
//     width: 30px;	
//     border: 1px solid $primary;
//     border-radius: 50%;
//     overflow: hidden;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     i{
//         font-size: 13px;
//         color: $primary;
//     }
// }

// discription

.o-organisation-discrptn{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 18px;
    .text-md{
        text-align: center;
    }
    a{
        text-decoration: underline!important;
        text-align: center;
    }
}


// for options dropdown

.o-organisation-option-drop__btn {
    cursor: pointer;
}
.o-organisation-option-drop {
    position: absolute;
    display: inline-block;
    margin-left: 12px;
    top: 23px;
    right: 20px;
    @include mq($from: $mobile_sm, $until: $tablet) {
		right: 15px;
        top: 180px;
	}
}

.o-organisation-option-drop__block {
    display: none;
    position: absolute;
    overflow: auto;
    z-index: 1;
    width: 75px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 6px 10px 0 rgba(144, 164, 174, 0.16), 0 1px 12px 0 rgba(144, 164, 174, 0.18), 0 3px 5px 0 rgba(144, 164, 174, 0.2);
    left: -48px;
    top: -2px;
    padding: 14px 13px 0px 13px;
}

.o-organisation-option-drop__block a {
    color: black;
    padding-bottom: 14px;
    text-decoration: none;
    display: block;
    @extend .text-md ;
}

.show {display: block;}

// organization profile info end

//organization admin empty view

// //button style
// .organisation-admin-empty-btn{
//     margin-top:30px!important;
//     padding:9px 55px!important;
// }

// //avatar style
// .organisation-admin-empty-avatar{
//     background-color: #ECEFF1;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// //add icon style
// .o-organisation-admin-add-img{
//     box-sizing: border-box;
//     height: 30px;
//     width: 30px;
//     i{
//         color: $primary;
//         font-size: 30px;
//     }   
// }

// //right block style
// .organisation-admin-empty-right{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     box-sizing: border-box;
//     height: 471px;
//     width: 265px;
//     border: 1px solid #ECEFF1;
//     border-radius: 4px;
//     background-color: #FFFFFF;
//     &__text{
//         margin:24px 0px;
//     }
//     &__btn{
//         button{
//             padding:8px 24px;
//         }
//     }
// }
    
// //responsive style
// @include mq($until:$tablet){
//    .o-cover-edit-mob{
//         i{
//             color:#fff;
//             font-size: 22px;
//         }
//     }
//     .mrorganisationb40{
//         margin-bottom: 40px
//     }
// }


.o-organisation-subscribers{
    border: 1px solid #ECEFF1;	
    border-radius: 4px;	
    background-color: #FFFFFF;
    padding: 21px 16px 25px;
    position: relative;
    &__header{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 15px;
    }
}

// subscribers list style 

.o-organisation-subscribers-list{
    width: 100%;
    list-style: none;
    height: 260px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: .2em;
        height: 83px;
    }
    
    &::-webkit-scrollbar-track {
        // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background:white; 
        margin-left:14px;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: $grey-light;
        outline: 1px solid white;
        margin-left:-20px;
    }
    &__user-list{
        width: 100%;
        list-style-type: none;
        margin: 9px 0px;
        display: inline-block;
    }
}

// user list card

.o-organisation-subscribers-info{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    &__option{
        display:flex;
        align-items: center;
        a{
            margin-left: 7px;
            i{
                font-size:14px;
            }
        }
    }
}
.o-organisation-subscribers-info-prof{
    display: flex;
    flex-direction: row;
    align-items: center;
    &__avatar{
        margin-right:7px;
        img{
            width: 100%
        }
    }
}

//organisation gather style
.o-left-gather-block{
    width: 797px;
    order: 1;
    z-index: 1;
    padding-right: 8px;
    @include mq($from: $mobile_sm, $until:$mobile_lg ){
        width:100%;
        padding-right: 0px;
    }
    img{
        width:100%;
        height: 496px;
        object-fit: cover;
        @include mq($from: $mobile_sm, $until:$mobile_lg ){
            height: 200px;
        }
    }
}
.o-organisation-gather{
display:flex;
padding: 13px 0;
@include mq($from: $mobile_sm, $until:$mobile_lg ){
    padding: 13px 13px;
}
a{
    padding-right: 10px;
}

}
.o-organisation-gather--icon{
    color:#263238!important;
}

.subscribers-seeall{
    display: block;
    text-align: center;
    width: 100%;
    margin: 9px auto 0px;
    font-weight: 500;
    border: 1px solid #0288D1;
    border-radius: 4px;
    padding: 10px 0px;
}



//organisation scss

// .o-organisation-sec{
//     width: 100%;
//     float: left;
//     background-color: #FAFAFA;
//     min-height: 100vh;
//     .m-b-13{
//         margin-bottom: 13px;
//     }
// }

// //block style
// .o-right-block--organisation{
//     flex: 1;
//     order: 2;
//     overflow: hidden;
//     &__items{
//         display:flex;
//     }
// }

// // reiview count

// .review-count{
//     background: $grey;
//     padding: 1.5px 6px;
//     border-radius: 2px;
//     overflow: hidden;
//     margin-left: 8px;
// }
// .tabs-organisation .tabs-list li.active .review-count{
//     background: $primary;
// }
// //cover style
// .o-cover--organisation {
//     top: 0px !important;
//     height: 187px !important;
//     border-radius: 4px !important;
//     overflow: hidden;
//     position: relative;
//     margin-left: 10px;
//     @include mq($from: $mobile_sm, $until: $tablet) {
//         margin-left:0px;
//         height: 110px!important;
//     }
// }

// //request tab style
// .o-organisation-admin-request{
//     width: 100%;
//     border: 1px solid #ECEFF1;
//     border-radius: 4px;
//     margin-bottom: 6px;
//     float: left;
//     background: #FFFFFF;
//     padding: 10px 17px;
// }

// .o-organisation-admin-request-block{
//     width: 100%;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: space-between;
// }
// .o-organisation-admin-request-block-info{
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: flex-start;
//     margin: 6px 0px;
//     &__avatar{
//         width: 40px;
//         height: 40px;
//         border-radius: 50%;
//         overflow: hidden;
//         img{
//             width:100%;
//         }
//     }
//     &__info {
//         margin-left: 7px;
//     }
// }
// .o-organisation-admin-request-mr14{
//     margin-right:14px;
// }
// .o-organisation-admin-request-line{
//     border-bottom: 1px solid #ECEFF1;
//     margin: 5px 0 5px;
// }

// //responsive style
// @include mq($from: $mobile_sm, $until: $tablet) {
//     .o-left-block--organisation{
//         width:100%!important
//     }
//     .organisation-admin-main-title{
//         .without-nav-header__title{
//             margin-left:0px!important;
//         }
//     }
// //members top style
//     .o-organisation-members-top {
//         width: 100%;
//         margin-top: 15px; 
//         &__count{
//             width: 100%;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             flex-direction: column; 
//         }
//         &__count-mob{
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             flex-direction: row;
//             margin-left: 20px;
//             .m-l-r-6 {
//                 margin: 0px 6px; 
//             }
//         }
//     }
//     .o-organisation-members-top--mob {
//         margin: 3px 0px 11px !important;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: row;
//         background: #fff;
//         padding: 15px 0px;
//     }
  
//   .o-organisation-members-list-mob-single {
//         width: 30px;
//         height: 30px;
//         border: 1px solid #FFFFFF;
//         border-radius: 50%;
//         overflow: hidden; 
//         img{
//             width: 100%;
//         }
//         :nth-child(1){
//             z-index: 3;
//         }
//         :nth-child(2) {
//             margin-left: -10px;
//             z-index: 2; 
//         }
//         :nth-child(3) {
//             margin-left: -10px;
//             z-index: 1; 
//         }
//     }

//     .o-organisation-members-list-mob-single--talent {
//         width: 31px;
//         height: 31px;
//         border: 1px solid #FFFFFF;
//         border-radius: 8px;
//         overflow: hidden; 
//         margin-right: 6px;
//         margin-top:12px;
//         img{
//             width: 100%;
//         }
//     }
    
  
//   .o-organisation-add-members-mob {
//         height: 100%;
//         width: 100%;
//         border: 1px solid #0288D1;
//         border-radius: 50%;
//         overflow: hidden;
//         display: flex;
//         justify-content: center;
//         align-items: center; 
//         // i{
//         //     font-size: 13px;
//         //     color: #0288D1; 
//         // }
//         margin-top: 17px;
//     }
//     //write style
//     .o-organisation-write-mob{
//         display: flex;
//         justify-content: center;
//         align-content: center;
//         box-sizing: border-box;
//         border: 1px solid #ECEFF1;
//         border-radius: 4px;
//         background:#fff;
//         padding: 10px 15px;
//         margin-bottom:6px;
//         &__avatar{
//             img{
//                 height: 40px;
//                 width: 40px;
//                 border-radius: 50%;
//             }
//         }
//         &__status{
//             margin: 10px 0px 0px 11px;
//             textarea{
//                 overflow: hidden;
//                 width: 100%;
//                 font-size: 14px;
//                 line-height: 16px;
//                 border: none;
//                 font-family: "Roboto", sans-serif !important;
//                 resize: none;
//             }
//         }
//     }
// }

//organization.scss end











// cover

.o-cover{
    width: 100%;
    display: flex;
    height: 320px;
    position: relative;
    left: 0;
    top: -12px;
    &--community{
        top: 0px!important;
        height: 187px!important;
        border-radius: 4px!important;
        overflow: hidden;
        position: relative;
    }
    @include mq($from: $mobile_sm, $until: $tablet) {
        height: 110px!important;
    }
    &__actions{
        width: 100%;
        height: 45px;
        background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        &--user-view{
            justify-content: flex-end!important;
        }
    }
    &__overlay{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            i{
                font-size: 40px;
                color: #fff;
            }
        }
    }
}
.o-cover-edit{
    width: 32px;
    height: 32px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    position: absolute;
    bottom: 30px;
    right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mq($from: $mobile_sm, $until: $tablet) {
        height: 19px;	
        width: 19px;	
        border: 1px solid #FFFFFF;
        right: 15px;
        bottom: 13px;
    }
    &--community{
        width: 24px!important;
        height: 24px!important;
        overflow: hidden;
        bottom: 17px;
        right: 17px;
        @include mq($from: $mobile_sm, $until: $tablet) {
            height: 19px;	
            width: 19px;	
            position: unset!important;
        }
        i{
            color: #fff;
            font-size: 13px;
            @include mq($from: $mobile_sm, $until: $tablet) {
                font-size: 13px;
            }
        }
    }
    i{
        color: #fff;
        font-size: 16px;
        @include mq($from: $mobile_sm, $until: $tablet) {
            font-size: 14px;
        }
    }

}
.o-cover-community-discussion{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    i{
        color: #fff;
        font-size: 17px;
    }
}

.m-l-10{
    margin-left: 10px;
}