<style>
        ::ng-deep .memberToggle .m-modal-container {
            width: 543px !important;
            min-width: 0;
            min-height: 0;
        }
    
    
        ::ng-deep .memberToggle .mdl-card {
            padding: 46px 40px !important;
            border-radius: 4px !important;
        }
    
        ::ng-deep .inviteToggle .m-modal-container {
            width: 543px !important;
            min-width: 0;
            min-height: 0;
        }
    
        ::ng-deep .inviteToggle .mdl-card {
            padding: 46px 40px !important;
            border-radius: 4px !important;
        }
    
        .sticky-wrapper {
            position: sticky;
            top: 60px;
        }
    </style>
    
    <!-- <div class="container hidden-above-tablet">
        <div class="without-nav-header">
            <a (click)="goBack()"><i class="icon-arrow-left"></i> </a>
            <div class="without-nav-header__title caption-bold f500">Organization</div>
        </div>
    </div>
    <div [hidden]="organization || error" style="width:100%; text-align:center; ">
        <div class="mdl-spinner mdl-js-spinner is-active" [mdl] style="margin: 16px auto;"></div>
    </div>
    <div class="m-error-splash" *ngIf="error && !organization">
        <img [src]="opspot.cdn_assets_url + 'assets/logos/logo.svg'">
        <h3 class="mdl-color-text--red-300">{{error}}</h3>
        <span class="mdl-color-text--blue-grey-300">Check the url is correct</span>
        <router-outlet></router-outlet>
    </div>
    <div *ngIf="!error" class="container">
        <div class="o-blocks o-blocks--flex">
            <div class="o-left-block o-left-block--community">
                <div class="sticky-wrapper">
                    <app-group-banner class="o-cover o-cover--community hidden-above-tablet" [object]="organization"
                        [editMode]="editing" [top]="organization?.banner_position" [done]="editDone" (added)="add_banner($event)">
                    </app-group-banner>
                    <div class="o-card o-community-info o-community-info--radius o-community-info--shadow">
                        <div class="o-community-option-drop">
                            <opspot-organization-settings-button [(organization)]="organization"
                                class="o-community-option-drop__btn head-action__link" (change)="onOptionsChange($event)">
                            </opspot-organization-settings-button>
                            <div id="o-community-option-dropdown" class="o-community-option-drop__block">
                                <a href="#">comming ..</a>
                            </div>
                        </div>
                        <div class="o-community-img-block">
                            <opspot-avatar *ngIf="organization" [object]="organization" [editMode]="editing" [profileEdit]="true"
                                (added)="upload_avatar($event)">
                            </opspot-avatar>
                        </div>
                        <div class="o-community-name" id="profile-organization-name">
                            <h5 class="f700 word-br" >{{organization?.name}}</h5>
                        </div>
                        <div class="o-community-skills" id="skills" *ngIf="!editing && organization?.tags">
                            <a *ngFor="let tag of organization?.tags" class="o-community-skills__tag">#{{tag}}</a>
                        </div>
                        <opspot-organization-join-button style="margin-bottom: 6px;" [group]="organization"
                            (membership)="change_membership($event)"
                            *ngIf="organization && (!organization['is:creator'] || (session.isAdmin()) && !organization['is:invited'])">
                        </opspot-organization-join-button>
                        <div class="o-community-members-top o-community-members-top--mob hidden-above-tablet">
                            <a class="o-community-members-top__count-mob" *ngFor="let member of membersMobile">
                                <span class="o-community-members-list-mob-single"><img [src]="memberSrc+member.guid"
                                        alt=""></span>
                            </a>
                            <a (click)="openInvite()" class="o-community-add-members-mob"><i class="icon-plus"></i></a>
                        </div>
                        <div class="o-community-members-top ">
                            <a (click)="showMembers()" class="o-community-members-top__count" id="profile-organization-members">
                                <div class="caption-bold" id="profile-organization-members-count">{{totalMembers|abbr}}</div>
                                <div class="text-sm grey">Subscribers</div>
                            </a>
                        </div>
                        <m-modal [open]="inviteToggle" [allowClose]="true" class="inviteToggle" (closed)="inviteToggle = false">
                            <opspot-organization-profile-members-invite [organization]="organization">
                            </opspot-organization-profile-members-invite>
                        </m-modal>
                        <m-modal [open]="memberToggle" [allowClose]="true" class="memberToggle" (closed)="memberToggle = false">
                            <opspot-organization-profile-members [organization]="organization" (totalOrganization)="groupCount($event)"></opspot-organization-profile-members>
                        </m-modal> 
                    </div>
                    <div class="o-cards o-community-members hidden-under-tablet">
                        <div class="o-community-members__header">
                            <div class="text-lg f500" id="profile-organization-invite-members">
                                Organization Subscribers
                            </div>
                            <span *ngIf="organization && (organization['is:owner'] || organization['is:editor'])" (click)="openInvite()" style="font-size: 24px !important; cursor: pointer;"
                                class="icon-plus-circle primary" id="profile-organization-invite-icon">
                            </span>
                        </div>
                        <opspot-organization--member-previews [organization]="organization" (totalOrganization)="groupCount($event)">
                        </opspot-organization--member-previews>
                    </div>
                </div>
            </div>
            <div class="o-center-block">
                <div class=" hidden-under-tablet" style="width:100%; height: 187px; margin-bottom:15px;">
                    <app-group-banner [object]="organization" [editMode]="editing" [top]="organization?.banner_position" [done]="editDone"
                        (added)="add_banner($event)"></app-group-banner>
                    <div class="text-sm grey">The dimensions for cover image is 2764px x 1843px </div>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div> -->

    <div class="container hidden-above-tablet">
        <div class="without-nav-header organisation-admin-main-title">
            <a href="#"><i class="icon-arrow-left"></i> </a>
            <div class="without-nav-header__title caption-bold f500 center">Organization</div>
        </div>
    </div><!-- without nav header end -->
    <div [hidden]="organization || error" style="width:100%; text-align:center; ">
        <div class="mdl-spinner mdl-js-spinner is-active" [mdl] style="margin: 16px auto;"></div>
    </div>
    <div class="m-error-splash" *ngIf="error && !organization">
        <img [src]="opspot.cdn_assets_url + 'assets/logos/logo.svg'">
        <h3 class="mdl-color-text--red-300">{{error}}</h3>
        <span class="mdl-color-text--blue-grey-300">Check the url is correct</span>
        <router-outlet></router-outlet>
    </div>
    <div class="o-organisation-sec">
        <div class="container">
            <div class="o-blocks o-blocks--flex">
                <div class="o-left-block o-left-block--organisation">
                    <!-- <div class="o-cover o-cover--organisation hidden-above-tablet" style="background:url(assets/demo/m2.jpg) no-repeat; background-size: cover; background-position: left;">
                        <div class="o-cover__actions o-cover__actions--user-view">
                            <a class="o-cover-edit-mob o-cover-edit--organisation"><i class="icon-plus-circle"></i></a> 
                            
                        </div>
                    </div> -->
                    <!-- <div class="o-cover o-cover--organisation hidden-above-tablet"> -->
                    <app-group-banner *ngIf="organization" class="o-cover o-cover--community hidden-above-tablet" [object]="organization"
                        [editMode]="editing" [top]="organization?.banner_position" [done]="editDone" (added)="add_banner($event)">
                    </app-group-banner>
                    <!-- </div> -->
                    <div class="o-card o-organisation-info o-organisation-info--radius o-organisation-info--shadow">
                            <!-- <a class="o-organisation-info-option"><i class="icon-more-vertical f-15"></i></a> -->
                            <div class="o-organisation-option-drop">
                            <opspot-organization-settings-button [(organization)]="organization"
                                class="o-community-option-drop__btn head-action__link" (change)="onOptionsChange($event)">
                            </opspot-organization-settings-button>
                            <div id="o-community-option-dropdown" class="o-community-option-drop__block">
                                <a href="#">comming ..</a>
                            </div>
                            </div>
                            <div class="o-organisation-img-block">
                                <opspot-avatar *ngIf="organization" [object]="organization" [editMode]="editing" [profileEdit]="true"
                                (added)="upload_avatar($event)">
                                </opspot-avatar>
                            </div><!-- edit end-->
                            
                            <div class="o-organisation-name">
                                <h5 class="f700 word-br">{{organization?.name}}</h5>
                            </div>
                            <div class="o-organisation-shortdescription">
                              <div class="text-sm grey center">
                                {{organization?.category}}
                              </div>
                              <div class="text-sm grey center">
                                {{organization?.location}}
                              </div>
                            </div>
                            <div class="o-organisation-skills" *ngIf="!editing && organization?.tags">
                                <a class="o-organisation-skills__tag" *ngFor="let tag of organization?.tags">{{tag}}</a>
                            </div>
                            <div class="o-organisation-gathering-block">
                                <button type="button" class="btn btn-outline-primary btn-sm" *ngIf="organization && organization['is:owner']" (click)="toggleEdit()">Edit Organization</button>
                            </div>
                            <opspot-organization-join-button style="margin-bottom: 6px;" [group]="organization"
                                (membership)="change_membership($event)"
                                *ngIf="organization && (!organization['is:creator'] || (session.isAdmin()) && !organization['is:invited'])">
                            </opspot-organization-join-button>
                            <div class="o-organisation-members-top">
                                <div class="o-organisation-members-top__count" (click)="showMembers()">
                                    <div class="caption-bold">{{totalMembers|abbr}}</div>
                                    <div class="text-sm grey">Subscribers</div>
                                </div>
                            </div><!-- organisation members end-->
                            <div class="o-organisation-members-top o-organisation-members-top--mob hidden-above-tablet">
                                <a href="organisation.html" class="o-organisation-members-top__count-mob" *ngFor="let member of membersMobile">
                                    <span class="o-organisation-members-list-mob-single"><img [src]="memberSrc+member.guid" alt=""></span>
                                    <!-- <span class="text-sm m-l-r-6 grey">+4</span> -->
                                </a>
                                <a (click)="openInvite()" class="o-organisation-add-members-mob f500 text-md primary"><u>Add Subscribers</u></a>
                            </div><!--members-top ends-->
                            <m-modal [open]="inviteToggle" [allowClose]="true" class="inviteToggle" (closed)="inviteToggle = false">
                                <opspot-organization-profile-members-invite [organization]="organization" *ngIf="organization">
                                </opspot-organization-profile-members-invite>
                            </m-modal>
                            <m-modal [open]="memberToggle" [allowClose]="true" class="memberToggle" (closed)="memberToggle = false">
                                <opspot-organization-profile-members [organization]="organization" (totalOrganization)="groupCount($event)"></opspot-organization-profile-members>
                            </m-modal> 
                            <div class="o-organisation-discrptn">
                                <div class="text-md">
                                    <a *ngIf="(organization?.briefdescription ? organization?.briefdescription.length<30:true); else readMore">
                                        {{organization?.briefdescription}} </a>
                                    <ng-template #readMore>
                                        <read-more>
                                            {{organization?.briefdescription}}
                                        </read-more>
                                    </ng-template>
                                </div>        
                            </div>
                        </div><!--organisation info block end--> 
                        <div class="o-cards o-organisation-subscribers hidden-under-tablet">
                            <div class="o-organisation-subscribers__header">
                                <div class="text-lg f500">
                                    Subscribers
                                </div> 
                                <span class="icon-plus-circle primary" *ngIf="organization && (organization['is:owner'] || organization['is:editor'])" (click)="openInvite()">            
                                </span>
                            </div><!-- header end -->
                            <!-- <ul class="o-organisation-subscribers-list scrollbar scrollbar-default">
                              <li class="o-organisation-subscribers-list__user-list">
                                  <div class="o-organisation-subscribers-info">
                                      <div class="o-organisation-subscribers-info-prof">
                                        <div class="o-organisation-subscribers-info-prof__avatar o-avatar-md">
                                            <img src="assets/demo/avatar.png" alt="">
                                        </div>
                                        <div id="username" class="text-md">
                                            Devansh Rathore
                                        </div>
                                      </div>
                                      <div class="o-organisation-subscribers-info__option">
                                        <button type="button" class="btn btn-outline-primary btn-xs disabled">admin</button>
                                        <a href="#">
                                          <i class="icon-more-vertical"></i>
                                        </a>
                                      </div>
                                  </div>
                              </li>   
                            </ul> -->
                            <opspot-organization--member-previews [organization]="organization" (totalOrganization)="groupCount($event)">
                            </opspot-organization--member-previews>
                          </div>                   
                </div><!--left block end-->
                 <div class="o-right-block--organisation">
                    <!-- <div class="o-cover o-cover--organisation hidden-under-tablet m-b-13" style="background:url(assets/demo/m2.jpg) no-repeat; background-size: cover; background-position: left;">
                        <div class="o-cover__overlay"><a class="white text-lg" href="#"><i class="icon-plus-circle"></i> Add Cover Picture</a></div>
                    </div> -->
                    <div class=" hidden-under-tablet m-b-13 m-l-10">
                    <app-group-banner *ngIf="organization" [object]="organization" [editMode]="editing" [top]="organization?.banner_position" [done]="editDone"
                        (added)="add_banner($event)"></app-group-banner>
                    </div>
                    <div class="o-organisation-members-top o-organisation-members-top--mob hidden-above-tablet">
                        <div class="text-lg f500 mrb12">Talents</div>
                        <a href="organisation.html" class="o-organisation-members-top__count-mob">
                            <span class="o-organisation-members-list-mob-single--talent"><img src="assets/demo/avatar.png" alt=""></span>
                            <span class="o-organisation-members-list-mob-single--talent"><img src="assets/demo/avatar.png" alt=""></span>
                            <span class="o-organisation-members-list-mob-single--talent"><img src="assets/demo/avatar.png" alt=""></span>
                            <span class="text-sm m-l-r-6 grey">+4</span>
                        </a>
                        <a href="organisation.html" class="o-organisation-add-members-mob f500 text-md primary"><u>Add Talents</u></a>
                    </div><!--members-top ends-->
                    <div class="o-right-block--organisation__items">
                        <div class="o-center-block">
                            <!-- <div class="o-empty-post">
                                <div class="o-empty-post__img">
                                    <img src="assets/profile/emptypost.svg" alt="empty">
                                </div>
                                <div class="o-empty-post__text caption-medium f400">No post added yet</div>
                                <a href="#" class="btn btn-primary btn-lg organisation-admin-empty-btn mrorganisationb40">Create Post</a>
                            </div> -->
                            <router-outlet></router-outlet>
                        </div><!--center block end-->
            
                        <div class="o-right-block hidden-mob">
                            <div class="organisation-admin-empty-right">
                                <div class="organisation-admin-empty-right__avatar">
                                    <img src="assets/profile/emptytalent.svg" alt="empty">
                                </div>
                                <div class="organisation-admin-empty-right__text text-lg">No talents created yet</div>
                                <div class="organisation-admin-empty-right__btn">
                                    <button type="button" class="btn btn-outline-primary btn-md">Create Talent</button>
                                </div>
                            </div>
                        </div><!--right block end-->
                    </div><!--items ends-->
                </div><!--right block ends-->
            </div><!--o-blocks ends-->
        </div><!--container ends-->
    </div><!--organisation sec ends-->