/**
 * Post form
 */

.post {

  margin-bottom: $opspot-padding * 2;
  width: 100%;
  min-height: 0;

  .mdl-card__supporting-text {
    overflow: visible;
  }

  > div {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    padding: 0;
    box-sizing: border-box;

    .opspot-avatar {
      margin: 16px 0 16px 16px;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }

    form {
      flex: 1;
      margin-bottom: 0;

      .mdl-textfield__input {
        width: 100%;
        border: 0;
        font-size: 13px;
        padding: 22px 16px;
      }
      .mdl-textfield__input:focus {
        outline: none;
      }

    }

    .mdl-card__actions {
      text-align: right;
      
      > * {
        margin-left: 4px;
        margin-right: 4px;
        vertical-align: middle;
      }

      .m-btn--with-icon {
        padding-right: 8px;
        i {
          margin-right: 0px;
          margin-left: 4px;
        }
      }

      m-wire-threshold-input {
        display: inline-block;
        height: 32px;
        vertical-align: middle;
        line-height: 32px;
      }

      .m-mature-button {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        i {
          cursor: pointer;
          vertical-align: middle;
        }
        span {
          font-size: 11px;
          text-transform: uppercase;
        }
      }

      .mdl-button {
        padding: 0;
      }

      .attachment-button:before {
        color: #888;
        font-family: 'material icons';
        position: absolute;
        top: 7px;
        left: 6px;
      }

      .attachment-button {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        i {
          cursor: pointer;
        }

        input {
          position: absolute;
          color: #888;
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          cursor: pointer;
          opacity: 0;
        }
        input::-webkit-file-upload-button {
          cursor: pointer;
        }

      }

    }
  }

}

m-hashtags-selector {
  line-height: 32px;
  height: 32px;
}

.post-preview {
  position: relative;
  display: block !important;

  .m-rich-embed {
    a {
      width: 100%;
    }
    img {
      width: 100%;
    }

    .meta {
      padding: $opspot-padding*2;
      display: block;
      text-decoration: none;
      width: calc(100% - 32px);
    }
  }

  .mdl-spinner {
    margin: $opspot-padding * 2 auto;
    display: block;
    &.attachment-preview-delete-in-progress {
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      margin: auto;
      position: absolute;
    }
  }

  .mdl-progress {
    margin: 2px 0;
    height: 8px;
  }

  .attachment-preview {
    width: 100%;
    &.video-placeholder {
      display: block;
      width: 100%;
      height: 200px;

      align-items: center;
      -webkit-align-items: center;
      i {
        font-size: 40px;
        color: #FFF;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        position: absolute;
      }
    }
  }
  .attachment-preview-delete {
    display: none;
    cursor: pointer;
  }

  &:hover {

    .attachment-preview-delete {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 200;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      i {
        font-size: 40px;
        color: #FFF;
      }
    }

  }

  .post-preview-error {
    margin-bottom: 1em;
    font-size: 12px;
    text-align: center;
    color: red;
  }

}





.o-create-post{
    width: 525px;
    border-radius: 4px;
    background-color: $white;   
}
//dropdown css
.o-create-post-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .o-create-post-dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    border-radius: 4px;	
    background-color: #FFFFFF;	
    box-shadow: 0 6px 10px 0 rgba(144,164,174,0.16), 0 1px 12px 0 rgba(144,164,174,0.18), 0 3px 5px 0 rgba(144,164,174,0.2);
    z-index: 1;
    top:42px;
    left:-40px;
    ul li{
        list-style-type: none;
        padding: 9px 16px;
    }
    :before{
        content: '';
        position: absolute;
        top: -6px;
        left: 20px;
        width: 0;
        height: 0;
        box-shadow: 2px -2px 6px rgba($black, .05);
        border-top: 6px solid $white;
        border-right: 6px solid $white;
        border-bottom: 6px solid transparent;
        border-left: 6px solid transparent; 
        transform: rotate(-45deg);   
        mix-blend-mode: multiple;
    }
  }  
.o-create-post-dropdown-content ul li:hover {
    background: $grey-light;
}

//hover element
.o-create-post__title:hover .o-create-post-dropdown-content{
    display: block;
    }

.o-create-post-head{
    width: 100%;
    padding:13px 27px;
    position: relative;
    background-color: rgba(235,239,242,0.4);
    display: flex;
    .icon-box-design{
        margin-left: 9px;
        height: 32px;	
        width: 32px;	
        border: 1px solid rgba(144,164,174,0.2);	
        border-radius: 4px;	
        background-color:$white;	
        display: inline-block;
        text-align: center;
        vertical-align: middle;
    }
    .close{
      position: absolute;
      top: 23px;
      right: 24px;
      i{
        font-size:17px;
      }
    }
    .icon-chevron-down{
     line-height: 24px;
    font-size: 15px;
    }
    .o-create-post-write-blog{
    position: absolute;
    right: 70px;
    top: 23px;
    }
}
.o-create-post-head--border{
    border-bottom: 1px solid #ECEFF1;
}
.o-create-post-filled-body{
    height: 240px!important;
}
.o-create-post-body{
    width: 100%;
    padding: 15px 24px 15px;
    height: 186px;
    textarea{
        resize:none;
    }
    textarea:focus{
        outline: none;
    }
    ::placeholder{
        color:$grey;
    }
    .form-group{
        margin-bottom: 18px;
    }
}
.o-create-post-body--flex{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

//userinfo style
.o-crete-post-userinfo{
  display: flex;
  align-items: flex-start;
  &__avatar{
    order: 1;  
    img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      float: left;
    }
  }
  &__mesaage{
    order: 2;
    width: 92%;
    margin: 10px 0px 0px 11px;
    textarea{
      overflow: hidden;
      width: 100%;
      font-size: 14px;
      line-height: 16px;
      border: none;
      font-family: "Roboto", sans-serif !important;
      resize: none;
    }
  }
   
}
//add image style
.o-create-post-fileupload{
    display: flex;
    width: 100%;
    align-items: center;
    @include mq($from: $mobile_sm, $until:$mobile_lg ){
        border-bottom: 1px solid #ECEFF1;
        padding-bottom: 12px;  
    }
    .fileUpload{
        height: 39px;	
        width: 39px;	
        border: 1px solid #F5F7F8;	
        border-radius: 4px;
        margin-right: 11px;
    .icon-paperclip-2{
      font-size:18px;  
    }
    }
    &__avatar{
        img{
            height: 76px;	
            width: 76px;	
            border: 1px solid #F5F7F8;	
            border-radius: 4px;  
        }
    }
}
.o-create-post-toggle{
    [type="checkbox"]:before {
        width: 48px;
        background-color: $grey;
        height: 24px;
    }
    [type="checkbox"]:after {
        left: 3px;
        width:20px;
        height: 20px;
        margin:1.5px;
    }
    [type="checkbox"]:checked:before {
        background-color: $primary;
    }
}



//footer style
.o-create-post-footer{
    border-radius: 0 0 4px 4px;	
    background-color: rgba(235,239,242,0.4);
    padding: 12px 24px;
    display: flex;
    align-items: flex-end;
    justify-content:space-between;
    border: 1px solid #ECEFF1;
    position: relative;
    @include mq($from: $mobile_sm, $until:$mobile_lg ){
        background: transparent;
        border:0px;
        padding:0px 12px; 
    }
    .o-create-post-left{
    display:flex;
    align-items: center;
    width: 100%;
    .icon-info{
    line-height: 20px;
    font-size: 11px;
    margin-left:6px;
    }  
    }
    .o-create-post-right{
        display:flex;
        &__status{
            padding: 8px 10px;
            height: 34px;	
            width: 103px;	
            border: 1px solid rgba(144,164,174,0.2);	
            border-radius: 4px;	
            background-color:$white;	
            // box-shadow: 0 0 3px 0 rgba(204, 204, 204, 0.43); 
            margin-right:14px;
            @include mq($from: $mobile_sm, $until:$mobile_lg ){
                margin-right:0px;
            }
        }
        &__icon {
            .icon-users{
                color: $black;
                font-size: 12px;
            }
        }
        &__dropdown{
            .icon-chevron-down{
                float: right;
                font-size: 18px;
                color:$black;
            }

        }
    }
    .btn-primary.disabled{
        color: $grey!important;
    }
}
//footer dropdown style
.o-create-post-dropdown-footer{
    right: 20px;
    bottom: -90px;
    position:absolute;	
    width: 197px;	
    border: 1px solid #ECEFF1;	
    border-radius: 4px;	
    background-color:$white;	
    box-shadow: 0 6px 10px 0 rgba(144,164,174,0.16), 0 1px 12px 0 rgba(144,164,174,0.18), 0 3px 5px 0 rgba(144,164,174,0.2);
    .icon-public,.icon-lock{
    color: $black;
    font-size: 12px;
    padding-right: 9px;
    }
    &__status{
        padding:9px 12px;
    }
    &__paywall{
        border: 1px solid #ECEFF1;	
        border-radius: 0 0 4px 4px;	
        background-color: #F7F9FA;
        padding:16px 12px;
        @include mq($from: $mobile_sm, $until:$mobile_lg ){
        border: 0px solid #ECEFF1;	
        background-color: $white;
        }
        .icon-users{
            color: $black;
            font-size: 12px;
            padding-right: 9px;
        }
        .paywall-coins{
            display:flex;
            margin-top:10px;
            input{
                width:111px;
                border: 1px solid rgba(144,164,174,0.2);	
                border-radius: 4px;
                padding: 0 11px;
            }
            input:focus{
                outline:none;
            }
            ::placeholder{
                color:$grey;
                font-size: 11px;
            }
            button{
                padding: 5px 15px;
                margin-left: 9px;
            }
        }
    }
}




//post filled style
.o-create-post-filled-fileupload{
    display: flex;
    width: 100%;
    .mr-9{
        margin-right: 9px
    }
    .fileUpload,.fileUpload-preview-new {
        height: 101px;	
        width: 101px;	
        border: 1px solid #F5F7F8;	
        border-radius: 4px;
        position: relative;
        .icon-plus{
            border:0;
        }
    }
    
}
.o-create-post-filled-avatar{
    img{
        height: 101px;	
        width: 101px;
        object-fit: cover;
        border-radius: 4px;
    }
}
.fileUpload-preview-new:before{
    right: 8px;
    content: "\ea14";
    font-family: 'icomoon' !important;
    line-height: 1;
    font-size: 12px;
    height: 22px;
    width: 22px;
    color: #fff;
    position: absolute;
    top: 8px;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    background-color: rgba(40,40,40,0.5);
}

//responsive style
@include mq($from: $mobile_sm, $until:$mobile_lg ){

    .o-create-post-mob-header-below{
        background-color: #ECEFF1;
        padding: 14px 15px;
        display: flex;
        justify-content: space-between;
    }
    .text-centerhashtag{
        text-align: center!important;  
      }
    .o-create-post-mob{
        padding: 16px 15px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 200px;
        .mb-14{
            margin-bottom: 14px;
        }
        textarea:focus{
            outline: none;
        }
        
    }
}
.o-create-post-mob{
    padding: 16px 15px;   
   }
   .o-create-post-mob-header{
       .without-nav-header__title{
           text-align: left;
           padding-left: 18px;
           .icon-chevron-down{
               line-height: 24px;
               font-size: 15px;
           }
           .icon-box-design{
               margin-left: 9px;
               height: 32px;	
               width: 32px;	
               border: 1px solid rgba(144,164,174,0.2);	
               border-radius: 4px;	
               background-color:$white;	
               display: inline-block;
               text-align: center;
               vertical-align: middle;
           }
       }
   }
//hashtag
.o-create-post-mob-hashtag{
    padding: 0 14px 0 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .hashtag-line{
        border: 0.5px solid #ECEFF1;
    }
    label{
        margin-bottom: 0;
    }
    .radiobutton{
        padding: 20px 0;
    }
    .radiobutton input[type="radio"] + label:before{
        top: 20px;
    }
    .radiobutton input[type="radio"] + label:after{
        top: 20px;
    }
    
}
button.btn.btn-primary.btn-sm.disabled.paywall-icon {
    color: #90A4AE!important;
}

.this-is-for-priview{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6)
}
.o-crete-post-userinfo__avatar {
  order: 1;
}

.o-crete-post-userinfo__avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}