<div class="mdl-card m-border post" *ngIf="session.isLoggedIn() && !staticBoard">
    <div class="mdl-card__supporting-text">
        <div class="opspot-avatar">
            <a [routerLink]="['/', session.getLoggedInUser().username]">
                <img src="{{opspot.cdn_url}}icon/{{session.getLoggedInUser().guid}}/medium/{{session.getLoggedInUser().icontime}}/"
                    class="m-border" />
            </a>
        </div>
        <form (submit)="post()">
            <mwl-text-input-autocomplete-container>
                <textarea class="mdl-textfield__input" type="text" placeholder="Speak your mind..."
                    i18n-placeholder="@@OPSPOT__POSTER__SPEAK_YOUR_MIND" (click)="createForms('default')"></textarea>
            </mwl-text-input-autocomplete-container>
        </form>
    </div>
</div>

<div *ngIf="staticBoard">
    <div class="o-create-post" *ngIf="display == 'default'">
        <div class="o-create-post-head o-create-post-head--border" *ngIf="!showCommunityPost">
            <div class="o-create-post__title text-lg f500">Create a post
                <span class="icon-box-design" #postType>
                    <span class="icon-chevron-down" (click)="postType.value = !postType.value">
                    </span>
                </span>
            </div>
            <div class="o-create-post-dropdown" [hidden]="!postType.value">
                <div class="o-create-post-dropdown-content">
                    <ul>
                        <li class="text-md" (click)="createForms('#Showtimez')">On #Showtimez</li>
                        <li class="text-md" (click)="createForms('#Opportunity')">On #Opportunity</li>
                        <li class="text-md" (click)="createForms('#TheBlueStore')">On #TheBlueStore</li>
                        <li class="text-md" (click)="createForms('#Portfolio')"> On #Portfolio</li>
                        <li class="text-md" (click)="createForms('#MyJourney')">On #MyJourney</li>
                    </ul>
                </div>
            </div>
            <div class="text-md primary f500 o-create-post-write-blog">Write Blog</div>
            <div class="close" (click)="close()"><i class="icon-x"></i></div>
        </div>
        <app-post-form (load)="emitEvent($event)" [object]="''"></app-post-form>
    </div>
    <app-showtimez-form *ngIf="display == '#Showtimez'" [object]="''" (ChangeDefault)="changeToDefault()"
        (Close)="close()" (load)="emitEvent($event)"></app-showtimez-form>
    <app-opportunity-form *ngIf="display == '#Opportunity'" [object]="''" (ChangeDefault)="changeToDefault()"
        (Close)="close()" (load)="emitEvent($event)"></app-opportunity-form>
    <app-blue-store-form *ngIf="display == '#TheBlueStore'" [object]="''" (ChangeDefault)="changeToDefault()"
        (Close)="close()" (load)="emitEvent($event)"></app-blue-store-form>
    <app-portfolio-form *ngIf="display == '#Portfolio'" (ChangeDefault)="changeToDefault()" (Close)="close()"
        (load)="emitEvent($event)"></app-portfolio-form>
    <app-my-journey-form *ngIf="display == '#MyJourney'" (ChangeDefault)="changeToDefault()" (Close)="close()"
        (load)="emitEvent($event)"></app-my-journey-form>
</div>