<!-- <div class="o-settings-block__content">
  <div class="tabs-settings">
    <div class="m-settings--section m-layout--row m-border">

      <div class="opspot-error mdl-color--red mdl-color-text--white" [hidden]="!error">{{error}}</div>
      <div class="m-layout--spacer"></div>

      <button class="m-btn m-btn--slim m-btn--action" [disabled]="!canSubmit()"
        [hidden]="exclusive.saved && rewardsSaved" (click)="save()">
        <ng-container i18n="@@M__ACTION__SAVE">Save</ng-container>
      </button>
      <button class="m-btn  m-btn--slim" [hidden]="!exclusive.saved || !rewardsSaved">
        <ng-container i18n="@@M__COMMON__SAVED">Saved</ng-container>
      </button>
      <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate" [hidden]="!inProgress"></div>
    </div>

    <div class="m-settings--section m-settings--wire--paywall m-border">

      <div class="m-settings--wire--paywall">
        <div class=" m-settings--wire--paywall-inputs">
          <div class="">
            <p i18n="@@OPSPOT__SETTINGS__WIRE__PREVIEW_DESC">The below description and preview image is what your
              subscribers will see on your exclusive posts until they follow you.</p>
          </div>

          <div class="m-settings--wire--paywall-intro">
            <label i18n="@@OPSPOT__SETTINGS__WIRE__DESCRIPTION_LABEL">Description</label>
            <input type="text" autofocus class="m-input"
              placeholder="eg. Support me to see my exclusive content and join me for a monthly video chat"
              i18n-placeholder="@@OPSPOT__SETTINGS__WIRE__DESCRIPTION_PLACEHOLDER" [(ngModel)]="exclusive.intro"
              (keyup)="exclusive.saved = false; updatePreviewEntity()" />
          </div>

          <div class="m-settings--wire--paywall-background">
            <label i18n="@@OPSPOT__SETTINGS__WIRE__BACKGROUND_LABEL">Background</label>
            <input type="file" #backgroundFile name="preview" (change)="updatePreview(backgroundFile)"
              accept="image/jpg, image/jpeg, image/png" />
          </div>

          <div class="m-settings--wire--paywall-preview">
            <label i18n="@@OPSPOT__SETTINGS__WIRE__PREVIEW_LABEL">Preview</label>

            <m-wire--lock-screen *ngIf="previewEntity" [preview]="true" [entity]="previewEntity"
              class="mdl-shadow--4dp"></m-wire--lock-screen>
          </div>
        </div>
      </div>

    </div>
  </div>
</div> -->
<div class="o-settings-block__content">
  <div class="tabs-settings">
    <div id="wire" class="tab">
      <div class="o-settings-wire">
        <div class="text-md m-26">
          The below description and preview image is what your subscribers will see on your exclusive posts until they
          become a supporter.
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" id="wire-pawall-description" rows="4" [(ngModel)]="exclusive.intro"
            (keyup)="exclusive.saved = false; updatePreviewEntity()">
            </textarea>
        </div>
        <div class="fileUpload">
          <span class="icon-plus f500"></span><span class="text-md grey">Background image</span>
          <input type="file" id="file" class="upload" #backgroundFile name="preview" (change)="updatePreview(backgroundFile)"
            accept="image/jpg, image/jpeg, image/png" />
        </div>
        <h5 class="f500">Preview</h5>
        <div class="o-settings-preview">
          <div class="o-settings-preview__item">
            <!-- <div class="o-avatar-md"><img src="assets/demo/avatar.png" alt=""></div>
                    <div class="o-settings-preview-info">
                        <div class="text-md f500">Gowtham Kumar</div>
                        <div class="text-sm grey">10 mins ago<span class="icon-public"> </span></div>
                    </div>
                </div>
                <div class="text-md prview-text">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                </div>
                <div class="o-settings-spot">
                    <h4 class="white">1 Spot Coin / Month</h4>
                    <div class="text-md grey">
                        This post can only be seen by supporters
                        who wire over 1 spot coin / month to @gowtham42
                    </div>
                    <button type="button" class="btn btn-primary btn-sm">UNLOCK THIS POST</button>
                </div> -->
            <m-wire--lock-screen
              *ngIf="previewEntity"
              [preview]="true"
              [entity]="previewEntity"
              class="mdl-shadow--4dp w100"
            ></m-wire--lock-screen>
          </div>

        </div>
        <button type="button" id="wire-save-backgroung-image" class="btn btn-primary btn-lg pading-right" style="margin-right: 9px"
          [hidden]="exclusive.saved && rewardsSaved" (click)="save()" [disabled]="inProgress">Save</button>
        <button type="button" id="wire-cancel-button" class="btn btn-outline-primary btn-lg" (click)="removeFile()">Cancel</button>
      </div>
    </div>
  </div>
</div>

<style>
.w100 {
  width: 100%;
}
</style>