<div  class="tab" style="display: block;">
  <h5 class="o-prof-edit-title" id="general-basic-info">Basic Info</h5>
  <div class="o-prof-general">
      <form name="form" #f="ngForm">
          <div class="form-group form-gorup--general-edit">
              <label>Full Name</label>
              <input type="text" name="fullName" required [(ngModel)]="model.fullName" id="general-fullname" class="form-control form-control-lg" placeholder="">
          </div>
          <div class="form-group form-gorup--general--textarea">
              <label>Skills</label>
                <tag-input
                    style="border:1px solid #959595; padding-bottom: 50px;"
                    [(ngModel)]='model.skills' name="d" theme='minimal'>
                    <tag-input-dropdown
                        [showDropdownIfEmpty]="true"
                        [limitItemsTo]=5
                        [minimumTextLength]=5
                        [autocompleteItems]="data"
                    ></tag-input-dropdown>
               </tag-input>
              <div class="w100 text-sm grey">Press enter/return to separate skill or choose from the list.</div>
          </div>
          <p *ngIf="reqName" class="error text-sm" id="education-valid-date-error">Please provide your full name.</p>
          <div class="o-prof-edit-actions">
              <button type="button" id="general-save-submit" (click)="onSubmit(f)" class="btn btn-primary btn-lg" [disabled]="inProgress">Save Changes</button>
              <button type="button" id="general-cancel-button" class="btn btn-outline-primary btn-lg btn--cancel" [routerLink]="['/', activeUser?.username]">Cancel</button>
          </div><!-- prof edit actions end -->
      </form>
  </div>
</div>