.post-preview{
    position: absolute !important;
    display: block !important;
    height: 90px;
    width: 100px;
    top: 75px;


}

.m-comment{
    position: relative;
    top: 100px !important;
}