<div class="o-drop__arrow"><img src="assets/droparrow.png" alt="sss"></div>
<div class="m-notifications--flyout--wrapper mdl-card mdl-shadow--3dp">
  <div class="m-notifications--flyout--scrollable-container">
    <opspot-notifications #notifications [loadOnDemand]="true" [hidden]="!visible" [visible]="visible"></opspot-notifications>
  </div>
  <div class="o-drop__more" [routerLink]="['/notifications']" >
      <a class="text-md primary" [routerLink]="['/notifications']" (click)="close()" i18n="@@NOTIFICATIONS__FLYOUT__VIEW_ALL_ACTION"> See all </a>
  </div>
</div>
