

// opspot-notification.mdl-card{
//   width:100%;
//   min-height:0;
//   padding:$opspot-padding * 2;
//   margin-bottom:$opspot-margin*2;

//   display: flex;
//   flex-direction: row;

//   .avatar{
//     display: flex;
//     flex-direction: column;

//     img{
//       border-radius: 50%;
//       max-height:50px;
//     }
//   }

//   .body{
//     padding:0 $opspot-padding*2;


//     a{
//       color:#333;
//       text-decoration: none;
//     }

//     .pseudo-link {
//       font-weight: bold;
//       vertical-align: baseline;
//     }

//     p{
//       padding:0;
//       margin:0;
//     }

//     .ts{
//       font-size:11px;
//     }
//   }
// }

// opspot-notifications {
//   .m-notifications--load-new {
//     text-transform: uppercase;
//     font-family: 'Roboto';
//     letter-spacing: 2.5px;
//     cursor: pointer;
//     text-rendering: optimizeLegibility;
//     font-size: 12px;
//     -webkit-font-smoothing: antialiased;
//     font-weight: 600;
//     padding: 8px;
//     text-align: center;

//     a {
//       margin: 0 auto;
//     }
//   }

//   .mdl-tabs__tab {

//     overflow: visible;
//     flex: 1;

//     .m-full-label {
//       display: inline-block;
//     }

//     .m-icon, .material-icons {
//       line-height: 2em;
//       margin-left: 0.35em;
//       vertical-align: middle;
//       opacity: 0.45;
//       cursor: pointer;
//     }

//     @media only screen and (max-width: $min-desktop) {
//       padding: 0 $opspot-padding * 2;

//       .m-full-label {
//         display: none;
//       }

//       .m-icon {
//         margin-left: 0;
//         opacity: 1;
//       }
//     }

//     @media only screen and (max-width: $max-mobile) {
//       padding: 0 $opspot-padding * 1.5;
//     }

//     @media only screen and (max-width: $min-mobile) {
//       padding: 0 ($opspot-padding / 1.333);
//     }
//   }

//   .notifications-grid{
//     // Styles for notifications page list
//   }
// }

// m-notifications--topbar-toggle{
//   i { cursor: pointer }
//   .counter { cursor: default }

//   .m-notifications--topbar-toggle--icon--active {
//     &::after {
//       background: #4690DF;
//       border-radius: 50%;
//       display: block;
//       height: 8px;
//       width: 8px;
//       content: "";
//       position: absolute;
//       top: -2px;
//       right: 2px;
//     }
//   }

//   .m-notifications--topbar-toggle-overlay {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100vh;
//   }
// }


@import "src/assets/helpers/variables";
@import "node_modules/sass-mq/_mq";
@import "src/assets/scss/base/_typography.scss";
@import "src/assets/scss/base/_base.scss";
@import "src/assets/scss/components/_common.scss";

.o-notification-sec{
    width: 100%;
    float: left;
    background-color: #FAFAFA;
    min-height: 100vh;
}

// left block filter style

.o-noti-filter{
    padding: 16px;
    background: #fff;
    &__title{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__block{
        width: 100%;
        margin-top: 12px;
        .c-checkbox{
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            flex-direction: row;
            
            display: block;
            position: relative;
            padding: 6px 0px;
            margin: 0px;
            cursor: pointer;
            font-size: 13px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            line-height: 15px;
        }
        .checkmark{
            right: 0px!important;
            left: unset;
        }
    }
}

// //center block styles

// for title

.o-noti-title{
    width: 100%;
    border: 1px solid $grey-light;	
    border-radius: 4px;	
    background-color: $white;
    padding: 18px 19px;
    display: flex;
    margin:0px;
    &__text{
        width: 50%;
        display: flex;
        align-items: center;
    }
    &__action{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
.o-notification-count{
    height: 21px;	
    width: 29px;	
    border-radius: 4px;	
    background-color: $primary;
    padding:3px 9px;
    margin-left: 12px;
}
.o-noti-settings{
    width: 17px;
    height: 17px;
    margin-left: 17px;
    img{
        width: 17px;
    }
}

// for date

.o-noti-days{
    padding: 12px 19px;
}

// for date block

.o-noti-date-block{
    // border: 1px solid $grey-light;	
    border-radius: 4px;	
    background-color: #FFFFFF;
    overflow: hidden;
    .o-card{
        border-bottom: .4px solid $grey-light;
        border-radius: 0px;
    }
}

// for notification component

.o-noti-block{
    padding: 13px 19px;
    margin: 0px;
    //unread notification class
    &--unread{
        background-color: rgba(100,181,246,0.1 );
    }
}
.o-noti-head{
    width: 100%;
    display: flex;
    flex: 1;
    &__avatar{
        order: 1;
        width: 33px;
        height: 33px;
        border-radius: 50%;
        overflow: hidden;
        img{
            width: 100%;

        }
    }
    &__info{
        flex: 1;
        order: 2;
        margin: 0px 9px;
        .o-noti-info__name{
            margin: 7px 0px;
            // width: calc(100% - 82px);
        }
        .o-noti-info__det{
            // width: calc(100% - 82px);
        }
    }
    &__tym{
        order: 3;
        width: 40px;
    }
}
.o-noti-body{
    width: 100%;
    margin-top: 8px;
    //for media
    &--media{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
    }
    &__media{
        width: 53px;
        height: 35px;
        border: 0.5px solid $grey-light;	
        border-radius: 2px;
        overflow: hidden;
        margin-right: 6px;
        img{
            width: 100%;
        }
    }
    &__media-more{
        width:41px;
        height: 35px;
        border: 0.5px solid $grey-light;	
        border-radius: 2px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            display: block;
        }
    }
    // for event
    &--event{

    }
    &__event{
        width: 100%;
        display: flex;
        flex: 1;
        .o-noti-event__cover{
            box-sizing: border-box;	
            height: 35px;	
            width: 53px;	
            border: 0.5px solid #ECEFF1;	
            border-radius: 2px;
            order: 1;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
        .o-noti-event__info{
            order: 2;
            margin-left: 12px;
            width: calc(100% - 68px);
            .o-noti-event-info__title{
                width: 100%;
            }
            .o-noti-event-info__date-time{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                .date{
                    padding: 0px 4px;
                    background: $grey-light;
                    margin-right: 8px;
                    border-radius: 2px;
                }
            }
        }
    }
    // collabrator
    &--collabrator{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 12px;
        .m-l-9{
            margin-left: 9px;
        }
    }
    // blog
    .o-noti-body--blog{
        width: 100%;
    }
    .o-noti-blog{
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 12px;
        &__cover{
            box-sizing: border-box;	
            height: 35px;	
            width: 53px;	
            border: 0.5px solid $grey-light;	
            border-radius: 2px;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
        .o-noti-blog__info{
            order: 2;
            margin-left: 12px;
            width: calc(100% - 68px);
            .o-noti-event-info__title{
                width: 100%;
            }
            .o-noti-blog-info__det{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
            }
        }
    }
    // audio
    &--audio{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
    }
    .o-noti-audio{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        &__cover{
            box-sizing: border-box;
            height: 35px;	
            width: 53px;	
            border: 0.5px solid #ECEFF1;	
            border-radius: 2px;	
            background-color: #ECEFF1;
            img{
                width: 100%;
            }
        }
        &__det{
            margin-left: 12px;
        }
    }
    &__audio-more{
        width:41px;
        height: 35px;
        border: 0.5px solid $grey-light;	
        border-radius: 2px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 16px;
        a{
            display: block;
        }
    }
    // video
    &--video{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
    }
    .o-noti-video{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        &__cover{
            box-sizing: border-box;
            height: 35px;	
            width: 53px;	
            border: 0.5px solid #ECEFF1;	
            border-radius: 2px;	
            background-color: #ECEFF1;
            img{
                width: 100%;
            }
        }
        &__det{
            margin-left: 12px;
        }
    }
    &__video-more{
        width:41px;
        height: 35px;
        border: 0.5px solid $grey-light;	
        border-radius: 2px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 16px;
        a{
            display: block;
        }
    }
}



// //right block

// for activities

.o-noti-activities{
    width: 100%;
    background: #fff;
    &__title{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:16px 16px 3px;
    }
    &__block{
        padding: 9px 16px;
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid #ECEFF1;
    }
}
.o-noti-activity-avatar{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 0.5px solid #ECEFF1;
    overflow: hidden;
    img{
        width:100%;
    }
}
.o-noti-activity-info{
    width: calc(100% - 42px);
    margin-left: 9px;
    .m-t-4{
        margin-top: 4px;
    }
}
.o-drop__body {
  width: 100%;
  float: left;
  // height: 380px;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}