<form (submit)="post()">
    <div class="o-create-post-body o-create-post-body--flex">
        <div class="o-crete-post-userinfo">
            <div class="o-crete-post-userinfo__avatar">
                <img src="{{opspot.cdn_url}}icon/{{session.getLoggedInUser().guid}}/medium/{{session.getLoggedInUser().icontime}}/" id="post-form-profile-image" alt="">
            </div>
            <div class="o-crete-post-userinfo__mesaage">
                <textarea
                    type="text"
                    id="message"
                    #message
                    name="message"
                    placeholder="What have you created today?"
                    [ngModel]="meta.message"
                    (keyup)="getPostPreview(message)"
                    (ngModelChange)="onMessageChange($event)"
                    [autoGrow]
                    autofocus
                ></textarea>
            </div>
        </div>
        <div class="o-create-post-fileupload" *ngIf="!attachment.isRich() && cards.length == 0">
            <div class="fileUpload">
                <span class="icon-paperclip-2"></span>
                <input type="file"  id="file" #file class="upload" name="attachment"
                    (change)="uploadAttachment(file, $event)" />
            </div>
            <div class="text-md grey">
                Add Image, Video or Audio
            </div>
        </div>
        <div class="post-preview" *ngIf="attachment.isRich()">
            <div class="m-rich-embed" *ngIf="attachment.getMeta().title">
                <opspot-rich-embed [preview]="attachment.getMeta()"></opspot-rich-embed>
            </div>
        </div>
        <div class="o-create-post-filled-fileupload" *ngIf="cards.length > 0">
            <div class="fileUpload">
                <span class="icon-plus"></span>
                <input type="file" id="file" #file class="upload" class="upload" name="attachment"
                    (change)="uploadAttachment(file, $event)" />
            </div>
            <div class="fileUpload-preview-new mr-9" *ngFor="let image of cards">
                <a class="fileUpload-preview-new-close" (click)="removeAttachment(image.guid)"><i
                        class="ico-x white"></i></a>
                <a class="o-create-post-filled-avatar" href="javascript:void(0)">
                    <img [src]="image.src" alt="">
                </a>
            </div>
        </div>
    </div>
    <div *ngIf="inProgress" class="mdl-progress mdl-progress__indeterminate initial-loading is-upgraded">
        <div class="progressbar bar bar1" style="width: 0%;"></div>
        <div class="bufferbar bar bar2" style="width: 100%;"></div>
        <div class="auxbar bar bar3" style="width: 0%;"></div>
    </div>
    <div class="o-create-post-footer">
        <div class="o-create-post-left">
            <div class="o-create-post-toggle">
                <div class="switch">
                    <input type="checkbox" name="defaultPost" id="post-form-nsfw" [(ngModel)]="isNSFW">
                    <span class="slider round"></span>
                </div>
            </div>
            <span class="text-md grey f500">
                Restricted Content<span class="icon-info"></span>
            </span>
        </div>
        <div class="o-create-post-right">
            <div class="o-create-post-right__status">
                <div class="float-left" *ngIf="defaultCoins.length == 0">
                    <span class="o-create-post-right__icon"><span class="icon-users"></span></span>
                    <span class="text-md f500">Pay Per Post</span>
                </div>
                <div class="float-left" *ngIf="defaultCoins.length > 0">
                    <span class="text-md f500">{{defaultCoins}} Pay Per Post</span>
                </div>
                <a (click)="displayPaywall()" class="o-create-post-right__dropdown">
                    <span class="icon-chevron-down" id="post-form-set-paywall-icon"></span>
                </a>
                <!-- <div class="o-create-post-dropdown-footer" [hidden]="!displayPaywal">
                    <div class="o-create-post-dropdown-footer__paywall">
                        <div class="text-sm grey" id="post-form-paywall-tokens">Coins required to unlock this post</div>
                        <div class="paywall-coins">
                            <input type="text" name="coinsDefault" [(ngModel)]="defaultCoins" placeholder="0 Pay Per Post" id="post-set-coins">
                        </div>
                        <div class="text-sm grey m-t-10" id="post-form-paywall-message">Paywall message</div>
                        <div class="paywall-coins">
                            <textarea name="paywallMessage" id="post-set-coins" maxlength="120" [(ngModel)]="paywallMessage"></textarea>
                        </div>
                        <div class="m-t-10">
                            <button type="button" class="btn btn-primary btn-sm disabled" (click)="displayPaywall()" id="post-coins-add">Add</button>
                        </div>
                    </div>
                </div> -->
            </div>
            <button type="submit" class="btn btn-primary btn-sm" id="post-form-submit" [disabled]="inProgress">Post</button>
        </div>
    </div>
</form>
