@import "src/assets/helpers/variables";
@import "node_modules/sass-mq/_mq";

// report style

.o-report{
  // min-height: 754px;	
 max-width: 592px !important;
  width: 100%;	
  border-radius: 4px;	
  background-color: #FFFFFF;
  overflow: hidden;
  //margin: 0px 15px;
  @include mq($from: $mobile_sm, $until: $mobile_lg) {
      width: 100%;
      margin: 0;
}
  &__head{
      width: 100%;
      border-bottom: 1px solid $grey-light;
      padding: 25px 46px;
      position: relative;
      @include mq($from: $mobile_sm, $until: $tablet) {
          padding: 25px 30px 15px 30px;
      }
  }
  &__container{
      width: 100%;
      padding: 28px 45px 45px;
      @include mq($from: $mobile_sm, $until: $mobile_lg) {
          padding: 20px 15px;
      }
  }
}
.o-report-close{
  position: absolute;
  top: 15px;
  right: 15px;
  i{
      font-size: 20px;
  }
}

.o-report-content{
  width: 100%;
  .checkmark{
      left: unset;
      right: 0px;
  }
  .c-checkbox{
      padding-left: 0px;
      margin-bottom: 27px;
      @include mq($from: $mobile_sm, $until: $mobile_lg) {
          margin-bottom: 14px;
      }
  }
  .radiobutton{
      display: flex;
      margin-bottom: 27px;
  }
}
.o-report-content-text{
  display: flex;
  flex-direction: column;
  @include mq($from: $mobile_sm, $until: $mobile_lg) {
      width: 90%;
  }
}
.o-report-describe-issue{
  width: 100%;
  margin-bottom: 27px;
  textarea{
      width: 100%;
      padding: 15px 17px;
      font-size: 13px;	
      line-height: 20px;
      color: $grey-dark;
      border: 1px solid #90A4AE;	
      border-radius: 4px;
      min-height: 93px;
      line-height: 20px;
  }
}
.o-report-textarea::placeholder{
  color: $grey;
  font-size: 13px;
  line-height: 20px;
}




// radio style 

 // for radio

 .radio-label {
  margin: 5px 5px;
  &--flex{
    display: flex;
    font-size: 13px;
    line-height: 20px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    .radio-widget{
      order: 2;
      margin: 0px!important
    }
  }
}
.radio-label input[type="radio"] {
  display: none;
}
.radio-label input[type="radio"]:checked + .radio-widget {
  border-color: #50BBB6;
  background-image: url(../../../../assets/svg/checkbox_selected.svg);  
}

.radio-widget {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  position: relative;
  margin-right: 5px;
  background-image: url(../../../../assets/svg/checkbox.svg);
}

.radio-widget, input {
  display: inline-block;
  vertical-align: top;
}



// radio second option

.radiobutton {
display: inline-block;
margin: 0;
position: relative;
}
.radiobutton input[type="radio"] {
position: absolute;
left: -9999px;
z-index: -9999;
visibility: hidden;
}
.radiobutton input[type="radio"] + label {
// padding: 5px;
padding-right: 28px;
cursor: pointer;
display: inline-block;
vertical-align: middle;
}
.radiobutton input[type="radio"] + label:before {
content: "";
position: absolute;
top: 0;
right: 0;
width: 20px;
height: 20px;
border-radius: 50%;
border: 1px solid $primary;
}
.radiobutton input[type="radio"] + label:after {
content: "";
position: absolute;
top: 0;
right: 0;
// margin-top: 3px;
// margin-left: 3px;
width: 20px;
height: 20px;
border-radius: 50%;
background: none;
}
.radiobutton input[type="radio"]:active,
.radiobutton input[type="radio"]:focus {
outline: 1px dashed rgba(182, 15, 46, 0.6);
}
.radiobutton input[type="radio"]:checked + label:after {
content: "";
background: $white;
transition: all 75ms ease-in;
border: 6px solid $primary;
}
