<div id="support" class="tab active">
  <div class="o-settings-support">
      <div class="o-settings-support-accordion-block">
          <button class="accordion">
              <div class="panel-text text-lg">
                  You reported <span class="f500">Gowtham Kumar’s</span> post for
              <span class="f500">Trademark</span> violation
              </div>
          </button>
          <div class="panel">
            <div class="o-settings-support-chating">
              <div class="o-settings-support-users">
                  <div class="o-settings-support-users__avatar">
                      <img src="assets/demo/avatar.png" alt="">
                  </div>
                  <div class="o-settings-support-users__text text-md">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                      commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                      penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                      <div class="text-sm grey mt-8">11:00</div>
                  </div>
              </div>
              <div class="o-settings-support-users">
                  <div class="o-settings-support-users__avatar">
                      <img src="assets/ops_icon.png" alt="">
                  </div>
                  <div class="o-settings-support-users__text text-md">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                      commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                      penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                      <div class="text-sm grey mt-8">11:00</div>
                  </div>
              </div>
              <div class="o-settings-support-users">
                  <div class="o-settings-support-users__avatar hidden-under-tablet">
                      <img src="assets/demo/avatar.png" alt="">
                  </div>
                  <div class="o-settings-support-text-field">
                      <div class="form-group">
                          <input type="text" class="form-control form-control-lg" placeholder="Type something">
                          <span class="icon-plus-circle">            
                          </span>
                      </div>
                  </div>
                  <div class="hidden-desktop mob-send">
                  <i class="icon-send"></i>
                  </div>

              </div>
            </div><!--chating ends-->
          </div>
      </div>
      <div class="o-settings-support-accordion-block">
          <button class="accordion">
              <div class="panel-text text-lg">
                  You reported <span class="f500">Gowtham Kumar’s</span> post for
              <span class="f500">Trademark</span> violation
              </div>
          </button>
          <div class="panel">
              <div class="o-settings-support-chating">
              <div class="o-settings-support-users">
                  <div class="o-settings-support-users__avatar">
                      <img src="assets/demo/avatar.png" alt="">
                  </div>
                  <div class="o-settings-support-users__text text-md">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                      commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                      penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                      <div class="text-sm grey mt-8">11:00</div>
                  </div>
              </div>
              <div class="o-settings-support-users">
                  <div class="o-settings-support-users__avatar">
                      <img src="assets/ops_icon.png" alt="">
                  </div>
                  <div class="o-settings-support-users__text text-md">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                      commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                      penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                      <div class="text-sm grey mt-8">11:00</div>
                  </div>
              </div>
              <div class="o-settings-support-users">
                  <div class="o-settings-support-users__avatar hidden-under-tablet">
                      <img src="assets/demo/avatar.png" alt="">
                  </div>
                  <div class="o-settings-support-text-field">
                      <div class="form-group">
                          <input type="text" class="form-control form-control-lg" placeholder="Type something">
                          <span class="icon-plus-circle">            
                          </span>
                      </div>
                  </div>
              </div>
              </div><!--chating ends-->
          </div>
      </div>
      <div class="o-settings-support-accordion-block">
          <button class="accordion">
              <div class="panel-text text-lg">
                  You reported <span class="f500">Gowtham Kumar’s</span> post for
              <span class="f500">Trademark</span> violation
              </div>
          </button>
          <div class="panel">
              <div class="o-settings-support-chating">
              <div class="o-settings-support-users">
                  <div class="o-settings-support-users__avatar">
                      <img src="assets/demo/avatar.png" alt="">
                  </div>
                  <div class="o-settings-support-users__text text-md">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                      commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                      penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                      <div class="text-sm grey mt-8">11:00</div>
                  </div>
              </div>
              <div class="o-settings-support-users">
                  <div class="o-settings-support-users__avatar">
                      <img src="assets/ops_icon.png" alt="">
                  </div>
                  <div class="o-settings-support-users__text text-md">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                      commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                      penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                      <div class="text-sm grey mt-8">11:00</div>
                  </div>
              </div>
              <div class="o-settings-support-users">
                  <div class="o-settings-support-users__avatar hidden-under-tablet">
                      <img src="assets/demo/avatar.png" alt="">
                  </div>
                  <div class="o-settings-support-text-field">
                      <div class="form-group">
                          <input type="text" class="form-control form-control-lg" placeholder="Type something">
                          <span class="icon-plus-circle">            
                          </span>
                      </div>
                  </div>
              </div>
              </div><!--chating ends-->
          </div>
      </div>
  </div>
</div>