<div class="o-community-landing-block-design__item">
  <div class="o-community-card" *ngIf="entity && entity['entity_type']=='organization'">
    <div class="o-community-card-section mr-6">
      <div class="o-community-card-cover">
        <img *ngIf='entity?.banner != "" '
          [src]="opspot.cdn_url + 'fs/v1/banners/' + entity.guid + '/fat/' + entity?.banner" alt="cover">
        <img *ngIf='entity?.banner == "" ' src="assets/demo/m2.jpg" alt="cover">
      </div>
      <div class="o-community-card-profile" (click)="trigger(entity)">
        <img src="{{opspot.cdn_url}}fs/v1/avatars/{{entity.guid}}/large/{{entity?.icon_time}}" class="org-profile" alt="cover" (click)="trigger(entity)">
      </div>
      <div class="o-community-card-header" id="tile-entity-name">
        <div class="f500 text-lg word-br elipse elipse--w-130">{{entity.name}}</div>
      </div>
      <div class="o-community-card-dis text-sm word-br">{{entity?.brief_description | truncate:[65, '...']}}</div>
      <div class="o-community-card-action">
        <!-- <button type="button" id="tile-join-button" class="btn btn-primary btn-sm"
          (click)='trigger(entity)'>Explore</button> -->
          <opspot-organization-join-button [group]="entity"
                                (membership)="change_membership($event)"
                                *ngIf="entity && (!entity['is:creator'] || (session.isAdmin()) && !entity['is:invited'])">
          </opspot-organization-join-button>
      </div>
      <div class="o-organisation-card-knowmore">
        <a (click)="triggerPopup()" class="primary text-sm">Know more</a>
      </div>
    </div>
  </div>
  <div class="o-community-card" *ngIf="entity && organization1 && entity['entity_type'] !== 'organization'" >
    <div class="o-community-card-section mr-6">
      <div class="o-community-card-cover">
          <opspot-organization-card-user-actions-button style="position: absolute; right: 0px; bottom: 0px;"
                *ngIf="session.isLoggedIn() && session.getLoggedInUser().guid != entity?.guid"
                [organization]="organization1" [user]="entity" class="organization-card"></opspot-organization-card-user-actions-button>
        <img *ngIf='entity?.banner != "" '
          [src]="opspot.cdn_url + 'fs/v1/banners/' + entity.guid + '/fat/' + entity?.banner" alt="cover">
        <img *ngIf='entity?.banner == "" ' src="assets/demo/m2.jpg" alt="cover">
      </div>
      <div class="o-community-card-profile">
        <img src="{{opspot.cdn_url}}fs/v1/avatars/{{entity.guid}}/large/{{entity?.icon_time}}" class="org-profile" alt="cover">
      </div>
      <div class="o-community-card-header" id="tile-entity-name">
        <div class="f500 text-lg word-br elipse elipse--w-130">{{entity.name}}</div>
      </div>
    </div>
  </div>
</div>

<style>
  .org-profile {
    border-radius: 8px !important;
  }
</style>

