<section class="o-post-inner-sec">
  <div class="container">
    <div class="o-posts-inner-page o-post-inner-profile-head">
      <div class="o-posts-inner-page__left">
        <div class="o-card feed o-post-inner-minheight">
          <div class="feed-head">
            <a *ngIf="opportunity?.ownerObj && opportunity?.ownerObj?.username"
              [routerLink]="['/', opportunity?.ownerObj?.username]" class="o-avatar"><img
                [src]="opspot.cdn_url + 'icon/' + opportunity?.ownerObj?.guid + '/medium/' + getOwnerIconTime()"
                alt=""></a>
            <div class="o-avatar__info">
              <div class="o-avatar-det-block">
                <span class="text-lg grey o-posts-det"><a class="o-avatar__name" 
                  [routerLink]="['/', opportunity?.ownerObj?.username]">{{opportunity?.ownerObj?.name}}</a>
                  created an <a class="grey-dark f500">#Opportunity</a></span>
              </div>
              <div class="grey m-l-8 o-posts-tym">
                <span>{{opportunity?.time_created * 1000 | date:'medium'}}</span>
                <!-- <span class="o-posts-public-private"><i
                    class="icon-public"></i></span> -->
              </div>
            </div>
            <div class="o-feed-head-action o-post-inner-profile-button">
              <button type="button" class="btn btn-primary btn-sm" *ngIf="session.getLoggedInUser().guid == opportunity?.owner_guid" 
              (click)="showBoost()">Boost</button>
              <a class="head-action__link" (click)="togglePin()">
                <m-tooltip icon="turned_in" *ngIf="opportunity?.bookmark">
                  This post is Bookmarked
                </m-tooltip>
                <m-tooltip *ngIf="!opportunity?.bookmark" icon="turned_in_not">
                  Click to bookmark this post to the top of your channel feed
                </m-tooltip>
              </a>
              <m-post-menu *ngIf="opportunity" [entity]="opportunity" [canDelete]="canDelete" [isTranslatable]="isTranslatable" [options]="menuOptions"
                (optionSelected)="menuOptionSelected($event)">
                <ng-container post-menu>
                  <ng-content select="[post-menu]"></ng-content>
                </ng-container>
              </m-post-menu>
            </div>
          </div>       
          <div>
            <div class="feed-card-opportunity-block">
              <div class="feed-card-opportunity-block__top">
                <div class="opportunity-image">
                  <img *ngIf="opportunity?.custom_data.length > 0"
                    [src]="opportunity?.custom_data[0] ?opportunity?.custom_data[0].src:''"
                    (error)="opportunity?.custom_data[0].src = opspot.cdn_assets_url + 'assets/ops_icon.png'">
                  <img *ngIf="opportunity?.custom_data.length == 0" [src]="opspot.cdn_assets_url + 'assets/ops_icon.png'">
                </div>
                <div class="opportunity-details">
                  <h5 class="f500 mb-3" *ngIf="opportunity?.title">{{ opportunity?.title}}</h5>
                  <div class="text-md grey" *ngIf="opportunity?.location">
                    {{ opportunity?.location }}
                  </div>
                  <m-messenger--channel-button
                    *ngIf="session.getLoggedInUser().guid != opportunity?.owner_guid"
                    [user]="user"
                    [message]="reachoutMessage"
                    [label]="'Reach Out'"
                  ></m-messenger--channel-button>
                </div>
                <div class="opportunity-button" *ngIf="opportunity?.category">
                  {{opportunity?.category}}
                </div>
              </div>
              <div class="feed-card-opportunity-block__bottom hidden-mob">
                <m-translate
                  [open]="translateToggle"
                  [entity]="opportunity"
                  [translateEvent]="translateEvent"
                  (onTranslateInit)="propagateTranslation($event)"
                  (onTranslate)="translateToggle = false"
                  (onTranslateError)="translateToggle = false" #translate
                ></m-translate>
                <div class="text-md white-space word-break" *ngIf="opportunity?.blurb">
                  <span [innerHtml]="opportunity?.blurb | safe"></span>
                </div>
              </div>
            </div>
            <!--block ends-->
          </div>
          <div class="o-posts-inner-page-action">
            <div class="o-posts-inner-page-action__details">
              <!-- <div class="o-latest-channel-info-head__members members-list">
                <div class="members-circle members-circle1"><img src="assets/demo/avatar.png" alt=""></div>
                <div class="members-circle members-circle2"><img src="assets/demo/avatar.png" alt=""></div>
                <div class="members-circle members-circle3"><img src="assets/demo/avatar.png" alt=""></div>
              </div> -->
              <div class="text-sm grey">{{count}} liked this post</div>
              <div class="text-sm grey m-16">{{opportunity?.reminds}} shared this post</div>
              <div class="text-sm grey m-16" *ngIf = "opportunity?.wire_totals">{{opportunity?.wire_totals.tokens | token:18 | abbr}} contributed this post
              </div>
              <div class="text-sm grey m-16">{{opportunity?.impressions}} viewed this post</div>
            </div>
            <div class="o-posts-inner-page-action__icons">
              <a class="icon-posts-box">
                <opspot-button-thumbs-up (liked)="liked($event)" [large]="'true'" [object]="opportunity">
                </opspot-button-thumbs-up>
              </a>
              <a class="icon-posts-box">
                <!-- <opspot-button-remind *ngIf="opportunity" [object]="opportunity" [large]="'true'">
                </opspot-button-remind> -->
                <m-modal-remind-composer *ngIf="remindOpen"
                [object]="opportunity?.remind_object ? opportunity?.remind_object : opportunity"
                [entityType]="opportunity.entity_type"
                [open]="true"
                [default]="remindMessage"
                (closed)="remindOpen = false"
                (post)="remindPost($event)"
              ></m-modal-remind-composer>
              <m-share-menu
                [entity]="opportunity"
                [options]="menuOptions"
                (optionSelected)="shareOptionSelected($event)"
                [large]=true
              ></m-share-menu>
              </a>
              <!-- <div class="icon-posts-box" *ngIf="session.getLoggedInUser().guid != opportunity?.owner_guid">
                <span class="icon-coins"></span><span class="text-md f500">Contribute</span>
              </div> -->
              <a class="icon-posts-box" *ngIf="session.getLoggedInUser().guid != opportunity?.owner_guid">
                <m-wire-button [object]="opportunity?.remind_object ? opportunity?.remind_object : opportunity"
                  (done)="wireSubmitted($event)" [large]="true">
                </m-wire-button>
              </a>
            </div>
          </div>
          <!--action ends-->
          <opspot-comments *ngIf="opportunity" [object]="opportunity" [focusOnInit]="true"
            [focusedCommentGuid]="focusedCommentGuid" [canEdit]="canDelete">
          </opspot-comments>
        </div>
      </div>
      <div class="o-posts-inner-page__right hidden-mob">
        <opspot-widget [entityType]="'opportunity'"></opspot-widget>
        <opspot-widget [entityType]="'event'"></opspot-widget>
      </div>
    </div>
  </div>
</section>