.workTitle{
    padding-left: 12px;
    padding-top: 5px;
}
.workTitleback{
    padding-left: 18px;
    padding-top: 10px;
}
.fileUpload-close-temp{
    position: absolute;
    top: 0px;
    right: 20px;
}

input.ng-touched.ng-invalid, .input-work{
    border-width: normal;
    border-color: red;
}

.error.ng-touched{
    color: red;
    border-color: red;
}
select.ng-touched.ng-invalid{
    border-width: normal;
    border-color: red;

}


textarea.ng-touched.ng-invalid, .textarea-project{
    border-width: normal;
    border-color: red;
}
