<div class="tab" style="display: block;">
    <h5 class="o-prof-edit-title" *ngIf="!addWork" id="work-title">Work Experience</h5>
    <div class="o-prof-edit-block" *ngIf="!addWork">
        <a class="btn btn-outline-primary btn-block showSingle" (click)="addWork=!addWork; addWorkMove();"
            id="work-add-work-experience">ADD WORK EXPERIENCE</a>
        <div class="o-prof-edit-wea">
            <div class="o-wea-block" *ngFor="let work of work.work_experience; let i=index;">
                <div class="o-wea-logo"><img src="assets/Work.jpg" alt=""></div>
                <div class="o-wea-info">
                    <div class="caption-bold" id="work-designation">{{work.designation}}</div>
                    <div class="caption-bold f400" id="work-company-name">{{work.company_name}} - {{work.location}}
                    </div>
                    <div class="text-md grey" id="work-month">{{work.start_date}} -
                        {{work.end_date?work.end_date:'Present'}}</div>
                </div>
                <div class="o-wea-edit"><a (click)="update(i)" id="work-update-icon"><i
                            class="icon-edit-profile"></i></a>
                    <a class="fileUpload-close-temp" (click)="remove(i)" id="work-remove-image">
                        <i class="icon-x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="addWork" style="display: block;">
        <h5 class="o-prof-edit-title workTitle">
            <a (click)="goBack()" class="o-wea-back" target="2" id="work-experience-ga-back">
                <i class="icon-arrow-left"></i>
            </a> Add Work Experience</h5>
        <form #f="ngForm">
            <div class="o-wea-add-block" style="padding-left: 12px;">
                <input type="hidden" [(ngModel)]="model.index" [value]=model.index name="updateIndex">
                <div class="o-wea-add-block__left">
                    <div class="form-group w-lg">
                        <label>Designation</label>
                        <input type="text" id="work-designation" #designation="ngModel" required name="designation"
                            [(ngModel)]="model.designation" class="form-control form-control-lg" placeholder="">
                    </div>
                    <!--designation end-->
                    <div class="form-group w-lg">
                        <label>Company's Name</label>
                        <input #company="ngModel" id="work-company" required name="company" [(ngModel)]="model.company"
                            type="text" class="form-control form-control-lg" placeholder="">
                    </div>
                    <!--company name end-->
                    <div class="form-group w-lg">
                        <label>Location</label>
                        <input required type="text" id="work-location" #location="ngModel" name="location"
                            [(ngModel)]="model.location" class="form-control form-control-lg" placeholder="">

                    </div>
                    <!--location end-->
                    <div class="o-toggle-check">
                        <label>
                            <input type="checkbox" id="work-currently-working-here" (click)="toggleEndDate()"
                                [(ngModel)]="model.present" name="present">
                            <span class="text-md">I’m currently working here</span>
                        </label>
                    </div><!-- toggle check end -->
                    <div class="o-prof-edit-item__title">Start Date</div>
                    <div class="o-wea-date">
                        <div class="form-group">
                            <select class="form-control" id="work-start-month-selector" name="strtMonth"
                                #strtMonth="ngModel" required [(ngModel)]="model.strtMonth">
                                <option [value]="Month" id="work-start-month" selected disabled hidden>Month</option>
                                <option *ngFor="let month of dateOfBirth.month" id="work-start-month1" [value]="month"
                                    placeholder="month"> {{month}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="work-start-year-selector" name="strtYear"
                                #strtYear="ngModel" required [(ngModel)]="model.strtYear">
                                <option [value]="Year" id="work-start-year" selected disabled hidden>Year</option>
                                <option *ngFor="let year of dateOfBirth.year" id="work-start-year1" [value]="year">
                                    {{year}}</option>
                            </select>
                        </div>
                        <div class="text-md o-to">to</div>
                    </div><!-- start date end -->
                    <ng-template [ngIf]="!toggleEnd">
                        <div class="o-prof-edit-item__title">End Date</div>
                        <div class="o-wea-date">
                            <div class="form-group">
                                <select class="form-control" id="work-end-month-selector" name="endMonth"
                                    [(ngModel)]="model.endMonth">
                                    <option [value]="Month" id="work-end-month" selected disabled hidden>Month</option>
                                    <option *ngFor="let month of dateOfBirth.month" id="work-end-month1" [value]="month"
                                        placeholder="month"> {{month}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="endYear" [(ngModel)]="model.endYear">
                                    <option [value]="Year" id="work-end-year" selected disabled hidden>Year</option>
                                    <option *ngFor="let year of dateOfBirth.year" id="work-end-year1" [value]="year">
                                        {{year}}</option>
                                </select>
                            </div>
                        </div><!-- end date end -->
                    </ng-template>

                </div>

            </div>

        </form>
        <div class="o-toggle-check">
            <label>
                <input type="checkbox" id="work-show-on-profile" name="privacy" [(ngModel)]="model.privacy">
                <span class="text-md">Show this work experience on my profile</span>
            </label>
        </div>

        <!-- <p *ngIf="!location.valid&&submitted" class="error text-sm" id="work-add-location-error">Please add Location</p>
        <p *ngIf="!designation.valid&&submitted" class="error text-sm" id="work-add-designation-error">Please add designation</p>
        <p *ngIf="!company.valid&&submitted" class="error text-sm" id="work-add-company-error">Please add company</p> -->
        <!-- <p *ngIf="!strtMonth.valid&&submitted" class="error text-sm" id="work-start-month-error">Please enter start Month</p>
        <p *ngIf="!strtYear.valid&&submitted" class="error text-sm" id="work-start-year-error">Please enter start year</p> -->
        <p *ngIf="errWork&&submitted" class="error text-sm" id="work-valid-date-error">Please add valid dates</p>
        <p *ngIf="errEdu&&submitted" class="error text-sm" id="work-valid-date-error">Please fill all the details</p>
        <!-- <p *ngIf="errEndDate&&submitted" class="error text-sm" id="work-end-date-error">Enddate is required</p> -->

        <div class="o-prof-edit-actions" style="padding-left:12px; ">
            <button type="button" id="work-update-button" class="btn btn-primary btn-lg" (click)="onSubmit(f)"
                [disabled]="inProgress">Save Changes</button>
            <button type="button" id="work-cancel-button" class="btn btn-outline-primary btn-lg btn--cancel "
                [routerLink]="['/', activeUser?.username]">Cancel</button>
        </div>
    </div>
</div>